<script>
  var resizefunc = [];
  var currentUserId = '{{user.get("id", "")}}';
  var currentUri = '{{uri}}';
</script>
<!-- jQuery plugins -->
<script src="{{ static_url('js/bootstrap.js') }}"></script>
<script src="{{ static_url('assets/jquery.nicescroll/jquery.nicescroll.js') }}"></script>
<script src="{{ static_url('assets/jquery.scrollTo/jquery.scrollTo.min.js') }}"></script>
<script src="{{ static_url('assets/jquery-detectmobile/detect.js') }}"></script>
<script src="{{ static_url('assets/fastclick/fastclick.js') }}"></script>
<script src="{{ static_url('assets/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
<script src="{{ static_url('assets/jquery-blockui/jquery.blockUI.js') }}"></script>

<!-- sweet alerts -->
<script src="{{ static_url('assets/sweet-alert/sweet-alert.min.js') }}"></script>
<script src="{{ static_url('assets/sweet-alert/sweet-alert.init.js') }}"></script>
<script src="{{ static_url('assets/notifications/notifications.js') }}"></script>

<!-- CUSTOM JS -->
<script src="{{ static_url('js/waves.js') }}"></script>
<script src="{{ static_url('js/wow.min.js') }}"></script>
<script src="{{ static_url('js/jquery.app.js') }}"></script>

<script src="{{ static_url('assets/magnific-popup/magnific-popup.min.js') }}"></script>

<link href="{{ static_url('editor/third-party/mathquill/mathquill.css') }}" rel="stylesheet" type="text/css" />
<script src="{{ static_url('editor/third-party/mathquill/mathquill.min.js') }}"></script>

<script>
  Waves.init();
</script>
