<div class="topbar">
  <!-- LOGO -->
  <div class="topbar-left">
    <div class="text-center">
      <a href="/" class="logo"><span>{{site['name']}} </span></a>
    </div>
  </div>
  <!-- Button mobile view to collapse sidebar menu -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="">
        <div class="pull-left">
          <button class="button-menu-mobile open-left" title="展开或收拢侧边栏"><i class="fa fa-bars"></i></button>
          <span class="clearfix"></span>
        </div>

        <ul class="nav navbar-nav navbar-right pull-right">
          <li class="hidden-xs">
          </li>
          {% if 'name' in user %}
          <li class="dropdown">
            <a href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true">
              <!--<img src="{{ static_url('images/user.png') }}" alt="user-img" class="img-circle">-->
              {{user['name'][:4]}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal">
                  <i class="md md-settings"></i> 修改密码</a></li>
              <li><a href="/login?next={{uri}}"><i class="md md-exit-to-app"></i> 退出登录</a></li>
            </ul>
          </li>
          {% else %}
          <li><a id="login" href="/login?next={{uri}}">登录</a></li>
          {% end %}
        </ul>

        <ul class="nav navbar-nav navbar-right pull-right">
          <li class="msg-count" style="display: none">
            <a href="#" data-toggle="popover" data-trigger="hover click" data-html="true"
               data-container="body" data-placement="bottom" title="" data-content="">
              消息<span class="badge"></span></a>
          </li>
        </ul>

      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>