<!-- Bootstrap Modals Modify Password-->
<div class="panel-body" style="padding: 0;">
  <!-- modal content -->
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="change_password">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">修改密码
            <span class="pull-right m-r-15">{{user.get('email', '')}}</span></h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal m-t-20" action="index.html">
            <div class="form-group">
              <div class="col-xs-12">
                <label>原始密码</label>
                <input id="old_psw" class="form-control input-lg" type="password" required placeholder="请输入原始密码">
                <small id="old_psw_info" style="color: #AC2925;display: none;">原密码错误</small>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <label>新密码</label>
                <input id="psw" class="form-control input-lg" type="password" required placeholder="请输入包含数字和字母的6~18位密码">
                <small id="psw_info" style="color: #AC2925;display: none;">请设置包含数字和字母的6~18位密码</small>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <label>确认新密码</label>
                <input id="confirm_psw" class="form-control input-lg" type="password" required placeholder="请确认您的密码">
                <small id="confirm_psw_info" style="color: #AC2925;display: none;">两次输入的密码不一致</small>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light">确定修改</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
<!-- End BootStrap Modal -->

<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
      <ul>
        <li title="首页">
          <a href="/" class="waves-effect{{' active' if '/' == uri else ''}}"><i
              class="md md-home"></i> 首页</a>
        </li>
        <li title="校本资源">
          <a href="/school" class="waves-effect{{' active' if '/s' in uri else ''}}">
            <i class="md md-school"></i> 校本资源</a>
        </li>
        <li title="班组资源">
          <a href="/g/last" class="waves-effect{{' active' if '/g/' in uri else ''}}">
            <i class="md md-group"></i> 班组资源</a>
        </li>
        <li title="个人资源">
          <a href="/me" class="waves-effect{{' active' if '/me' in uri else ''}}">
            <i class="md md-person"></i> 个人资源</a>
        </li>

        <li class="has_sub" title="系统管理">
          <a href="#" class="waves-effect">
            <i class="md md-settings"></i> 系统管理 <span class="pull-right"><i class="md md-add"></i></span>
          </a>
          <ul class="list-unstyled">
            <li>
              <a href="/users" class="{{'active' if 'users' in uri else ''}}">用户管理</a>
            </li>
            <li>
              <a href="/groups" class="{{'active' if '/groups' in uri else ''}}">班组管理</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

    {% include _footer.html %}
  </div>
</div>