<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {% include _base_meta.html %}

  <title>{{site['name']}} - 用户管理</title>

  {% include _base_css.html %}

  <!-- DataTables -->
  <link href="{{ static_url('assets/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
  <style>
    .authority-list > div > span {
      display: inline-block;
    }
    .active_clients {
      font-size: 14px;
    }
    .active_clients > span {
      display: inline-block;
    }
  </style>
</head>

<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper" class="enlarged forced">

  {% include _header.html %}
  {% include _left.html %}

  <div class="content-page">
    <!-- Start content -->
    <div class="content">
      <div class="container">

        <!-- Bootstrap Modals -->
        <div class="panel-body" style="padding: 0;">
          <!-- modal content -->
          <div id="roleModal" class="modal fade" tabindex="-1" role="dialog"
               aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title" id="myModalLabel">修改用户<span id="self">（自己）</span></h4>
                </div>
                <div class="modal-body">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">姓名</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="modal-name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">账号</label>
                      <div class="col-sm-10">
                        <p class="form-control-static" id="modal-account"></p>
                      </div>
                    </div>
                    <div class="form-group groups-form">
                      <label class="col-md-2 control-label">班组</label>
                      <div class="col-md-10">
                        <select class="form-control" id="groups">
                          <option>请选择所属的班组</option>
                          <option value=""></option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group authority-list">
                      <label class="col-sm-2 control-label">权限</label>
                      <div class="col-sm-10">
                        <span><input type="checkbox" id="check_teacher">
														<label class="control-label" for="check_teacher">教师</label></span>
                        <span><input type="checkbox" id="check_school_mgr">
														<label class="control-label" for="check_school_mgr">校管员</label></span>
                        <span><input type="checkbox" id="check_manager">
														<label class="control-label" for="check_manager">管理员</label></span>
                      </div>
                    </div>
                    <p class="m-t-10">说明：由管理员分配校管员权限，由校管员分配教师权限，教师可创建班级小组。</p>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-primary waves-effect waves-light">确定</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
        </div>
        <!-- End BootStrap Modal -->

        <!-- Start Widget -->
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><span>用户管理</span>
                  <button class="btn btn-default waves-effect m-l-15" onclick="refresh()">刷新</button>
                  <span class="visit_code pull-right" style="font-weight: normal; text-transform: none"></span></h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="table-responsive">
                    <table class="table table-striped" id="datatable">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>姓名</th>
                        <th>登录帐号</th>
                        <th>班组</th>
                        <th>权限</th>
                        <th>注册</th>
                        <th>活动</th>
                        <th>操作</th>
                      </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>

                <div class="row active_clients"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Widget-->

        <div class="alert alert-info">
          <small><b>使用说明</b>：可由教师或管理员修改姓名，管理员可重置密码，教师也可在自己所建的组内为组员重置密码。
            教师或管理员权限由系统管理员分配。如需加入某个组，可打开此组页面申请加入。
            <span class="visit_code" style="display: inline-block"></span>
          </small>
        </div>

      </div>
      <!-- container -->

    </div>
    <!-- content -->
  </div>
</div>
<!-- END wrapper -->

{% include _base_js.html %}
{% include _datatables.html %}

<script src="{{ static_url('view_js/users.js') }}"></script>
</body>
</html>