<script src="{{ static_url('js/pick-task.js') }}"></script>
<script>
  var from = decodeFrom();
  var taskType = '{{"text_proof" if "text_proof" in task_type else task_type }}';

  $(document).ready(function () {
    var remark = '{{task.get("remark") or ""}}' || localStorage.getItem('taskRemark');
    $("#remarkModal .remark").val(remark);
  });

  // 离开页面
  window.leave = function () {
    // 释放临时数据锁
    if ('{{not readonly and mode in ["edit", "update"] and "cut" in task_type}}' === 'True') {
      postApi('/data/unlock/box/{{page["name"]}}', {});
    }
    if ('{{not readonly and mode in ["edit", "update"] and "text" in task_type}}' === 'True') {
      postApi('/data/unlock/text/{{page["name"]}}', {});
    }
    // 返回
    if (from) {
      window.location = from;
    } else if ('{{mode}}' === 'do') {
      window.location = '/task/lobby/' + taskType;
    } else if ('{{mode}}' === 'update') {
      window.location = '/task/my/' + taskType;
    } else {
      window.history.back();
    }
  };

  // 保存任务函数
  function saveTask(submit, url) {
    var data = getSubmitData(submit);
    if (data && !data.error) {
      showTips('保存中‧‧‧');
      postApi('{{current_path}}', {data: data}, function () {
        if (!submit)
          showSuccess('保存成功', '{{page["name"]}} ' + '已保存成功');
        goto(url, 1000);
      });
    }
  }

  // 提交任务
  $(document).on("click", '#submit-task', function () {
    var data = getSubmitData(true);
    if (data && !data.error) {
      showTips('提交中‧‧‧');
      postApi('{{current_path}}', {data: data}, function () {
        showSuccess('成功', '已提交。');
        setTimeout(function () {
          if ('do' === '{{mode}}') {
            pick('/task/pick/{{task_type}}');
          } else {
            window.leave();
          }
        }, 1000);
      });
    }
  });

  // 上一步
  $(document).on("click", '#prev-step', function () {
    var prev = '{{"%s?step=%s" % (current_path, steps.get("prev"))}}';
    var url = from ? prev + '&from=' + from : prev;
    if ('{{readonly}}' === 'False') {
      saveTask(true, url);
    } else {
      goto(url, 500);
    }
  });

  // 下一步
  $(document).on("click", '#next-step', function () {
    var next = '{{"%s?step=%s" % (current_path, steps.get("next"))}}';
    var url = from ? next + '&from=' + from : next;
    if ('{{readonly}}' === 'False') {
      saveTask(true, url);
    } else {
      goto(url, 500);
    }
  });

  // 保存任务
  $(document).on("click", '#save-task', function () {
    saveTask(false, location.href);
  });

  // 退回任务
  $(document).on('click', '#returnModal .modal-confirm', function () {
    var reason = $('#returnModal .return_reason').val().trim();
    if (!reason.length) {
      return showError('请填写退回理由', '尚未填写退回理由');
    }
    postApi('/task/return/{{task.get("_id") or ""}}', {data: {reason: reason}}, function () {
      showSuccess('退回成功', '{{page["name"]}} ' + '已退回成功。');
      goto('/task/lobby/' + taskType, 1000);
    });
  });

  // 前一个任务
  $(document).on("click", '#prev-task', function () {
    var path = '/task/browse/{{task.get("task_type") or ""}}/{{task.get("_id") or ""}}';
    location.href = path + setQueryString('to', 'prev', true);
  });

  // 后一个任务
  $(document).on("click", '#next-task', function () {
    var path = '/task/browse/{{task.get("task_type") or ""}}/{{task.get("_id") or ""}}';
    location.href = path + setQueryString('to', 'next', true);
  });

  // 查看页面
  $(document).on("click", '#view-page', function () {
    location.href = '/data/page/{{task.get("doc_id", "")}}?from=' + encodeFrom();
  });

  // 备注任务
  $('#remarkModal .modal-confirm').click(function () {
    var remark = $('#remarkModal .remark').val().trim();
    if (!remark.length)
      return showWarning('请输入备注内容');
    localStorage.setItem('taskRemark', remark);
    var data = {_id: '{{task.get("_id", "")}}', remark: remark};
    postApi('/task/remark', {data: data}, function () {
      showSuccess('成功', '{{page["name"]}} ' + '备注成功。');
      $('#remarkModal').modal('hide');
    });
  });
</script>

