{% raw xsrf_form_html() %}
<script>
  var resizefunc = [];
  var currentUserId = '{{currentUserId}}';
</script>

<script src="{{static_url('assets/bootstrap/js/bootstrap.min.js')}}"></script>
{% if not debug or 1 %}
<script src="{{static_url('built/base_assets.js')}}"></script>
<script src="{{static_url('built/base_local.js')}}"></script>
{% else %}
<script src="{{static_url('assets/jquery/jquery.slimscroll.min.js')}}"></script>
<script src="{{static_url('assets/sweetalert2/sweetalert2.min.js')}}"></script>
<script src="{{static_url('assets/sweetalert2/promise.min.js')}}"></script>
<script src="{{static_url('assets/modal-effect/js/classie.js')}}"></script>
<script src="{{static_url('assets/modal-effect/js/modalEffects.js')}}"></script>
<script src="{{static_url('js/backend.js')}}"></script>
<script src="{{static_url('js/util.js')}}"></script>
<script src="{{static_url('js/l10n.js')}}"></script>
{% end %}
