{% raw xsrf_form_html() %}

<!-- jQuery  -->
<script src="{{ static_url('plugins/jquery.min.js') }}"></script>
<script src="{{ static_url('plugins/jquery.slimscroll.min.js') }}"></script>

<!-- Bootstrap  -->
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('js/waves.js') }}"></script>
<script src="{{ static_url('js/wow.min.js') }}"></script>
<script src="{{ static_url('assets/fastclick/fastclick.js') }}"></script>

<!-- sweet alerts -->
<script src="{{ static_url('assets/sweet-alert/sweet-alert.min.js') }}"></script>

<script src="{{ static_url('js/backend.js') }}"></script>
