{% if not debug and 0 %}
<script src="{{static_url('built/base_cut-d4f8279b.js')}}"></script>
{% else %}
<script src="{{static_url('js/cut/raphael.js')}}"></script>
<script src="{{static_url('js/cut/raphael.zoom.js')}}"></script>
<script src="{{static_url('js/cut/jquery.mapkey.js')}}"></script>
<script src="{{static_url('js/cut/cut.js')}}"></script>
<script src="{{static_url('js/cut/cut_keys.js')}}"></script>
<script src="{{static_url('js/cut/cut_adv.js')}}"></script>
{% end %}

<script>
  function updateUndo() {
    var root = '/static/imgs';
    $('#undo').attr('src', root + ($.cut.canUndo() ? '/icon_lr.png' : '/icon_lr_not.png'));
    $('#redo').attr('src', root + ($.cut.canRedo() ? '/icon_rr.png' : '/icon_rr_not.png'));
  }

  updateUndo();

  $('#undo').click(function () {
    $.cut.undo();
    updateUndo();
  });

  $('#redo').click(function () {
    $.cut.redo();
    updateUndo();
  });
</script>
