<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>{{site['name']}} - 访问出错</title>
  {% include _base_css.html %}
  <link href="{{static_url('css/helper.css')}}" rel="stylesheet"/>
  <style>
    .tips {
      float: left;
      margin-left: 10px;
    }

    .links {
      float: left;
      padding-left: 10px;
    }

    .links a {
      color: #B8906F;
    }

    .actions {
      margin-top: 50px;
      clear: both;
    }
  </style>
</head>

<body>
<div class="app-main">
  <div class="main">
    {% module ComLeft() %}
    <div class="main-content">
      {% module ComHead() %}
      <div class="layout">
        <div class="wrapper">
          <div class="panel panel-default" style="height: unset; margin: 0">
            <div class="panel-heading">
              <h3 class="panel-title">访问出错
                <small>({{code}})</small>
              </h3>
            </div>
            <div class="panel-body" style="padding: 10px">
              <div class="tips">{{message.rstrip('。')}}。</div>
              <div class="links">
                {% if 'links' in globals() %}
                {% for text, url in links %}
                <a href="{{url}}">{{text}}</a>
                {% end %}
                {% end %}
              </div>
              <div class="actions">
                <a href="/" class="btn btn-default fr"><i class="glyphicon glyphicon-home"></i> 回到首页</a>
                <a href="javascript:history.back(-1)" class="btn btn-default fr">
                  <i class="glyphicon glyphicon-chevron-left"></i> 返回前页
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}

</body>
</html>
