<div class="sidebar-menu" style="">
  <div class="ivu-shrinkable-menu sidebar-collapse">
    <div class="logo-con">
      <img class="large" src="{{static_url('imgs/logo_rushi.png')}}">
      <img class="mini" src="{{static_url('imgs/logo-small.png')}}">
    </div>
    <ul class="main-menu" id="side-menu">
      {% for item in display_items %}
      <li class="menu-item {{'has-sub' if item.get('sub_items') else ''}}" id="{{item['id']}}">
        <div class="menu-title">
          <i><img src='{{static_url("imgs/%s.png" % item["icon"]) }}' style="margin-top:10px;"></i>
          <span><a href="{{item['link'] if item.get('link') else '#'}}">{{item['name']}}</a></span>
        </div>
        {% if item.get('sub_items') %}
        <ul class="sub-ul sub-ul-hidden">
          {% for sub_item in item.get('sub_items') %}
          <li class="sub-item" id="{{sub_item['id']}}">
            <i><img src='{{static_url("imgs/%s.png" % sub_item["icon"]) }}' class="sub-img"/></i>
            <span><a href="{{sub_item['link']}}">{{sub_item['name']}}</a></span>
          </li>
          {% end %}
        </ul>
        {% end %}
      </li>
      {% end %}
    </ul>
  </div>
</div>


<script>
  $(function () {
    $('.sidebar-collapse').slimScroll({height: '100%', railOpacity: 0.9, alwaysVisible: false});
  });

  $('#side-menu').on('click', '.has-sub .menu-title', function () {
    var $sub = $(this).parent().find('.sub-ul');
    if ($sub.hasClass('sub-ul-hidden')) {
      $('#side-menu .sub-ul').addClass('sub-ul-hidden');
      $sub.removeClass('sub-ul-hidden');
    } else {
      $sub.addClass('sub-ul-hidden');
    }
  });

  $(document).ready(function () {
    var activeId = '{{active_id}}';
    if (!activeId)
      activeId = location.pathname.replace(/^\//, '#').replace(/[\/_]/g, '-');
    $(activeId).addClass('active');
    $(activeId).parent().removeClass('sub-ul-hidden');
  });

</script>
