<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{page_title}}</title>
  {% include _base_css.html %}
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
  {% block custom-css %}{% end %}
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    {% module ComLeft() %}
    <div class="main-content">
      {% module ComHead() %}
      <div class="layout">
        <div class="wrapper">
          <div class="sty-list">
            {% block operation %}
            <div class="operation">
              <div class="btn-group">
                {% for o in operations %}
                {% if 'groups' in o %}
                <div class="btn-group {{o.get('operation') or ''}}">
                  <button class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false">
                    {{o.get('label')}} <i class="caret"></i>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    {% for so in o.get('groups') %}
                    <li><a title="{{so.get('operation') or ''}}" href="javascript:void(0);">{{so.get('label')}}</a></li>
                    <li class="divider"></li>
                    {% end %}
                  </ul>
                </div>
                {% elif 'data-target' in o %}
                <button type="button" class="btn btn-default waves-effect" data-toggle="modal" data-target="#{{o['data-target']}}">
                  {{o.get('label')}}
                </button>
                {% elif 'url' in o %}
                <button type="button" class="btn btn-default waves-effect">
                  <a href="{{o['url']}}">{{o.get('label')}}</a>
                </button>
                {% else %}
                <button type="button" class="btn btn-default waves-effect {{o.get('operation') or ''}}" title="{{o.get('title') or ''}}">
                  {{o.get('label')}}
                </button>
                {% end %}
                {% end %}
              </div>
              <div class="btn-group">
                <i class="icon-config btn-txt btn-config {{'' if 'config' in img_operations else 'hide'}}" data-toggle="modal" data-target="#configModal" title="配置"></i>
                <i class="icon-help btn-txt btn-help {{'' if 'help' in img_operations else 'hide'}}" data-toggle="modal" data-target="#helpModal" title="帮助"></i>
              </div>
            </div>
            {% end %}

            {% block search %}
            <div class="search fr{{'' if search_tips else ' hide'}}">
              <input id="search-input" type="text" placeholder="{{search_tips}}" value="{{q}}"/>
              <i class="icon-search"></i>
            </div>
            {% end %}

            {% block table %}
            {% set format_func = format_value if 'format_value' in globals() else None %}
            {% module ComTable(docs, table_fields, actions, info_fields, hide_fields, order,format_value=format_func) %}
            {% end %}

            {% module Pager(pager) %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-body">
  {% module ComModal(update_fields, 'updateModal', '更新数据') %}
  <div id="configModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="configModal"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">配置列表</h4>
        </div>
        <div class="modal-body">
          <div class="select-column">
            {% for f in table_fields %}
            <label class="checkbox-inline"><input type="checkbox" class="{{f['id']}}" title="{{f['id']}}" {{'checked' if f['id'] not in hide_fields else ''}}>
              {{f['name']}}
            </label>
            {% end %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">应用</button>
        </div>
      </div>
    </div>
  </div>
  {% block custom-modal %}
  {% end %}
</div>

{% include _base_js.html %}
<script src="{{static_url('js/com-table.js')}}"></script>
{% block custom-js %} {% end %}

</body>
</html>
