<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{handler.page_title()}}</title>
  {% include _base_css.html %}
  <link href="{{static_url('assets/modal-effect/css/component.css')}}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <style>
    #progress {
      top: 33px;
      right: 64px;
      position: fixed;
    }

    .sty-list .char-img {
      width: 30px;
    }
  </style>
  {% block custom-css %}
  {% end %}
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="btn-group back">
          {% set title, icon = ('任务大厅', 'icon-list') if handler.mode == 'do' else ('返回', 'icon-return-back') %}
          <span class="{{icon}}" onclick="leave()" data-toggle="tooltip" data-placement="bottom" title="{{title}}"></span>
        </div>
        <div class="btn-group title" title="{{handler.page['name']}}">
          {{handler.task_name()}}
          {% block step_title %}
          <span class="sub-title {{'' if handler.step_name() else 'hide'}}">-{{handler.step_name()}}</span>
          {% end %}
        </div>
      </div><!--left-->
      <div class="center">{% block buttons %} {% end %}</div>
      <div class="right">
        {% block task-actions %}
        <div class="btn-txt icon-config {{'hide' if handler.readonly else ''}}" data-toggle="tooltip" data-placement="bottom" title="任务配置"></div>
        <div class="btn-txt icon-prev-step {{'hide' if handler.steps.get('is_first') else ''}}" id="prev-step" data-toggle="tooltip" data-placement="bottom" title="上一步"></div>
        <div class="btn-txt icon-return-task  {{'' if handler.mode == 'do' else 'hide'}}" data-toggle="tooltip" data-placement="bottom" title="退回任务"></div>
        <div class="btn-txt icon-save {{'hide' if handler.readonly else ''}}" data-toggle="tooltip" data-placement="bottom" title="保存任务"></div>
        <div class="btn-txt icon-next-step {{'hide' if handler.steps.get('is_last') else ''}}" id="next-step" data-toggle="tooltip" data-placement="bottom" title="下一步"></div>
        <div class="btn-txt icon-submit {{'' if handler.steps.get('is_last') and not handler.readonly else 'hide'}}" id="submit-task" data-toggle="tooltip" data-placement="bottom" title="提交任务"></div>
        {% end %}
        {% if handler.mode == 'browse' %}
        <div class="btn-txt btn-gap"></div>
        <div class="btn-txt icon-eye" id="view-page" data-toggle="tooltip" data-placement="bottom" title="查看任务"></div>
        <div class="btn-txt icon-edit" id="remark-task" data-toggle="tooltip" data-placement="bottom" title="备注任务"></div>
        <div class="btn-txt icon-backward" id="prev-task" data-toggle="tooltip" data-placement="bottom" title="前一个任务"></div>
        <div class="btn-txt icon-forward" id="next-task" data-toggle="tooltip" data-placement="bottom" title="后一个任务"></div>
        {% end %}
      </div><!--right-->
    </div>
    <div class="m-body flex-content">
      {% block m-body %}{% end %}
    </div>
    <div class="m-alert bs-alert alert alert-info" id="m-alert">
      <a class="close">×</a><i class="loading icon-spinner1 animate-spin"></i>
      <strong class="title">成功！</strong><span class="text">提示消息。</span>
    </div>
    <div class="m-footer">
      {% block m-footer %}{% end %}
    </div>
  </div>
</div>

<div class="panel-body" style="padding: 0">
  {% module ReturnModal() %}
  {% module TaskRemarkModal() %}
  {% block config-modal %}
  {% module TaskConfigModal() %}
  {% end %}
  {% block custom-modal %}
  {% end %}
</div>

{% include _base_js.html %}
<script>
  // 公共参数
  var workChanged = 0;
  var from = decodeFrom();
  var mode = '{{handler.mode}}';
  var docId = '{{handler.doc_id}}';
  var taskId = '{{handler.task_id}}';
  var taskType = '{{handler.task_type}}';
  var steps = decodeJSON('{{handler.steps}}');
  var readonly = '{{handler.readonly}}' === 'True';
  var isSample = '{{handler.task.get("is_sample")}}';
  var step = '{{handler.steps.get("current") or ""}}';
  var remark = '{{handler.task.get("remark") or ""}}';
  var lobbyTaskType = taskType.replace(/text_proof_\d/, 'text_proof');
</script>
<script src="{{static_url('js/task-pick.js')}}"></script>
<script src="{{static_url('js/page-btn.js')}}"></script>
{% block custom-js %}
{% end %}
<script>

  $('#remark-task').click(function () {
    showSuccess('text', 'text11');
  });
  $(document).ready(function () {
    // 初始化设置备注、是否自动领任务、是否为示例任务
    $("#remarkModal .remark").val(remark || localStorage.getItem('taskRemark'));
    var autoPick = localStorage.getItem('autoPick') || '是';
    $('#taskConfigModal .auto-pick :radio[value=' + autoPick + ']').prop('checked', true);
    if (isSample === 'True') {
      $('#remarkModal .is_sample :radio[value="是"]').prop('checked', true);
    } else if (isSample === 'False') {
      $('#remarkModal .is_sample :radio[value="否"]').prop('checked', true);
    }
  });

  // 离开页面前的提醒
  window.addEventListener('beforeunload', function (e) {
    if (workChanged && !readonly) {
      var confirmationMessage = '改动内容还未保存，确定要离开本页吗？';
      (e || window.event).returnValue = confirmationMessage; // 兼容 Gecko + IE
      return confirmationMessage; // 兼容 Gecko + Webkit, Safari, Chrome
    }
  });

  // 离开页面
  window.leave = function () {
    // 释放临时数据锁
    if ('edit,update'.indexOf(mode) > -1 && !readonly) {
      if (taskType.indexOf('cut_') !== -1) {
        postApi('/data/unlock/box/' + docId, {});
      } else if (taskType.indexOf('text_') !== -1) {
        postApi('/data/unlock/text/' + docId, {});
      }
    }
    // 返回
    if (from) {
      window.location = from;
    } else if (mode === 'do') {
      window.location = '/task/lobby/' + lobbyTaskType;
    } else if (mode === 'update') {
      window.location = '/task/my/' + lobbyTaskType;
    } else {
      window.history.back();
    }
  };

  // 保存任务
  function saveTask(type, jumpUrl, saveEnded) {
    // type有四种类型：prev/next/save/submit
    var data = getTaskData(type, jumpUrl);
    if (data && !data.error) {
      data.submit = 'next,submit'.indexOf(type) > -1;
      $('#progress').removeClass('hide');
      postApi(location.pathname, {data: data}, function (res) {
        workChanged = 0;
        $('#progress').addClass('hide');
        saveEnded(type, res, jumpUrl);
      }, errorHandle);
    }
  }

  function errorHandle(res) {
    showError('操作失败', res.message || '');
    $('#progress').addClass('hide');
  }

  function afterSaved(type, res, url) {
    showSuccess('成功', '已保存');
    if (type !== 'save')
      goto(url, 1000);
  }

  function afterSubmitted(type, res, url) {
    var autoPick = localStorage.getItem('autoPick') || '是';
    setTimeout(function () {
      if (mode === 'do' && autoPick === '是') {
        pick('/task/pick/' + lobbyTaskType);
      } else {
        window.leave();
      }
    }, 1000);
  }

  // 步骤导航
  function navigate(to) {
    var url = setQueryString('step', steps[to]);
    if (!readonly) {
      saveTask(to, url, afterSaved);
    } else {
      goto(url, 1000);
    }
  }

  // 上一步
  $(document).on("click", '#prev-step', function () {
    navigate('prev');
  });

  // 下一步
  $(document).on("click", '#next-step', function () {
    navigate('next');
  });

  // 任务保存
  $(document).on('click', '#save-task', function () {
    // 去掉重新排序、重新比对等参数
    var url = deleteQueryString(['reorder', 're_compare']);
    saveTask('save', url, afterSaved);
  });


  // 任务提交
  $(document).on('click', '#submit-task', function () {
    saveTask('submit', null, afterSubmitted);
  });

  // 退回任务提交
  $(document).on('click', '#returnModal .modal-confirm', function () {
    var reason = $('#returnModal .return_reason').val().trim();
    if (!reason.length)
      return showError('请填写退回理由', '尚未填写退回理由');
    postApi('/task/return/' + taskId, {data: {reason: reason}}, function () {
      showSuccess('退回成功', docId + ' 已退回成功。');
      goto('/task/lobby/' + lobbyTaskType, 1000);
    });
  });

  // 查看页面
  $(document).on('click', '#view-page', function () {
    location.href = '/page/browse/' + docId + '?from=' + encodeFrom();
  });

  // 前一个任务
  $(document).on('click', '#prev-task', function () {
    var path = '/task/browse/' + taskType + '/' + taskId;
    location.href = path + setQueryString('to', 'prev', true);
  });

  // 后一个任务
  $(document).on('click', '#next-task', function () {
    var path = '/task/browse/' + taskType + '/' + taskId;
    location.href = path + setQueryString('to', 'next', true);
  });

  // 备注任务
  var $remarkModal = $('#remarkModal');
  $remarkModal.find('.options :radio').click(function () {
    $('#remarkModal .remark').val($(this).val());
  });
  $remarkModal.find('.modal-confirm').click(function () {
    var isSample = $remarkModal.find('.is_sample :checked').val() || '否';
    var remark = $remarkModal.find('.remark').val().trim();
    if (!remark.length)
      localStorage.setItem('taskRemark', remark);
    postApi('/task/remark', {data: {_id: taskId, remark: remark, is_sample: isSample}}, function () {
      showSuccess('成功', '已备注');
      navigate(getQueryString('to') || 'next');
    });
  });

  // 是否自动领取新任务
  $('#taskConfigModal .modal-confirm').click(function () {
    var autoPick = $('#taskConfigModal .auto-pick :checked');
    if (autoPick.length)
      localStorage.setItem('autoPick', autoPick.val());
    $('#taskConfigModal').modal('hide');
  });
</script>

{% block final-js %}
{% end %}

</body>
</html>
