<tr>
  <td><img src="{{static_url('imgs/icon_prev.png')}}"/></td>
  <td>保存当前步骤并跳转至上一步</td>
</tr>
<tr>
  <td><img src="{{static_url('imgs/icon_return.png')}}"/></td>
  <td>退回任务。如果任务有问题，比如图片缺失、数据异常等，可以选择退回任务。退回时请注明退回理由</td>
</tr>
<tr>
  <td><img src="{{static_url('imgs/icon_save.png')}}"/></td>
  <td>保存任务数据</td>
</tr>
<tr>
  <td><img src="{{static_url('imgs/icon_next.png')}}"/></td>
  <td>保存当前步骤并跳转至下一步</td>
</tr>
<tr>
  <td><img src="{{static_url('imgs/icon_submit.png')}}"/></td>
  <td>提交任务。提交后，系统将自动领取下一个任务</td>
</tr>