{% set steps_unfinished2 = 'steps_unfinished' in globals() and steps_unfinished %}
{% if hasattr(handler, 'task_type') and handler.task_type %}
<div id="task-config" class="btn-txt icon-config {{'' if handler.mode == 'do' else 'hide'}}" data-toggle="tooltip" data-placement="bottom" title="任务配置"></div>
<div id="task-return" class="btn-txt icon-return-task {{'' if handler.mode == 'do' else 'hide'}}" data-toggle="tooltip" data-placement="bottom" title="退回任务"></div>
{% end %}
{% if hasattr(handler, 'task_type') and handler.task_type and not steps_unfinished2 %}
<div id="step-prev" class="btn-txt icon-prev-step {{'' if handler.steps['prev'] else 'hide'}}" data-toggle="tooltip" data-placement="bottom" title="上一步"></div>
<div id="step-next" class="btn-txt icon-next-step {{'' if handler.steps['next'] else 'hide'}}" data-toggle="tooltip" data-placement="bottom" title="下一步"></div>
<div id="page-submit" class="btn-txt icon-done {{'' if handler.submit_by_page and not handler.readonly else 'hide'}}" data-toggle="tooltip" data-placement="bottom" title="提交当前页"></div>
<div id="task-submit" class="btn-txt icon-submit {{'hide' if handler.steps['next'] or handler.readonly else ''}}" data-toggle="tooltip" data-placement="bottom" title="提交任务"></div>
{% end %}
{% if handler.mode == 'browse' %}
<div class="btn-txt btn-line"></div>
<div id="task-remark" class="btn-txt icon-edit" data-toggle="tooltip" data-placement="bottom" title="备注任务"></div>
<div id="task-prev" class="btn-txt icon-backward" data-toggle="tooltip" data-placement="bottom" title="前一个任务"></div>
<div id="task-next" class="btn-txt icon-forward" data-toggle="tooltip" data-placement="bottom" title="后一个任务"></div>
{% end %}