<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>脚本管理</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link href="{{ static_url('css/home.css') }}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <style>
    .collate-list {
      padding: 0 20px;
    }

    .btn-txt {
      color: var(--Color_Brown_Darker);
      cursor: pointer;
      font-size: 14px;
      float: right;
    }

    .item .title {
      padding: 5px;
      font-size: 18px;
      display: block;
      clear: both;
      background: #fff;
      margin: 20px 0;
    }

    .desc {
      font-size: 16px;
    }
  </style>
</head>

<body>
<div class="app-main">
  <div class="main">
    {% module CommonLeft(title="help") %}
    <div class="main-content">
      {% module CommonHead() %}
      <div class="single-page-con">
        <div class="layout">
          <div class="layout-content">
            <div class="wrapper">
              <div class="collate-list">
                <div class="item">
                  <div class="title">一、册js<span class="btn-txt" id="gen-volume-js">重新生成</span></div>
                  <div class="desc">
                    大藏经阅读界面中，目录导航的数据来源于册js。
                    册js从册数据中生成，如果该部藏经有册数据，则可以生成相应的册js。如果手工更新了册信息，则可以重新生成册js。
                  </div>
                </div>
                <div class="item">
                  <div class="title">二、经js<span class="btn-txt" id="gen-sutra-js">重新生成</span></div>
                  <div class="desc">
                    大藏经阅读界面中，经目信息的数据来源于经js。
                    每部藏经都有对应相应的经js，如果该部藏经有经数据，则可以生成相应的经js。如果手工更新了经信息，则需要更新手工更新经js。
                  </div>
                </div>
                <div class="item">
                  <div class="title">三、自动回收超时任务<span class="btn-txt" id="restart-task-recycle">重启脚本</span></div>
                  <div class="desc">
                    系统自动回收超时任务。
                  </div>
                </div>
                <div class="item">
                  <div class="title">四、自动回收临时数据锁<span class="btn-txt" id="restart-lock-recycle">重启脚本</span></div>
                  <div class="desc">
                    系统自动回收超时数据锁。
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modals">
  <div id="jsModal" class="modal fade" role="dialog" aria-labelledby="choose-docs" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 400px; margin: auto">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="modal-title">生成JS</h4>
        </div>
        <div class="modal-body">
          <h4 class="modal-title">哪部藏经？</h4>
          <input type="hidden" id="collection">
          <div style="min-height: 150px; margin-top: 20px; text-align: center">
            <select id="select-tripitaka" class="form-control">
              {% for t in tripitakas %}
              <option title="{{t}}">{{t}}</option>
              {% end %}
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light" id="js-modal-confirm">确定</button>
        </div>
      </div>
    </div>
  </div>

</div>

{% include _base_js.html %}
<script>
  // 生成册js
  $("#gen-volume-js").click(function () {
    $("#collection").val('volume');
    $("#modal-title").html('生成册js');
    $('#jsModal').modal();
  });

  // 生成经js
  $("#gen-sutra-js").click(function () {
    $("#collection").val('sutra');
    $("#modal-title").html('生成经js');
    $('#jsModal').modal();
  });

  // modal提交
  $("#js-modal-confirm").click(function () {
    var tripitaka_code = $('#select-tripitaka option:selected').attr('title');
    var data = {collection: $("#collection").val(), tripitaka_code: tripitaka_code};
    postApi('/data/gen_js', {data: data}, function () {
      showSuccess('成功', '数据已提交。');
    }, function (error) {
      return showError('提交失败', error.message);
    });
    $('#jsModal').modal('hide');
  });


</script>
</body>

</html>
