{% extends "com/_list.html" %}

{% block custom-css %}
<style>
  .article-list {
    margin: 0 40px;
  }

  .article-list .doc {
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.75);
  }

  .doc .title {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .title a {
    /*color: #B8906F;*/
    font-size: 18px;
    text-decoration: underline;
  }

  .title .time {
    font-size: 12px;
    margin-left: 10px;
    font-weight: 300;
  }

  .doc .content {
    font-size: 1.1em;
  }
</style>
{% end %}

{% block table %}
<div class="article-list">
  {% for d in docs %}
  <div class="doc">
    <div class="title">
      <a href="{{d.get('title_link') or '/article/%s' % d['article_id']}}" target="{{'_blank' if d.get('title_link') else '_self'}}">
        {{d['title']}}</a>
      <span class="time">{{to_date_str(d['create_time'])}}</span>
    </div>
    <div class="content">
      {{pack(d['content'])}}
    </div>
  </div>
  {% end %}
</div>
{% end %}

