{% extends "com_list.html" %}

{% block custom-css %}
<style>
  .article-list {
    margin: 15px 0 0 20px;
  }

  .article-list .doc {
    margin-bottom: 20px;
  }

  .doc .title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }


  .title .time {
    margin-left: 15px;
    font-weight: 300;
  }
  .doc .content {
    font-size: 14px;
  }
</style>
{% end %}

{% block table %}
<div class="article-list">
  {% for d in docs %}
  <div class="doc">
    <div class="title">
      <a href="/article/{{d['article_id']}}">{{d['title']}}</a>
      <span class="time">{{to_date_str(d['create_time'])}}</span>
    </div>
    <div class="content">
      {{pack(d['content'])}}
    </div>
  </div>
  {% end %}
</div>
{% end %}

