{% extends "com/_list.html" %}

{% block custom-js %}
<script>
  $('.article-add').click(function () {
    window.location = '/article/add';
  });
  $('.article-view').click(function () {
    let articleId = $(this).parent().parent().find('.article_id').text();
    window.location = '/article/' + articleId;
  });
  $('.article-update').click(function () {
    let articleId = $(this).parent().parent().find('.article_id').text();
    window.location = '/article/update/' + articleId;
  });
</script>
{% end %}

