<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {% set title = '更新文章' if article_id else '新建文章' %}
  <title>{{title}}</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<style>
  .content {
    max-width: 1024px;
    margin: 45px auto 0;
  }

  .item {
    margin: 10px 0;
    display: flex;
  }

  .item label {
    flex: 1;
    max-width: 70px;
    font-size: 1em;
    font-weight: 400;
    line-height: 30px;
  }

  .item .control {
    flex: 1;
    margin-right: 40px;
  }

  .m-header {
    z-index: 1001;
  }

  #content-editor {
    max-width: 100%;
    min-width: 100%;
    height: 600px;
    overflow: auto;
    padding-bottom: 20px;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1.1em;
  }
</style>

<body>
<div class="app-main">
  <div class="main">
    <header class="m-header">
      <div class="back">
        <a href="/article/list"><img src="{{ static_url('imgs/home.png') }}" class="btn-img"/></a>
      </div>
      <div class="title">{{title}}</div>
      <div class="btn-group right">
        <img src="{{ static_url('imgs/icon_preview.png') }}" class="btn-img" id="btn-preview" title="预览"/>
        <img src="{{ static_url('imgs/icon_submit.png') }}" class="btn-img" id="btn-submit" title="保存"/>
      </div><!--right-->
    </header>
    <div class="content">
      <div class="item">
        <input type="text" id="article-title" class="form-control" placeholder="文章标题" value="{{article.get('title') or ''}}">
      </div>
      <div class="item">
        <script class="editor" id="content-editor" type="text/plain" style="width: 100%;max-width: 800px;min-height: 100px;"></script>
      </div>
      <div class="item">
        <label>文章标识</label>
        <div class="control">
          <input type="text" class="form-control" id="article-id" value="{{article.get('article_id') or ''}}">
        </div>
        <label>文章分类</label>
        <div class="control" style="max-width: 100px">
          <select class="form-control" id="article-category">
            <option value="帮助" {{
            'selected' if article.get('category') == '帮助' else ''}}>帮助</option>
            <option value="通知" {{
            'selected' if article.get('category') == '通知' else ''}}>通知</option>
          </select>
        </div>
        <label>是否发布</label>
        <div class="control" style="max-width: 65px; margin-right: 0">
          <select class="form-control" id="article-active">
            <option value="是" {{
            'selected' if article.get('active') == '是' else ''}}>是</option>
            <option value="否" {{
            'selected' if article.get('active') == '否' else ''}}>否</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}

<!-- UM Editor -->
<link href="{{ static_url('editor/themes/default/_css/umeditor.css') }}" rel="stylesheet"/>
<script src="{{ static_url('editor/third-party/template.min.js') }}"></script>
<script src="{{ static_url('editor/editor.config.js') }}"></script>
<script src="{{ static_url('editor/editor.api.js') }}"></script>
<script src="{{ static_url('editor/lang/zh-cn/zh-cn.js') }}"></script>
<script src="{{ static_url('js/editor.js') }}"></script>

<!-- CUSTOM JS -->
<script>
  var article_id = '{{article_id}}';
  var _id = '{{article.get("_id") or ""}}';
  var $preview = $('#btn-preview');
  initEditor('content-editor', decodeJSON('{{article.get("content") or ""}}', true));
  $('#btn-submit').on('click', function () {
    var url = article_id ? '/article/update' : '/article/add';
    var data = {
      _id: _id, article_id: $('#article-id').val(), title: $('#article-title').val(),
      category: $('#article-category').val(), active: $('#article-active').val(),
      content: UM.getEditor('content-editor').getContent()
    };
    postApi(url, {data: data}, function () {
      window.location = '/article/update/' + $('#article-id').val();
    });
  });

  $preview.click(function () {
    if (!article_id)
      return showError('提示', '请先保存文章');
    else
      window.location = '/article/' + article_id;
  });

  // 设置编辑器高度
  $(document).ready(function () {
    $("#content-editor").height($(document.body).height() - 200);
  });
  $(window).resize(function () {
    $("#content-editor").height($(document.body).height() - 200);
  });

</script>

</body>
</html>
