<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>{{site['description']}}</title>
		{% include _base_meta.html %}
		{% include _base_css.html %}
	</head>
	<style>

	</style>

	<body>
		<div class="app-main">
			<div class="main">
				<!--模拟出左边菜单，方便写样式-->
				{% module CommonLeft() %}
				<div class="main-content">
					{% module CommonHead() %}
					<div class="single-page-con">
						<div class="layout">
							<div class="layout-content">
								<div class="collate-history">
									<div class="wrapper">
										<div class="collate-list">
											<div class="count">
												<span><img src="{{ static_url('imgs/ongoing.png') }}" alt=""><em>9</em><img src="{{ static_url('imgs/piece1.png') }}" alt=""></span>
												<span><img src="{{ static_url('imgs/done.png') }}" alt=""><em>5</em><img src="{{ static_url('imgs/piece2.png') }}" alt=""></span>
											</div>
											<div class="search fr">
												<input type="text">
												<i class="ser-btn"></i>
											</div>
											<table style="border-collapse:separate; border-spacing:0px 10px;">
												<thead>
													<tr>
														<th>优先级</th>
														<th>藏</th>
														<th>经</th>
														<th>第几卷</th>
														<th>阶段</th>
														<th>领取时间</th>
														<th>完成时间</th>
														<th>批次号</th>
														<th>操作</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td><img src="{{ static_url('imgs/middle-red.png') }}" alt=""></td>
														<td>赵城金藏</td>
														<td>大方廣佛華嚴經</td>
														<td>2</td>
														<td>标二</td>
														<td>2018年06月23日 15时52分37秒</td>
														<td>2018年06月23日 15时52分37秒</td>
														<td>201803221412</td>
														<td><span>查看</span></td>
													</tr>
													<tr>
														<td><img src="{{ static_url('imgs/high.png') }}" alt=""></td>
														<td>赵城金藏</td>
														<td>大方廣佛華嚴經</td>
														<td>2</td>
														<td>标二</td>
														<td>2018年06月23日 15时52分37秒</td>
														<td>2018年06月23日 15时52分37秒</td>
														<td>201803221412</td>
														<td><span>查看</span></td>
													</tr>
													<tr>
														<td><img src="{{ static_url('imgs/middle-gray.png') }}" alt=""></td>
														<td>赵城金藏</td>
														<td>大方廣佛華嚴經</td>
														<td>2</td>
														<td>标二</td>
														<td>2018年06月23日 15时52分37秒</td>
														<td>2018年06月23日 15时52分37秒</td>
														<td>201803221412</td>
														<td><span>查看</span></td>
													</tr>
												</tbody>
											</table>
										</div>
										{% module Pager(pager='TODO') %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include _base_js.html %}
		<script>
			$(function() {
				$('.sidebar-collapse').slimScroll({
					height: '100%',
					railOpacity: 0.9,
					alwaysVisible: false
				});
				
			});
		</script>
	</body>

</html>