<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{handler.page_name if hasattr(handler, 'page_name') else '聚类校对'}}</title>
  {% include com/_base_css.html %}
  <link href="{{static_url('css/char.css')}}" rel="stylesheet">
  <link href="{{static_url('css/char-txt.css')}}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  {% import re %}
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="btn-group back">
          <span class="icon-return-back" onclick="leave()" data-toggle="tooltip" data-placement="bottom" title="返回"></span>
        </div>
        <div class="btn-group title">
          {{handler.page_name if hasattr(handler, 'page_name') else '聚类校对'}}
        </div>
      </div><!--left-->
      <div class="center">
        <div id="help" class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助"></div>
        <div class="btn-group" title="按置信度排序">
          <i class="btn-txt icon-sort dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" data-stopPropagation="true">
            <li><a id="btn-cc-up" href="#">按置信度升序</a></li>
            <li><a id="btn-cc-down" href="#">按置信度降序</a></li>
          </ul>
        </div>
        <div class="btn-group" title="按置信度过滤">
          <i class="btn-txt icon-cc dropdown-toggle" data-toggle="dropdown"></i>
          <div class="dropdown-menu filter-menu" data-stopPropagation="true">
            <div class="menu-title">按置信度过滤</div>
            <li class="divider"></li>
            <div class="input-line">
              <input id="filter-start" type="text" class="form-control input-sm" placeholder="起始值">
              <span>~</span>
              <input id="filter-end" type="text" class="form-control input-sm" placeholder="终止值">
            </div>
            <button id="btn-filter" type="button" class="btn btn-primary btn-sm">确定</button>
          </div>
        </div>
        <div id="bat-select" class="btn-txt icon-checkbox2" data-toggle="tooltip" data-placement="bottom" title="全部选择"></div>
        <div class="btn-group" title="按条件过滤">
          <i class="btn-txt icon-filter dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" data-stopPropagation="true">
            <li><a id="btn-diff" href="#">异文</a></li>
            <li><a id="btn-submitted" href="#">已提交</a></li>
            <li><a id="btn-not-submitted" href="#">未提交</a></li>
            <li><a id="btn-un-required" href="#">不必校对</a></li>
            <li class="divider"></li>
            <li><a id="btn-my-update" href="#">我的修改</a></li>
            <li><a id="btn-all-update" href="#">所有修改</a></li>
            <li class="divider"></li>
            <li><a id="btn-no-problem" href="#">没问题</a></li>
            <li><a id="btn-vague" href="#">模糊或残损</a></li>
            <li><a id="btn-not-sure" href="#">不确定</a></li>
            <li><a id="btn-not-know" href="#">不认识</a></li>
          </ul>
        </div>
        <div id="bat-update-txt" class="btn-txt icon-pencil" data-toggle="tooltip" data-placement="bottom" title="批量修改文字"></div>
        <div id="toggle-column-panel" class="btn-txt icon-panel-txt active" data-toggle="tooltip" data-placement="bottom" title="显隐中间列图"></div>
        <div id="bat-update-type" class="btn-txt icon-edit1" data-toggle="tooltip" data-placement="bottom" title="批量修改类型"></div>
        <div id="toggle-work-panel" class="btn-txt icon-right-panel active" data-toggle="tooltip" data-placement="bottom" title="显隐右侧工作面板"></div>
        <div class="search">
          <input id="search-variant" type="text" placeholder="搜索异体字字典">
          <i id="icon-search" class="icon-search"></i>
        </div>
      </div>
      <div class="right">
        {% include com/_task_btns.html %}
      </div><!--right-->
    </div>
    <div class="m-body flex">
      <div class="char-panel">
        <div class="txt-kinds">
          <span class="txt-kind{{' current' if not cur_txt else ''}}"></span>
          {% for t in txts %}
          <span class="txt-kind{{' current' if t == cur_txt else ''}}" data-value="{{t}}">
          {% if t[0] == 'Y' %}
            <img src="{{handler.get_web_img(v_txts.get(t), 'char')}}"/>
          {% else %}
            {{t}}
          {% end %}
          </span>
          {% end %}
        </div>
        <div class="variants{{'' if cur_txt else ' hide'}}">
          <span id="add-variant" class="variant">+</span>
          {% for v in variants %}
          {% if v.get('txt') %}
          <span class="variant txt-item" data-value="{{v['txt']}}">
            {{v['txt']}}
          </span>
          {% else %}
          <span class="variant variant-img txt-item" data-value="{{'Y%s' % v.get('uid')}}">
            <img src="{{handler.get_char_img(v)}}"/>
          </span>
          {% end %}
          {% end %}
        </div>
        <div class="char-items">
          {% for d in docs %}
          <div class="char-item proof{{len(d.get('txt_logs') or [])}}{{' diff' if d.get('diff') else ''}}" id="{{d['name']}}" data-id="{{d['name']}}">
            <div class="char-img">
              <img src="{{handler.get_char_img(d)}}"/>
            </div>
            <div class="char-info{{' hide' if show_char_info == '否' else ''}}">
              <span class="txt">{{d.get('txt', '')}}</span>
              <span class="submitted {{'' if hasattr(handler, 'task') and handler.task.get('_id') in prop(d, 'tasks.'+handler.task_type, []) else 'hide'}}">
                <i class="icon-check"></i>
              </span>
            </div>
            <div class="char-check">
              <span class="cc{{' hide' if show_char_info == '否' else ''}}">{{d.get('cc', 0)/1000}}</span>
              <input type="checkbox" title="{{d['name']}}">
            </div>
          </div>
          {% end %}
        </div>
        {% module Pager(pager) %}
      </div>
      <div class="column-panel">
        <div id="col-holder"></div>
        <button id="submit-box" class="btn btn-primary btn-sm" style="margin-top: 6px">确认</button>
      </div>
      <div class="work-panel">
        {% module CharTxt(docs and docs[0] or {}, txt_fields = ['txt']) %}
      </div>
    </div>
    <div class="m-alert alert alert-info hide" id="m-alert">
      <a class="close">×</a><i class="loading icon-spinner1 animate-spin"></i>
      <strong class="title"></strong><span class="text"></span>
    </div>
    <div class="m-footer">
      <span class="fl">
        总字数：{{char_count}}　聚类字种：{{'、'.join(ocr_txts)}}
      </span>
      <span class="fr">
        页编码：<span class="page-name" style="margin-right: 10px" title="查看单字对应的整页"></span>
        字编码：<span class="char-name" title="查看单字详情">未选中</span>
      </span>
    </div>
  </div>
</div>
<div class="panel-body" style="padding: 0">
  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档<a class="more-help" href="/article/help-cluster">更多</a></h4>
        </div>
        <div class="modal-body">
          <div class="title">一、简单介绍</div>
          <div class="intro">
            聚类校对是一种将OCR识别出的文字按照字种聚集到一起进行批量处理的校对方式。一个聚类校对任务的字头显示在左上方，
            字头区域下是式当前字头所有的异体字列表。左下方区域是当前字头的所有字图。用户需要检查字图中的图片字形与当前的
            字头文字是否相一致，如果不一致，就需要在右侧的校对工作区输入正确的文字。
          </div>
          <div class="title">二、一般步骤</div>
          <div class="intro">
            1. 逐一点击左上区域的字头（当前字头将会高亮显示）<br/>
            2. 检查该字头下字图区域的字图，如果发现字图中的文字与当前字头不一致，则进行修改：<br/>
            （1）右侧工作面板可以查看该字的OCR候选字，选择某字后该字会出现在校对工作区的输入位置；<br/>
            （2）左侧字头下有该字头的异体字列表，选择某字后该字会出现在校对工作区的输入位置；<br/>
            （3）如果没有合适的文字可供选择，可以手工输入正确的校对文字到工作区输入位置；<br/>
            （4）输入后确认，该字图中的文字信息即被修改为输入的文字<br/>
            3. 如果发现当前页所有字图都没有错误，则可以提交当前页<br/>
            4. 如果所有页面都已经提交，则可以提交当前任务<br/>
            注：为提高校对效率，系统提供了条件筛选、批量修改等校对辅助功能。
          </div>
          <div class="title">三、按钮说明</div>
          <table class="table">
            <tr>
              <td><i class="icon-sort"></i></td>
              <td>待校对的字图按置信度升序排列或按置信度降序排列</td>
            </tr>
            <tr>
              <td><i class="icon-cc"></i></td>
              <td>按置信度过滤。输入正确范围的数值（0-1），点击最左侧空白方框取消过滤</td>
            </tr>
            <tr>
              <td><i class="icon-filter"></i></td>
              <td>按照条件过滤来选择字图。<br/>
                过滤条件包括：异文，已提交，未提交，我的修改，所有修改。<br/>
                根据不同的过滤条件显示字图。 选择一个过滤条件后，再选择一个条件，结果是两个条件的叠加。
                如：已提交/未提交 + 我的修改/所有修改，异文可以和任意一个其他条件组合。<br/>
                如果两个条件不相容，则后面的覆盖前面的条件，例如：先选未提交，再选已提交，结果是已经提交的。<br/>
                点击最左侧的空白方框取消过滤，显示所有字图。
              </td>
            </tr>
            <tr>
              <td><i class="icon-checkbox2"></i></td>
              <td>将本页字图区显示的字图全部选择，注意不会选择不在本页显示的字图</td>
            </tr>
            <tr>
              <td><i class="icon-pencil"></i></td>
              <td>将选中的字图批量修改为正确的字</td>
            </tr>
            <tr>
              <td><i class="icon-edit1"></i></td>
              <td>将选中的字图的类型（没问题、模糊或残损、不确定、不认识）进行批量修改</td>
            </tr>
            <tr>
              <td><i class="icon-panel-txt"></i></td>
              <td>显隐中间的原始图片列</td>
            </tr>
            <tr>
              <td><i class="icon-right-panel"></i></td>
              <td>显隐右侧工作面板</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="variantModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="variantModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-sm">
        <div class="modal-header"><h4 class="modal-title">新增图片字</h4></div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <h4 class="col-sm-3 control-label">图片字</h4>
              <div class="col-sm-8">
                <input type="text" class="form-control txt" placeholder="请输入图片字的编码">
                <div style="font-style: italic; color: grey">注：默认选择当前图片编码，您可以自行修改</div>
              </div>
              <h4 class="col-sm-3 control-label hide" style="margin-top: 10px">所属正字</h4>
              <div class="col-sm-8 hide" style="margin-top: 10px">
                <input type="text" class="form-control normal-txt" placeholder="请输入所属正字" readonly="readonly">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div id="resultModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="resultModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"><h4 class="modal-title">更新结果</h4></div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="col-sm-12" style="font-style: italic;margin-bottom: 8px;">注：点击确定将刷新页面，可查看更新后的结果，取消则保持页面。</div>
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% include com/_base_js.html %}
{% include com/_base_task.html %}
{% include com/_base_cut.html %}
<script src="{{static_url('js/char.js')}}"></script>
<script src="{{static_url('js/char-txt.js')}}"></script>
<script>
  // 公共参数
  var chars = decodeJSON('{{dumps(chars)}}');
  var txtTypes = decodeJSON('{{dumps(handler.txt_types)}}');
  var taskType = "{{handler.task_type if hasattr(handler, 'task_type') else ''}}";

  // 初始化
  $('#taskConfigModal .page-size').val('{{handler.page_size}}');
  $('#taskConfigModal .show-char-info :radio[value="{{show_char_info}}"]').prop('checked', true);
  if (!getStorage('toggle-column-panel', true)) {
    $('#toggle-column-panel').removeClass('active');
    $('.column-panel').addClass('hide');
  }
  if (!getStorage('toggle-work-panel', true)) {
    $('#toggle-work-panel').removeClass('active');
    $('.work-panel').addClass('hide');
  }

  $(document).ready(function () {
    getAnchor() ? $('#' + getAnchor()).find('.char-img').click() : $('.char-img:first').click();
  });

  // 配置项
  $('#taskConfigModal .modal-confirm').on('click', function () {
    var data = {};
    var pageSize = $('#taskConfigModal .page-size').val();
    if (pageSize.length) {
      if (!/^\d+$/.test(pageSize)) {
        return showTips('提示', '每页条数中请输入数字', 3000);
      } else {
        data['cluster_page_size'] = pageSize;
      }
    }
    var showCharInfo = $('#taskConfigModal .show-char-info :checked');
    if (showCharInfo) {
      data['cluster_char_info'] = showCharInfo.val();
      $('.char-info, .cc').toggleClass('hide', showCharInfo.val() !== '是');
    }
    if (JSON.stringify(data) !== '{}') {
      $(this).text('进行中...');
      postApi('/session/config', {data: data}, function () {
        location.reload();
      });
    }
  });

  // 新增异体字
  $('#add-variant').on('click', function () {
    var normalTxt = $('.txt-kind.current').attr('data-value'), currentName = $('.char-name').text();
    $('#variantModal .normal-txt').val(normalTxt);
    $('#variantModal .txt').val(currentName);
    $('#variantModal').modal();
  });
  $('#variantModal .modal-confirm').on('click', function () {
    var data = {txt: $('#variantModal .txt').val(), normal_txt: $('#variantModal .normal-txt').val()};
    if (!data.txt.length) {
      return showTips('提示', '请输入异体字文字或字图编码', 5000);
    } else if (!data.normal_txt.length) {
      return showTips('提示', '请输入异体字所属正字', 3000);
    } else {
      $(this).text('进行中...');
      postApi('/data/variant', {data: data}, function (res) {
        $("#variantModal").modal('hide');
        if (/[0-9a-zA-Z_]+/.test(data.txt)) {
          var imgUrl = $('#' + data.txt).find('img').attr('src');
          $('.variants').append(`<span class="variant variant-img txt-item" data-value="Y${res.doc.uid}"><img src="${imgUrl}"/></span>`);
        } else {
          $('.variants').append(`<span class="variant txt-item" data-value="${data.txt}">${data.txt}</span>`);
        }
      });
    }
  });

  // 删除异体字
  $(document).on('dblclick', '.variant-img', function () {
    var $this = $(this);
    showConfirm('提示', '确定删除该图片字吗？', function () {
      postApi('/variant/delete', {data: {uid: $this.attr('data-value')}}, function (res) {
        $this.remove();
      });
    });
  });

  // 批量修改文字
  $('#bat-update-txt').on('click', function () {
    var names = $.map($('.char-check :checked'), (item) => $(item).attr('title'));
    if (!names.length)
      return showTips('请选择', '当前没有选中任何记录', 3000);
    Swal2.fire({title: '请输入文字', input: 'text', inputValue: $('.proof .txt').val(), showLoaderOnConfirm: true}).then((result) => {
      if (result.value) {
        var data = {names: names, txt: result.value, task_type: taskType};
        postApi('/chars/txt', {data: data}, function (res) {
          if (res.data.level_unqualified || res.data.level_unqualified) {
            $('#resultModal .form-group').html($.map(res.data, function (value, key) {
              return `<h4 class="col-sm-3 control-label">${_t(key)}(${value.length})</h4><div class="col-sm-9">${value.join(', ')}</div>`
            }).join(''));
            $('#resultModal').modal();
          } else {
            location.reload();
          }
        });
      }
    });
  });

  // 批量修改类型
  $('#bat-update-type').on('click', function () {
    var names = $.map($('.char-check :checked'), (item) => $(item).attr('title'));
    if (!names.length)
      return showTips('请选择', '当前没有选中任何记录', 3000);
    Swal2.fire({title: '请选择类型', input: 'radio', inputOptions: txtTypes, showLoaderOnConfirm: true}).then((result) => {
      if (result.value) {
        var data = {names: names, txt_type: result.value, task_type: taskType};
        postApi('/chars/txt_type', {data: data}, function (res) {
          if (res.data.level_unqualified || res.data.level_unqualified) {
            $('#resultModal .form-group').html($.map(res.data, function (value, key) {
              return `<h4 class="col-sm-3 control-label">${_t(key)}(${value.length})</h4><div class="col-sm-9">${value.join(', ')}</div>`
            }).join(''));
            $('#resultModal').modal();
          } else {
            location.reload();
          }
        });
      }
    });
  });

  $('#resultModal .modal-confirm').on('click', function () {
    location.reload();
  });

  // 提交当前页
  $('#page-submit').on("click", function () {
    $('#progress').removeClass('hide');
    var charNames = $.map($('.char-item'), function (item) {
      return $(item).attr('data-id');
    });
    postApi(location.pathname, {data: {char_names: charNames}}, function () {
      $('#progress').addClass('hide');
      $('.char-item .submitted').removeClass('hide');
      showSuccess('成功', '页面已提交。', 2000);
    });
  });

  // 方向键移动
  $.mapKey('left', function () {
    $('.char-item.current').prev().find('.char-img').click();
  });

  // 方向键移动
  $.mapKey('right', function () {
    $('.char-item.current').next().find('.char-img').click();
  });

</script>
</body>
</html>
