<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>浏览字图</title>
  {% include _base_css.html %}
  <link href="{{static_url('css/char.css')}}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="btn-group back">
          <span class="icon-return-back" onclick="leave()" data-toggle="tooltip" data-placement="bottom" title="返回"></span>
        </div>
        <div class="btn-group title">
          浏览字图
        </div>
      </div><!--left-->
      <div class="center">
        <div id="help" class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助"></div>
        <div id="btn-sort" class="btn-group" title="排序">
          <i class="btn-txt icon-sort dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" data-stopPropagation="true">
            <li><a id="btn-cc-up" href="#">按置信度升序</a></li>
            <li><a id="btn-cc-down" href="#">按置信度降序</a></li>
          </ul>
        </div>
        <div class="btn-group" title="按置信度过滤">
          <i class="btn-txt icon-cc dropdown-toggle" data-toggle="dropdown"></i>
          <div class="dropdown-menu filter-menu" data-stopPropagation="true">
            <div class="menu-title">按置信度过滤</div>
            <li class="divider"></li>
            <div class="input-line">
              <input id="filter-start" type="text" class="form-control input-sm" placeholder="起始值">
              <span>~</span>
              <input id="filter-end" type="text" class="form-control input-sm" placeholder="终止值">
            </div>
            <button id="btn-filter" type="button" class="btn btn-primary btn-sm">确定</button>
          </div>
        </div>
        <div class="search">
          <input id="search-variant" type="text" placeholder="搜索异体字字典">
          <i id="icon-search" class="icon-search"></i>
        </div>
      </div>
    </div>
    <div class="m-body flex">
      <div class="char-panel">
        <div class="char-items">
          {% for d in docs %}
          <div class="char-item proof{{len(d.get('txt_logs') or [])}}" id="{{d['name']}}" data-id="{{d['_id']}}">
            <div class="char-img">
              <img src="{{handler.get_web_img(d['name'], 'char')}}"/>
            </div>
            <div class="char-info">
              <span class="txt">{{d.get('txt', '')}}</span><span class="cc">{{d.get('cc', 0)/1000}}</span>
            </div>
          </div>
          {% end %}
        </div>
        {% module Pager(pager) %}
      </div>
      <div class="column-panel">
        <div id="col-holder"></div>
        <button id="submit-box" class="btn btn-primary btn-sm" style="margin-top: 6px">确认</button>
      </div>
      <div class="work-panel">
        {% set c = docs and docs[0] or {}%}
        <input type="hidden" id="currentId">
        <input type="hidden" id="currentName">
        <div class="items txt-list">
          <div class="item ocr-alternatives">
            <label class="head">OCR候选</label>
            <div class="body">
              {% for t in c.get('alternatives', '')%}
              <span class="ocr-txt txt-item">{{t}}</span>
              {% end %}
            </div>
          </div>
          <div class="item cur-meta hide">
            <label class="head">当前信息</label>
            <div class="body">
              <div class="log">
                <div class="log-head">
                  <span class="log-txt txt-item">{{c.get('txt') or c.get('nor_txt')}}</span>
                </div>
                <div class="log-meta">
                  {% for f in [i for i in ['name', 'page_name', 'txt', 'nor_txt', 'txt_type'] if c.get(i)]%}
                  <label>{{handler.get_field_name(f)}}</label><span>{{c[f]}}</span><br/>
                  {% end %}
                </div>
              </div>
            </div>
          </div>
          <div class="item logs">
            <label class="head">校对记录</label>
            <div class="body">
              {% for log in c.get('txt_logs', '')%}
              <div class="log current">
                <div class="log-head">
                  <span class="log-txt txt-item">{{log.get('txt') or log.get('nor_txt')}}</span>
                </div>
                <div class="log-meta">
                  {% for f in ['txt', 'nor_txt', 'txt_type', 'remark'] %}
                  {% if log.get(f) %}
                  <label>{{handler.get_field_name(f) or f}}</label><span>{{log[f]}}</span><br/>
                  {% end %}
                  {% end %}
                  <label>校对人</label><span>{{log['username']}}</span><br/>
                  <label>创建时间</label><span>{{to_date_str(log['create_time'])}}</span><br/>
                  <label>更新时间</label><span>{{to_date_str(log['updated_time'])}}</span><br/>
                </div>
              </div>
              {% end %}
            </div>
          </div>
        </div>
        <div class="items user-work">
          <div class="item proof">
            <label class="head">
              请您校对
              <span class="icon-info variant-help" data-toggle="tooltip" data-placement="left" title="如果您输入的文字和图片用字不是同一个字，即有多笔少划或者字形结构上的不同，但是属于同一个正字，则二者构成异体字。"></span>
            </label>
            <div class="body">
              <input class="form-control txt" placeholder="请录入原字"/>
              <div class="txt-types">
                {% for k, v in handler.txt_types.items() %}
                <label class="radio-item radio-inline">
                  <input type="radio" name="txt-type" value="{{k}}">{{v}}
                </label>
                {% end %}
              </div>
              <input class="form-control nor-txt" placeholder="请录入正字"/>
              <input class="form-control remark" placeholder="备注，如果有的话"/>
            </div>
            <div class="tail submit" style="margin-top: 5px">
              <span id="s-alert" class="alert hide">
                <a class="close">×</a><strong class="title"></strong><span class="text"></span>
              </span>
              <button class="btn btn-primary fr" id="submit-txt">确认</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-alert alert alert-info hide" id="m-alert">
      <a class="close">×</a><i class="loading icon-spinner1 animate-spin"></i>
      <strong class="title"></strong><span class="text"></span>
    </div>
    <div class="m-footer">
      <span class="fl"></span>
      <span class="fr">
        页编码：<span class="page-name" style="margin-right: 10px"></span>
        字编码：<span class="char-name"></span>
      </span>
    </div>
  </div>
</div>
<div class="panel-body" style="padding: 0">
  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档<a class="more-help" href="/help">更多</a></h4>
        </div>
        <div class="modal-body">
          <div class="title">一、简单介绍</div>
          <div class="intro">
            聚类校对，是一种将字框OCR文字相同的单字聚集到一起的校对方式。<br/>
            每个字图都有OCR文字，也有它的校对文字（默认为OCR文字），用户需要检查校对文字是否与字图中的文字一致，如果不一致，则需要进行修改。<br/>
          </div>
          <div class="title">二、校对方法</div>
          <div class="intro">
            1. 逐一点击左上区域的字种（当前字种将会高亮显示）<br/>
            2. 检查左下区域的字图列表，如果发现图中的文字与当前字种不一致，则进行单击<br/>
            2.1. 中间列图区域可以查看该字所在的列图<br/>
            2.2. 右侧工作面板可以查看该字的OCR候选、校对历史<br/>
            2.3. 右侧工作面板下方的请您校对区域，可以修改当前字图的校对文字<br/>
            3. 依次往后翻页，如果发现某一页没有错误，则可以提交任务<br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}
{% include _base_cut.html %}
<script src="{{static_url('js/char.js')}}"></script>
<script>
  // 公共参数
  var taskType = "";
  var columnBaseUrl = "{{column_url}}";
  var chars = decodeJSON('{{dumps(chars)}}');
  var txtTypes = decodeJSON('{{dumps(handler.txt_types)}}');

  // 初始化
  $(document).ready(function () {
    getAnchor() ? $('#' + getAnchor()).find('.char-img').click() : $('.char-img:first').click();
  });

  // 提交文字修改
  $('#submit-txt').on('click', function () {
    var id = $('#currentId').val();
    var name = $('#currentName').val();
    var data = {
      task_type: taskType,
      txt: $('.proof .txt').val() || '',
      nor_txt: $('.proof .nor-txt').val() || '',
      txt_type: $('.txt-types :checked').val() || '',
      remark: $('.proof .remark').val() || '',
    };
    postApi('/char/txt/' + name, {data: data}, function (res) {
      updateLogs(res.txt_logs);
      location.href = setAnchor(name);
      data.txt_logs = res.txt_logs;
      chars[id] = $.extend(chars[id], data);
      var $curItem = $('#' + name);
      $curItem.find('.txt').text(data.txt);
      var index = $curItem.attr('class').search(/proof\d/);
      var no = $curItem.attr('class').substr(index + 5, 1);
      $curItem.removeClass('proof' + no).addClass('proof' + (parseInt(no) + 1));
      bsShow('成功！', '已保存成功', 'success', 1000, '#s-alert');
    });
  });

  // 提交字框修改
  $('#submit-box').on('click', function () {
    var name = $('#currentName').val();
    var data = {'pos': getBox()['pos'], 'task_type': taskType};
    postApi('/char/box/' + name, {data: data}, function (res) {
      bsShow('成功！', '已保存成功', 'success', 1000);
    });
  });

</script>

</body>
</html>
