<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>聚类校对</title>
  {% include _base_css.html %}
  <link href="{{static_url('css/char.css')}}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="btn-group back">
          <span class="icon-return-back" onclick="leave()" data-toggle="tooltip" data-placement="bottom" title="返回"></span>
        </div>
        <div class="btn-group title">
          聚类校对
        </div>
      </div><!--left-->
      <div class="center">
        <div id="help" class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助"></div>
        <div class="btn-group" title="排序">
          <i class="btn-txt icon-sort dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" data-stopPropagation="true">
            <li><a id="btn-cc-up" href="#">按置信度升序</a></li>
            <li><a id="btn-cc-down" href="#">按置信度降序</a></li>
          </ul>
        </div>
        <div class="btn-group" title="按置信度过滤">
          <i class="btn-txt icon-cc dropdown-toggle" data-toggle="dropdown"></i>
          <div class="dropdown-menu filter-menu" data-stopPropagation="true">
            <div class="menu-title">按置信度过滤</div>
            <li class="divider"></li>
            <div class="input-line">
              <input id="filter-start" type="text" class="form-control input-sm" placeholder="起始值">
              <span>~</span>
              <input id="filter-end" type="text" class="form-control input-sm" placeholder="终止值">
            </div>
            <button id="btn-filter" type="button" class="btn btn-primary btn-sm">确定</button>
          </div>
        </div>
        <div class="btn-group" title="按修改过滤">
          <i class="btn-txt icon-filter dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" data-stopPropagation="true">
            <li><a id="btn-my-update" href="#">我的修改</a></li>
            <li><a id="btn-all-update" href="#">所有修改</a></li>
          </ul>
        </div>
        <div class="btn-group" title="批量选择">
          <i class="btn-txt icon-checkbox2 dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" data-stopPropagation="true">
            <li><a id="btn-select" href="#">打开选择</a></li>
            <li><a id="btn-cancel" href="#">关闭选择</a></li>
            <li><a id="btn-select-all" href="#">全部选择</a></li>
            <li><a id="btn-deselect" href="#">全部不选</a></li>
            <li><a id="bat-update" href="#">批量修改</a></li>
          </ul>
        </div>
        <div class="search">
          <input id="search-variant" type="text" placeholder="搜索异体字字典">
          <i id="icon-search" class="icon-search"></i>
        </div>
      </div>
      <div class="right">
        {% if handler.is_task %} {% include _task_btns.html %} {% end %}
      </div><!--right-->
    </div>
    <div class="m-body flex">
      <div class="char-panel">
        <div class="txt-kinds">
          <div class="txt-kind{{' current' if not txt else ''}}"></div>
          {% for t in txts %}
          <span class="txt-kind{{' current' if t == txt else ''}}">{{t}}</span>
          {% end %}
        </div>
        <div class="char-items">
          {% for d in docs %}
          <div class="char-item proof{{len(d.get('txt_logs') or [])}}" id="{{d['name']}}" data-id="{{d['_id']}}" title="{{d['char_id']}} #{{d['cid']}}">
            <div class="char-img">
              <img src="{{handler.get_web_img(d['name'], 'char')}}"/>
            </div>
            <div class="char-info">
              <span class="txt">{{d.get('txt', '')}}</span>
              <span class="cc">{{d.get('cc', 0)/1000}}</span>
            </div>
            <div><input type="checkbox" class="char-check hide" title="{{d['name']}}"></div>
          </div>
          {% end %}
        </div>
        {% module Pager(pager) %}
      </div>
      <div class="column-panel">
        <div id="col-holder"></div>
      </div>
      <div class="work-panel">
        {% set c = docs and docs[0] or {}%}
        <input type="hidden" id="currentId">
        <input type="hidden" id="currentName">
        <div class="items txt-list">
          <div class="item ocr-alternatives">
            <label class="head">OCR候选</label>
            <div class="body">
              {% for t in c.get('alternatives', '')%}
              <span class="ocr-txt txt-item">{{t}}</span>
              {% end %}
            </div>
          </div>
          <div class="item cur-meta hide">
            <label class="head">当前信息</label>
            <div class="body">
              <div class="log">
                <div class="log-head"><span class="log-txt txt-item">{{c.get('txt') or c.get('ori_txt')}}</span></div>
                <div class="log-meta">
                  {% for f in [i for i in ['name', 'page_name', 'txt', 'ori_txt', 'txt_type'] if c.get(i)]%}
                  <label>{{handler.get_field_name(f)}}</label><span>{{c[f]}}</span><br/>
                  {% end %}
                </div>
              </div>
            </div>
          </div>
          <div class="item logs">
            <label class="head">校对记录</label>
            <div class="body">
              {% for log in c.get('txt_logs', '')%}
              <div class="log current">
                <div class="log-head"><span class="log-txt txt-item">{{log.get('txt') or log.get('ori_txt')}}</span></div>
                <div class="log-meta">
                  {% for f in ['txt', 'ori_txt', 'txt_type', 'remark'] %}
                  {% if log.get(f) %}
                  <label>{{Char.get_field_name(f) or f}}</label><span>{{log[f]}}</span><br/>
                  {% end %}
                  {% end %}
                  <label>校对人</label><span>{{log['username']}}</span><br/>
                  <label>创建时间</label><span>{{to_date_str(log['create_time'])}}</span><br/>
                  {% if log.get('updated_time') %}
                  <label>更新时间</label><span>{{to_date_str(log['updated_time'])}}</span><br/>
                  {% end %}
                </div>
              </div>
              {% end %}
            </div>
          </div>
        </div>
        <div class="items user-work">
          <div class="item proof">
            <label class="head">
              请您校对<span id="proof-help" class="icon-help"></span>
            </label>
            <div class="body">
              <input class="form-control txt" placeholder="请输入字框中的文字，可带校对符号"/>
              <div class="txt-type">
                {% for k, v in handler.txt_types.items() %}
                <label class="radio-item radio-inline">
                  <input type="radio" name="txt-type" value="{{k}}">{{v}}
                </label>
                {% end %}
              </div>
              <input class="form-control remark" placeholder="备注，如果有的话"/>
            </div>
            <div class="tail submit" style="margin-top: 5px">
              <span id="s-alert" class="alert hide">
                <a class="close">×</a>
                <strong class="title"></strong><span class="text"></span>
              </span>
              <button class="btn btn-primary fr" id="submit-proof">确认</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-alert alert alert-info hide" id="m-alert">
      <a class="close">×</a><i class="loading icon-spinner1 animate-spin"></i>
      <strong class="title"></strong><span class="text"></span>
    </div>
    <div class="m-footer">
      <span class="fl">
        总字数：{{char_count}}　聚类字种：{{'、'.join(ocr_txts)}}
      </span>
      <span class="fr">
        页编码：<span class="page-name" style="margin-right: 10px"></span>
        字编码：<span class="char-name"></span>
      </span>
    </div>
  </div>
</div>
<div class="panel-body" style="padding: 0">
  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档<a class="more-help" href="/help">更多</a></h4>
        </div>
        <div class="modal-body">
          <div class="title">一、简单介绍</div>
          <div class="intro">
            聚类校对，是一种将字框OCR文字相同的单字聚集到一起的校对方式。<br/>
            每个字图都有OCR文字，也有它的校对文字（默认为OCR文字），用户需要检查校对文字是否与字图中的文字一致，如果不一致，则需要进行修改。<br/>
          </div>
          <div class="title">二、校对方法</div>
          <div class="intro">
            1. 逐一点击左上区域的字种（当前字种将会高亮显示）<br/>
            2. 检查左下区域的字图列表，如果发现图中的文字与当前字种不一致，则进行单击<br/>
            2.1. 中间列图区域可以查看该字所在的列图<br/>
            2.2. 右侧工作面板可以查看该字的OCR候选、校对历史<br/>
            2.3. 右侧工作面板下方的请您校对区域，可以修改当前字图的校对文字<br/>
            3. 依次往后翻页，如果发现某一页没有错误，则可以提交任务<br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}
{% if handler.is_task %} {% include _base_task.html %} {% end %}
<script src="{{static_url('js/cut/raphael.js')}}"></script>
<script src="{{static_url('js/cut/raphael.zoom.js')}}"></script>
<script src="{{static_url('js/char.js')}}"></script>
<script>
  // 公共参数
  var columnBaseUrl = "{{column_url}}";
  var editType = "{{handler.task_type}}";
  var chars = decodeJSON('{{dumps(chars)}}');
  var txtTypes = decodeJSON('{{dumps(handler.txt_types)}}');

  // 切换字种
  $('.txt-kind').on('click', function () {
    if (!$(this).text().trim())
      location.href = location.pathname;
    else
      location.href = setQueryString('txt', $(this).text());
  });

  // 检索异体字
  $('#search-variant').on('keydown', function (event) {
    var keyCode = event.keyCode || event.which;
    if (keyCode === 13) {
      var q = $(this).val().trim();
      if (q.length)
        window.open('http://hanzi.lqdzj.cn/variant_search?q=' + q, '_blank');
    }
  });
  $('#icon-search').on('click', function () {
    var q = $('#search-variant').val().trim();
    if (q.length)
      window.open('http://hanzi.lqdzj.cn/variant_search?q=' + q, '_blank');
  });

  // 打开选择
  $('#btn-select').on('click', function () {
    $('.char-check').removeClass('hide');
  });
  // 关闭选择
  $('#btn-cancel').on('click', function () {
    $('.char-check').addClass('hide');
  });

  // 全部选择
  $('#btn-select-all').on('click', function () {
    $('.char-check').removeClass('hide');
    $('.char-check').prop('checked', true);
  });

  // 全部不选
  $('#btn-deselect').on('click', function () {
    $('.char-check').removeClass('hide');
    $('.char-check').removeAttr('checked');
  });

  // 批量修改
  $('#bat-update').on('click', function () {
    $('.char-check').removeClass('hide');
    var names = $.map($('.char-check:checked'), (item) => $(item).attr('title'));
    if (!names.length)
      return showWarning('请选择', '当前没有选中任何记录。');
    Swal2.fire({title: '请输入文字', input: 'text', showLoaderOnConfirm: true}).then((result) => {
      if (result.value) {
        postApi('/char/txt', {data: {names: names, txt: result.value}}, () => location.reload());
      }
    });
  });

  // 保存数据
  saveData = function (submit) {
    if (submit) {
      bsLoading('保存中‧‧‧');
      postApi(location.pathname, {data: {}}, function () {
        bsShow('成功!', '已保存。');
        var autoPick = getStorage('autoPick', '是');
        if (mode === 'do' && autoPick === '是') {
          showSuccess('提示', '已成功提交！将自动领取下一个任务。');
          pick('/task/pick/' + taskType);
        } else {
          window.leave();
        }
      });
    }
  };

</script>
</body>
</html>
