<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{handler.page_name if hasattr(handler, 'page_name') else '聚类校对'}}</title>
  {% include _base_css.html %}
  <link href="{{static_url('css/char.css')}}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  {% import re %}
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="btn-group back">
          <span class="icon-return-back" onclick="leave()" data-toggle="tooltip" data-placement="bottom" title="返回"></span>
        </div>
        <div class="btn-group title">
          {{handler.page_name if hasattr(handler, 'page_name') else '聚类校对'}}
        </div>
      </div><!--left-->
      <div class="center">
        <div id="help" class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助"></div>
        <div class="btn-group" title="排序">
          <i class="btn-txt icon-sort dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" data-stopPropagation="true">
            <li><a id="btn-cc-up" href="#">按置信度升序</a></li>
            <li><a id="btn-cc-down" href="#">按置信度降序</a></li>
          </ul>
        </div>
        <div class="btn-group" title="按置信度过滤">
          <i class="btn-txt icon-cc dropdown-toggle" data-toggle="dropdown"></i>
          <div class="dropdown-menu filter-menu" data-stopPropagation="true">
            <div class="menu-title">按置信度过滤</div>
            <li class="divider"></li>
            <div class="input-line">
              <input id="filter-start" type="text" class="form-control input-sm" placeholder="起始值">
              <span>~</span>
              <input id="filter-end" type="text" class="form-control input-sm" placeholder="终止值">
            </div>
            <button id="btn-filter" type="button" class="btn btn-primary btn-sm">确定</button>
          </div>
        </div>
        <div class="btn-group" title="按条件过滤">
          <i class="btn-txt icon-filter dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" data-stopPropagation="true">
            <li><a id="btn-un-equal" href="#">异文</a></li>
            <li><a id="btn-submitted" href="#">已提交</a></li>
            <li><a id="btn-not-submitted" href="#">未提交</a></li>
            <li><a id="btn-my-update" href="#">我的修改</a></li>
            <li><a id="btn-all-update" href="#">所有修改</a></li>
          </ul>
        </div>
        <div id="bat-select" class="btn-txt icon-checkbox2" data-toggle="tooltip" data-placement="bottom" title="全部选择"></div>
        <div id="bat-update-txt" class="btn-txt icon-pencil" data-toggle="tooltip" data-placement="bottom" title="批量修改文字"></div>
        <div id="bat-update-type" class="btn-txt icon-list1" data-toggle="tooltip" data-placement="bottom" title="批量修改类型"></div>
        <div id="toggle-column-panel" class="btn-txt icon-panel-txt active" data-toggle="tooltip" data-placement="bottom" title="显隐中间列图"></div>
        <div id="toggle-work-panel" class="btn-txt icon-right-panel active" data-toggle="tooltip" data-placement="bottom" title="显隐右侧工作面板"></div>
        <div class="search">
          <input id="search-variant" type="text" placeholder="搜索异体字字典">
          <i id="icon-search" class="icon-search"></i>
        </div>
      </div>
      <div class="right">
        {% include _task_btns.html %}
      </div><!--right-->
    </div>
    <div class="m-body flex">
      <div class="char-panel">
        <div class="txt-kinds">
          <span class="txt-kind{{' current' if not cur_txt else ''}}"></span>
          {% for t in txts %}
          <span class="txt-kind{{' current' if t == cur_txt else ''}}" data-value="{{t}}">
          {% if t[0] == 'Y' %}
            <img src="{{handler.get_web_img(v_txts.get(t), 'char')}}"/>
          {% else %}
            {{t}}
          {% end %}
          </span>
          {% end %}
        </div>
        <div class="variants{{'' if cur_txt else ' hide'}}">
          <span id="add-variant" class="variant">+</span>
          {% for v in variants %}
          {% if v.get('txt') %}
          <span class="variant txt-item" data-value="{{v['txt']}}">
            {{v['txt']}}
          </span>
          {% else %}
          <span class="variant variant-img txt-item" data-value="{{'Y%s' % v.get('uid')}}">
            <img src="{{handler.get_web_img(v['img_name'], 'char')}}"/>
          </span>
          {% end %}
          {% end %}
        </div>
        <div class="char-items">
          {% for d in docs %}
          <div class="char-item proof{{len(d.get('txt_logs') or [])}}" id="{{d['name']}}" data-id="{{d['_id']}}">
            <div class="char-img">
              <img src="{{handler.get_web_img(d['name'], 'char')}}"/>
            </div>
            <div class="char-info{{' hide' if show_char_info == '否' else ''}}">
              <span class="txt">{{d.get('txt', '')}}</span>
              <span class="submitted {{'' if hasattr(handler, 'task') and handler.task.get('_id') in prop(d, 'tasks.'+handler.task_type, []) else 'hide'}}">√</span>
            </div>
            <div class="char-check">
              <span class="cc{{' hide' if show_char_info == '否' else ''}}">{{d.get('cc', 0)/1000}}</span>
              <input type="checkbox" title="{{d['name']}}">
            </div>
          </div>
          {% end %}
        </div>
        {% module Pager(pager) %}
      </div>
      <div class="column-panel">
        <div id="col-holder"></div>
        <button id="submit-box" class="btn btn-primary btn-sm" style="margin-top: 6px">确认</button>
      </div>
      <div class="work-panel">
        {% set c = docs and docs[0] or {}%}
        <input type="hidden" id="currentId">
        <input type="hidden" id="currentName">
        <div class="items txt-list">
          <div class="item ocr-alternatives">
            <label class="head">候选文字<span class="icon-info proof-help" data-toggle="tooltip" data-placement="bottom" title="红色下划线来自于OCR列引擎，绿色下划线来自于比对文本，其余来自于OCR字引擎"></span></label>
            <div class="body">
              {% if c.get('col_txt') %}
              <span class="txt-item col-txt">{{c['col_txt']}}</span>
              {% end %}
              {% if c.get('cmp_txt') %}
              <span class="txt-item cmp-txt">{{c['cmp_txt']}}</span>
              {% end %}
              {% for t in c.get('alternatives', '')%}
              <span class="txt-item">{{t}}</span>
              {% end %}
            </div>
          </div>
          <div class="item cur-meta hide">
            <label class="head">当前信息</label>
            <div class="body">
              <div class="log">
                <div class="log-head">
                  <span class="log-txt txt-item">{{c.get('txt') or c.get('nor_txt')}}</span>
                </div>
                <div class="log-meta">
                  {% for f in [i for i in ['name', 'page_name', 'txt', 'nor_txt', 'txt_type'] if c.get(i)]%}
                  <label>{{handler.get_field_name(f)}}</label><span>{{c[f]}}</span><br/>
                  {% end %}
                </div>
              </div>
            </div>
          </div>
          <div class="item logs">
            <label class="head">校对记录</label>
            <div class="body">
              {% for log in c.get('txt_logs', '')%}
              <div class="log current">
                <div class="log-head">
                  <span class="log-txt txt-item">{{log.get('txt') or log.get('nor_txt')}}</span>
                </div>
                <div class="log-meta">
                  {% for f in ['txt', 'nor_txt', 'txt_type', 'remark'] %}
                  {% if log.get(f) %}
                  <label>{{Char.get_field_name(f) or f}}</label><span>{{log[f]}}</span><br/>
                  {% end %}
                  {% end %}
                  <label>校对人</label><span>{{log.get('username') or ''}}</span><br/>
                  <label>创建时间</label><span>{{to_date_str(log.get('create_time') or '')}}</span><br/>
                  <label>更新时间</label><span>{{to_date_str(log.get('updated_time') or '')}}</span><br/>
                </div>
              </div>
              {% end %}
            </div>
          </div>
        </div>
        <div class="items user-work">
          <div class="item proof">
            <label class="head">
              请您校对
              <span class="icon-info proof-help" data-toggle="tooltip" data-placement="bottom" title="如果两个字有多笔少划或者字形结构上的不同，则二者不是同一个字。"></span>
            </label>
            <div class="body">
              <input class="form-control txt" placeholder="请输入字框中的文字"/>
              <div class="txt-types">
                {% for k, v in handler.txt_types.items() %}
                <label class="radio-item radio-inline">
                  <input type="radio" name="txt-type" value="{{k}}">{{v}}
                </label>
                {% end %}
              </div>
              <input class="form-control remark" placeholder="备注，如果有的话"/>
            </div>
            <div class="tail submit" style="margin-top: 5px">
              <span id="s-alert" class="alert hide">
                <a class="close">×</a>
                <strong class="title"></strong><span class="text"></span>
              </span>
              <button class="btn btn-primary fr" id="submit-txt">确认</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-alert alert alert-info hide" id="m-alert">
      <a class="close">×</a><i class="loading icon-spinner1 animate-spin"></i>
      <strong class="title"></strong><span class="text"></span>
    </div>
    <div class="m-footer">
      <span class="fl">
        总字数：{{char_count}}　聚类字种：{{'、'.join(ocr_txts)}}
      </span>
      <span class="fr">
        页编码：<span class="page-name" style="margin-right: 10px"></span>
        字编码：<span class="char-name"></span>
      </span>
    </div>
  </div>
</div>
<div class="panel-body" style="padding: 0">
  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档<a class="more-help" href="/help">更多</a></h4>
        </div>
        <div class="modal-body">
          <div class="title">一、简单介绍</div>
          <div class="intro">
            聚类校对，是一种将字框OCR文字相同的单字聚集到一起的校对方式。<br/>
            每个字图都有OCR文字，也有它的校对文字（默认为OCR文字），用户需要检查校对文字是否与字图中的文字一致，如果不一致，则需要进行修改。<br/>
          </div>
          <div class="title">二、校对方法</div>
          <div class="intro">
            1. 逐一点击左上区域的字种（当前字种将会高亮显示）<br/>
            2. 检查左下区域的字图列表，如果发现图中的文字与当前字种不一致，则进行单击<br/>
            2.1. 中间列图区域可以查看该字所在的列图<br/>
            2.2. 右侧工作面板可以查看该字的OCR候选、校对历史<br/>
            2.3. 右侧工作面板下方的请您校对区域，可以修改当前字图的校对文字<br/>
            3. 依次往后翻页，如果发现某一页没有错误，则可以提交任务<br/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="variantModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="variantModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-sm">
        <div class="modal-header"><h4 class="modal-title">新增图片字</h4></div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <h4 class="col-sm-3 control-label">图片字</h4>
              <div class="col-sm-8">
                <input type="text" class="form-control txt" placeholder="请输入图片字的编码">
              </div>
              <h4 class="col-sm-3 control-label hide" style="margin-top: 10px">所属正字</h4>
              <div class="col-sm-8 hide" style="margin-top: 10px">
                <input type="text" class="form-control normal-txt" placeholder="请输入所属正字" readonly="readonly">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div id="resultModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="resultModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"><h4 class="modal-title">更新结果</h4></div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="col-sm-12" style="font-style: italic;margin-bottom: 8px;">注：点击确定将刷新页面，可查看更新后的结果，取消则保持页面。</div>
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}
{% include _base_task.html %}
{% include _base_cut.html %}
<script src="{{static_url('js/char.js')}}"></script>
<script>
  // 公共参数
  var columnBaseUrl = "{{column_url}}";
  var chars = decodeJSON('{{dumps(chars)}}');
  var txtTypes = decodeJSON('{{dumps(handler.txt_types)}}');
  var taskType = "{{handler.task_type if hasattr(handler, 'task_type') else ''}}";

  // 初始化
  $('#toggle-column-panel').toggleClass('active', getStorage('toggle-column-panel', true));
  $('.column-panel').toggleClass('hide', !getStorage('toggle-column-panel', true));
  $('#toggle-work-panel').toggleClass('active', getStorage('toggle-work-panel', true));
  $('.work-panel').toggleClass('hide', !getStorage('toggle-work-panel', true));

  $(document).ready(function () {
    getAnchor() ? $('#' + getAnchor()).find('.char-img').click() : $('.char-img:first').click();
  });

  // 配置项
  $('#taskConfigModal .modal-confirm').on('click', function () {
    var data = {};
    var pageSize = $('#taskConfigModal .page-size').val();
    if (pageSize.length) {
      if (!/^\d+$/.test(pageSize)) {
        return showWarning('提示', '每页条数中请输入数字');
      } else {
        data['cluster_page_size'] = pageSize;
      }
    }
    var showCharInfo = $('#taskConfigModal .show-char-info :checked');
    if (showCharInfo) {
      data['cluster_char_info'] = showCharInfo.val();
      $('.char-info, .cc').toggleClass('hide', showCharInfo.val() !== '是');
    }
    if (JSON.stringify(data) !== '{}') {
      postApi('/session/config', {data: data});
      location.reload();
    }
  });

  // 新增异体字
  $('#add-variant').on('click', function () {
    $('#variantModal .normal-txt').val($('.txt-kind.current').attr('data-value'));
    $('#variantModal .txt').val($('#currentName').val());
    $('#variantModal').modal();
  });
  $('#variantModal .modal-confirm').on('click', function () {
    var data = {txt: $('#variantModal .txt').val(), normal_txt: $('#variantModal .normal-txt').val()};
    if (!data.txt.length) {
      return showWarning('提示', '请输入异体字文字或字图编码');
    } else if (!data.normal_txt.length) {
      return showWarning('提示', '请输入异体字所属正字');
    } else {
      postApi('/data/variant', {data: data}, function (res) {
        $("#variantModal").modal('hide');
        if (/[0-9a-zA-Z_]+/.test(data.txt)) {
          var imgUrl = $('#' + data.txt).find('img').attr('src');
          $('.variants').append(`<span class="variant variant-img txt-item" data-value="Y${res.doc.uid}"><img src="${imgUrl}"/></span>`);
        } else {
          $('.variants').append(`<span class="variant txt-item" data-value="${data.txt}">${data.txt}</span>`);
        }
      });
    }
  });

  // 删除异体字
  $(document).on('dblclick', '.variant-img', function () {
    var $this = $(this);
    showConfirm('提示', '确定删除该图片字吗？', function () {
      postApi('/variant/delete', {data: {uid: $this.attr('data-value')}}, function (res) {
        $this.remove();
      });
    });
  });

  // 批量修改文字
  $('#bat-update-txt').on('click', function () {
    var names = $.map($('.char-check :checked'), (item) => $(item).attr('title'));
    if (!names.length)
      return showWarning('请选择', '当前没有选中任何记录。');
    Swal2.fire({title: '请输入文字', input: 'text', inputValue: $('.proof .txt').val(), showLoaderOnConfirm: true}).then((result) => {
      if (result.value) {
        var data = {names: names, txt: result.value, task_type: taskType};
        postApi('/chars/txt', {data: data}, function (res) {
          if (res.data.level_unqualified || res.data.level_unqualified) {
            $('#resultModal .form-group').html($.map(res.data, function (value, key) {
              return `<h4 class="col-sm-3 control-label">${_t(key)}(${value.length})</h4><div class="col-sm-9">${value.join(', ')}</div>`
            }).join(''));
            $('#resultModal').modal();
          } else {
            location.reload();
          }
        });
      }
    });
  });

  // 批量修改类型
  $('#bat-update-type').on('click', function () {
    var names = $.map($('.char-check :checked'), (item) => $(item).attr('title'));
    if (!names.length)
      return showWarning('请选择', '当前没有选中任何记录。');
    Swal2.fire({title: '请选择类型', input: 'radio', inputOptions: txtTypes, showLoaderOnConfirm: true}).then((result) => {
      if (result.value) {
        var data = {names: names, txt_type: result.value, task_type: taskType};
        postApi('/chars/txt_type', {data: data}, function (res) {
          if (res.data.level_unqualified || res.data.level_unqualified) {
            $('#resultModal .form-group').html($.map(res.data, function (value, key) {
              return `<h4 class="col-sm-3 control-label">${_t(key)}(${value.length})</h4><div class="col-sm-9">${value.join(', ')}</div>`
            }).join(''));
            $('#resultModal').modal();
          } else {
            location.reload();
          }
        });
      }
    });
  });

  $('#resultModal .modal-confirm').on('click', function () {
    location.reload();
  });

  // 提交文字修改
  $('#submit-txt').on('click', function () {
    var id = $('#currentId').val();
    var name = $('#currentName').val();
    var data = {
      task_type: taskType,
      txt: $('.proof .txt').val() || '',
      nor_txt: $('.proof .nor-txt').val() || '',
      txt_type: $('.txt-types :checked').val() || '',
      remark: $('.proof .remark').val() || '',
    };
    postApi('/char/txt/' + name, {data: data}, function (res) {
      updateLogs(res.txt_logs);
      location.href = setAnchor(name);
      data.txt_logs = res.txt_logs;
      chars[id] = $.extend(chars[id], data);
      var $curItem = $('#' + name);
      $curItem.find('.txt').text(data.txt);
      var index = $curItem.attr('class').search(/proof\d/);
      var no = $curItem.attr('class').substr(index + 5, 1);
      $curItem.removeClass('proof' + no).addClass('proof' + (parseInt(no) + 1));
      bsShow('成功！', '已保存成功', 'success', 1000, '#s-alert');
    });
  });

  // 提交字框修改
  $('#submit-box').on('click', function () {
    var name = $('#currentName').val();
    var data = {'pos': getBox()['pos'], 'task_type': taskType};
    postApi('/char/box/' + name, {data: data}, function (res) {
      bsShow('成功！', '已保存成功', 'success', 1000);
    });
  });

  // 提交当前页
  $('#page-submit').on("click", function () {
    $('#progress').removeClass('hide');
    var charIds = $.map($('.char-item'), function (item) {
      return $(item).attr('data-id');
    });
    postApi(location.pathname, {data: {char_ids: charIds}}, function () {
      $('#progress').addClass('hide');
      $('.char-item .submitted').removeClass('hide');
      showSuccess('成功', '页面已提交。');
    });
  });

</script>
</body>
</html>
