<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>浏览字图</title>
  {% include com/_base_css.html %}
  <link href="{{static_url('css/box.css')}}" rel="stylesheet"/>
  <link href="{{static_url('css/cluster.css')}}" rel="stylesheet">
  <link href="{{static_url('css/char-txt.css')}}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <style>
    #panel-region {
      width: 260px;
      max-width: 260px;
    }

    .add-gap li:first-child {
      margin-top: 18px;
    }

    .m-panel {
      display: flex;
      overflow: auto;
      flex-direction: column;
      background: var(--Grey_Content);
      border-right: 1px solid var(--Grey_Light);
    }

    .panel-list > li > a {
      clear: both;
      color: #333;
      display: block;
      cursor: pointer;
      font-weight: 400;
      padding: 3px 10px;
      white-space: nowrap;
      line-height: 1.42857143;
    }

    .panel-list li:hover {
      background-color: var(--Grey_Line);
    }

    .panel-list li.active a {
      color: green;
      font-weight: bold;
    }

    .panel-list .head {
      font-weight: 500;
      text-align: center;
      color: var(--Brown_Darker);
      background-color: var(--Grey_Lighter);
    }

    .panel-list .divider {
      height: 1px;
      margin: 2px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }

  </style>
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="btn-group back">
          <span class="icon-return-back" onclick="leave()" data-toggle="tooltip" data-placement="bottom" title="返回"></span>
        </div>
        <div class="btn-group title">
          浏览字图
        </div>
      </div><!--left-->
      <div class="center">
        <div id="help" class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助"></div>
        <div class="btn-group" title="显隐设置">
          <i class="btn-txt icon-eye dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" data-stopPropagation="true">
            <li id="toggle-filter-panel" class="active"><a>显隐排序过滤[1]</a></li>
            <li id="toggle-char-cc" class="active"><a>显隐字符置信度[3]</a></li>
            <li id="toggle-column-panel" class="active"><a>显隐中间列图[4]</a></li>
            <li id="toggle-proof-panel" class="active"><a>显隐校对面板[5]</a></li>
          </ul>
        </div>
        <div class="btn-group" data-toggle="tooltip" data-placement="bottom" title="按字置信度过滤">
          <i class="btn-txt icon-filter dropdown-toggle" data-toggle="dropdown"></i>
          <div class="dropdown-menu filter-menu" data-stopPropagation="true">
            <div class="menu-title">按字置信度过滤</div>
            <li class="divider"></li>
            <div class="input-line">
              <input id="filter-start" type="text" class="form-control input-sm" placeholder="起始值">
              <span>~</span>
              <input id="filter-end" type="text" class="form-control input-sm" placeholder="终止值">
            </div>
            <button id="btn-filter" type="button" class="btn btn-primary btn-sm">确定</button>
          </div>
        </div>
      </div>
    </div>

    <div class="m-body flex">
      <div class="m-panel slim-bar hide">
        <ul id="filter-panel" class="panel-list">
          <li><a class="head">排序</a></li>
          <li id="order-cc" class="filter btn-order"><a>按字置信度升序</a></li>
          <li id="order--cc" class="filter btn-order"><a>按字置信度降序</a></li>
          <li id="order-lc" class="filter btn-order"><a>按列置信度升序</a></li>
          <li id="order--lc" class="filter btn-order"><a>按列置信度降序</a></li>
          <li><a class="head">按相同程度过滤</a></li>
          {%for i,name in equal_level.items()%}
          <li id="sc-{{i}}" class="filter btn-sc"><a>{{name}}</a></li>
          {% end %}
          <li><a class="head">按是否提交过滤</a></li>
          <li id="submitted-false" class="filter btn-submitted"><a>未提交</a></li>
          <li id="submitted-true" class="filter btn-submitted"><a>已提交</a></li>
          <li><a class="head">按修改情况过滤</a></li>
          <li id="updated-false" class="filter btn-updated"><a>未修改</a></li>
          <li id="updated-true" class="filter btn-updated"><a>已修改</a></li>
          <li id="updated-my" class="filter btn-updated"><a>我的修改</a></li>
          <li id="updated-other" class="filter btn-updated"><a>他人修改</a></li>
          <li id="updated-unauth" class="filter btn-updated"><a>无权修改</a></li>
          <li><a class="head">按校对标记过滤</a></li>
          <li id="is_vague-true" class="filter btn-is_vague"><a>笔画残损</a></li>
          <li id="is_vague-false" class="filter btn-is_vague"><a>笔画完整</a></li>
          <li id="is_deform-true" class="filter btn-is_deform"><a>异形字</a></li>
          <li id="is_deform-false" class="filter btn-is_deform"><a>非异形字</a></li>
          <li id="uncertain-false" class="filter btn-uncertain"><a>确定</a></li>
          <li id="uncertain-true" class="filter btn-uncertain"><a>不确定</a></li>
          <li id="remark-true" class="filter btn-remark"><a>有备注</a></li>
          <li id="remark-false" class="filter btn-remark"><a>无备注</a></li>
        </ul>
      </div><!--m-panel-->
      <div class="char-panel show-mark">
        <div class="char-items slim-bar"></div>
        {% module Pager(pager) %}
      </div><!--char-panel-->
      <div class="column-panel">
        <div class="box-holder slim-bar"></div>
        <div class="btn-group">
          <div id="zoom-in" class="btn-txt icon-zoom-in" title="放大图片[+]"></div>
          <div id="submit-box" class="btn-txt icon-save" title="保存修改[ctrl+s]"></div>
          <div id="zoom-out" class="btn-txt icon-zoom-out" title="缩小图片[-]"></div>
        </div>
      </div><!--column-panel-->
      <div id="panel-region" class="right bd proof-panel">
        {% include com/_char_txt.html %}
      </div><!--char-panel-->
    </div><!--m-body-->

    <div class="m-alert alert alert-info hide" id="m-alert">
      <a class="close">×</a><i class="loading icon-spinner1 animate-spin"></i>
      <strong class="title"></strong><span class="text"></span>
    </div><!--m-alert-->
    <div class="b-alert alert alert-info hide" id="b-alert">
      <a class="close">×</a><i class="loading icon-spinner1 animate-spin"></i>
      <strong class="title"></strong><span class="text"></span>
    </div><!--b-alert-->

    <div class="m-footer">
      <span class="fl">
      </span>
      <span class="center">
      </span>
      <span class="fr">
        <span class="page-info" style="margin-right: 15px">页编码：<span class="page-name"></span></span>
        <span class="char-info">字编码：<span class="char-name">未选中</span></span>
      </span>
    </div><!--m-footer-->

  </div>
</div>
<div class="panel-body" style="padding: 0">
  <div id="helpModal" class="modal help fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档<a class="more-help" href="/help">更多</a></h4>
        </div>
        <div class="modal-body">
          <div class="title">一、简单介绍</div>
          <div class="intro">
            聚类校对，是一种将字框OCR文字相同的单字聚集到一起的校对方式。<br/>
            每个字图都有OCR文字，也有它的校对文字（默认为OCR文字），用户需要检查校对文字是否与字图中的文字一致，如果不一致，则需要进行修改。<br/>
          </div>
          <div class="title">二、校对方法</div>
          <div class="intro">
            1. 逐一点击左上区域的字种（当前字种将会高亮显示）<br/>
            2. 检查左下区域的字图列表，如果发现图中的文字与当前字种不一致，则进行单击<br/>
            2.1. 中间列图区域可以查看该字所在的列图<br/>
            2.2. 右侧工作面板可以查看该字的OCR候选、校对历史<br/>
            2.3. 右侧工作面板下方的请您校对区域，可以修改当前字图的校对文字<br/>
            3. 依次往后翻页，如果发现某一页没有错误，则可以提交任务<br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include com/_base_js.html %}
<script src="{{static_url('js/box/jquery.mapKey.js')}}"></script>
<script src="{{static_url('js/box/raphael.js')}}"></script>
<script src="{{static_url('js/box/raphael.zoom.js')}}"></script>
<script src="{{static_url('js/box/box.base.js')}}"></script>
<script src="{{static_url('js/box/box.cut.js')}}"></script>
<script src="{{static_url('js/box/box.key.js')}}"></script>
<script src="{{static_url('js/char-txt.js')}}"></script>
<script src="{{static_url('js/cluster.js')}}"></script>
<script src="{{static_url('js/btn-cluster.js')}}"></script>
<script>
  // 初始化
  $.charTxt.init({
    readonly: false, showBase: true, showTxtLogs: true, showBoxLogs: true
  });
  $.cluster.init({
    ajax: false,
    colHolder: '.box-holder',
    chars: decodeJSON('{{chars or []}}'),
  });
  togglePanels();
  toggleFilters();
  $(document).ready(function () {
    getAnchor() && $('#' + getAnchor()).find('.char-img').click();
  });

</script>
</body>
</html>
