<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{char['name']}}</title>
  {% include com/_base_css.html %}
  <link href="{{static_url('css/box.css')}}" rel="stylesheet"/>
  <link href="{{static_url('css/char.css')}}" rel="stylesheet">
  <link href="{{static_url('css/char-txt.css')}}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <style>
    #right-region {
      width: 420px;
      max-width: 420px;
    }

    #submit-box {
      right: 435px;
      bottom: 30px;
      z-index: auto;
      position: absolute;
    }
  </style>
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="btn-group back">
          <span class="icon-return-back" onclick="leave()" data-toggle="tooltip" data-placement="bottom" title="返回"></span>
        </div>
        <div class="btn-group title" style="user-select: text">
          <a href="#">{{char['name']}}</a>
        </div>
      </div>
      <div class="center">
        <div id="help" class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助"></div>
        <div id="zoom-in" class="btn-txt icon-zoom-in" data-toggle="tooltip" data-placement="bottom" title="放大图片"></div>
        <div id="zoom-reset" class="btn-txt icon-zoom-back" data-toggle="tooltip" data-placement="bottom" title="原始大小"></div>
        <div id="zoom-out" class="btn-txt icon-zoom-out" data-toggle="tooltip" data-placement="bottom" title="缩小图片"></div>
      </div>
      <div class="right">
      </div>
    </div>
    <div class="m-body flex pfread">
      <div id="left-region" class="left bd">
        <div class="box-holder"></div>
        <button class="btn btn-primary{{'' if box_auth else ' disabled'}}" id="submit-box">确认</button>
      </div>
      <div id="right-region" class="right bd work-panel">
        {% module CharTxt(char, show_base=True) %}
      </div>
    </div>
    <div class="m-alert alert alert-info hide" id="m-alert">
      <a class="close">×</a><i class="loading icon-spinner1 animate-spin"></i>
      <strong class="title"></strong><span class="text"></span>
    </div>
    <div class="m-footer">
      <span class="fl">
        字框权限：<span class="box-auth">{{'读写' if box_auth else '只读'}}</span>
      </span>
      <span class="fr">
        文字权限：<span class="txt-auth">{{'读写' if txt_auth else '只读'}}</span>
      </span>
    </div>
  </div>
</div>
<div class="panel-body" style="padding: 0">
  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档</h4>
        </div>
        <div class="modal-body">
          <div class="title">一、简介</div>
          <div class="intro">
            该页面可以由工作人员以url地址直接打开，具有足够权限的用户可以直接修改字框、校对文字。<br/>
            关于用户权限的说明请看<a href="/article/auth-intro">《如是古籍数字化平台-数据权限和积分机制》</a>
          </div>
          <div class="title">二、操作</div>
          <table class="table">
            <tr>
              <td><i class="icon-zoom-in"></i></td>
              <td>图片放大1.5倍</td>
            </tr>
            <tr>
              <td><i class="icon-zoom-back"></i></td>
              <td>图片恢复原始大小</td>
            </tr>
            <tr>
              <td><i class="icon-zoom-out"></i></td>
              <td>图片缩小0.9倍</td>
            </tr>
            <tr>
              <td>1/2/3/4/5</td>
              <td>图片放大1~5倍</td>
            </tr>
            <tr>
              <td>6/7/8/9</td>
              <td>图片缩小至60%~90%</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% include com/_base_js.html %}
<script src="{{static_url('js/box/jquery.mapKey.js')}}"></script>
<script src="{{static_url('js/box/raphael.js')}}"></script>
<script src="{{static_url('js/box/raphael.zoom.js')}}"></script>
<script src="{{static_url('js/box/box.base.js')}}"></script>
<script src="{{static_url('js/box/box.cut.js')}}"></script>
<script src="{{static_url('js/box/box.page.js')}}"></script>
<script src="{{static_url('js/box/box.key.js')}}"></script>
<script src="{{static_url('js/page-box.js')}}"></script>
<script src="{{static_url('js/char-txt.js')}}"></script>
<script>
  // 公共参数
  let taskType = '';
  let chars = decodeJSON('{{dumps({char["name"]: char})}}');
  let txtTypes = decodeJSON('{{dumps(handler.txt_types)}}');

  // initial
  $.page.init({
    readonly: false,
    curBoxType: 'char',
    holder: '.box-holder',
    showMode: 'height-full',
    imgUrl: '{{page["img_url"]}}',
    width: '{{page.get("width") or 0}}',
    height: '{{page.get("height") or 0}}',
    chars: decodeJSON('{{[char]}}'),
    showImage: true,
    blurImage: 1,
  });
  $.box.bindBaseKeys();
  $.box.switchCurBox($.box.findFirstBox('char'));

  $.box.onBoxChanged(function (box, reason, param) {
    if (reason === 'added') $.box.deleteBox(box, true);
    if (reason === 'deleted') $.box.recoverBox(box, true);
  });

  // 提交字框修改
  $('#submit-box').on('click', function () {
    if ($(this).hasClass('disabled')) return;
    let chars = $.box.exportSubmitData()['op']['chars'];
    if (!chars.length) return bsShow('提示', '没有修改，无需提交', 'info', 1000);
    postApi('/page/char/box/{{char["name"]}}', {data: {pos: chars[0]}}, function (res) {
      bsShow('', '保存成功！', 'info', 1000);
      location.reload();
    });
  });

</script>
</body>
</html>
