<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>聚类校对</title>
  {% include _base_css.html %}
  <link href="{{static_url('css/char.css')}}" rel="stylesheet">
  <link href="{{static_url('assets/modal-effect/css/component.css')}}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body class="widescreen" style="padding-right: 0 !important; height: 100% !important;">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="btn-group back">
          {% set title, img = ('返回', 'icon_back') %}
          <img src="{{static_url('imgs/%s.png' % img)}}" class="btn-img" onclick="leave()" title="{{title}}"/>
        </div>
        <div class="btn-group title">
          聚类校对
        </div>
      </div><!--left-->
      <div class="right">
        <div class="btn-txt glyphicon glyphicon-sort" id="sort-char" title="排序"></div>
        <div class="btn-txt glyphicon glyphicon-filter" data-toggle="modal" data-target="#filterModal" title="过虑"></div>
      </div>
    </div>
    <div class="full-bd flex-content">
      <div class="char-panel">
        <div class="char-items">
          {% for d in docs %}
          <div class="char-item" id="{{d['name']}}" title="{{d['char_id']}} {{d['_id']}}">
            <div class="char-img">
              <img src="{{handler.get_web_img(d['name'], 'char')}}"/>
            </div>
            <div class="char-info">
              <span class="txt">{{d.get('txt', '')}}</span>|<span class="cc">{{d.get('cc', 0)/1000}}</span>
            </div>
          </div>
          {% end %}
        </div>
        {% module Pager(pager) %}
      </div>
      <div class="column-panel">
        <div id="col-holder"></div>
      </div>
      <div class="work-panel">
        {% set c = docs and docs[0] or {}%}
        <input type="hidden" id="currentId">
        <input type="hidden" id="currentName">
        <div class="items txt-list">
          <div class="item cur-meta hide">
            <label class="head">基本信息</label>
            <div class="info">
              {% for f in [i for i in ['name', 'txt', 'normal_txt', 'txt_type'] if c.get(i)]%}
              <label>{{handler.get_field_name(f)}}</label><span>{{c[f]}}</span><br/>
              {% end %}
            </div>
          </div>
          <div class="item ocr-alternatives">
            <label class="head">OCR候选</label>
            <div class="body">
              {% for t in c.get('alternatives', '')%}
              <span class="ocr-txt">{{t}}</span>
              {% end %}
            </div>
          </div>
          <div class="item logs">
            <label class="head">校对记录</label>
            <div class="body">
              {% for log in c.get('txt_logs', '')%}
              <div class="log">
                <div class="log-head"><span class="log-txt">{{log.get('txt') or log.get('normal_txt')}}</span></div>
                <div class="log-meta">
                  {% for f in ['txt', 'normal_txt', 'txt_type', 'remark'] %}
                  {% if log.get(f) %}
                  <label>{{handler.get_field_name(f) or f}}</label><span>{{log[f]}}</span><br/>
                  {% end %}
                  {% end %}
                  <label>校对人</label><span>{{log['username']}}</span><br/>
                  <label>创建时间</label><span>{{to_date_str(log['create_time'])}}</span><br/>
                  <label>更新时间</label><span>{{to_date_str(log['updated_time'])}}</span><br/>
                </div>
              </div>
              {% end %}
            </div>
          </div>
        </div>
        <div class="items user-work">
          <div class="item proof">
            <label class="head">请您校对
              <span class="proof-help glyphicon glyphicon-question-sign"></span>
            </label>
            <div class="body">
              <input class="form-control txt" placeholder="请输入字框中的文字，可带校对符号"/>
              <div class="txt-type">
                {% for k, v in handler.txt_types.items() %}
                <span class="radio-item {{'long' if len(v) > 3 else ''}}">
                  <input type="radio" name="txt-type" value="{{k}}" {{'checked' if k == 'Z' else ''}}>{{v}}
                </span>
                {% end %}
              </div>
              <input class="form-control normal-txt hide" style="display: none" placeholder="如果字框的文字为异体字，请录入正字"/>
              <input class="form-control remark" placeholder="备注，如果有的话"/>
            </div>
            <div class="tail submit" style="margin-top: 5px">
              <span id="bs-alert" class="alert hide">
                <a class="close" onclick="$(this).parent().addClass('hide')">×</a>
                <strong class="title"></strong><span class="text"></span>
              </span>
              <button class="btn btn-primary fr" id="submit-proof">确认</button>
            </div>
          </div>
        </div>
        <div class="item debug">
          <div class="info">字编码：<span class="name"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel-body" style="padding: 0">
  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档<a class="more-help" href="/help">更多</a></h4>
        </div>
        <div class="modal-body">
          <div class="title">一、录入文字</div>
          <div class="intro">
            请录入字框中的文字。以下两种情况都是准确的录入：<br/>
            1. 录入原字，即跟图片中字形完全一样（包括笔画和结构）的文字。如果有多笔少划或者结构上的差异，则不宜直接认为是同一个字。<br/>
            2. 录入正字。如果原字无法打出，且经查字典等工具后也找不到原字，则可以录入对应的正字。<br/>
          </div>
          <div class="title">二、校对符号</div>
          <div class="intro">
            根据录入的文字不同，可能还需要录入以下校对符号。<br/>
            1. 原字。不需要任何校对符号。<br/>
            2. Y，广义异体字。如果录入的是正字，认为图片中的文字是广义异体字，或者不确定是广义还是狭义，请带上Y符号。<br/>
            3. X，狭义异体字。如果录入的是正字，认为图片中的文字是狭义异体字，请带上X符号。<br/>
            4. M，模糊字。如果图片中的字很模糊或有残损，请带上M符号。<br/>
            5. N，不确定。如果不确定自己录入的文字是否就是图片中的字，请带上N符号。<br/>
            6. *，不认识。如果图片中的字完全不认识，请直接录入*。<br/>
            注：最多只能有一个校对符号。
          </div>
          <div class="title">三、简捷办法</div>
          <div class="intro">
            如果图片中的文字很生僻而不易录入，简单起见，可根据字形以及上下文直接判定所属正字而录入正字，然后加上Y，表示广义异体字。
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="filterModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="filterModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <h4 class="col-sm-2 control-label">置信度</h4>
              <div class="col-sm-8">
                <input type="text" class="form-control start" placeholder="起始值" style="float: left;width: 45%">
                <span style="margin-left: 4%; line-height: 32px">~</span>
                <input type="text" class="form-control end" placeholder="终止值" style="float: right;width: 45%">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% include _base_js.html %}
<script src="{{static_url('js/cut/raphael.js')}}"></script>
<script src="{{static_url('js/cut/raphael.zoom.js')}}"></script>
<script>
  var paper, rect;
  var chars = decodeJSON('{{dumps(chars)}}');
  var txtTypes = decodeJSON('{{dumps(handler.txt_types)}}');
  {% set d0 = [c for i, c in enumerate(docs) if c['column']] %}
  var columnBaseUrl = "{{d0 and handler.get_web_img('%s_%s' % (d0[0]['page_name'], d0[0]['column']['cid']), 'column') or ''}}";

  function updateLogs(logs) {
    var html = (logs || []).map(function (log) {
      var head = `<span class="log-txt">${log.txt || log.normal_txt}</span>`;
      var meta = log.txt ? `<label>原字</label><span>${log.txt}</span><br/>` : '';
      meta += log.normal_txt ? `<label>正字</label><span>${log.normal_txt}</span><br/>` : '';
      meta += log.txt_type ? `<label>类型</label><span>${log.txt_type + (txtTypes[log.txt_type] || '')}</span><br/>` : '';
      meta += log.remark ? `<label>备注</label><span>${log.remark}</span><br/>` : '';
      meta += `<label>校对人</label><span>${log.username}</span><br/>`;
      meta += `<label>创建时间</label><span>${toLocalTime(log.create_time)}</span><br/>`;
      meta += `<label>更新时间</label><span>${toLocalTime(log.updated_time)}</span><br/>`;
      return `<div class="log"><div class="log-head">${head}</div><div class="log-meta">${meta}</div></div>`;
    }).join('');
    $('.logs .body').html(html);
    html.length ? $('.logs').removeClass('hide') : $('.logs').addClass('hide');
  }

  function updateColumnImg(ch) {
    var column = ch.column;
    var columnImg = $('#col-holder');
    var ratio = Math.min(columnImg.height() / column.h, 108 / column.w);
    var imgName = ch.page_name + '_' + ch.column.cid;
    rect && rect.remove();
    rect = null;
    if (imgName !== columnImg.attr('data-id')) {
      columnImg.attr('data-id', imgName);
      paper && paper.remove();
      var imgPath = 'columns/' + imgName.split('_').slice(0, -1).join('/') + '/' + imgName + '_' + ch.column.hash + '.jpg';
      var columnUrl = columnBaseUrl.replace(/columns\/.*?.jpg/, imgPath);
      paper = Raphael('col-holder', column.w + 8, column.h + 8).initZoom();
      paper.image(columnUrl, 4, 4, column.w, column.h).initZoom();
      rect = paper.rect(ch.pos.x - column.x + 4, ch.pos.y - column.y + 4, ch.pos.w, ch.pos.h).initZoom()
          .setAttr({stroke: '#158815', 'stroke-width': 0, fill: 'rgba(255, 0, 0, .4)'});
      paper.setZoom(ratio).setSize((column.w + 8) * ratio, (column.h + 8) * ratio);
    } else if (paper) {
      rect = paper.rect(ch.pos.x - column.x + 4, ch.pos.y - column.y + 4, ch.pos.w, ch.pos.h).initZoom(1)
          .setAttr({stroke: '#158815', 'stroke-width': 0, fill: 'rgba(255, 0, 0, .4)'}).setZoom(ratio);
    }
  }

  $('.char-item').on('click', function () {
    var id = $(this).attr('title');
    var ch = id in chars ? chars[id] : {};
    // 更新当前参数
    $('#currentId').val(id);
    $('#currentName').val(ch.name);
    $('.debug .name').text(ch.name);
    $('.char-items .current').removeClass('current');
    $(this).addClass('current');
    // 更新OCR候选
    $('.ocr-alternatives .body').html((ch.alternatives || ch.txt).split('').map(function (c) {
      return '<span class="ocr-txt' + (c === ch.txt ? ' active' : '') + '">' + c + '</span>';
    }));
    // 更新校对历史
    updateLogs(ch.txt_logs);
    // 更新请您校对
    $('.proof .remark').val('');
    $('.proof .txt').val(ch.txt || ch.ocr_txt);
    $('.txt-type .radio-item :radio').each(function (i, item) {
      $(item).val() === ch.txt_type ? $(item).prop('checked', true) : $(item).removeAttr('checked');
    });
    // 更新列图和字框
    updateColumnImg(ch);
  });

  // 初始化
  getAnchor() ? $('#' + getAnchor()).click() : $('.char-item:first').click();

</script>
<script>
  // 离开页面
  window.leave = function () {
    var from = decodeFrom();
    if (from) {
      window.location = from;
    } else {
      window.history.back();
    }
  };

  // 帮助
  $('.proof-help').click(function () {
    $('#helpModal').modal();
  });

  // 排序
  $('#sort-char').on('click', function (e) {
    var inputOptions = {cc_asc: '按置信度升序', cc_desc: '按置信度降序'};
    Swal2.fire({input: 'radio', title: '排序', inputOptions: inputOptions}).then((result) => {
      if (!result.value)
        return;
      if (result.value === 'cc_asc') {
        location.href = setQueryString('order', 'cc');
      }
      if (result.value === 'cc_desc') {
        location.href = setQueryString('order', '-cc');
      }
    });
  });

  // 过滤
  $('#filterModal .modal-confirm').on('click', function () {
    var start = $('#filterModal .start').val();
    var end = $('#filterModal .end').val();
    if (start && start.match(/^(0\.\d+|0|1|1\.0)$/) === null)
      return showTips('提示', '起始值不符合要求');
    if (end && end.match(/^(0\.\d+|0|1|1\.0)$/) === null)
      return showTips('提示', '终止值不符合要求');
    if (!start.length && !end.length)
      return showTips('提示', '请输入起始值或终止值');
    if (start.length && !end.length) {
      location.href = setQueryString('cc', '>=' + start);
    } else if (end.length && !start.length) {
      location.href = setQueryString('cc', '<=' + end);
    } else {
      location.href = setQueryString('cc', start + ',' + end);
    }
  });

  // 点击候选字
  var $txt = $('.proof .txt');
  $(document).on('click', '.ocr-alternatives .ocr-txt', function () {
    var txt = $txt.val();
    $txt.val($(this).text() + txt.replace(/[^A-Z*]/, ''));
    $('.ocr-txt').removeClass('active');
    if ($txt.val().indexOf($(this).text()) >= 0) {
      $(this).addClass('active');
    }
  });
  $(document).on('click', '.log-txt', function () {
    var txt = $txt.val();
    $txt.val($(this).text() + txt.replace(/[^A-Z*]/, ''));
  });

  // 点击文字类型
  $('.txt-type .radio-item').click(function () {
    var $radio = $(this).find(':radio');
    var txtType = $radio.val();
    $radio.prop('checked', true)
    $txt.val($txt.val().replace(/[A-Z*]/g, '') + txtType.replace('Z', ''));
    if (txtType === 'X' || txtType === 'Y') {
      $('.proof .normal-txt').removeClass('hide');
    } else {
      $('.proof .normal-txt').addClass('hide');
    }
  });

  // 提交
  $('#submit-proof').click(function () {
    var id = $('#currentId').val();
    var name = $('#currentName').val();
    var data = {txt: $('.proof .txt').val(), normal_txt: $('.proof .normal-txt').val(), remark: $('.proof .remark').val()};
    postApi('/char/' + id, {data: data}, (res) => {
      updateLogs(res.txt_logs);
      data.txt_logs = res.txt_logs;
      if ($('.proof .txt-type :checked').length)
        data.txt_type = $('.proof .txt-type :checked').val();
      chars[id] = $.extend(chars[id], data);
      location.href = setAnchor(name);
      bsAlert('成功！', '已保存成功', 'success');
    });
  });

</script>

</body>
</html>
