<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{globals().get('page_title') or '聚类校对'}}</title>
  {% include com/_base_css.html %}
  <link href="{{static_url('css/box.css')}}" rel="stylesheet"/>
  <link href="{{static_url('css/cluster.css')}}" rel="stylesheet">
  <link href="{{static_url('css/char-txt.css')}}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <style>
    #panel-region {
      width: 260px;
      max-width: 260px;
    }

    .add-gap li:first-child {
      margin-top: 18px;
    }

    .m-panel {
      display: flex;
      overflow: auto;
      flex-direction: column;
      background: var(--Grey_Content);
      border-right: 1px solid var(--Grey_Light);
    }

    .m-panel .s-count {
      font-size: 75%;
      color: var(--Brown_Darker);
    }

    .panel-list > li > a {
      clear: both;
      color: #333;
      display: block;
      cursor: pointer;
      font-weight: 400;
      padding: 3px 10px;
      white-space: nowrap;
      line-height: 1.42857143;
    }

    .panel-list li:hover {
      background-color: var(--Grey_Line);
    }

    .panel-list li.active a {
      color: green;
      font-weight: bold;
    }

    .panel-list .head {
      font-weight: 500;
      text-align: center;
      color: var(--Brown_Darker);
      background-color: var(--Grey_Lighter);
    }

    .panel-list .divider {
      height: 1px;
      margin: 2px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }

  </style>
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="btn-group back">
          <span class="icon-return-back" onclick="leave()" data-toggle="tooltip" data-placement="bottom" title="返回"></span>
        </div>
        <div class="btn-group title">
          {{globals().get('page_name') or '聚类校对'}}
        </div>
      </div><!--left-->
      <div class="center">
        <div id="help" class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助"></div>
        <div class="btn-group" title="显隐设置">
          <i class="btn-txt icon-eye dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" data-stopPropagation="true">
            <li id="toggle-filter-panel" class="active"><a>显隐排序过滤[1]</a></li>
            <li id="toggle-char-variant" class="active"><a>显隐异体字列表[2]</a></li>
            <li id="toggle-char-cc" class="active"><a>显隐字符置信度[3]</a></li>
            <li id="toggle-column-panel" class="active"><a>显隐中间列图[4]</a></li>
            <li id="toggle-proof-panel" class="active"><a>显隐校对面板[5]</a></li>
          </ul>
        </div>
        <div class="btn-group" data-toggle="tooltip" data-placement="bottom" title="按置信度过滤">
          <i class="btn-txt icon-filter dropdown-toggle" data-toggle="dropdown"></i>
          <div class="dropdown-menu filter-menu" data-stopPropagation="true">
            <div class="menu-title">按置信度过滤</div>
            <li class="divider"></li>
            <div class="input-line">
              <input id="filter-start" type="text" class="form-control input-sm" placeholder="起始值">
              <span>~</span>
              <input id="filter-end" type="text" class="form-control input-sm" placeholder="终止值">
            </div>
            <button id="btn-filter" type="button" class="btn btn-primary btn-sm">确定</button>
          </div>
        </div>
        <div class="btn-group" title="批量修改">
          <i class="btn-txt icon-pencil dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" data-stopPropagation="true">
            <li id="bat-update-txt" class="bat-update" data-value="txt"><a>文字[s]</a></li>
            <li id="bat-update-deform" class="bat-update" data-value="is_deform"><a>异形字[d]</a></li>
            <li id="bat-update-uncertain" class="bat-update" data-value="uncertain"><a>不确定[f]</a></li>
            <li id="bat-update-vague" class="bat-update" data-value="is_vague"><a>笔画残损[e]</a></li>
            <li id="bat-update-remark" class="bat-update" data-value="remark"><a>备注[r]</a></li>
          </ul>
        </div>
        <div id="bat-select" class="btn-txt icon-all-select1" data-toggle="tooltip" data-placement="bottom" title="全部选择[a]"></div>
        <div class="btn-group add-gap hide" data-toggle="tooltip" data-placement="bottom" title="鼠标滑选">
          <i class="btn-txt icon-all-select dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" data-stopPropagation="true">
            <li id="do-multi" class="toggle-multi"><a>正选[v]</a></li>
            <li id="de-multi" class="toggle-multi"><a>反选[z]</a></li>
            <li id="un-multi" class="toggle-multi active"><a>取消[x]</a></li>
          </ul>
        </div>
        <div id="toggle-config" class="btn-txt icon-config" data-toggle="tooltip" data-placement="bottom" title="设置每页字图条数"></div>
        <div class="search">
          <input id="search-variant" type="text" placeholder="搜索异体字">
          <i class="btn-txt icon-search" data-toggle="tooltip" data-placement="bottom" data-html="true" title="搜索异体字<br/>[g:选中]<br/>[回车:搜索]"></i>
        </div>
      </div><!--center-->
      <div class="right">
        {% set mode = globals().get('mode') or '' %}
        {% set readonly = globals().get('readonly') or False %}
        {% set do_task = globals().get('mode') in ['do', 'update', 'nav'] %}
        <div id="task-my-remark" class="btn-txt icon-edit2{{' hide' if not do_task else ''}}" data-toggle="tooltip" data-placement="bottom" title="备注我的任务"></div>
        <div id="task-admin-remark" class="btn-txt icon-edit{{' hide' if mode != 'browse' else ''}}" data-toggle="tooltip" data-placement="bottom" title="备注任务管理"></div>
        <div id="page-submit" class="btn-txt icon-done{{' hide' if not do_task else ''}}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="提交当前页"></div>
        <div id="task-return" class="btn-txt icon-return-task{{' hide' if not do_task else ''}}" data-toggle="tooltip" data-placement="bottom" title="退回任务[ctrl+r]"></div>
        <div id="task-submit-back" class="btn-txt icon-check-outline2 order{{' hide' if readonly or not do_task else ''}}" data-toggle="tooltip" data-placement="bottom" title="提交后转任务大厅[y]"></div>
        <div id="task-submit" class="btn-txt icon-submit my-task order{{' hide' if readonly or not do_task else ''}}" data-toggle="tooltip" data-placement="bottom" title="提交后领新任务[t]"></div>
        <div id="task-prev" class="btn-txt icon-arrow-left {{'hide' if mode not in ['browse', 'nav'] else mode}}" data-toggle="tooltip" data-placement="bottom" title="前一个任务[]]"></div>
        <div id="task-next" class="btn-txt icon-arrow-right {{'hide' if mode not in ['browse', 'nav'] else mode}}" data-toggle="tooltip" data-placement="bottom" title="后一个任务[[]"></div>
      </div><!--right-->
    </div><!--m-header-->

    <div class="m-body flex">
      <div class="m-panel slim-bar hide">
        <ul id="filter-panel" class="panel-list">
          <li><a class="head">排序</a></li>
          <li id="order-cc" class="filter btn-order"><a>按字置信度升序</a></li>
          <li id="order--cc" class="filter btn-order"><a>按字置信度降序</a></li>
          <li id="order-lc" class="filter btn-order"><a>按列置信度升序</a></li>
          <li id="order--lc" class="filter btn-order"><a>按列置信度降序</a></li>
          <li><a class="head">按相同程度过滤</a></li>
          {%for i,name in equal_level.items()%}
          <li id="sc-{{i}}" class="filter btn-sc"><a>{{name}}<sup class="s-count">{{txt_equals.get(i) or 0}}</sup></a></li>
          {% end %}
          <li><a class="head">按是否提交过滤</a></li>
          <li id="submitted-false" class="filter btn-submitted"><a>未提交</a></li>
          <li id="submitted-true" class="filter btn-submitted"><a>已提交</a></li>
          <li><a class="head">按修改情况过滤</a></li>
          <li id="updated-false" class="filter btn-updated"><a>未修改</a></li>
          <li id="updated-true" class="filter btn-updated"><a>已修改</a></li>
          <li id="updated-my" class="filter btn-updated"><a>我的修改</a></li>
          <li id="updated-other" class="filter btn-updated"><a>他人修改</a></li>
          <li id="updated-unauth" class="filter btn-updated"><a>无权修改</a></li>
          <li><a class="head">按校对标记过滤</a></li>
          <li id="is_vague-true" class="filter btn-is_vague"><a>笔画残损</a></li>
          <li id="is_vague-false" class="filter btn-is_vague"><a>笔画完整</a></li>
          <li id="is_deform-true" class="filter btn-is_deform"><a>异形字</a></li>
          <li id="is_deform-false" class="filter btn-is_deform"><a>非异形字</a></li>
          <li id="uncertain-false" class="filter btn-uncertain"><a>确定</a></li>
          <li id="uncertain-true" class="filter btn-uncertain"><a>不确定</a></li>
          <li id="remark-true" class="filter btn-remark"><a>有备注</a></li>
          <li id="remark-false" class="filter btn-remark"><a>无备注</a></li>
        </ul>
      </div><!--m-panel-->
      <div class="char-panel show-mark">
        <div class="txt-kinds slim-bar"></div>
        <div class="variants slim-bar"><span id="add-variant" class="variant">+</span></div>
        <div class="char-items slim-bar"></div>
        {% module Pager(pager) %}
      </div><!--char-panel-->
      <div class="column-panel">
        <div class="box-holder slim-bar"></div>
        <div class="btn-group">
          <div id="zoom-in" class="btn-txt icon-zoom-in" title="放大图片[+]"></div>
          <div id="submit-box" class="btn-txt icon-save" title="保存修改[ctrl+s]"></div>
          <div id="zoom-out" class="btn-txt icon-zoom-out" title="缩小图片[-]"></div>
        </div>
      </div><!--column-panel-->
      <div id="panel-region" class="right bd proof-panel">
        {% include com/_char_txt.html %}
      </div><!--char-panel-->
    </div><!--m-body-->

    <div class="m-alert alert alert-info hide" id="m-alert">
      <a class="close">×</a><i class="loading icon-spinner1 animate-spin"></i>
      <strong class="title"></strong><span class="text"></span>
    </div><!--m-alert-->
    <div class="b-alert alert alert-info hide" id="b-alert">
      <a class="close">×</a><i class="loading icon-spinner1 animate-spin"></i>
      <strong class="title"></strong><span class="text"></span>
    </div><!--b-alert-->

    <div class="m-footer">
      <span class="fl">
        <span class="cluster-info">
          总字数：<span class="char-count">{{char_count}}</span>
          聚类字种：<span class="txt-kinds">{{'、'.join(base_txts)}}</span>
        </span>
      </span>
      <span class="center">
      </span>
      <span class="fr">
        <span class="page-info" style="margin-right: 15px">页编码：<span class="page-name"></span></span>
        <span class="char-info">字编码：<span class="char-name">未选中</span></span>
      </span>
    </div><!--m-footer-->
  </div>
</div>

<div class="panel-body" style="padding: 0">
  <div id="helpModal" class="modal help fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档<a class="more-help" href="/article/help-cluster">更多</a></h4>
        </div>
        <div class="modal-body">
          <div class="title">一、简单介绍</div>
          <div class="intro">
            聚类校对是一种新型的文字校对方式。在经过切分校对和OCR文字识别后，每个字框都有对应的计算机文字，将相同文字的字图聚集
            到一起批量进行校对，就是“聚类校对”。<br/>
            进行聚类的相同文字，即“聚类字种”，它是计算机识别的结果。（在底部状态栏显示）<br/>
            人工校对会对计算机识别的结果进行检查和纠正，校对后的文字类别，即“校对字头”。（中间区域第一行）<br/>
            人工校对时，会逐个选择校对字头进行校对，当前被选中的校对字头，即“当前字头”。（红色背景高亮提示）<br/>
            校对字头下是式当前字头的异体字列表，以便辅助人工进行校对。<br/>
            异体字列表下方是当前字头的所有字图。用户需要检查这些字图中的图片字形与当前校对字头是否一致，不一致，就要进行校正。
          </div>
          <div class="title">二、一般步骤</div>
          <div class="intro">
            1. 逐一点击左上区域的校对字头<br/>
            2. 检查该字头（即当前字头）下的所有字图，如果发现某字图字形与当前字头字形不一致，则进行校正。系统提供以下辅助：<br/>
            （1）右侧校对面板的OCR候选字；<br/>
            （2）当前字头的异体字列表；<br/>
            （3）顶部搜索框，可以检索某字的异体字列表；<br/>
            3. 检查、校对完当前页的所有字图后，提交当前页<br/>
            4. 检查、校对完所有页面后，提交当前任务<br/>
            注：为提高校对效率，系统提供了条件筛选、批量修改等校对辅助功能。
          </div>
          <div class="title">三、按钮说明</div>
          <table class="table">
            <tr>
              <td><i class="icon-eye"></i></td>
              <td>设置页面上各面板的显示或隐藏</td>
            </tr>
            <tr>
              <td><i class="icon-filter"></i></td>
              <td>按字置信度过滤，请输入正确范围的数值（0-1）</td>
            </tr>
            <tr>
              <td><i class="icon-all-select1"></i></td>
              <td>全选当前页字图</td>
            </tr>
            <tr>
              <td><i class="icon-pencil"></i></td>
              <td>批量修改</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="variantModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="variantModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-sm">
        <div class="modal-header"><h4 class="modal-title">新增图片字</h4></div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group" style="text-align: center">
              <div class="col-sm-12"><img id="v-img" src="#"/></div>
              <div class="col-sm-12"><span id="v-img-name"></span></div>
              <input id="v-user-txt" type="hidden">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div id="resultModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="resultModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"><h4 class="modal-title">更新结果</h4></div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="col-sm-12" style="font-style: italic;margin-bottom: 8px;">注：点击确定将刷新页面，可查看更新后的结果，取消则保持页面。</div>
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
        </div>
      </div>
    </div>
  </div>
  {% if hasattr(handler, 'task_type') and handler.task_type %}
  {% module ReturnModal() %}
  {% module TaskRemarkModal() %}
  {% end %}
</div>

{% include com/_base_js.html %}
<script src="{{static_url('js/box/jquery.mapKey.js')}}"></script>
<script src="{{static_url('js/box/raphael.js')}}"></script>
<script src="{{static_url('js/box/raphael.zoom.js')}}"></script>
<script src="{{static_url('js/box/box.base.js')}}"></script>
<script src="{{static_url('js/box/box.cut.js')}}"></script>
<script src="{{static_url('js/box/box.key.js')}}"></script>
<script src="{{static_url('js/char-txt.js')}}"></script>
<script src="{{static_url('js/cluster.js')}}"></script>
<script src="{{static_url('js/btn-cluster.js')}}"></script>
{% include com/_base_task.html %}
<script>
  // 初始化
  let curTxt = '{{cur_txt}}';
  $.cluster.init({
    curTxt: curTxt,
    colHolder: '.box-holder',
    chars: decodeJSON('{{chars or []}}'),
    txtKinds: decodeJSON('{{txt_kinds or []}}'),
  });
  $.charTxt.init({
    readonly: false, showBase: true, showTxtLogs: true, showBoxLogs: true,
    baseFields: 'cc,lc,sc,pc,txt_level,box_level'.split(',')
  });
  togglePanels();
  toggleFilters();

  window.onload = () => {
    // 设置异体字
    $.cluster.loadVariants(curTxt);
    // 更新校对字头
    postApi(trimUrl(location.href), {data: {query: 'txt_kinds'}}, function (res) {
      $.cluster.setTxtKinds(res['txt_kinds']);
    });
    // 设置当前字图
    getAnchor() && $('#' + getAnchor()).find('.char-img').click();
  };

</script>
<script>
  // 配置每页显示字图数量
  let pageSize = '{{handler.page_size}}';
  $('#toggle-config').on('click', function () {
    Swal2.fire({title: '请输入每页字图数量', input: 'text', inputValue: pageSize.trim()}).then((result) => {
      if (result.dismiss || !result.value) return;
      if (!/^\d+$/.test(result.value)) return showTips('提示', '每页条数中请输入数字', 3000);
      if (parseInt(result.value) > 100) return showTips('提示', '每页条数不能超过100', 3000);
      postApi('/session/config', {data: {cluster_page_size: result.value}}, function () {
        pageSize = result.value;
        location.reload();
      });
    });
  });

  // 新增图片字-弹框
  $(document).on('click', '#add-variant', function () {
    if (!$('.txt-kind.current').length) return bsShow('提示', '请选择一个校对字头', 'warning', 2000);
    if (!$('.char-item.current').length) return bsShow('提示', '请选择待新增的图片字', 'warning', 2000);
    $('#v-user-txt').text($('.txt-kind.current').attr('data-value') || $('.txt-kind.current').text().trim());
    $('#v-img').attr('src', $('.char-item.current img').attr('src'));
    $('#v-img-name').text($('.char-name').text());
    $('#variantModal').modal();
  });

  // 新增图片字-提交
  $('#variantModal .modal-confirm').on('click', function () {
    let $this = $(this), $txt = $this.text();
    if ($this.hasClass('disabled')) return;
    $this.addClass('disabled').text('进行中...');
    let data = {img_name: $('#v-img-name').text(), user_txt: $('#v-user-txt').text()};
    postApi('/variant/upsert', {data: data}, function (res) {
      $this.removeClass('disabled').text($txt);
      $.cluster.addVariant(res['v_code']);
      $('#variantModal').modal('hide');
    }, function (err) {
      $this.removeClass('disabled').text($txt);
      showError('失败', err.message, 3000);
    });
  });

  // 删除图片字
  $(document).on('dblclick', '.variant', function () {
    let $this = $(this);
    if (!$this.find('img').length) return;
    showConfirm('提示', '确定删除该图片字吗？', function () {
      postApi('/variant/delete', {data: {v_code: $this.attr('data-value')}}, function (res) {
        $this.remove();
      });
    });
  });

  // 单字提交
  $('.char-txt .btn-submit').on('click', function () {
    let data = $.charTxt.checkAndExport(), $this = $(this);
    if (!data) return;
    $this.addClass('disabled').text('保存中...');
    postApi('/char/txt/' + data.name, {data: data}, function (res) {
      $this.removeClass('disabled').text('确定');
      bsShow('', '已保存成功', 'success', 1000, '#s-alert');
      // 更新当前字图、字图数据、校对面板和锚点
      $('.char-item.current').addClass('changed').find('.txt').text(data.txt);
      $.charTxt.setTxtLogs(res['txt_logs']);
      data['txt_logs'] = res['txt_logs'];
      $.cluster.updateChar(data.name, data);
      $.cluster.addTxtKind(data.txt);
      location.href = setAnchor(data.name);
    }, function (err) {
      $this.removeClass('disabled').text('确定');
      if (err.code === 2007) bsShow('', err.message, 'warning', 1000, '#b-alert');
      else bsShow('失败', err.message, 'warning', 3000, '#b-alert');
    });
  });

  // 批量提交-修改文字
  $.mapKey('s', () => $('#bat-update-txt').click());
  $.mapKey('d', () => $('#bat-update-deform').click());
  $.mapKey('f', () => $('#bat-update-uncertain').click());
  $.mapKey('e', () => $('#bat-update-vague').click());
  $.mapKey('r', () => $('#bat-update-remark').click());
  $('#resultModal .modal-confirm').on('click', () => location.reload());
  $('.bat-update').on('click', function () {
    let names = $.map($('.char-check :checked'), (item) => $(item).parent().parent().attr('id'));
    if (!names.length) return showTips('请选择', '当前没有选中任何记录', 3000);
    let field = $(this).attr('data-value'), name = $.charTxt.fields[field];
    let isTxtField = ['txt', 'remark'].indexOf(field) > -1;
    let info = {title: `是否${name}`, input: 'radio', inputOptions: {1: '是', 0: '否'}};
    if (isTxtField) info = {title: `请输入${name}`, input: 'text', inputValue: $(`#p-${field}`).val()};
    let data = {names: names, field: field, task_type: typeof doTaskType !== 'undefined' ? doTaskType : ''};
    Swal2.fire(info).then((result) => {
      if (result.dismiss || !result.value) return;
      data['value'] = isTxtField ? result.value : result.value === '1';
      postApi('/chars/txt', {data: data}, function (res) {
        if (res.data.level_unqualified || res.data.point_unqualified) {
          $('#resultModal .form-group').html($.map(res.data, function (value, key) {
            return `<h4 class="col-sm-3 control-label">${_t(key)}(${value.length})</h4><div class="col-sm-9">${value.join(', ')}</div>`
          }).join(''));
          $('#resultModal').modal();
        } else {
          location.reload();
        }
      });
    });
  });

  // 提交当前页
  $('#page-submit').on("click", function () {
    let charNames = $.map($('.char-item'), (item) => $(item).attr('id'));
    postApi(location.pathname, {data: {char_names: charNames}}, function () {
      $('.char-item').addClass('submitted');
      bsShow('成功', '页面已提交', 'info', 1000);
      goto(parseInt($('.p-no.active').text().trim()) + 1);
    });
  });

  // 提交任务
  $('#task-submit,#task-submit-back').on('click', function () {
    let $this = $(this), id = $this.attr('id');
    if ($this.hasClass('disabled')) return;
    bsLoading('提交中‧‧‧');
    $this.addClass('disabled');
    postApi(location.pathname, {data: {submit: true}}, function (res) {
      bsShow('成功!', '已提交。', 'info', 1000);
      $this.removeClass('disabled');
      if (id === 'task-submit') {
        pick(gTaskType);
      } else if (id === 'task-submit-back') {
        location.href = '/task/lobby/' + gTaskType;
      }
    }, function (err) {
      $this.removeClass('disabled');
      bsShow('失败', err.message, 'warning', 3000);
    });
  });

</script>
</body>
</html>
