<table class="sty-table">
  <thead>
  <tr>
    <th><input id="check-all" type="checkbox"/></th>
    {% for f in table_fields %}
    <th><span class="sort {{'active' if f['id'] in order else ''}}" title="{{f['id']}}">
      {{f['name']}}<span class="ion-arrow-down-b {{'toggle' if order == f['id'] else ''}}"></span>
    </span></th>
    {% end %}
    <th><span>操作</span></th>
  </tr>
  </thead>
  <tbody>
  {% for d in docs %}
  <tr id="{{d['_id']}}">
    <td><input type="checkbox"/></td>
    {% for f in table_fields %}
    <td class="{{f['id']}}">{{d.get(f['id']) or ''}}</td>
    {% end %}
    <td class="action">
      {% set info = {f: handler.prop(d, f, '') for f in info_fields} %}
      <span class="hide info">{{dumps(info)}}</span>
      {% for a in actions %}
      <a class="{{a['action']}}">{{a['label']}}</a>
      {% end %}
    </td>
  </tr>
  {% end %}
  </tbody>
</table>
