<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{model.page_title}}</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link href="{{static_url('assets/datatables/jquery.dataTables.min.css')}}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
  {% block custom-css %}
  {% end %}
</head>

<body>
<div class="app-main">
  <div class="main">
    {% module ComLeft(title="data-management", sub="") %}
    <div class="main-content">
      {% module ComHead() %}
      <div class="layout">
        <div class="wrapper">
          <div class="sty-list">
            {% block operation %}
            <div class="operation">
              <div class="btn-group">
                {% for o in model.operations %}
                {% if 'data-target' in o %}
                <button type="button" class="btn btn-default waves-effect" data-toggle="modal" data-target="#{{o['data-target']}}">
                  {{o.get('label')}}
                </button>
                {% elif 'url' in o %}
                <button type="button" class="btn btn-default waves-effect">
                  <a href="{{o['url']}}">{{o.get('label')}}</a>
                </button>
                {% else %}
                <button type="button" class="btn btn-default waves-effect" id="{{o.get('operation') or ''}}">
                  {{o.get('label')}}
                </button>
                {% end %}
                {% end %}
              </div>
            </div>
            {% end %}

            {% block search %}
            <div class="search fr">
              <input id="search-input" type="text" placeholder="{{model.search_tip}}" value="{{q}}">
              <i class="ser-btn"></i>
            </div>
            {% end %}

            {% block table %}
            {% module ComTable(docs, model.table_fields, order=order, actions=model.actions) %}
            {% end %}

            {% module Pager(pager) %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-body">
  {% module ComModal(model.modal_fields) %}
  {% block custom-modal %}
  {% end %}
</div>

{% include _base_js.html %}
<script src="{{static_url('js/com-table.js')}}"></script>
{% block custom-js %}
{% end %}

</body>
</html>
