{% if pager_count > 1 %}
<div class="pagers">
  <span>当前&nbsp;<em>{{cur_page}}</em>/{{pager_count}}&nbsp;页，共&nbsp;<em>{{doc_count}}</em>&nbsp;条</span>
  <ul>
    <li><a href="{{uri}}">首页</a></li>
    {% if cur_page > 1 %}
    <li><a href="{{uri+link+'page='+str(cur_page - 1)+'&page_size='+str(page_size)}}"><</a></li>
    {% end %}
    {% for i in display_range %}
    <li class="{{'active' if i == cur_page else '' }}">
      <a href="{{uri+link+'page='+str(i)+'&page_size='+str(page_size)}}">{{i}}</a>
    </li>
    {% end %}
    {% if cur_page < pager_count %}
    <li><a href="{{uri+link+'page='+str(cur_page+1)+'&page_size='+str(page_size)}}">></a></li>
    {% end %}
    <li><a href="{{uri+link+'page='+str(pager_count)+'&page_size='+str(page_size)}}">末页</a></li>
    <li>跳至<input id="page-no" type="text">页</li>
  </ul>
  <span style="margin-left: 15px">每页
  <select name="page-size" id="page-size">
    {% for v in [5,10,50,100,500,1000]%}
    <option value="{{v}}" {{'selected' if page_size == v else ''}}>{{v}}</option>
    {% end %}
  </select>
  条</span>

</div>
{% end %}

<script type="text/javascript">
  $('#page-no').on("keydown", function (event) {
    var keyCode = event.keyCode || event.which;
    if (keyCode === 13) {
      var page = $(this).val().trim();
      page = page > 1 ? page : 1;
      var url = "{{uri+link}}" + "page=" + page + "&page_size=" + "{{page_size}}";
      window.location = url.replace(/&amp;/g, "&");
    }
  });
  $('#page-size').on("change", function () {
    var url = "{{uri+link}}" + "page_size=" + this.value;
    window.location = url.replace(/&amp;/g, "&");
  });
</script>
