{% extends "com/_list.html" %}

{% block custom-css %}
<link href="{{static_url('css/data-list.css')}}" rel="stylesheet"/>
{% end %}

{% block custom-modal %}
<div id="searchModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><h4 class="modal-title">综合检索</h4></div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <h4 class="col-sm-2 control-label">编码</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control uid" value="{{params.get('uid') or ''}}" placeholder="请输入整数编码">
            </div>
            <h4 class="col-sm-2 control-label">异体字</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control txt" value="{{params.get('txt') or ''}}" placeholder="请输入异体字">
            </div>
            <h4 class="col-sm-2 control-label">异体字图</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control img_name" value="{{params.get('img_name') or ''}}" placeholder="请输入异体字的字图编码">
            </div>
            <h4 class="col-sm-2 control-label">所属正字</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control normal_txt" value="{{params.get('normal_txt') or ''}}" placeholder="请输入所属正字">
            </div>
            <h4 class="col-sm-2 control-label">备注</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control remark" value="{{params.get('remark') or ''}}" placeholder="请输入备注">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect reset">重置</button>
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
      </div>
    </div>
  </div>
</div>
{% end %}

{% block custom-js %}
<script>
  /*---综合检索---*/
  let $searchModal = $("#searchModal");
  let inputFields = ['uid', 'txt', 'img_name', 'normal_txt', 'remark'];
  $searchModal.find('.modal-confirm').on('click', function () {
    let search = '';
    inputFields.forEach(function (field) {
      let value = $searchModal.find('.' + field).val();
      if (value)
        search += '&' + field + '=' + value;
    });
    if (!search.length)
      return showTips('提示', '请输入查询条件', 3000);
    location.href = location.pathname + '?' + search.substr(1);
  });

  // 重置检索条件
  $searchModal.find('.reset').on('click', function () {
    inputFields.forEach(function (field) {
      $searchModal.find('.' + field).val('');
    });
  });

  // 合并字图
  $('.operation .btn-merge').click(function () {
    if (!$('table tbody :checked').length)
      return showTips('提示', '当前没有选中任何记录', 3000);
    let normalTxts = $.map($('table tbody :checked'), (item) => $(item).parent().parent().find('.normal_txt').text().trim());
    if ((normalTxts.filter((item) => item !== normalTxts[0])).length)
      return showTips('提示', '当前选中有多个正字。只能合并同一个正字下的字图！', 3000);
    let imgNames = $.map($('table tbody :checked'), (item) => $(item).parent().parent().find('.img_name div:last-child').text());
    if ((imgNames.filter((item) => item === "")).length)
      return showTips('提示', '有些选中项没有字图，无法合并！', 3000);

    imgNames = imgNames.filter((item) => item !== "");
    Swal2.fire({title: '请选择合并到哪个字图', input: 'select', inputOptions: imgNames}).then((result) => {
      if (result.value !== undefined) {
        showConfirm('提示', '请慎重！将修改字数据，同时将删除其它字图', function () {
          postApi('/variant/merge', {data: {img_names: imgNames, main: imgNames[result.value]}}, function (res) {
            showSuccess('成功', '合并成功', 2000);
            refresh(1000);
          }, function (err) {
            showError('失败', err.message, 3000);
          });
        });
      }
    });
  });
</script>
{% end %}
