{% extends "com_list.html" %}
{% block custom-css %}
<style>
  #searchModal .modal-body h4, #searchModal .modal-body div {
    margin: 5px 0;
  }

  .select2-container {
    width: 100% !important;
  }

  .sty-table .action {
    color: #B8906F !important;
    cursor: pointer;
    font-size: 12px;
  }

  .sty-table .action:hover {
    color: #b33c2b !important;
    cursor: pointer;
    font-size: 12px;
  }

  .sty-table .tasks {
    width: 72px;
  }

  .operation .btn-img {
    width: 22px;
    height: 22px;
  }

  #txt-content {
    font-size: 1.2em;
  }
</style>
{% end %}

{% block operation %}
<div class="operation">
  <button class="btn btn-default waves-effect" data-toggle="modal" data-target="#searchModal">综合检索</button>
  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false">
      浏览检索结果 <i class="caret"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a class="task-type" id="btn-nav-box" href="javascript:void(0);">切分数据</a></li>
      <li class="divider"></li>
      <li><a class="task-type" id="btn-nav-text" href="javascript:void(0);">文本数据</a></li>
    </ul>
  </div>
  <button class="btn btn-default waves-effect" id="btn-pub-box">发布切分任务</button>
  <button class="btn btn-default waves-effect" id="btn-pub-text">发布文字任务</button>
  <div style="margin: 5px; display: inline-block; cursor: pointer">
    <img src="{{ static_url('imgs/icon_config.png') }}" class="btn-img" data-toggle="modal" data-target="#configModal" title="配置"/>
    <img src="{{ static_url('imgs/icon_hlp.png') }}" class="btn-img" data-toggle="modal" data-target="#helpModal" title="帮助"/>
  </div>
</div>
{% end %}

{% block table %}
<table class="sty-table">
  <thead>
  <tr>
    <th class="name"><span class="sort {{'active' if 'page_code' in order else ''}}" title="page_code">
      页编码<span class="ion-arrow-down-b {{'toggle' if order == 'page_code' else ''}}"></span>
    </span></th>
    <th class="source"><span class="sort {{'active' if 'source' in order else ''}}" title="source">
      批次<span class="ion-arrow-down-b {{'toggle' if order == 'source' else ''}}"></span>
    </span></th>
    <th class="layout"><span class="sort {{'active' if 'layout' in order else ''}}" title="page_code">
      页面结构<span class="ion-arrow-down-b {{'toggle' if order == 'layout' else ''}}"></span>
    </span></th>
    <th class="uni_sutra_code"><span class="sort {{'active' if 'uni_sutra_code' in order else ''}}" title="uni_sutra_code">
      统一经编码<span class="ion-arrow-down-b {{'toggle' if order == 'uni_sutra_code' else ''}}"></span>
    </span></th>
    <th class="reel_code"><span class="sort {{'active' if 'reel_code' in order else ''}}" title="reel_code">
      卷编码<span class="ion-arrow-down-b {{'toggle' if order == 'reel_code' else ''}}"></span>
    </span></th>
    <th class="tasks"><span>已发布任务</span></th>
    <th class="box_ready"><span class="sort {{'active' if 'box_ready' in order else ''}}" title="box_ready">
      切分已就绪<span class="ion-arrow-down-b {{'toggle' if order == 'box_ready' else ''}}"></span>
    </span></th>
    <th class="level_box"><span class="sort {{'active' if 'level.box' in order else ''}}" title="level.box">
      切分等级<span class="ion-arrow-down-b {{'toggle' if order == 'level.box' else ''}}"></span>
    </span></th>
    <th class="level_text"><span class="sort {{'active' if 'level.text' in order else ''}}" title="level.text">
      文本等级<span class="ion-arrow-down-b {{'toggle' if order == 'level.text' else ''}}"></span>
    </span></th>
    <th class="lock_box"><span class="sort {{'active' if 'lock.box.is_temp' in order else ''}}" title="lock.box.is_temp">
      切分锁<span class="ion-arrow-down-b {{'toggle' if order == 'lock.box.is_temp' else ''}}"></span>
    </span></th>
    <th class="lock_text"><span class="sort {{'active' if 'lock.text.is_temp' in order else ''}}" title="lock.text.is_temp">
      文本锁<span class="ion-arrow-down-b {{'toggle' if order == 'lock.text.is_temp' else ''}}"></span>
    </span></th>
    <th class="blocks"><span>栏框</span></th>
    <th class="columns"><span>列框</span></th>
    <th class="chars"><span>字框</span></th>
    <th class="orders"><span>字序</span></th>
    <th class="ocr"><span>字框OCR</span></th>
    <th class="ocr_col"><span>列框OCR</span></th>
    <th class="text"><span>审定文本</span></th>
    <th><span>操作</span></th>
  </tr>
  </thead>

  <tbody>
  {% for d in docs %}
  <tr id="{{d['_id']}}">
    <td class="name"><a href="/page/{{d.get('name')}}">{{d.get('name')}}</a></td>
    <td class="source">{{d.get('source') or ''}}</td>
    <td class="layout">{{d.get('layout') or ''}}</td>
    <td class="uni_sutra_code">{{d.get('uni_sutra_code') or ''}}</td>
    <td class="reel_code">{{d.get('reel_code') or ''}}</td>
    <td class="tasks">{{'/'.join([handler.get_task_name(p) for p in handler.prop(d, 'tasks', {})])}}</td>
    <td class="box_ready">{{handler.prop(d, 'box_ready', '')}}</td>
    <td class="level_box">{{handler.prop(d, 'level.box', '')}}</td>
    <td class="level_text">{{handler.prop(d, 'level.text', '')}}</td>
    <td class="lock_box action" title="box">{{'解锁' if handler.prop(d, 'lock.box.is_temp') else ''}}</td>
    <td class="lock_text action" title="text">{{'解锁' if handler.prop(d, 'lock.text.is_temp') else ''}}</td>
    <td class="blocks action" title="blocks">{{'修改' if d.get('blocks') else ''}}</td>
    <td class="columns action" title="columns">{{'修改' if d.get('columns') else ''}}</td>
    <td class="chars action" title="chars">{{'修改' if d.get('chars') else ''}}</td>
    <td class="orders action" title="orders">{{'修改' if d.get('chars') else ''}}</td>
    <td class="ocr action" title="ocr">{{'修改' if d.get('ocr') else ''}}</td>
    <td class="ocr_col action" title="ocr_col">{{'修改' if d.get('ocr_col') else ''}}</td>
    <td class="text action">{{'修改' if d.get('text') else ''}}</td>
    <td class="action">
      {% set info = {f: handler.prop(d, f.replace('-', '.'), '') for f in info_fields} %}
      <span class="hide info">{{dumps(info)}}</span>
      <a href="/data/page/{{d.get('_id')}}">详情</a>
      <a class="btn-update">修改</a>
      <a class="btn-remove">删除</a>
    </td>
  </tr>
  {% end %}
  </tbody>
</table>
{% end %}

{% block custom-modal %}
<div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">帮助文档</h4>
      </div>
      <div class="modal-body">
        <div class="title">一、简介</div>
        <div class="intro">
          任务管理模块提供管理员对任务进行操作，包括发布、指派、删除、重新发布等，还可以查看任务，或者查看任务详情、历程。
        </div>
        <div class="title">二、任务操作</div>
        <table class="table">
          <tr>
            <td>批量指派</td>
            <td>将「已发布」的任务指派给某个特定的用户</td>
          </tr>
          <tr>
            <td>批量删除</td>
            <td>可以批量删除所有非「进行中」或「已完成」的任务。如果需要删除「进行中」的任务，请先选择重新发布，然后再删除。</td>
          </tr>
          <tr>
            <td>发布任务</td>
            <td>
              任务相关数据已就绪时，可以发布任务。任务管理员在发布任务时，如果任务没有前置任务，则系统直接发布为「已发布」。如果有前置
              任务，则根据前置任务情况：如果都已完成，则发布为「已发布」；如果有一个前置任务未完成，则发布为「等待前置任务」。该任务的
              前置任务在完成时，系统会自动检查，如果所有前置任务都已完成，则自动发布为「已发布」。
              用户可以在任务大厅领取所有「已发布」的任务。领取后可以进行保存、提交，也可以选择退回任务。
            </td>
          </tr>
          <tr>
            <td>重新发布</td>
            <td>「进行中」的任务可以重新发布。</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="configModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="configModal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">配置列表</h4>
      </div>
      <div class="modal-body">
        <div class="select-column">
          {% for f in table_fields %}
          <label class="checkbox-inline"><input type="checkbox" class="{{f['id']}}" title="{{f['id']}}" checked>{{f['name']}}</label>
          {% end %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">应用</button>
      </div>
    </div>
  </div>
</div>
<div id="txtModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="txtModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">修改文本</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="page-id">
        <input type="hidden" id="page-name">
        <input type="hidden" id="txt-type">
        <textarea id="txt-content" rows="20" class="form-control"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
      </div>
    </div>
  </div>
</div>
<div id="searchModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">综合检索</h4>
      </div>
      <div class="modal-body" style="min-height: 560px">
        <h4 class="col-sm-2 control-label">页编码</h4>
        <div class="col-sm-10">
          <input type="text" class="form-control name" value="{{params.get('name') or ''}}" placeholder="请输入页编码，支持正则式">
        </div>
        <h4 class="col-sm-2 control-label">批次</h4>
        <div class="col-sm-10">
          <input type="text" class="form-control source" value="{{params.get('source') or ''}}" placeholder="请输入批次，支持正则式">
        </div>
        <h4 class="col-sm-2 control-label">页面结构</h4>
        <div class="col-sm-10">
          <input type="text" class="form-control layout" value="{{params.get('layout') or ''}}" placeholder="请输入页面结构，支持正则式">
        </div>
        <h4 class="col-sm-2 control-label">切分等级</h4>
        <div class="col-sm-10">
          <input type="text" class="form-control level_box" value="{{params.get('level_box') or ''}}" placeholder="请输入，支持范围如>5、>=5、<10、<=10等，默认为等于">
        </div>
        <h4 class="col-sm-2 control-label">文本等级</h4>
        <div class="col-sm-10">
          <input type="text" class="form-control level_text" value="{{params.get('level_text') or ''}}" placeholder="请输入，支持范围如>5、>=5、<10、<=10等，默认为等于">
        </div>
        <h4 class="col-sm-2 control-label">切分已就绪</h4>
        <div class="col-sm-10">
          <select class="form-control box_ready">
            {% for v in ['', '是', '否'] %}
            {% if params.get('box_ready', '') == v %}
            <option value="{{v}}" selected="selected">{{v}}</option>
            {% else %}
            <option value="{{v}}">{{v}}</option>
            {% end %}
            {% end %}
          </select>
        </div>
        <h4 class="col-sm-2 control-label">切分校对</h4>
        <div class="col-sm-10">
          <select class="form-control cut_proof">
            {% for k,v in task_statuses.items() %}
            {% if params.get('cut_proof', '') == k %}
            <option value="{{k}}" selected="selected">{{v}}</option>
            {% else %}
            <option value="{{k}}">{{v}}</option>
            {% end %}
            {% end %}
          </select>
        </div>
        <h4 class="col-sm-2 control-label">切分审定</h4>
        <div class="col-sm-10">
          <select class="form-control cut_review">
            {% for k,v in task_statuses.items() %}
            {% if params.get('cut_review', '') == k %}
            <option value="{{k}}" selected="selected">{{v}}</option>
            {% else %}
            <option value="{{k}}">{{v}}</option>
            {% end %}
            {% end %}
          </select>
        </div>
        <h4 class="col-sm-2 control-label">文字校一</h4>
        <div class="col-sm-10">
          <select class="form-control text_proof_1">
            {% for k,v in task_statuses.items() %}
            {% if params.get('text_proof_1', '') == k %}
            <option value="{{k}}" selected="selected">{{v}}</option>
            {% else %}
            <option value="{{k}}">{{v}}</option>
            {% end %}
            {% end %}
          </select>
        </div>
        <h4 class="col-sm-2 control-label">文字校二</h4>
        <div class="col-sm-10">
          <select class="form-control text_proof_2">
            {% for k,v in task_statuses.items() %}
            {% if params.get('text_proof_2', '') == k %}
            <option value="{{k}}" selected="selected">{{v}}</option>
            {% else %}
            <option value="{{k}}">{{v}}</option>
            {% end %}
            {% end %}
          </select>
        </div>
        <h4 class="col-sm-2 control-label">文字校三</h4>
        <div class="col-sm-10">
          <select class="form-control text_proof_3">
            {% for k,v in task_statuses.items() %}
            {% if params.get('text_proof_3', '') == k %}
            <option value="{{k}}" selected="selected">{{v}}</option>
            {% else %}
            <option value="{{k}}">{{v}}</option>
            {% end %}
            {% end %}
          </select>
        </div>
        <h4 class="col-sm-2 control-label">文字审定</h4>
        <div class="col-sm-10">
          <select class="form-control text_review">
            {% for k,v in task_statuses.items() %}
            {% if params.get('text_review', '') == k %}
            <option value="{{k}}" selected="selected">{{v}}</option>
            {% else %}
            <option value="{{k}}">{{v}}</option>
            {% end %}
            {% end %}
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect reset">重置</button>
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
      </div>
    </div>
  </div>
</div>
{% end %}

{% block custom-js %}
<script>
  // 设置显示列
  var allColumns = decodeJSON('{{[f["id"] for f in table_fields]}}');
  var columnsName = location.pathname.replace('/', '_');

  function toggleColumns() {
    var hideColumns = JSON.parse(localStorage.getItem(columnsName) || '[]');
    allColumns.forEach(function (item) {
      if (hideColumns.indexOf(item) !== -1) {
        $('.select-column .' + item).removeAttr('checked');
        $('.sty-table .' + item).addClass('hide');
      } else {
        $('.select-column .' + item).prop('checked', 'true');
        $('.sty-table .' + item).removeClass('hide');
      }
    })
  }

  $(document).ready(function () {
    toggleColumns()
  });

  // 列表配置
  $('#configModal .modal-confirm').click(function () {
    var hideColumns = $.map($('.select-column :not(:checked)'), function (item) {
      return $(item).attr('title');
    });
    localStorage.setItem(columnsName, JSON.stringify(hideColumns));
    toggleColumns();
  });

  // 修改栏框、列框、字框、字序
  $('.blocks, .columns, .chars, .orders').click(function () {
    if (!$(this).text().length)
      return;
    var name = $(this).siblings('.name').text();
    var url = '/data/edit/box/' + name + '?step=' + $(this).attr('title');
    location.href = url + '&from=' + location.pathname + location.search;
  });

  // 解锁
  $('.lock_box, .lock_text').click(function () {
    if (!$(this).text().length)
      return;
    var sharedField = $(this).attr('title');
    var name = $(this).siblings('.name').text();
    var url = '/data/admin/unlock/' + sharedField + '/' + name;
    showConfirm("确定解锁吗？", "页面" + name + "的数据锁将被释放！", function () {
      postApi(url, {data: {}}, function () {
        showSuccess('成功', '已成功解锁。');
        refresh(1000);
      }, function (error) {
        showError('失败', error.message);
      });
    });
  });

  // 修改文本
  var $txtModal = $('#txtModal');
  $('.ocr, .ocr_col').click(function () {
    if (!$(this).text().length)
      return;
    var id = $(this).parent().attr('id');
    var type = $(this).attr('title');
    var data = getData(id);
    var trans = {ocr: '字框OCR文本', ocr_col: '列框OCR文本'};
    $txtModal.find('#page-id').val(data._id);
    $txtModal.find('#page-name').val(data.name);
    $txtModal.find('#txt-type').val($(this).attr('title'));
    $txtModal.find('.modal-title').html(trans[type]);
    $txtModal.find('#txt-content').html(data[type].replace(/\|/g, '\n'));
    $txtModal.modal();
  });

  $txtModal.find('.modal-confirm').click(function () {
    var _id = $txtModal.find('#page-id').val();
    var name = $txtModal.find('#page-name').val();
    var txtType = $txtModal.find('#txt-type').val();
    var txtContent = $txtModal.find('#txt-content').val();
    var data = {name: name, _id: _id};
    data[txtType] = txtContent.replace(/\n/g, '\|');
    postApi('/data/page', {data: data}, function () {
      showSuccess('成功', '已成功修改。');
      refresh(1000);
    }, function (error) {
      showError('失败', error.message);
    });
  });

  // 综合检索
  $searchModal = $("#searchModal");
  $searchModal.find('.modal-confirm').click(function () {
    var search = '';
    var fields = ['name', 'source', 'layout', 'level_box', 'level_text'];
    fields.forEach(function (field) {
      var value = $searchModal.find('.' + field).val();
      if (value)
        search += '&' + field + '=' + value;
    });
    fields = ['box_ready', 'cut_proof', 'cut_review', 'text_proof_1', 'text_proof_1', 'text_proof_3', 'text_review'];
    fields.forEach(function (field) {
      var value = $searchModal.find('.' + field + ' :selected').val();
      if (value)
        search += '&' + field + '=' + value;
    });
    if (!search.length)
      return showWarning('请输入查询条件');
    location.href = location.pathname + '?' + search.substr(1);
  });

  // 重置
  $searchModal.find('.reset').click(function () {
    var fields = ['name', 'source', 'layout', 'level_box', 'level_text'];
    fields.forEach(function (field) {
      $searchModal.find('.' + field).val('');
    });
    fields = ['box_ready', 'cut_proof', 'cut_review', 'text_proof_1', 'text_proof_1', 'text_proof_3', 'text_review'];
    fields.forEach(function (field) {
      $searchModal.find('.' + field + ' :selected').removeAttr('selected');
    });
  });

  // 浏览切分数据
  $('#btn-nav-box').click(function () {
    location.href = '/data/page/box' + location.search;
  });

  // 浏览文本数据
  $('#btn-nav-text').click(function () {
    location.href = '/data/page/text' + location.search;
  });

  // 发布切分任务
  $('#btn-pub-box').click(function () {
    location.href = '/data/page/box?op=pub';
  });


</script>
{% end %}

