<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>藏经图片的导入和OCR测试</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link href="{{ static_url('css/helper.css') }}" rel="stylesheet" type="text/css"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <style>
    .content {
      width: 820px;
      margin: 45px auto;
    }

    .content .title {
      font-size: 1.2em;
      margin: 10px 0;
    }

    .list li {
      float: left;
      box-sizing: border-box;
      text-align: center;
    }

    .list li:nth-child(2n+2) {
      margin-right: 0;
      float: right;
    }

    .list p {
      line-height: 42px;
      position: relative;
    }

    .list label {
      color: #13171c;
      font-size: 16px;
      font-weight: normal;
    }

  </style>

</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="back">
        <a href="/">
          <img src="{{ static_url('imgs/home.png') }}" class="btn-img"/>
        </a>
      </div>
      <div class="title">藏经图片的导入和OCR测试</div>
      <div class="right" style="margin: 2px 8px">
      </div>
    </div>

    <div class="content">
      <div class="title">第一步：批量导入藏经图</div>
      <form class="form-inline" action="#">
        <div class="form-group">
          <label for="user_code">网盘用户名</label>
          <input type="text" class="form-control" id="user_code">
        </div>
        <div class="form-group">
          <label for="tripitaka_code">藏别</label>
          <input type="text" class="form-control" id="tripitaka_code">
        </div>
        <div class="form-group">
          <label for="folder">目录名</label>
          <input type="email" class="form-control" id="folder">
        </div>
        <button type="submit" class="btn btn-default" id="btn-import-images">导入</button>
        <p id="import-images-result" class="error"></p>
      </form>

      <div class="title">第二步：生成藏册页数据（启动OCR为可选）</div>
      <form class="form-inline">
        <div class="form-group">
          <label for="h_num">水平线数</label>
          <input type="text" class="form-control" id="h_num" placeholder="可选">
        </div>
        <div class="form-group">
          <label for="v_num">竖直线数</label>
          <input type="text" class="form-control" id="v_num" placeholder="可选">
        </div>
        <button type="submit" class="btn btn-default" id="btn-import-meta">导入</button>
        <p id="import-meta-result" class="error"></p>
      </form>
    </div>
  </div>

</div>

{% include _base_js.html %}

<script>
  $('#btn-import-images').click(function () {
    var user_code = $('#user_code').val();
    var tripitaka_code = $('#tripitaka_code').val();
    var folder = $('#folder').val();

    postApi('/data/import_images', {data: {user_code: user_code, tripitaka_code: tripitaka_code, folder: folder}},
        function (res) {
          $('#import-images-result').text('复制了' + res.names.length + '个图片：' + res.names.slice(0, 5).join(', '));
        }, function (error) {
          $('#import-images-result').text('出错：' + error.message);
        });
  });

  $('#btn-import-meta').click(function () {
    var user_code = $('#user_code').val();
    var tripitaka_code = $('#tripitaka_code').val();

    postApi('/data/import_meta', {data: {user_code: user_code, tripitaka_code: tripitaka_code,
          h_num: $('#h_num').val(), v_num: $('#v_num').val()}},
        function (res) {
          $('#import-meta-result').text('导入了' + res.new_pages.length + '个页面：' + res.new_pages.slice(0, 5).join(', '));
        }, function (error) {
          $('#import-meta-result').text('出错：' + error.message);
        });
  });

</script>

</body>

</html>
