<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  {% include _base_meta.html %}
  <link href="{{static_url('assets/datatables/jquery.dataTables.min.css')}}" rel="stylesheet"/>
  {% include _base_css.html %}
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
<div class="app-main">
  <div class="main">
    {% module ComLeft(title="data-management", sub="") %}
    <div class="main-content">
      {% module ComHead() %}
      <div class="layout">
        <div class="wrapper">
          {% block com-table %}
          {% module ComTable(docs, fields, q=q, order=order, pager=pager, operations=operations, actions=actions, search_tip=search_tip) %}
          {% end %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-body">
  <div id="uploadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">批量上传</h4>
        </div>
        <div class="modal-body">
          <i>请上传CSV文件，一次上传一个，文件大小不超过10MB</i>
          <input type="file" class="form-control" id="upload" style="padding:4px 4px"/>
        </div>
        <div class="modal-footer">
          <img src="{{ static_url('imgs/loading.gif') }}" class="btn-img hide" id="progress" title="进行中" style="margin: 6px 6px;"/>
          <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">上传</button>
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}
<script src="{{static_url('js/com-table.js')}}"></script>
{% block custom-js %}
{% end %}

</body>
</html>
