<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>卷数据管理</title>
  {% include _base_meta.html %}
  <!-- DataTables -->
  <link href="{{ static_url('assets/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css"/>
  <!-- Custom Files -->
  <link href="{{ static_url('css/helper.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css"/>
  {% include _base_css.html %}
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<div class="app-main">
  <div class="main">
    <!--模拟出左边菜单，方便写样式-->
    {% module CommonLeft(title="data-management", sub="" ) %}
    <div class="main-content">
      {% module CommonHead() %}
      <div class="single-page-con">
        <div class="layout">
          <div class="layout-content">
            <div class="collate-history">
              <div class="wrapper">
                <div class="collate-list">
                  <div class="operation">
                    <span id="btn-batch-delete">批量删除</span>
                    <span><a class="download-template" href="/static/template/reel-sample.csv">下载模板</a></span>
                    <div class="btn-group dropdown">
                      <button type="button" class="btn btn-default waves-effect">新增卷</button>
                      <button type="button" class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false"><i class="caret"></i></button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a class="btn-add" id="btn-add">新增数据</a></li>
                        <li class="divider"></li>
                        <li><a class="btn-upload" id="btn-upload">批量上传</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="search fr">
                    <input id="search-input" type="text" placeholder="请搜索经名、经编码和统一编码" value="{{q}}">
                    <i class="ser-btn"></i>
                  </div>
                  <table style="border-collapse:separate; border-spacing:0px 10px;" class="sty-table">
                    <thead>
                    <tr>
                      <th><input id="check-all" type="checkbox"/></th>
                      <th><span>统一编码</span></th>
                      <th><span>经编码</span></th>
                      <th><span>经名</span></th>
                      <th><span>卷编码</span></th>
                      <th><span>卷序号</span></th>
                      <th><span>起始册</span></th>
                      <th><span>起始页码</span></th>
                      <th><span>终止册</span></th>
                      <th><span>结束页码</span></th>
                      <th><span>备注</span></th>
                      <th><span>操作</span></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for r in reels %}
                    <tr id="{{r.get('_id')}}">
                      <td><input type="checkbox"/></td>
                      <td>{{r.get('unified_sutra_code') or ''}}</td>
                      <td>{{r.get('sutra_code') or ''}}</td>
                      <td>{{r.get('sutra_name') or ''}}</td>
                      <td>{{r.get('reel_code') or ''}}</td>
                      <td>{{r.get('reel_no') or ''}}</td>
                      <td>{{r.get('start_volume') or ''}}</td>
                      <td>{{r.get('start_page') or ''}}</td>
                      <td>{{r.get('end_volume') or ''}}</td>
                      <td>{{r.get('end_page') or ''}}</td>
                      <td>{{r.get('remark') or ''}}</td>
                      <td>
                        <a class="btn-delete">删除</a>
                        <a class="btn-update">修改</a>
                      </td>
                    </tr>
                    {% end %}
                    </tbody>
                  </table>
                </div>
                {% module Pager(pager) %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT Modals -->
<div class="panel-body" style="padding: 0;">
  <div id="updateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">新增卷数据</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <input type="text" class="form-control hide" value="" id="_id">
            <div class="form-group">
              <label class="col-sm-2 control-label">统一编码</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="unified_sutra_code">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">经编码</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="sutra_code">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">经名</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="sutra_name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">卷编码</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="reel_code">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">卷序号</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="reel_no">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">起始册</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="start_volume">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">起始页码</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="start_page">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">终止册</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="end_volume">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">终止页码</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="end_page">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">备注</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="remark">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal" id="modal_confirm">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Upload Modal -->
<div class="panel-body" style="padding-bottom: 2px;">
  <div id="uploadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">批量上传</h4>
        </div>
        <div class="modal-body">
          <i>支持上传CSV格式文件，一次最多上传1个文件，文件大小不超过10MB</i>
          <input type="file" class="form-control" id="upload" style="padding:4px 4px"/>
        </div>
        <div class="uploading hide">上传中<span class="tick"></span></div>
        <div class="uploaded hide">
          <div class="title">上传成功</div>
          <div class="message"></div>
          <div class="errors">
            <ul></ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light" id="upload_submit">上传</button>
          <button type="button" class="btn btn-primary waves-effect waves-light hide" id="confirm">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}
<script type="text/javascript" src="{{ static_url('js/data.js') }}"></script>

<script>

  // 新增-弹框
  $('#btn-add').click(function () {
    $('#updateModal').modal();
    $("#updateModal .modal-title").html('新增卷数据');
    $('#_id').val('');
    $('#unified_sutra_code').val('');
    $('#sutra_code').val('');
    $('#sutra_name').val('');
    $('#reel_code').val('');
    $('#reel_no').val('');
    $('#start_volume').val('');
    $('#start_page').val('');
    $('#end_volume').val('');
    $('#end_page').val('');
    $('#remark').val('');
  });

  // 修改-弹框
  $('.btn-update').click(function () {
    var children = $(this).parents('tr').find('td');
    $('#updateModal').modal();
    $("#updateModal .modal-title").html('修改卷数据');
    $('#_id').val($(this).parents('tr').attr('id'));
    $('#unified_sutra_code').val(children.eq(1).text());
    $('#sutra_code').val(children.eq(2).text());
    $('#sutra_name').val(children.eq(3).text());
    $('#reel_code').val(children.eq(4).text());
    $('#reel_no').val(children.eq(5).text());
    $('#start_volume').val(children.eq(6).text());
    $('#start_page').val(children.eq(7).text());
    $('#end_volume').val(children.eq(8).text());
    $('#end_page').val(children.eq(9).text());
    $('#remark').val(children.eq(10).text());
  });

  // 修改-提交
  $("#modal_confirm").click(function () {
    var data = {
      unified_sutra_code: $('#unified_sutra_code').val(),
      sutra_code: $('#sutra_code').val(),
      sutra_name: $('#sutra_name').val(),
      reel_code: $('#reel_code').val(),
      reel_no: $('#reel_no').val(),
      start_volume: $('#start_volume').val(),
      start_page: $('#start_page').val(),
      end_volume: $('#end_volume').val(),
      end_page: $('#end_page').val(),
      remark: $('#remark').val()
    };
    if ($('#_id').val().trim().length !== 0) {
      data['_id'] = $('#_id').val();
    }
    postApi('/data/reel', {data: data}, function (data) {
      showSuccess('成功', '数据已提交。');
      setTimeout(function () {
        window.location.reload();
      }, 1500);
    }, function (error) {
      return showError('提交失败', error.message);
    });
    $('#updateModal').modal('hide');
  });

</script>

</body>
</html>
