{% extends "_list.html" %}
{% block custom-css %}
<link href="{{static_url('css/task-admin.css')}}" rel="stylesheet"/>
<style>
  .sty-table .tasks {
    width: 180px;
  }

  td.remark {
    font-size: 12px;
  }

  .select2-container {
    width: 100% !important;
  }

  #searchModal .modal-body h4, #searchModal .modal-body div {
    margin: 5px 0;
  }

  #txt-content {
    font-size: 1.2em;
  }
</style>
{% end %}

{% block custom-modal %}
<div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">帮助文档</h4>
      </div>
      <div class="modal-body">
        <div class="title">一、简介</div>
        <div class="intro">
          页数据管理模块提供各种的页面的管理操作，包括批量删除、查找重复、更新分类、综合检索、发布任务等，
          还可以针对具体的页面进行浏览、查看详情、更新基础数据、删除等操作。<br/>
          注：浏览指的是针对检索结果的浏览，浏览时可以对页面进行具体的操作。
        </div>
        <div class="title">二、操作</div>
        <table class="table">
          <tr>
            <td>批量删除</td>
            <td>批量删除选中的页面</td>
          </tr>
          <tr>
            <td>查找重复</td>
            <td>查找页编码重复的页面</td>
          </tr>
          <tr>
            <td>更新分类</td>
            <td>批量更新选中页面的分类。对页面分类后，以便进行管理</td>
          </tr>
          <tr>
            <td>综合检索</td>
            <td>
              可以对页面的各个字段进行检索。尤其值得注意的是，综合检索设置了“切分任务”、“文字任务”两种字段，包括“全未发布”、
              “已发布”、“全部完成”。比如要检索所有未发布切分任务的页面，就可以通过这个字段进行。
            </td>
          </tr>
          <tr>
            <td>发布任务</td>
            <td>
              如果任务没有前置任务，则系统直接发布为「已发布」。如果有前置任务，则根据前置任务情况：如果都已完成，则发布为「已发布」；
              如果有一个前置任务未完成，则发布为「等待前置任务」。<br/>
              该任务的前置任务在完成时，系统会进行检查，如果所有前置任务都已完成，则系统将自动设置为「已发布」。<br/>
              如果任务数据未就绪或已经发布，则发布失败。已退回的任务可以重新发布。
            </td>
          </tr>
          <tr>
            <td>浏览</td>
            <td>逐条浏览检索结果，在浏览页面时可以对页面进行各种操作</td>
          </tr>
          <tr>
            <td>详情</td>
            <td>查看页面详情</td>
          </tr>
          <tr>
            <td>更新</td>
            <td>更新页面基础信息</td>
          </tr>
          <tr>
            <td>删除</td>
            <td>删除页面</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="searchModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header"><h4 class="modal-title">综合检索</h4></div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <h4 class="col-sm-2 control-label">页编码</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control name" value="{{params.get('name') or ''}}" placeholder="请输入页编码">
            </div>
            <h4 class="col-sm-2 control-label">分　类</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control source" value="{{params.get('source') or ''}}" placeholder="请输入分类">
            </div>
            <h4 class="col-sm-2 control-label">文　本</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control txt" value="{{params.get('txt') or ''}}" placeholder="请输入文本">
            </div>
            <h4 class="col-sm-2 control-label">切分备注</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control remark-box" value="{{params.get('remark-box') or ''}}" placeholder="请输入备注">
            </div>
            <h4 class="col-sm-2 control-label">文字备注</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control remark-text" value="{{params.get('remark-text') or ''}}" placeholder="请输入备注">
            </div>
            <h4 class="col-sm-2 control-label">切分等级</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control level-box" value="{{params.get('level-box') or ''}}" placeholder="请输入，支持范围如>5、>=5、<10、<=10等，默认为等于">
            </div>
            <h4 class="col-sm-2 control-label">文本等级</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control level-text" value="{{params.get('level-text') or ''}}" placeholder="请输入，支持范围如>5、>=5、<10、<=10等，默认为等于">
            </div>
            <h4 class="col-sm-2 control-label">切分校对</h4>
            <div class="col-sm-10">
              <select class="form-control cut_proof">
                {% for k,v in task_statuses.items() %}
                {% if params.get('cut_proof', '') == k %}
                <option value="{{k}}" selected="selected">{{v}}</option>
                {% else %}
                <option value="{{k}}">{{v}}</option>
                {% end %}
                {% end %}
              </select>
            </div>
            <h4 class="col-sm-2 control-label">切分审定</h4>
            <div class="col-sm-10">
              <select class="form-control cut_review">
                {% for k,v in task_statuses.items() %}
                {% if params.get('cut_review', '') == k %}
                <option value="{{k}}" selected="selected">{{v}}</option>
                {% else %}
                <option value="{{k}}">{{v}}</option>
                {% end %}
                {% end %}
              </select>
            </div>
            <h4 class="col-sm-2 control-label">文字校一</h4>
            <div class="col-sm-10">
              <select class="form-control text_proof_1">
                {% for k,v in task_statuses.items() %}
                {% if params.get('text_proof_1', '') == k %}
                <option value="{{k}}" selected="selected">{{v}}</option>
                {% else %}
                <option value="{{k}}">{{v}}</option>
                {% end %}
                {% end %}
              </select>
            </div>
            <h4 class="col-sm-2 control-label">文字校二</h4>
            <div class="col-sm-10">
              <select class="form-control text_proof_2">
                {% for k,v in task_statuses.items() %}
                {% if params.get('text_proof_2', '') == k %}
                <option value="{{k}}" selected="selected">{{v}}</option>
                {% else %}
                <option value="{{k}}">{{v}}</option>
                {% end %}
                {% end %}
              </select>
            </div>
            <h4 class="col-sm-2 control-label">文字校三</h4>
            <div class="col-sm-10">
              <select class="form-control text_proof_3">
                {% for k,v in task_statuses.items() %}
                {% if params.get('text_proof_3', '') == k %}
                <option value="{{k}}" selected="selected">{{v}}</option>
                {% else %}
                <option value="{{k}}">{{v}}</option>
                {% end %}
                {% end %}
              </select>
            </div>
            <h4 class="col-sm-2 control-label">文字审定</h4>
            <div class="col-sm-10">
              <select class="form-control text_review">
                {% for k,v in task_statuses.items() %}
                {% if params.get('text_review', '') == k %}
                <option value="{{k}}" selected="selected">{{v}}</option>
                {% else %}
                <option value="{{k}}">{{v}}</option>
                {% end %}
                {% end %}
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect reset">重置</button>
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
      </div>
    </div>
  </div>
</div>
<div id="publishModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="publishModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">发布任务/<span id="task-name"></span></h4>
      </div>
      <div class="modal-body">
        <input class="task_type" type="hidden" value="">
        <h4 class="control-label">任务批次</h4>
        <div>
          <input type="text" class="form-control batch" placeholder="请输入批次号">
        </div>
        <h4 class="control-label">选择前置任务</h4>
        <div class="pre_tasks">
          {% for t, v in Task.task_types.items() %}
          {% if handler.is_mod_enabled(v['name']) %}
          <label class="checkbox-inline">
            <input type="checkbox" class="{{t}}" title="{{t}}">{{v['name']}}
          </label>
          {% end %}
          {% end %}
        </div>
        <h4 class="control-label steps-label">选择子步骤</h4>
        <div class="steps">
        </div>
        <h4 class="control-label">选择优先级</h4>
        <div class="priority">
          <input type="radio" name="priority" value="3" style="margin-right: 10px">高
          <input type="radio" name="priority" value="2" style="margin: 0 10px" checked>中
          <input type="radio" name="priority" value="1" style="margin: 0 10px">低
        </div>
        <h4 class="control-label">任务已完成时，是否重新发布？</h4>
        <div class="force">
          <input type="radio" name="force" value="否" style="margin: 0 10px 0 0" checked>否
          <input type="radio" name="force" value="是" style="margin: 0 10px">是
        </div>
        <div class="modal-tab">
          <h4 class="control-label">选择待发布的任务</h4>
          <ul class="nav nav-tabs" id="tabContent">
            <li class="active"><a href="#source-select" data-toggle="tab">按选中页码</a></li>
            <li class="hide"><a href="#source-search" data-toggle="tab">按检索参数</a></li>
            <li><a href="#source-file" data-toggle="tab">上传编码文件</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="source-select">
              <textarea type="text" class="form-control" id="doc-ids" placeholder="所选中的页码"></textarea>
            </div>
            <div class="tab-pane hide" id="source-search">
              <input type="text" class="form-control" id="search-param" placeholder="检索参数"/>
            </div>
            <div class="tab-pane" id="source-file">
              <i>请选择CSV、TXT或JSON格式的文件，大小不超过10M</i>
              <input type="file" class="form-control" id="upload" accept=".txt,.csv" style="padding:4px 4px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-default waves-effect waves-light modal-refresh">确定</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">发布</button>
      </div>
    </div>
  </div>
</div>
<div id="publishResultModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="publishResultModal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="margin: 0 10px">
      <div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">发布结果</h4>
      </div>
      <div class="modal-body">
        <table class="table">
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal">继续发布</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">查看结果</button>
      </div>
    </div>
  </div>
</div>
{% end %}

{% block custom-js %}
<script src="{{static_url('js/l10n.js')}}"></script>
<script>
  // 更新分类
  $('.operation .bat-source').click(function () {
    var ids = $.map($('table tbody :checked'), (item) => $(item).parent().parent().attr('id'));
    if (!ids.length)
      return showWarning('请选择', '当前没有选中任何记录。');
    Swal2.fire({title: '请输入分类', input: 'text', showLoaderOnConfirm: true}).then((result) => {
      if (result.value) {
        postApi('/data/page/source', {data: {_ids: ids, source: result.value}}, () => location.reload());
      }
    });
  });

  // 生成字表
  $('.operation .bat-export-char').click(function () {
    var pageNames = $.map($('table tbody :checked'), (item) => $(item).parent().parent().find('.name').text().trim());
    if (!pageNames.length)
      return showWarning('请选择', '当前没有选中任何记录。');
    swConfirm('', `将对选中的${pageNames.length}条记录生成字表`, function () {
      postApi('/data/page/export_char', {data: {page_names: pageNames}}, (res) => {
        showSuccess('成功', '已启动脚本，请稍后刷新页面查看。');
      });
    });
  });

  // 查找重复
  $('.operation .btn-duplicate').click(function () {
    location.href = location.pathname + '?duplicate=true';
  });


  // 修改字框
  $('.action .btn-box').click(function () {
    var name = $(this).parent().parent().find('.name').text();
    var url = '/page/cut_edit/' + name;
    location.href = url + '?from=' + encodeFrom();
  });

  // 修改字序
  $('.action .btn-order').click(function () {
    var name = $(this).parent().parent().find('.name').text();
    var url = '/page/cut_edit/' + name;
    location.href = url + '?step=order&from=' + encodeFrom();
  });

  // 解锁
  $('.lock-box a, .lock-text a').click(function () {
    if (!$(this).text().length)
      return;
    var node = $(this).parent();
    var name = node.siblings('.name').text().trim();
    var sharedField = node.attr('class').indexOf('box') !== -1 ? 'box' : 'text';
    var url = '/data/admin/unlock/' + sharedField + '/' + name;
    swConfirm("确定解锁吗？", "页面" + name + "的数据锁将被释放！", function () {
      postApi(url, {data: {}}, function () {
        showSuccess('成功', '已成功解锁。');
        refresh(1000);
      }, function (error) {
        showError('失败', error.message);
      });
    });
  });

  // 详情
  $('.action .btn-detail').click(function () {
    location.href = '/data/page/info/' + $(this).parent().siblings('.name').text();
  });

  // 浏览
  $('.action .btn-nav').click(function () {
    var name = $(this).parent().siblings('.name').text();
    location.href = '/page/browse/' + name + location.search;
  });

</script>
<script>
  /*---综合检索---*/
  var $searchModal = $("#searchModal");
  var inputFields = ['name', 'source', 'txt', 'remark-box', 'remark-text', 'level-box', 'level-text'];
  var selectFields = ['cut_proof', 'cut_review', 'text_proof_1', 'text_proof_1', 'text_proof_3', 'text_review'];
  $searchModal.find('.modal-confirm').click(function () {
    var search = '';
    inputFields.forEach(function (field) {
      var value = $searchModal.find('.' + field).val();
      if (value)
        search += '&' + field + '=' + value;
    });
    selectFields.forEach(function (field) {
      var value = $searchModal.find('.' + field + ' :selected').val();
      if (value)
        search += '&' + field + '=' + value;
    });
    if (!search.length)
      return showWarning('请输入查询条件');
    location.href = location.pathname + '?' + search.substr(1);
  });

  // 重置检索条件
  $searchModal.find('.reset').click(function () {
    inputFields.forEach(function (field) {
      $searchModal.find('.' + field).val('');
    });
    selectFields.forEach(function (field) {
      $searchModal.find('.' + field + ' :selected').removeAttr('selected');
    });
  });

</script>
<script>
  /*---发布任务---*/
  var docs = [];
  var taskType = '';
  var $publishModal = $('#publishModal');
  var $publishResultModal = $('#publishResultModal');
  var taskTypes = decodeJSON('{{Task.task_types}}');
  var publishFields = [
    {id: 'task_type'}, {id: 'batch'}, {id: 'pre_tasks', input_type: 'checkbox'},
    {id: 'steps', input_type: 'checkbox'}, {id: 'priority', input_type: 'radio'},
    {id: 'force', input_type: 'radio'}
  ];
  // 弹框
  $('.btn-publish a').click(function () {
    taskType = $(this).attr('title');
    $publishModal.find('.task_type').val(taskType);
    $publishModal.find('#task-name').text(taskTypes[taskType].name);
    // 前置任务
    var preTasks = taskTypes[taskType].pre_tasks || [];
    preTasks.forEach(function (item) {
      $('.pre_tasks .' + item).prop('checked', true);
    });
    // 子步骤
    var steps = taskTypes[taskType].steps || [];
    if (steps.length)
      $publishModal.find('.steps-label').removeClass('hide');
    else
      $publishModal.find('.steps-label').addClass('hide');
    var html = $.map(steps, function (item) {
      return '<label class="checkbox-inline"><input type="checkbox" title="' + item[0] + '" checked>' + item[1] + '</label>';
    }).join('');
    $publishModal.find('.steps').html(html);
    // 检索参数
    $publishModal.find('#search-param').val(location.search);
    // 选中页码
    var docIds = $.map($('table tbody :checked'), function (item) {
      return $(item).parent().parent().find('.name').text().trim();
    });
    $publishModal.find('#doc-ids').val(docIds);
    $publishModal.modal();
  });
  // 刷新
  $publishModal.find('.modal-refresh').click(function () {
    location.reload();
  });
  $publishResultModal.find('.modal-confirm').click(function () {
    location.reload();
  });
  // 提交
  $publishModal.find('.modal-confirm').click(function () {
    var isFile = false;
    var formData = new FormData();
    var data = getModal($publishModal, publishFields);
    var source = $publishModal.find('.tab-pane.active').attr('id');
    switch (source) {
      case 'source-search':
        var searchParam = $publishModal.find('#search-param').val();
        if (!searchParam.length)
          return showError('检索条件不允许为空');
        data['search'] = searchParam;
        break;
      case 'source-select':
        var docIds = $('#doc-ids').val().trim();
        if (!docIds.length)
          return showError('请选择页码');
        data['doc_ids'] = docIds.split(',');
        break;
      case 'source-file':
        var idsFile = $('#upload')[0].files[0];
        if (typeof idsFile === "undefined")
          return showError('请选择文件');
        if (!/\.(csv|txt|json)$/.test(idsFile.name))
          return showError('文件不是CSV或TXT类型');
        if (idsFile.size > (10 * 1024 * 1024))
          return showError('文件大小不能超过10M');
        formData.append('data', JSON.stringify(data));
        formData.append('ids_file', idsFile);
        isFile = true;
        break;
    }
    postApi('/task/publish/page', isFile ? formData : {data: data}, function (res) {
      var html = $.map(res.data, function (value, key) {
        return '<tr><td class="' + key + '">' + l10n[key] + '(' + value.length + ')' + '<td>' + value + '</td>' + '</td></tr>';
      }).join('');
      $publishResultModal.find('table').html(html);
      $publishResultModal.modal();
    }, null, isFile);
  });
</script>
{% end %}

