<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>藏经OCR文字识别 {{img_name}}</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link href="{{ static_url('css/helper.css') }}" rel="stylesheet" type="text/css"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <style>
    .m-header .title {
      margin-right: 10px;
    }
    .m-header .btn-group {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 7px;
      font-size: 1.2em;
    }
  </style>
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div>
      <div class="m-header">
        <div class="left">
          <div class="title">藏经OCR文字识别</div>

          <div class="btn-group">
            <span class="sort" data-toggle="dropdown" aria-expanded="false">横线数: <span class="num h-num">2</span></span>
            <ul class="dropdown-menu" role="menu">
              {% for i in range(1, 10) %}
              <li><a href="#" val="i">{{i}}</a></li>
              {% end %}
            </ul>
          </div>

          <div class="btn-group">
            <span class="sort" data-toggle="dropdown" aria-expanded="false">竖线数: <span class="num v-num">2</span></span>
            <ul class="dropdown-menu" role="menu">
              {% for i in range(1, 10) %}
              <li><a href="#" val="i">{{i}}</a></li>
              {% end %}
            </ul>
          </div>

          <div class="btn-txt btn-upload" title="上传页面图">上传</div>
        </div>

        <div class="right">
          <div class="title box-info"></div>
        </div>
      </div>

      <div class="full-bd">
        <div id="holder"></div>
      </div>
    </div>

  </div>
</div>

<div class="panel-body" style="padding: 0;">
  <!-- modal content -->
  <div id="upload-img" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="uploadimg" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">上传页面图</h4>
        </div>
        <div class="modal-body">
          <form id="myform" enctype="multipart/form-data">
            <i>选择上传的页面图，大小不超过5MB</i>
            <input type="file" class="form-control" id="upload" name="img" accept="image/*" style="padding:4px 4px">
            <br/>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light" id="img-confirm">确定</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>

{% include _base_js.html %}
{% include _cut_base.html %}

<script>
  var boxes = '{{page["chars"]}}';
  $.cut.create({
    readonly: true,
    name: '{{page['imgname']}}',
    width: '{{page['imgsize']["width"]}}',
    height: '{{page['imgsize']["height"]}}',
    holder: 'holder',
    image: "{{img}}",
    chars: boxes
  });
  $.cut.bindKeys();

  // 操作切分框
  $.cut.onBoxChanged(function (char, box, reason) {
    $('.box-info').text(char ? char.char_id + char.ch + ': (' + Math.round(box.x) + ', ' + Math.round(box.y) + ') - ' +
        Math.round(box.width) + ' x ' + Math.round(box.height) : '');
  });
</script>

<script type="text/javascript">
  $('.m-header .dropdown-menu a').click(function() {
    var $num = $(this).parent().parent().parent().find('.num');
    localStorage.setItem($num.hasClass('h-num') ? 'ocr-h-num' : 'ocr-v-num', $(this).text());
    $num.text($(this).text());
  });

  $('.h-num').text({{'%d ||' % page['h_num'] if page.get('h_num') else ''}} localStorage.getItem('ocr-h-num') || '2');
  $('.v-num').text({{'%d ||' % page['v_num'] if page.get('v_num') else ''}} localStorage.getItem('ocr-v-num') || '2');

  // 弹出上传页面图提示框
  $('.btn-upload').click(function() {
    $('#upload-img').modal('show');
  });

  // 上传页面图
  $("#img-confirm").click(function () {
    if (typeof $('#upload')[0].files[0] == "undefined") {
      return showError('请选择图片');
    }
    var imgFile = $('#upload')[0].files[0];
    var imgStr = /\.(jpg|jpeg|png|bmp|tif|tiff|gif)$/i;
    if (!imgStr.test(imgFile.name)) {
      return showError('文件不是图片类型');
    }
    if (imgFile.size > (1024 * 1024 * 5)) {
      return showError('文件大小不能超过5M');
    }
    var formData = new FormData();
    formData.append('img', imgFile);
    $.ajax({
      url: '/api/data/ocr',
      type: 'POST',
      data: formData,
      processData: false,
      contentType: false,
      success: function (r) {
        if (r.error) {
          showError('上传失败', r.message);
        }
        else if (r.data.name) {
          showSuccess('识别完成', r.data.name + ' 已识别完成。');
          setTimeout(function () {
            window.location = '/data/ocr/' + r.data.name;
          }, 1000);
        }
      }
    });
    $('#upload-img').modal('hide');
  });

</script>

</body>

</html>
