<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>册数据管理</title>
  {% include _base_meta.html %}
  <!-- DataTables -->
  <link href="{{ static_url('assets/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css"/>
  <!-- Custom Files -->
  <link href="{{ static_url('css/helper.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css"/>
  {% include _base_css.html %}
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<style>
  .content-pages {
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
</style>

<body>
<div class="app-main">
  <div class="main">
    <!--模拟出左边菜单，方便写样式-->
    {% module CommonLeft(title="data-management", sub="") %}
    <div class="main-content">
      {% module CommonHead() %}
      <div class="single-page-con">
        <div class="layout">
          <div class="layout-content">
            <div class="wrapper">
              <div class="collate-list">
                <div class="operation">
                  <span id="btn-batch-delete">批量删除</span>
                  <span><a class="download-template" href="/static/template/volume-sample.csv">下载模板</a></span>
                  <div class="btn-group dropdown">
                    <button type="button" class="btn btn-default waves-effect">新增册</button>
                    <button type="button" class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false"><i class="caret"></i></button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a class="btn-add" id="btn-add">新增数据</a></li>
                      <li class="divider"></li>
                      <li><a class="btn-upload" id="btn-upload">批量上传</a></li>
                    </ul>
                  </div>
                </div>
                <div class="search fr">
                  <input id="search-input" type="text" placeholder="请搜索册编码" value="{{q}}">
                  <i class="ser-btn"></i>
                </div>
                <table class="sty-table" style="border-collapse:separate; border-spacing:0px 10px;">
                  <thead>
                  <tr>
                    <th><input id="check-all" type="checkbox"/></th>
                    <th><span>藏编码</span></th>
                    <th><span>册编码</span></th>
                    <th><span>函序号</span></th>
                    <th><span>册序号</span></th>
                    <th><span>正文页数</span></th>
                    <th><span>封面页数</span></th>
                    <th><span>封底页数</span></th>
                    <th><span>备注</span></th>
                    <th><span>操作</span></th>
                  </tr>
                  </thead>

                  <tbody>
                  {% for v in volumes %}
                  <tr id="{{v.get('_id')}}">
                    <td><input type="checkbox"/></td>
                    <td>{{v.get('tripitaka_code') or ''}}</td>
                    <td>{{v.get('volume_code') or ''}}</td>
                    <td>{{v.get('envelop_no') or ''}}</td>
                    <td>{{v.get('volume_no') or ''}}</td>
                    <td>{{v.get('content_page_count') or ''}}</td>
                    <td>{{len(v.get('front_cover_pages') or [])}}</td>
                    <td>{{len(v.get('back_cover_pages') or [])}}</td>
                    <td>{{v['remark']}}</td>
                    <td class="content_pages hide">{{v.get('content_pages')}}</td>
                    <td class="front_cover_pages hide">{{v.get('front_cover_pages')}}</td>
                    <td class="back_cover_pages hide">{{v.get('back_cover_pages')}}</td>
                    <td>
                      <a class="btn-delete">删除</a>
                      <a class="btn-update">修改</a>
                    </td>
                  </tr>
                  {% end %}
                  </tbody>
                </table>
              </div>
              {% module Pager(pager) %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modals">

  <div id="updateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">修改册数据</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <input type="text" class="form-control hide" value="" id="_id">
            <div class="form-group">
              <label class="col-sm-2 control-label">藏编码</label>
              <div class="col-md-10">
                <input type="text" class="form-control" value="" id="tripitaka_code">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">册编码</label>
              <div class="col-md-10">
                <input type="text" class="form-control" value="" id="volume_code">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">函序号</label>
              <div class="col-md-10">
                <input type="text" class="form-control" value="" id="envelop_no">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">册序号</label>
              <div class="col-md-10">
                <input type="text" class="form-control" value="" id="volume_no">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">正文页</label>
              <div class="col-md-10">
                <textarea type="text" class="form-control" value="" id="content_pages" style="min-height: 150px"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">封面页</label>
              <div class="col-md-10">
                <textarea type="text" class="form-control" value="" id="front_cover_pages"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">封底页</label>
              <div class="col-md-10">
                <textarea type="text" class="form-control" value="" id="back_cover_pages"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">备注</label>
              <div class="col-md-10">
                <textarea type="text" class="form-control" id="remark"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal" id="modal_confirm">确定</button>
        </div>
      </div>
    </div>
  </div>

  <div id="uploadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">批量上传</h4>
        </div>
        <div class="modal-body">
          <i>支持上传CSV格式文件，一次最多上传1个文件，文件大小不超过10MB</i>
          <input type="file" class="form-control" id="upload" style="padding:4px 4px"/>
        </div>
        <div class="uploading hide">上传中<span class="tick"></span></div>
        <div class="uploaded hide">
          <div class="title">上传成功</div>
          <div class="message"></div>
          <div class="errors">
            <ul></ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light" id="upload_submit">上传</button>
          <button type="button" class="btn btn-primary waves-effect waves-light hide" id="confirm">确定</button>
        </div>
      </div>
    </div>
  </div>

  <div id="jsModal" class="modal fade" role="dialog" aria-labelledby="choose-docs" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 400px; margin: auto">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="modal-title">生成JS</h4>
        </div>
        <div class="modal-body">
          <h4 class="modal-title">哪部藏经？</h4>
          <div style="min-height: 150px; margin-top: 20px; text-align: center">
            <select id="select-tripitaka" class="form-control">
              {% for t in tripitakas %}
              <option title="{{t}}">{{t}}</option>
              {% end %}
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light" id="js-modal-confirm">确定</button>
        </div>
      </div>
    </div>
  </div>

</div>

{% include _base_js.html %}
<script type="text/javascript" src="{{ static_url('js/data.js') }}"></script>

<script>

  // 新增-弹框
  $('#btn-add').click(function () {
    $('#updateModal').modal();
    $("#updateModal .modal-title").html('新增册数据');
    $('#_id').val('');
    $('#tripitaka_code').val('');
    $('#volume_code').val('');
    $('#envelop_no').val('');
    $('#volume_no').val('');
    $('#content_pages').val('');
    $('#front_cover_pages').val('');
    $('#back_cover_pages').val('');
    $('#remark').val('');
  });

  // 修改-弹框
  $('.btn-update').click(function () {
    var children = $(this).parents('tr').find('td');
    $('#updateModal').modal();
    $("#updateModal .modal-title").html('修改册数据');
    $('#_id').val($(this).parents('tr').attr('id'));
    $('#tripitaka_code').val(children.eq(1).text());
    $('#volume_code').val(children.eq(2).text());
    $('#envelop_no').val(children.eq(3).text());
    $('#volume_no').val(children.eq(4).text());
    $('#content_pages').val(children.eq(9).text());
    $('#front_cover_pages').val(children.eq(10).text());
    $('#back_cover_pages').val(children.eq(11).text());
    $('#remark').val(children.eq(8).text());
  });

  // 修改-提交
  $("#modal_confirm").click(function () {
    var data = {
      tripitaka_code: $('#tripitaka_code').val(),
      volume_code: $('#volume_code').val(),
      envelop_no: $('#envelop_no').val(),
      volume_no: $('#volume_no').val(),
      content_pages: $('#content_pages').val(),
      front_cover_pages: $('#front_cover_pages').val(),
      back_cover_pages: $('#back_cover_pages').val(),
      remark: $('#remark').val()
    };
    if ($('#_id').val().trim().length !== 0) {
      data['_id'] = $('#_id').val();
    }
    postApi('/data/volume', {data: data}, function (data) {
      showSuccess('成功', '数据已提交。');
      setTimeout(function () {
        window.location.reload();
      }, 1500);
    }, function (error) {
      return showError('提交失败', error.message);
    });
    $('#updateModal').modal('hide');
  });

</script>

</body>
</html>
