<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{page['name']}}</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link href="{{ static_url('assets/modal-effect/css/component.css') }}" rel="stylesheet">
  <link href="{{ static_url('css/cut.css') }}" rel="stylesheet"/>
  <link href="{{ static_url('css/task-admin.css') }}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <style>
    .m-header {
      height: 70px;
    }

    .m-header .header-line {
      width: 100%;
      height: 40px;
      color: var(--Brown_Darker);
    }

    .m-header .ocr-txt input {
      margin-right: 5px;
    }

    .m-header .sub-line {
      height: 30px;
      line-height: 30px;
      padding-left: 10px;
      user-select: text;
      background-color: var(--Grey_Line);
    }

    .sub-line a {
      color: var(--Brown_Darker);
      cursor: pointer;
    }

    .sub-line label {
      font-weight: 300;
      color: var(--Color_333);
    }

    .full-bd {
      height: 100%;
      padding-top: 70px;
    }

    .full-bd .bd {
      height: 100%;
      overflow: auto;
    }

    .panel-body {
      padding: 0;
    }

    .priority input[type='radio'], .force input[type='radio'] {
      margin: 0 10px
    }

    .pfread-in .left {
      flex: 1;
      width: 50%;
      border-right: 1px solid var(--Grey_Line);
    }

    .pfread-in .right {
      flex: none;
      width: 50%;
      background: #fff;
    }

    .pfread-in .right textarea {
      border: 0;
      font-size: 18px;
    }

    .dropdown-menu > li > a {
      padding: 0 20px;
    }

  </style>
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="header-line main-line">
        <div class="left">
          <div class="back">
            <img src="{{ static_url('imgs/icon_back.png') }}" class="btn-img" onclick="leave()" title="返回"/>
          </div>
          <div class="title" title="{{page['name']}}"><a href="/data/page/info/{{page['name']}}">{{page['name']}}</a></div>
          <div class="btn-group" style="margin-left: 10px">
            <img src="{{ static_url('imgs/icon_hlp.png') }}" class="btn-img" data-toggle="modal" data-target="#helpModal" title="帮助"/>
            <img src="{{ static_url('imgs/icon_pic.png') }}" class="btn-img {{'' if button_config.get('toggle-image') == -1 else 'active'}}" id="toggle-image" title="显隐图片"/>
            <img src="{{ static_url('imgs/icon_txt.png') }}" class="btn-img {{'' if button_config.get('toggle-right') == -1 else 'active'}}" id="toggle-right" title="显隐文字"/>
            <img src="{{ static_url('imgs/icon_blur.png') }}" class="btn-img {{'active' if button_config.get('toggle-blur') == 1 else ''}}" id="toggle-blur" title="模糊"/>
            <img src="{{ static_url('imgs/icon_zoom1.png') }}" class="btn-img" id="zoom-out" title="放大"/>
            <img src="{{ static_url('imgs/icon_zoom0.png') }}" class="btn-img" id="zoom-reset" title="原始"/>
            <img src="{{ static_url('imgs/icon_zoom2.png') }}" class="btn-img" id="zoom-in" title="缩小"/>
            <img src="{{ static_url('imgs/icon_block.png') }}" class="btn-img {{'active' if button_config.get('toggle-block') == 1 else ''}}" id="toggle-block" title="显隐栏框"/>
            <img src="{{ static_url('imgs/icon_column.png') }}" class="btn-img {{'active' if button_config.get('toggle-column') == 1 else ''}}" id="toggle-column" title="显隐列框"/>
            <img src="{{ static_url('imgs/icon_char.png') }}" class="btn-img {{'active' if button_config.get('toggle-char') == 1 else ''}}" id="toggle-char" title="显隐字框"/>
            <img src="{{ static_url('imgs/icon_order.png') }}" class="btn-img {{'active' if button_config.get('toggle-order') == 1 else ''}}" id="toggle-order" title="显隐字序"/>
            <img src="{{ static_url('imgs/icon_edit.png') }}" class="btn-img" id="btn-update" title="修改"/>
          </div>
          <img src="{{ static_url('imgs/icon_more.png') }}" class="btn-img" id="toggle-more" title="更多"/>
          <span class="btn-group hidden" id="more-group">
          <button type="button" class="btn btn-default btn-sm" id="btn-ed-block">栏框</button>
          <button type="button" class="btn btn-default btn-sm" id="btn-ed-column">列框</button>
          <button type="button" class="btn btn-default btn-sm" id="btn-ed-char">字框</button>
          <button type="button" class="btn btn-default btn-sm" id="btn-ed-oder">字序</button>
          <button type="button" class="btn btn-default btn-sm" id="btn-ed-text">审定文本</button>
        </span>
        </div>
        <div class="right">
          <img src="{{ static_url('imgs/icon_remark.png') }}" class="btn-img" data-toggle="modal" data-target="#remarkModal" title="备注"/>
          <img src="{{ static_url('imgs/icon_prev2.png') }}" class="btn-img" id="btn-prev" title="上一页"/>
          <img src="{{ static_url('imgs/icon_next2.png') }}" class="btn-img" id="btn-next" title="下一页"/>
        </div>
      </div>
      <div class="header-line sub-line">
        <div class="left">
          {% if handler.prop(page, 'lock.box.is_temp') %}
          <label>切分临时锁：</label><a class="lock box">解锁</a>
          {% end %}
          {% if handler.prop(page, 'lock.text.is_temp') %}
          <label>文本临时锁：</label><a class="lock text">解锁</a>
          {% end %}
          {% if page.get('tasks') %}
          <label>相关任务：</label>
          <span class="tasks">
          {% for task, status in page.get('tasks', {}).items() %}
          <span class="task">{{Th.get_task_name(task)+'/'+Th.get_status_name(status)}}</span>
          {% end %}
          {% end %}
        </span>
        </div>
        <div class="right">
          {% if fields %}
          <label>显示文本：</label>
          <span class="ocr-txt">
            {% set which = button_config.get('sutra-txt') or '' %}
            {% for i,f in enumerate(fields) %}
            <input type="radio" name="ocr-txt" value="{{f}}" {{'checked' if (which in fields and f == which) or (which not in fields and i == 0) else ''}}>{{labels[f]}}
            {% end %}
          </span>
          <img src="{{ static_url('imgs/icon_save.png') }}" class="btn-img" id="btn-save" title="保存文本" style="margin: 5px 5px 0 10px"/>
          {% end %}
        </div>
      </div>
    </div>

    <div class="full-bd flex-content pfread-in">
      <div class="left" id="left-region">
        <div class="bd" id="holder-container">
          <div id="holder"></div>
        </div>
      </div>
      {% if fields %}
      <div class="right{{' hide' if button_config.get('toggle-right') == -1 else ''}}" id="right-region">
        <div class="bd">
          {% for i,f in enumerate(fields) %}
          <div class="sutra-text {{f if (which in fields and f == which) or (which not in fields and i == 0) else f + ' hide'}}">
            <textarea class="form-control" rows="{{len(texts[f].split('\n'))+1}}" {{'readonly' if f == 'text' else ''}}>{% raw texts[f] %}</textarea>
          </div>
          {% end %}
        </div>
      </div>
      {% end %}
    </div>

  </div>
</div>

<div class="panel-body">
  {% module RemarkModal() %}
  {% module ComModal(modal_fields, 'editModal', '更新基本信息') %}
  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档</h4>
        </div>
        <div class="modal-body">
          <div class="title">一、简介</div>
          <div class="intro">
            页面浏览可以针对一个页面集合逐条浏览，页面集合有检索参数决定。 浏览时可以看到页面的切分信息、文本信息、任务信息等。其中，
            栏框、列框、字框等切分信息以及审定文本可以通过更多按钮进行修改，字框OCR和列框OCR可以直接在本页面修改保存。<br/>
            另外，本页面还可以发布任务。<br/>
            <b>注：</b>点击上一页或下一页时，系统将记住文本区域的显示或隐藏状态，从而可以选择仅仅浏览切分信息，或者同时浏览文本信息。
          </div>
          <div class="title">二、操作</div>
          <table class="table">
            <tr>
              <td><img src="{{ static_url('imgs/icon_back.png') }}"/></td>
              <td>返回</td>
            </tr>
            <tr>
              <td>页码</td>
              <td>查看页面详情</td>
            </tr>
            <tr>
              <td><img src="{{ static_url('imgs/icon_pic.png') }}"/></td>
              <td>显示或隐藏图片。隐藏图片有助于看清所要校对的切分框</td>
            </tr>
            <tr>
              <td><img src="{{ static_url('imgs/icon_txt.png') }}"/></td>
              <td>打开或关闭右侧文本。关闭文本可以更好的查看切分信息</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_blur.png')}}"/></td>
              <td>图片虚化处理。虚化后可以更好的看清字框、字序等信息</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_edit.png')}}"/></td>
              <td>修改页面基本信息</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_more.png')}}"/></td>
              <td>更多操作，包括修改栏框、列框、字框、审定文本等</td>
            </tr>
            <tr>
              <td><span type="button" class="btn btn-primary btn-sm">保存文本</span></td>
              <td>保存当前选中的字框OCR或列框OCR</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}
{% include _base_cut.html %}
<script src="{{static_url('js/l10n.js')}}"></script>
<script src="{{static_url('js/nav.js')}}"></script>
<script src="{{static_url('js/cut/cut_adv.js')}}"></script>
<script src="{{static_url('js/cut/char_order.js')}}"></script>
<script src="{{static_url('js/com-table.js')}}"></script>
<script>
  var sutraTxt = '';   // 用户选中的当前文本
  var buttonConfig = decodeJSON('{{button_config}}');
  $(document).ready(function () {
    var remark = '{{page.get("remark") or ""}}' || localStorage.getItem('pageRemark');
    $("#remarkModal .remark").val(remark);
  });
</script>
<script>
  // 离开页面
  var from = decodeFrom();
  window.leave = function () {
    if (from) {
      window.location = from;
    } else {
      window.location = '/data/page' + location.search.replace(/[&?]to=(next|prev)/, '');
    }
  };

  // 修改字框
  $('#btn-ed-char').click(function () {
    location = '/data/edit/box/{{page["name"]}}?step=chars&from=' + encodeFrom();
  });

  // 修改栏框
  $('#btn-ed-block').click(function () {
    location = '/data/edit/box/{{page["name"]}}?step=blocks&from=' + encodeFrom();
  });

  // 修改列框
  $('#btn-ed-column').click(function () {
    location = '/data/edit/box/{{page["name"]}}?step=columns&from=' + encodeFrom();
  });

  // 修改字序
  $('#btn-ed-order').click(function () {
    location = '/data/edit/box/{{page["name"]}}?step=orders&from=' + encodeFrom();
  });

  // 修改审定文本
  $('#btn-ed-text').click(function () {
    location = '/data/edit/text/{{page["name"]}}?from=' + encodeFrom();
  });

  // 跳转
  function go(to) {
    var url = setQueryString('to', to).replace(location.pathname, '/data/page/{{page["name"]}}');
    var config = getConfig();
    if (JSON.stringify(buttonConfig) !== JSON.stringify(config)) {
      postApi('/session/config', {data: {data_page_button: config}}, function (res) {
        location.href = url;
      });
    } else {
      location.href = url;
    }
  }

  // 上一页
  $('#btn-prev').click(function () {
    go('prev');
  });

  // 下一页
  $('#btn-next').click(function () {
    go('next');
  });

  // 解锁临时锁
  $('.lock').click(function () {
    var name = '{{page["name"]}}';
    var sharedField = $(this).attr('class').indexOf('box') !== -1 ? 'box' : 'text';
    var url = '/data/admin/unlock/' + sharedField + '/' + name;
    showConfirm("确定解锁吗？", "页面" + name + "的数据锁将被释放！", function () {
      postApi(url, {data: {}}, function () {
        showSuccess('成功', '已成功解锁。');
        refresh(1000);
      }, function (error) {
        showError('失败', error.message);
      });
    });
  });

  // 修改基本信息
  var $modal = $('#editModal');
  var fields = decodeJSON('{{modal_fields}}').concat({id: '_id'});
  $('#btn-update').click(function () {
    var info = decodeJSON('{{info}}');
    info['_id'] = '{{page["_id"]}}';
    setModal($modal, info, fields);
    $modal.modal();
  });

  $("#editModal .modal-confirm").click(function () {
    var data = getModal($modal, fields);
    postApi('/data/page', {data: data}, function () {
      showSuccess('成功', '数据已提交。');
      refresh(1500);
    }, function (error) {
      showError('提交失败', error.message);
    });
  });

  // 备注
  $('#remarkModal .modal-confirm').click(function () {
    var remark = $('#remarkModal .remark').val().trim();
    if (!remark.length)
      return showWarning('请输入备注内容');
    localStorage.setItem('pageRemark', remark);
    var data = {_id: '{{page["_id"]}}', name: '{{page["name"]}}', remark: remark};
    postApi('/data/page', {data: data}, function () {
      showSuccess('成功', '{{page["name"]}} ' + '备注成功。');
      $('#remarkModal').modal('hide');
    });
  });

  // 获取当前按钮状态
  function getConfig() {
    var config = {};
    var buttons = ['toggle-image', 'toggle-right', 'toggle-blur', 'toggle-block',
      'toggle-column', 'toggle-char', 'toggle-order'];
    buttons.forEach(function (button) {
      config[button] = $('.m-header #' + button).hasClass('active') ? 1 : -1;
    });
    if (sutraTxt)
      config['sutra-txt'] = sutraTxt;
    else
      config['sutra-txt'] = buttonConfig['sutra-txt'] || '';
    return config;
  }

  // 切换文本
  $('.ocr-txt input').click(function () {
    $('.bd .sutra-text').addClass('hide');
    $('.bd .sutra-text.' + $(this).val()).removeClass('hide');
    sutraTxt = $(this).val();
  });

  // 保存文本
  $('#btn-save').click(function () {
    var which = $('.ocr-txt :checked').val();
    if (which === 'text')
      return;
    var data = {_id: "{{page['_id']}}", name: "{{page['name']}}"};
    data[which] = $('.sutra-text.' + which + ' textarea').val();
    postApi('/data/page', {data: data}, function () {
      showSuccess('修改成功');
      refresh(500);
    });
  });
</script>
<script>
  function initBoxes(boxesStr, className) {
    var boxes = decodeJSON(boxesStr);
    for (var i = 0; i < boxes.length; i++) {
      boxes[i]['class'] = className;
    }
    return boxes;
  }

  var chars = initBoxes('{{page.get("chars", [])}}', 'char');
  var columns = initBoxes('{{page.get("columns", [])}}', 'column');
  var blocks = initBoxes('{{page.get("blocks", [])}}', 'block');

  $.cut.create({
    readonly: true,
    scrollContainer: '#holder-container',
    name: '{{page["name"]}}',
    width: '{{page["width"]}}',
    height: '{{page["height"]}}',
    holder: 'holder',
    image: '{{img_url}}',
    chars: chars.concat(columns).concat(blocks)
  });
  $.cut.switchCurrentBox(null);
  $.cut.bindKeys();
  $.cut.bindCharOrderKeys();
  $.cut.addCharOrderLinks(decodeJSON('{{chars_col}}'), true);

  $.cut.state.canHitBox = function (el) {
    var cls = el.data('class');
    if ($('#toggle-char').hasClass('active') && cls === 'char') {
      return true;
    }
    if ($('#toggle-column').hasClass('active') && cls === 'column') {
      return true;
    }
    if ($('#toggle-block').hasClass('active') && cls === 'block') {
      return true;
    }
  };

  // 初始化设置
  $.cut.data.image.node.style.display = buttonConfig['toggle-image'] === -1 ? 'none' : 'block';
  $.cut.data.image.node.style.opacity = buttonConfig['toggle-blur'] === 1 ? 0.2 : 1;
  $('rect.block').css('display', buttonConfig['toggle-block'] === 1 ? 'block' : 'none');
  $('rect.column').css('display', buttonConfig['toggle-column'] === 1 ? 'block' : 'none');
  $('rect.char').css('display', buttonConfig['toggle-char'] === 1 ? 'block' : 'none');
  setOrderStatus(buttonConfig['toggle-order'] === 1);

</script>
</body>
</html>
