<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>大藏经古籍数字化平台-如是藏经</title>

		<!-- Plugins css -->
		<link href="{{ static_url('assets/modal-effect/css/component.css') }}" rel="stylesheet">

		<!-- Custom Files -->
		<link href="{{ static_url('css/helper.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css" />

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

		{% include _base_css.html %}

	</head>
	<style>

	</style>

	<body>
		<div class="app-main">
			<div class="main">

				<div class="main-content">

					<header class="m-header">
						<div><a href="dzj_home.html"><img src="{{ static_url('imgs/icon_back.png') }}" class="m-header-img" /></a></div>

						<div class="m-header-title">如是藏经</div>
						<div class="m-header-page">
							<div class="m-header-page-info">
								当前第<span> 1 </span>卷,共<span> 80 </span>卷
							</div>
							<div class="m-header-page-btn first"><a href="" >首卷</a></div>
							<div class="m-header-page-btn prev"><a href="" >上一卷</a></div>
							<div class="m-header-page-btn to">跳至<span><input type="text"/></span>卷</div>
							<div class="m-header-page-btn last"><a href="" >末卷</a></div>
						</div>
						<div class="m-header-font">
							<div class="m-header-font-reduce"><a href="" >A-</a></div>
							<div class="m-header-font-current">20</div>
							<div class="m-header-font-enlarge"><a href="" >A+</a></div>
						</div>
						<div class="m-header-togglebtn">
							<img src="{{ static_url('imgs/icon_toggle.png') }}" class="m-header-img"/>
						</div>
						<div class="m-header-help"><a href=""><img src="{{ static_url('imgs/icon_help.png') }}" class="m-header-img" /></a></div>
					</header>
					<div class="flex-content">
                        <div class="main-left">
                            <div class="main-left-tab">
                                <div class="main-left-tab1 active">函-册</div>
                                <div class="main-left-tab1">经-卷</div>
                                <div class="main-left-search">
                                    <input type="text" placeholder="检索">
                                    <img src="{{ static_url('imgs/icon13.png') }}" id="search_btn">
                                </div>
                            </div>
                            <div class="main-left-menu">
                                <ul class="menu" id="side-menu">
                                    <li>
                                        <div class="submenu-title">
                                            <i><img src="{{ static_url('imgs/icon14.png') }}" style="margin-top:9px;"></i>
                                            <span>如是藏经</span>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="submenu-title">
                                            <i><img src="{{ static_url('imgs/icon14.png') }}" style="margin-top:9px;"></i>
                                            <span>如是藏经</span>
                                            <i class="submenu-title-icon"><img src="{{ static_url('imgs/icon16.png') }}"/></i>
                                        </div>
                                        <ul class="sub-ul sub-ul-hidden">
                                            <li >
                                                <i><img src="{{ static_url('imgs/icon15.png') }}" class="sub-img"/></i>
                                                <span><a href="">第一卷</a></span>
                                            </li>
                                            <li >
                                                <i><img src="{{ static_url('imgs/icon15.png') }}" class="sub-img"/></i>
                                                <span><a href="">第二卷</a></span>
                                            </li>
                                            <li >
                                                <i><img src="{{ static_url('imgs/icon15.png') }}" class="sub-img"/></i>
                                                <span><a href="">第三卷</a></span>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <div class="submenu-title">
                                            <i><img src="{{ static_url('imgs/icon14.png') }}" alt="" style="margin-top:9px;"></i>
                                            <span>如是藏经</span>
                                            <i class="submenu-title-icon"><img src="{{ static_url('imgs/icon16.png') }}"/></i>
                                        </div>
                                        <ul class="sub-ul sub-ul-hidden">
                                            <li >
                                                <i><img src="{{ static_url('imgs/icon15.png') }}" alt="" class="sub-img"/></i>
                                                <span><a href="">第一卷</a></span>
                                            </li>
                                            <li >
                                                <i><img src="{{ static_url('imgs/icon15.png') }}" alt="" class="sub-img"/></i>
                                                <span><a href="">第二卷</a></span>
                                            </li>
                                            <li >
                                                <i><img src="{{ static_url('imgs/icon15.png') }}" alt="" class="sub-img"/></i>
                                                <span><a href="">第三卷</a></span>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <div class="submenu-title">
                                            <i><img src="{{ static_url('imgs/icon14.png') }}" alt="" style="margin-top:9px;"></i>
                                            <span>如是藏经</span>
                                            <i class="submenu-title-icon"><img src="{{ static_url('imgs/icon16.png') }}"/></i>
                                        </div>
                                        <ul class="sub-ul sub-ul-hidden">
                                            <li >
                                                <i><img src="{{ static_url('imgs/icon15.png') }}" alt="" class="sub-img"/></i>
                                                <span><a href="">第一卷</a></span>
                                            </li>
                                            <li >
                                                <i><img src="{{ static_url('imgs/icon15.png') }}" alt="" class="sub-img"/></i>
                                                <span><a href="">第二卷</a></span>
                                            </li>
                                            <li >
                                                <i><img src="{{ static_url('imgs/icon15.png') }}" alt="" class="sub-img"/></i>
                                                <span><a href="">第三卷</a></span>
                                            </li>

                                        </ul>
                                    </li>

                                </ul>

                                <div class="menu-search" id="menu-search">
                                    <div class="menu-search-wrapper">
                                        <input type="text" />
                                        <img src="{{ static_url('imgs/icon13.png') }}"/>
                                    </div>
                                    <div class="menu-search-scope">
                                        <span>范围</span>
                                        <ul>
                                            <li class="active">全部</li>
                                            <li>经编号</li>
                                            <li>经名</li>
                                            <li>作译者</li>
                                            <li>正文</li>
                                        </ul>
                                    </div>
                                    <div class="search_ck">
                                        <div class="checkbox checkbox-brown custom">
                                            <input id="checkbox5" type="checkbox" checked="">
                                            <label for="checkbox5">
                                                本经内检索
                                            </label>
                                        </div>
                                    </div>
                                    <div class="search_result">
                                        <div class="search_result1">共找到<span>301</span>个结果</div>
                                        <div class="search_result2"><a href="">按经号排序</a><i><img src="{{ static_url('imgs/icon16.png') }}"/></i></div>
                                    </div>
                                    <div class="search_item">
                                        <b>RS001:大方广佛华严经</b>
                                        <p>佛驮跋陀罗</p>
                                        <p>佛驮跋陀罗(359～429)，简称佛驮跋陀，意译“觉贤”</p>
                                    </div>
                                    <div class="search_item">
                                        <b>RS002:大方广佛华严经</b>
                                        <p>唐般剌密谛</p>
                                        <p>般剌密谛在唐中宗神龙元年（705年）于广州</p>
                                    </div>
                                    <div class="search_item">
                                        <b>RS003:妙法莲华经</b>
                                        <p>鸠摩罗什</p>
                                        <p>法华经是释迦牟尼佛晚年在王舍城灵鹫山所说</p>
                                    </div>
                                </div>

                            </div>

                        </div>
					    <div class="flex_btn"><img src="{{ static_url('imgs/icon17.png') }}"/></div>
                        <div class="main-right">
                            <div class="main-right-content">
                                <p>如是我闻：</p>
                                <p>一时，佛在摩竭提国阿兰若法菩提场中，</p>
                                <p>始成正觉。其地坚固，金刚所成；</p>
                                <p>上妙宝轮，及众宝华、清净摩尼，以为严饰；</p>
                                <p>诸色相海，无边显现；</p>
                                <p>摩尼为幢，常放光明，恒出妙音，</p>
                                <p>众宝罗网，妙香华缨，周匝垂布；</p>
                                <p>摩尼宝王，变现自在，雨无尽宝及众妙华分散于地；</p>
                                <p>宝树行列，枝叶光茂。</p>
                                <p>佛神力故，令此道场一切庄严于中影现。</p>
                                <p>其菩提树高显殊特：金刚为身，琉璃为干；</p>
                                <p>众杂妙宝以为枝条；宝叶扶疏，垂荫如云；</p>
                                <p>宝华杂色，分枝布影，复以摩尼而为其果，含辉发焰，与华间列。</p>
                                <p>其树周圆咸放光明，于光明中雨摩尼宝，</p>
                                <p>摩尼宝内，有诸菩萨，其众如云，俱时出现。</p>
                                <p>又以如来威神力故，其菩提树恒出妙音，</p>
                                <p>说种种法，无有尽极。</p>
                                <p>如来所处宫殿楼阁，广博严丽充遍十方，</p>
                                <p>众色摩尼之所集成，种种宝华以为庄校；</p>
                                <p>诸庄严具流光如云，从宫殿间萃影成幢。</p>
                                <p>无边菩萨道场众会咸集其所，以能出现诸佛光明不思议音。</p>


                            </div>
                        </div>
                    </div>

				</div>
			</div>
		</div>

		{% include _base_js.html %}

		<!-- CUSTOM JS -->
		<script type="text/javascript">
			$('.modal-dialog1').click(function() {
				var width = $(document).width();
				var height = $(document).height();
				$("#modal-1").show();
				$("#modal-1").css("top", height / 4);
				$("#modal-1").css("left", width / 2 - 235);
			});
			$("#modal-1-close").click(function() {
				$("#modal-1").hide();
				$('.dialog-content-row4').hide();
				$("#modal-1-confirm").hide();
				$("#modal-1-select").show();
			});
			$("#modal-1-confirm").click(function() {
				$("#modal-1").hide();
				$('.dialog-content-row4').hide();
				$("#modal-1-confirm").hide();
				$("#modal-1-select").show();
			});
			$("#modal-1-select").click(function() {
				$('.dialog-content-row4').show();
				$("#modal-1-confirm").show();
				$("#modal-1-select").hide();
			});

			$('.modal-dialog2').click(function() {
				var width = $(document).width();
				var height = $(document).height();
				$("#modal-2").show();
				$("#modal-2").css("top", height / 4);
				$("#modal-2").css("left", width / 2 - 235);
			});
			$("#modal-2-close").click(function() {
				$("#modal-2").hide();
			});
			$("#modal-2-confirm").click(function() {
				$("#modal-2").hide();
			});

			<!--左侧菜单栏-->
			$('.submenu-title').click(function() {
				$('.sub-ul').slideUp(300);
				$(".submenu-title-icon").removeClass('active');

				if($(this).hasClass('active')) {
					$(this).removeClass('active');
				} else {
					$(this).children(".submenu-title-icon").addClass('active');
					$('.submenu-title').removeClass('active');
					$(this).addClass('active');
					$(this).next().slideDown(300);

				}
			});

			<!--收起左侧菜单栏-->
			var num = 0;
			$('.flex_btn').click(function(){

				if(num%2==0){
					$('.main-left').hide();
					num++;
				}else{
					$('.main-left').show();
					num++;
				}
			});

            $('#search_btn').click(function(){
               $("#side-menu").hide();
               $("#menu-search").show();
            });

		</script>


	</body>

</html>