<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>任务管理-切分状态</title>

		<!-- DataTables -->
		<link href="{{ static_url('assets/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
		<!-- Custom Files -->
		<link href="{{ static_url('css/helper.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css" />
		{% include _base_css.html %}
		<link href="{{ static_url('assets/jquery-multi-select/multi-select.css') }}"  rel="stylesheet" type="text/css" />
		<link href="{{ static_url('assets/select2/select2.css') }}" rel="stylesheet" type="text/css" />

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

	</head>
	<style>

	</style>

	<body>
		<div class="app-main">
			<div class="main">
				<!--模拟出左边菜单，方便写样式-->
				{% module CommonLeft(title="mission-manage", sub="mission-manage-slice-status" ) %}
				<div class="main-content">
					{% module CommonHead() %}
					<div class="single-page-con">
						
						<!-- Add Modals BAT UPLOAD-->
						<div class="panel-body" style="padding-bottom: 2px;">
							<!-- modal content -->
							<div id="batModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h4 class="modal-title" id="myModalLabel">上传发布任务</h4>
										</div>
										<div class="modal-body">
											<div class="">
												<h4>选择任务类型</h4>
												<div class="radio radio-info radio-inline">
		                                            <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
		                                            <label for="inlineRadio1">切栏校对审定</label>
		                                        </div>
		                                        <div class="radio radio-info radio-inline">
		                                            <input type="radio" id="inlineRadio2" value="option2" name="radioInline" >
		                                            <label for="inlineRadio2">切列校对审定</label>
		                                        </div>
		                                        <div class="radio radio-info radio-inline">
		                                            <input type="radio" id="inlineRadio3" value="option3" name="radioInline" >
		                                            <label for="inlineRadio3">切字校对审定</label>
		                                        </div>
											</div>
											<br />
											<div class="">
												<h4 class="control-label">优先级</h4>
												<select class="form-control">
                                                    <option>高</option>
                                                    <option>中</option>
                                                    <option>低</option>
                                                </select>
											</div>
											<br />
											<i>支持上传Excel格式文件，一次最多上传1个Excel文件，文件大小不超过50MB</i>
											<input type="file" class="form-control" />
											<div class="progress progress-lg">
												<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100" style="width: 96%;background:#8A6D3B">
													86%
												</div>
											</div>
											<div class="">
												<h4>备注</h4>
												<input type="text" class="form-control" placeholder="填写备注">
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
											<button type="button" class="btn btn-primary waves-effect waves-light">确定</button>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<!-- /.modal -->
						</div>
						<!-- End BootStrap Modal -->
						<!-- SELECT Modals -->
						<div class="panel-body" style="padding-bottom: 2px;">
							<!-- modal content -->
							<div id="selectModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h4 class="modal-title" id="myModalLabel">勾选发布任务</h4>
										</div>
										<div class="modal-body">
											<div class="">
												<h4>选择任务类型</h4>
												<label class="radio-inline">
												  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 切栏校对审定
												</label>
												<label class="radio-inline">
												  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 切列校对审定
												</label>
												<label class="radio-inline">
												  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 切字校对审定
												</label>
											</div>
											<br />
											<div class="">
												<h4 class="control-label">优先级</h4>
												<select class="form-control">
                                                    <option>高</option>
                                                    <option>中</option>
                                                    <option>低</option>
                                                </select>
											</div>
											<br />
											<div class="form-group">
			                                    <div class="">
		                                            <select name="country" style="width: 500px;" class="multi-select" multiple="" id="my_multi_select" >
		                                                <option value="Afghanistan">Afghanistan</option>
		                                                <option value="Algeria">Algeria</option>
		                                                <option value="Andorra">Andorra</option>
		                                                <option value="Bahamas">Bahamas</option>
		                                                <option value="Belarus">Belarus</option>
		                                                <option value="Bclize">Belize</option>
		                                            </select>
		                                        </div>
		                                    </div>
											<div class="">
												<h4>备注</h4>
												<input type="text" class="form-control" placeholder="填写备注">
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
											<button type="button" class="btn btn-primary waves-effect waves-light" id="select_modal_btn">确定</button>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<!-- /.modal -->
						</div>
						<!-- End BootStrap Modal -->
						<div class="layout">
							<div class="layout-content">
								<div class="collate-history">
									<div class="wrapper">
										<div class="collate-list">
											<div class="operation">
												<span>同步页数据</span>
												<div class="btn-group dropdown">
		                                            <button type="button" class="btn btn-default waves-effect">发布任务</button>
		                                            <button type="button" class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false"><i class="caret"></i></button>
		                                            <ul class="dropdown-menu" role="menu">
		                                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#selectModal">勾选发布任务</a></li>
		                                                <li class="divider"></li>
		                                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#batModal">上传发布任务</a></li>
		                                            </ul>
		                                        </div>
											</div>
											<div class="search fr">
												<input type="text" placeholder="搜索">
												<i class="ser-btn"></i>
											</div>
											<table style="border-collapse:separate; border-spacing:0px 10px;" class="sty_table">
												<thead>
													<tr>
														<th><input type="checkbox" name="" id="" value="" /></th>
														<th><span>页编码</span></th>
														<th>
															<div class="btn-group">
																<span class="sort" data-toggle="dropdown" aria-expanded="false">切栏校对</span><span class="ion-android-sort " ></span>
					                                            <ul class="dropdown-menu" role="menu">
					                                                <li><a href="#">未就绪</a></li>
					                                                <li><a href="#">已就绪未发布</a></li>
					                                                <li><a href="#">已发布未领取</a></li>
					                                                <li><a href="#">进行中</a></li>
					                                                <li><a href="#">已退回</a></li>
					                                                <li><a href="#">已完成</a></li>
					                                            </ul>
					                                        </div>
														</th>
														<th>
															<div class="btn-group">
																<span class="sort" data-toggle="dropdown" aria-expanded="false">切栏审定</span><span class="ion-android-sort " ></span>
					                                            <ul class="dropdown-menu" role="menu">
					                                                <li><a href="#">未就绪</a></li>
					                                                <li><a href="#">已就绪未领取</a></li>
					                                                <li><a href="#">进行中</a></li>
					                                                <li><a href="#">已完成</a></li>
					                                            </ul>
					                                        </div>
														</th>
														<th>
															<div class="btn-group">
																<span class="sort" data-toggle="dropdown" aria-expanded="false">切列校对</span><span class="ion-android-sort " ></span>
					                                            <ul class="dropdown-menu" role="menu">
					                                                <li><a href="#">未就绪</a></li>
					                                                <li><a href="#">已就绪未发布</a></li>
					                                                <li><a href="#">已发布未领取</a></li>
					                                                <li><a href="#">进行中</a></li>
					                                                <li><a href="#">已退回</a></li>
					                                                <li><a href="#">已完成</a></li>
					                                            </ul>
					                                        </div>
														</th>
														<th>
															<div class="btn-group">
																<span class="sort" data-toggle="dropdown" aria-expanded="false">切列审定</span><span class="ion-android-sort " ></span>
					                                            <ul class="dropdown-menu" role="menu">
					                                                <li><a href="#">未就绪</a></li>
					                                                <li><a href="#">已就绪未领取</a></li>
					                                                <li><a href="#">进行中</a></li>
					                                                <li><a href="#">已完成</a></li>
					                                            </ul>
					                                        </div>
														</th>
														<th>
															<div class="btn-group">
																<span class="sort" data-toggle="dropdown" aria-expanded="false">切字校对</span><span class="ion-android-sort " ></span>
					                                            <ul class="dropdown-menu" role="menu">
					                                                <li><a href="#">未就绪</a></li>
					                                                <li><a href="#">已就绪未发布</a></li>
					                                                <li><a href="#">已发布未领取</a></li>
					                                                <li><a href="#">进行中</a></li>
					                                                <li><a href="#">已退回</a></li>
					                                                <li><a href="#">已完成</a></li>
					                                            </ul>
					                                        </div>
														</th>
														<th>
															<div class="btn-group">
																<span class="sort" data-toggle="dropdown" aria-expanded="false">切字审定</span><span class="ion-android-sort " ></span>
					                                            <ul class="dropdown-menu" role="menu">
					                                                <li><a href="#">未就绪</a></li>
					                                                <li><a href="#">已就绪未领取</a></li>
					                                                <li><a href="#">进行中</a></li>
					                                                <li><a href="#">已完成</a></li>
					                                            </ul>
					                                        </div>
														</th>
													</tr>
												</thead>

												<tbody>
													<tr>
														<td><input type="checkbox" name="" id="" value="" /></td>
														<td>GL-1-1-1</td>
														<td>未领取</td>
														<td>未领取</td>
														<td>未领取</td>
														<td>未领取</td>
														<td>未领取</td>
														<td>未领取</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="" id="" value="" /></td>
														<td>GL-1-1-1</td>
														<td>未领取</td>
														<td>未领取</td>
														<td>未领取</td>
														<td>未领取</td>
														<td>未领取</td>
														<td>未领取</td>
													</tr>
													
													
													
												</tbody>
											</table>
										</div>
										<div class="pagers">
											<!--<img src="{{ static_url('imgs/cloud1.png') }}" alt="" class="hidden-md hidden-sm">-->
											<ul>
												<li><a href="">首页</a></li>
												<li><a href="">上一页</a></li>
												<li class="active"><a href="">1</a></li>
												<li><a href="">2</a></li>
												<li><a href="">3</a></li>
												<li><a href="">4</a></li>
												<li><a href="">5</a></li>
												<li><a href="">6</a></li>
												<li><a href="">7</a></li>
												<li><a href="">8</a></li>
												<li><a href="">9</a></li>
												<li><a href="">下一页</a></li>
												<li><a href="">末页</a></li>
												<li>跳至&nbsp;<input type="text">&nbsp;页</li>
											</ul>
											<!--<img src="{{ static_url('imgs/cloud2.png') }}" alt="" class="hidden-md hidden-sm">-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include _base_js.html %}
		<script src="{{ static_url('assets/select2/select2.min.js') }}" type="text/javascript"></script>
		<script type="text/javascript" src="{{ static_url('assets/jquery-multi-select/jquery.multi-select.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('assets/jquery-multi-select/jquery.quicksearch.js') }}"></script>
		<script type="text/javascript">
			$('#my_multi_select').multiSelect({
                    selectableHeader: "待选对象<input type='text' class='form-control search-input' id='selectable_input' placeholder='您可以输入关键字进行搜索'>",
                    selectionHeader: "已选对象<input type='text' class='form-control search-input' id='selected_input' placeholder='您可以输入关键字进行搜索'>",
                    selectableFooter: "<a href='javascript:void(0);' class='left_btn' id='select_all_btn'>全选</a><a href='javascript:void(0);' class='right_btn' id='select_all_search_btn'>全选所有搜索结果</a>",
                    selectionFooter: "<a href='javascript:void(0);' class='left_btn' id='deselect_all_btn'>全删</a><a href='javascript:void(0);' class='right_btn' id='deselect_all_search_btn'>删除所有搜索结果</a>",
                    selectableOptgroup:true,
                    afterSelect:function(val){
                    		console.log(val);
                    }
                });
            var selectableArr = [];
            var deSelectableArr = [];
            $("#selectable_input").on('input propertychange',function(){
            		var inputval = $(this).val().trim();
            		var selections = $("#my_multi_select").siblings('.ms-container').find('.ms-selectable li.ms-elem-selectable');
            		selectableArr = [];
            		selections.each(function(){
            			var item_value = $(this).text();
            			if(item_value.match(inputval)){
            				$(this).show();
            				selectableArr.push(item_value);
            			}else{
            				$(this).hide();
            			}
            		});
            		$(".ms-elem-selectable.ms-selected").hide();
            		console.log(selectableArr);
            });
            $("#selected_input").on('input propertychange',function(){
            		var inputval = $(this).val().trim();
            		var selections = $("#my_multi_select").siblings('.ms-container').find('.ms-selection .ms-elem-selection.ms-selected');
            		deSelectableArr = [];
            		selections.each(function(){
            			var item_value = $(this).text();
            			if(item_value.match(inputval)){
            				$(this).show();
            				deSelectableArr.push(item_value);
            			}else{
            				$(this).hide();
            			}
            		})
            		console.log(deSelectableArr);
            });
			$('#select_all_search_btn').click(function(){
				if(selectableArr.length>0){
					$('#my_multi_select').multiSelect('select',selectableArr);	
				}else{
					alert("没有搜索结果");
				}
			});
			$('#deselect_all_search_btn').click(function(){
				if(deSelectableArr.length>0){
					$('#my_multi_select').multiSelect('deselect',deSelectableArr);	
				}else{
					alert("没有搜索结果");
				}
			});
			$("#select_all_btn").click(function(){
				$('#my_multi_select').multiSelect('select_all');
			});
			$("#deselect_all_btn").click(function(){
				$('#my_multi_select').multiSelect('deselect_all');
			});
			$("#select_modal_btn").click(function(){
				var selections = $("#my_multi_select").siblings('.ms-container').find('.ms-selection .ms-elem-selection.ms-selected');
            		deSelectableArr = [];
            		selections.each(function(){
            			var item_value = $(this).text();
            			deSelectableArr.push(item_value);
            		})
            		console.log(deSelectableArr);
			})
		</script>
	</body>

</html>