<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>难字处理</title>

		<!-- DataTables -->
		<link href="{{ static_url('assets/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
		<!-- Custom Files -->
		<link href="{{ static_url('css/helper.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css" />
		{% include _base_css.html %}

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
		<link rel="stylesheet" type="text/css" href="{{ static_url('css/labelformat.css') }}">
		<style>
			/*内容*/
			
			.wrapper {
				margin: 10px;
				height: 100%;
				padding-bottom: 50px;
			}
			
			.head_home {
				display: inline-block;
				width: 30px;
				height: 30px;
				font-size: 30px;
				float: left;
				margin-right: 5px;
			}
			
			.wrapper {
				margin: 0px;
				padding-bottom: 0px;
			}
			
			.layout-content {
				margin: 0px;
			}
			
			.tripitaka-volume .volume-right {
				top: 0px;
				margin: 0px;
			}
			
			.tripitaka-volume .volume-right .full .full-hd {
				height: 55px;
				padding-top: 10px;
			}
			
			.tripitaka-volume .volume-right .full-bd {
				height: 100%;
			}
			
			.cut_title {
				display: inline-block;
				float: left;
				line-height: 37px;
				height: 37px;
				vertical-align: middle;
				padding: 0px 10px;
				background: #843534;
				color: #FFFFFF;
				margin-right: 12px;
			}
			
			.cut_btn_group {
				display: inline-block;
				float: left;
				margin-right: 10px;
			}
			
			.cut_info {
				display: inline-block;
				float: left;
				padding: 0 10px;
			}
			
			.s_h_count {
				font-size: 75%;
			}
			
			.cut_title a:hover {
				color: #FFFFFF;
			}
		</style>
	</head>

	<body>
		<div class="app-main">
			<div class="single-page-con enlarge">
				<div class="layout">
					<div class="layout-content">
						<!-- 中间内容 -->
						<!--<div class="single-page-con">-->
						<div class="layout">
							<div class="layout-content">
								<div class="tripitaka-volume">
									<div class="wrapper">
										<div class="main-volume">
											<div class="volume-right">
												<!--根据接口返回数据情况--右侧没有文本数据时-->
												<div class="full">
													<div class="full-hd clearfix">
														<div class="left fl">
															<a href="/home.html"><span class="head_home ion-home"></span></a>
															<span class="cut_title">
																<a href="/dzj_hard_history.html">难字处理</a>
															</span>
															<span class="cut_info">高丽再雕 / 大方广佛严经 / 第48卷 / 第1页</span>
															
															<button class="btn btn-warning waves-effect waves-light m-b-5"> <i class="ion-ios7-bookmarks"></i> <span>保存</span> </button>
															<button class="btn btn-warning waves-effect waves-light m-b-5"> <i class="ion-upload"></i> <span>提交</span> </button>
														</div>
														<div class="right fr">

														</div>
													</div>
													<div class="full-bd">
														<div class="seprate">
															<p class="name"></p>
															<div class="seprate-in clearfix">
																<div class="left fl">
																	<div class="hd">
																		<label><input type="checkbox">审定切分框</label>
																		<label><input type="checkbox">OCR切分框</label>
																		<div class="scale">
																			<span class="add">+</span>
																			<input type="text" value="1:1">
																			<span class="reduce">-</span>
																		</div>
																	</div>
																	<div class="bd">
																		<img src="{{ static_url('imgs/examImg1.png') }}" alt="">
																	</div>
																</div>
																<div class="right fr">
																	<div class="hd">
																		<select>
																			<option value="">审定文本</option>
																		</select>
																	</div>
																	<div class="bd">
																		<span class="feedback" id="label_feedback">文字反馈</span>
																		<ul class="texts">
																			<li>
																				<span position="0">大</span>
																				<span position="1">方</span>
																				<span position="2">廣</span>
																				<span position="3">佛</span>
																				<span position="4">華</span>
																				<span position="5">嚴</span>
																				<span position="6">經</span>
																				<span position="7">卷</span>
																				<span position="8">第</span>
																				<span position="9">一</span>
																				<span position="10">坐</span>
																				<span position="0">大</span>
																				<span position="1">方</span>
																				<span position="2">廣</span>
																				<span position="3">佛</span>
																				<span position="4">華</span>
																				<span position="5">嚴</span>
																				<span position="6">經</span>
																				<span position="7">卷</span>
																				<span position="8">第</span>
																				<span position="9">一</span>
																				<span position="10">坐</span>
																			</li>
																			<li>
																				<span position="0">大</span>
																				<span position="1">方</span>
																				<span position="2">廣</span>
																				<span position="3">佛</span>
																				<span position="4">華</span>
																				<span position="5">嚴</span>
																				<span position="6">經</span>
																				<span position="7">卷</span>
																				<span position="8">第</span>
																				<span position="9">一</span>
																				<span position="10">坐</span>
																			</li>
																			<li>
																				<span position="0">大</span>
																				<span position="1">方</span>
																				<span position="2">廣</span>
																				<span position="3">佛</span>
																				<span position="4">華</span>
																				<span position="5">嚴</span>
																				<span position="6">經</span>
																				<span position="7">卷</span>
																				<span position="8">第</span>
																				<span position="9">一</span>
																				<span position="10">坐</span>
																			</li>
																			<li>
																				<span position="0">大</span>
																				<span position="1">方</span>
																				<span position="2">廣</span>
																				<span position="3">佛</span>
																				<span position="4">華</span>
																				<span position="5">嚴</span>
																				<span position="6">經</span>
																				<span position="7">卷</span>
																				<span position="8">第</span>
																				<span position="9">一</span>
																				<span position="10">坐</span>
																			</li>
																			<li>
																				<span position="0">大</span>
																				<span position="1">方</span>
																				<span position="2">廣</span>
																				<span position="3">佛</span>
																				<span position="4">華</span>
																				<span position="5">嚴</span>
																				<span position="6">經</span>
																				<span position="7">卷</span>
																				<span position="8">第</span>
																				<span position="9">一</span>
																				<span position="10">坐</span>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
															<!--<div class="pagers">
																<span>当前&nbsp;<em>1/4</em>&nbsp;页，共&nbsp;<em>29</em>&nbsp;条</span>
																<ul>
																	<li>首页</li>
																	<li>上一页</li>
																	<li>跳至&nbsp;<input type="text">&nbsp;页</li>
																	<li>下一页</li>
																	<li>末页</li>
																</ul>
															</div>-->
														</div>
														<!--./右侧有文本数据时-->
														<!--弹窗-->
														<div class="mask">
															<div class="overlay">
																<div class="hd">校对文字反馈<span class="hd_span" id="dialog_close"></span></div>
																<div class="bd">
																	<p class="clearfix"><span class="fl">现有文本：</span><span class="fl">觉其它金刚具足</span></p>
																	<p class="clearfix"><span class="fl">反馈文本：</span><input type="text" class="fl"></p>
																	<p class="clearfix"><span class="fl">反馈意见：</span><textarea class="fl"></textarea></p>
																	<div class="ok"><span id="dialog_confirm">确定</span></div>
																</div>
															</div>
														</div>
													</div>

												</div>
												<!--./右侧没有文本数据时-->
												<!--根据接口返回数据情况--右侧有文本数据时-->

												<!--./右侧有文本数据时-->
												<!--弹窗-->

												<!--./弹窗-->
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
						<!--</div>-->
						<!-- ./中间内容 -->
					</div>
				</div>
			</div>
		</div>
		{% include _base_js.html %}
<script>
			$(function() {
				$('.sidebar-collapse').slimScroll({
					height: '100%',
					railOpacity: 0.9,
					alwaysVisible: false
				});
				
				$("#label_feedback").click(function() {
					$(".mask").show();
				});
				$("#dialog_confirm").click(function() {
					$(".mask").hide();
				});
				$("#dialog_close").click(function() {
					$(".mask").hide();
				});
				$("#ac_span").click(function() {
					$("#ac").show();
					$("#aj").hide();
					$("#ac_span").addClass("cur");
					$("#aj_span").removeClass("cur");
				});
				$("#aj_span").click(function() {
					$("#aj").show();
					$("#ac").hide();
					$("#aj_span").addClass("cur");
					$("#ac_span").removeClass("cur");
				});
			});
		</script>
	</body>

</html>