<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>人员管理-数据管理</title>
		<link rel="shortcut icon" href="{{ static_url('imgs/favicon.ico') }}" type="image/x-icon">

		<!-- DataTables -->
		<link href="{{ static_url('assets/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
		<!-- Custom Files -->
		<link href="{{ static_url('css/helper.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css" />
		{% include _base_css.html %}

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

	</head>
	

	<body>
		<div class="app-main">
			<div class="main">
				<!--模拟出左边菜单，方便写样式-->
				<common-left title="user-management" sub="user-management-data" ></common-left>
				<div class="main-content">
					<common-head></common-head>
					<div class="single-page-con">
						<div class="layout">
							<div class="layout-content">
								<div class="collate-history">
									<div class="wrapper">
										<div class="collate-list">
											<div class="operation">
												<span>下载数据</span>
											</div>
											<div class="search fr">
												<input type="text" placeholder="搜索">
												<i class="ser-btn"></i>
											</div>
											<table style="border-collapse:separate; border-spacing:0px 10px;">
												<thead>
													<tr>
														<th><input type="checkbox" name="" id="" value="" /></th>
														<th>姓名</th>
														<th>手机</th>
														<th><span class="sort">切分校对数量</span><span class="ion-arrow-down-b"></span></th>
														<th><span class="sort">切分审定数量</span><span class="ion-arrow-down-b"></span></th>
														<th><span class="sort">文字校对数量</span><span class="ion-arrow-down-b"></span></th>
														<th><span class="sort">文字审定数量</span><span class="ion-arrow-down-b"></span></th>
														<th><span class="sort">文字难字数量</span><span class="ion-arrow-down-b"></span></th>
														<th><span class="sort">文字反馈数量</span><span class="ion-arrow-down-b"></span></th>
														<th><span class="sort">格式标注数量</span><span class="ion-arrow-down-b"></span></th>
														<th><span class="sort">格式审定数量</span><span class="ion-arrow-down-b"></span></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td><input type="checkbox" name="" id="" value="" /></td>
														<td>肖亚文</td>
														<td>15977889999</td>
														<td>1000</td>
														<td>2000</td>
														<td>3000</td>
														<td>4000</td>
														<td>5000</td>
														<td>6000</td>
														<td>7000</td>
														<td>8000</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="" id="" value="" /></td>
														<td>肖亚文</td>
														<td>15977889999</td>
														<td>1000</td>
														<td>2000</td>
														<td>3000</td>
														<td>4000</td>
														<td>5000</td>
														<td>6000</td>
														<td>7000</td>
														<td>8000</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="" id="" value="" /></td>
														<td>肖亚文</td>
														<td>15977889999</td>
														<td>1000</td>
														<td>2000</td>
														<td>3000</td>
														<td>4000</td>
														<td>5000</td>
														<td>6000</td>
														<td>7000</td>
														<td>8000</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="" id="" value="" /></td>
														<td>肖亚文</td>
														<td>15977889999</td>
														<td>1000</td>
														<td>2000</td>
														<td>3000</td>
														<td>4000</td>
														<td>5000</td>
														<td>6000</td>
														<td>7000</td>
														<td>8000</td>
													</tr>
													<tr>
														<td><input type="checkbox" name="" id="" value="" /></td>
														<td>肖亚文</td>
														<td>15977889999</td>
														<td>1000</td>
														<td>2000</td>
														<td>3000</td>
														<td>4000</td>
														<td>5000</td>
														<td>6000</td>
														<td>7000</td>
														<td>8000</td>
													</tr>
													
													
												</tbody>
											</table>
										</div>
										<div class="pagers">
											<!--<img src="{{ static_url('imgs/cloud1.png') }}" alt="" class="hidden-md hidden-sm">-->
											<ul>
												<li><a href="">首页</a></li>
												<li><a href="">上一页</a></li>
												<li class="active"><a href="">1</a></li>
												<li><a href="">2</a></li>
												<li><a href="">3</a></li>
												<li><a href="">4</a></li>
												<li><a href="">5</a></li>
												<li><a href="">6</a></li>
												<li><a href="">7</a></li>
												<li><a href="">8</a></li>
												<li><a href="">9</a></li>
												<li><a href="">下一页</a></li>
												<li><a href="">末页</a></li>
												<li>跳至&nbsp;<input type="text">&nbsp;页</li>
											</ul>
											<!--<img src="{{ static_url('imgs/cloud2.png') }}" alt="" class="hidden-md hidden-sm">-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include _base_js.html %}

		<script src="{{ static_url('js/framework/angular.min.js') }}" type="text/javascript" charset="utf-8"></script>
		<script src="{{ static_url('js/ngapp.js') }}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
			//排序图标
			$(".sort").click(function(){
				$(this).next().toggleClass('toggle');
			});
			
		</script>
		
	</body>

</html>