<!DOCTYPE html>
<html lang="en" ng-app="app">

	<head>
		<meta charset="UTF-8">
		<title>切分校对</title>
		<link rel="shortcut icon" href="{{ static_url('imgs/favicon.ico') }}" type="image/x-icon">
		<link rel="stylesheet" href="{{ static_url('css/base.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ static_url('css/dzj.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ static_url('css/labelformat.css') }}">
		<style>
			/*内容*/
			
			.wrapper {
				margin: 10px;
				height: 100%;
				padding-bottom: 50px;
			}
		</style>
	</head>

	<body>
		<div class="app-main">
			<div class="main">
				<!--模拟出左边菜单，方便写样式-->
				<common-left title="mission_history" sub="mission-slice"></common-left>

				<div class="main-content">
					<common-head></common-head>
					<div class="single-page-con">
						<div class="layout">
							<div class="layout-content">
								<!-- 中间内容 -->
								<!--<div class="single-page-con">-->
								<div class="layout">
									<div class="layout-content">
										<div class="tripitaka-volume">
											<div class="wrapper">
												<div class="main-volume">
													<div class="volume-right">
														<!--根据接口返回数据情况--右侧没有文本数据时-->
														<div class="full">
															<div class="full-hd clearfix">
																<div class="left fl">
																	<span id="">
																		页编码：GL-1-1-1
																	</span>
																	<span id="">
																		任务类型：字切分
																	</span>
																</div>
																<div class="right fr">
																	
																</div>
															</div>
															<div class="full-bd">
																<img src="{{ static_url('imgs/examImg.png') }}" alt="">
															</div>

														</div>
														<!--./右侧没有文本数据时-->
														<!--根据接口返回数据情况--右侧有文本数据时-->

														<!--./右侧有文本数据时-->
														<!--弹窗-->

														<!--./弹窗-->
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
								<!--</div>-->
								<!-- ./中间内容 -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include _base_js.html %}
		<script src="{{ static_url('js/framework/angular.min.js') }}" type="text/javascript" charset="utf-8"></script>
		<script src="{{ static_url('js/ngapp.js') }}" type="text/javascript" charset="utf-8"></script>

	</body>

</html>