<!DOCTYPE html>
<html lang="en" ng-app="app">

	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="{{ static_url('imgs/favicon.ico') }}" type="image/x-icon">
		<title>大藏经古籍数字化平台-实体藏经</title>
		<link rel="stylesheet" href="{{ static_url('css/base.css') }}">
		<link rel="stylesheet" href="{{ static_url('css/dzj.css') }}">
	</head>
	<style>

	</style>

	<body>
		<div class="app-main">
			<div class="main">
				<!--模拟出左边菜单，方便写样式-->
				<common-left title="stzj"></common-left>
				<div class="main-content">
					<common-head></common-head>
					<div class="single-page-con">
						<div class="layout">
							<div class="layout-content">
								<!-- 中间内容 -->
								<div class="tripitaka-list">
									<div class="wrapper">
										<ul class="list clearfix">
											<li>
												<a href="tripitaka-volume.html">
													<img src="{{ static_url('imgs/FS_face.jpg') }}" alt="">
													<p>房山石经</p>
												</a>
											</li>
											<li>
												<a href="#">
													<img src="{{ static_url('imgs/FS_face.jpg') }}" alt="">
													<p>房山石经</p>
												</a>
											</li>
											<li>
												<a href="#">
													<img src="{{ static_url('imgs/FS_face.jpg') }}" alt="">
													<p>房山石经</p>
												</a>
											</li>
											<li>
												<a href="#">
													<img src="{{ static_url('imgs/FS_face.jpg') }}" alt="">
													<p>房山石经</p>
												</a>
											</li>
											<li>
												<a href="#">
													<img src="{{ static_url('imgs/FS_face.jpg') }}" alt="">
													<p>房山石经</p>
												</a>
											</li>
											<li>
												<a href="#">
													<img src="{{ static_url('imgs/FS_face.jpg') }}" alt="">
													<p>房山石经</p>
												</a>
											</li>
											<li>
												<a href="#">
													<img src="{{ static_url('imgs/FS_face.jpg') }}" alt="">
													<p>房山石经</p>
												</a>
											</li>
											<li>
												<a href="#">
													<img src="{{ static_url('imgs/FS_face.jpg') }}" alt="">
													<p>房山石经</p>
												</a>
											</li>
											<li>
												<a href="#">
													<img src="{{ static_url('imgs/FS_face.jpg') }}" alt="">
													<p>房山石经</p>
												</a>
											</li>
											<li>
												<a href="#">
													<img src="{{ static_url('imgs/FS_face.jpg') }}" alt="">
													<p>房山石经</p>
												</a>
											</li>
											<li>
												<a href="#">
													<img src="{{ static_url('imgs/FS_face.jpg') }}" alt="">
													<p>房山石经</p>
												</a>
											</li>
											<li>
												<a href="#">
													<img src="{{ static_url('imgs/FS_face.jpg') }}" alt="">
													<p>房山石经</p>
												</a>
											</li>
											<li>
												<a href="#">
													<img src="{{ static_url('imgs/FS_face.jpg') }}" alt="">
													<p>房山石经</p>
												</a>
											</li>
											<li>
												<a href="#">
													<img src="{{ static_url('imgs/FS_face.jpg') }}" alt="">
													<p>房山石经</p>
												</a>
											</li>
										</ul>
										<div class="pagers">
											<ul>
												<li><a href="">首页</a></li>
												<li><a href="">上一页</a></li>
												<li class="active"><a href="">1</a></li>
												<li><a href="">2</a></li>
												<li><a href="">3</a></li>
												<li><a href="">4</a></li>
												<li><a href="">5</a></li>
												<li><a href="">6</a></li>
												<li><a href="">7</a></li>
												<li><a href="">8</a></li>
												<li><a href="">9</a></li>
												<li><a href="">下一页</a></li>
												<li><a href="">末页</a></li>
												<li>跳至&nbsp;<input type="text">&nbsp;页</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- ./中间内容 -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="{{ static_url('plugins/jquery.min.js') }}"></script>
		<script src="{{ static_url('plugins/jquery.slimscroll.min.js') }}"></script>
		<script src="{{ static_url('js/framework/angular.min.js') }}" type="text/javascript" charset="utf-8"></script>
		<script src="{{ static_url('js/ngapp.js') }}" type="text/javascript" charset="utf-8"></script>
	</body>

</html>