<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>帮助中心</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link href="{{ static_url('css/home.css') }}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <style>
    .help {
      margin: 25px;
    }
    .help ul{
      list-style-type: disc
    }
  </style>
</head>

<body>
<div class="app-main">
  <div class="main">
    {% module CommonLeft(title="help") %}
    <div class="main-content">
      {% module CommonHead() %}
      <div class="single-page-con">
        <div class="layout">
          <div class="layout-content">
            <div class="wrapper">
              <div class="collate-list help">
                {% for a in articles %}
                <ul>
                  <li><a href="/article/{{a['article_id']}}">{{a['title']}}</a></li>
                </ul>
                {% end %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include _base_js.html %}
</body>

</html>
