{% extends "com_list.html" %}
{% block custom-css %}
<style>
  .btn-config, .btn-help {
    display: none;
  }
</style>
{% end %}

{% block custom-js %}
<script>
  // 查看
  $('.action .my-task-view').click(function () {
    var data = getData($(this).parent().parent().attr('id'));
    location.href = '/task/' + data.task_type + '/' + data._id + '?from=' + location.pathname;
  });
  // 继续
  $('.action .my-task-do').click(function () {
    var data = getData($(this).parent().parent().attr('id'));
    location.href = '/task/do/' + data.task_type + '/' + data._id;
  });
  // 修改
  $('.action .my-task-update').click(function () {
    var data = getData($(this).parent().parent().attr('id'));
    location.href = '/task/update/' + data.task_type + '/' + data._id + '?from=' + location.pathname;
  });

</script>
{% end %}
