<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的任务-{{task_name}}</title>
    {% include _base_meta.html %}

    <!-- DataTables -->
    <link href="{{ static_url('assets/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css"/>
    <!-- Custom Files -->
    <link href="{{ static_url('css/helper.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css"/>
    {% include _base_css.html %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>


<body>
<div class="app-main">
    <div class="main">
        <!--公共左侧导航栏 -->
        {% module CommonLeft(title="task_history", sub="task-cut") %}
        <div class="main-content">
            <!--公共头部 -->
            {% module CommonHead() %}
            <div class="single-page-con">
                <div class="layout">
                    <div class="layout-content">
                        <div class="collate-history">
                            <div class="wrapper">
                                <div class="collate-list">

                                    <table style="border-collapse:separate; border-spacing:0px 10px;" class="sty_table">
                                        <thead>
                                        <tr>
                                            <th><span>页编码</span></th>
                                            <th><span>任务状态</span></th>
                                            <th><span>领取时间</span></th>
                                            <th><span>完成时间</span></th>
                                            <th><span>操作</span></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for t in tasks %}
                                        <tr>
                                            <td>{{t['name']}}</td>
                                            <td>{{task_statuses.get(t.get(task_type, {}).get('status'),'')}}</td>
                                            <td>{{t.get(task_type, {}).get('picked_time','')}}</td>
                                            <td>{{t.get(task_type, {}).get('finished_time','')}}</td>
                                            <td>
                                                <a class="view" href="/task/{{task_type}}/{{t['name']}}">查看</a>
                                            </td>
                                        </tr>

                                        {% end %}
                                        </tbody>
                                    </table>
                                </div>
                                {% module Pager(pager='TODO') %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include _base_js.html %}

</body>

</html>