<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{page['name']}}</title>
  {% include com/_base_css.html %}
  <link href="{{static_url('css/box.css')}}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <style>
    .m-panel {
      display: flex;
      flex-direction: column;
      background: var(--Grey_Content1);
      border-left: 1px solid var(--Grey_Light);
      border-right: 1px solid var(--Grey_Light);
    }

    .panel-list > li > a {
      clear: both;
      color: #333;
      display: block;
      cursor: pointer;
      font-weight: 400;
      padding: 3px 20px;
      white-space: nowrap;
      line-height: 1.42857143;
    }

    .panel-list li:hover {
      background-color: var(--Grey_Line);
    }

    .panel-list li.active {
      background-color: var(--Grey_Lighter);
    }

    .panel-list .divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }

    .m-toolbar.order-mode .cut,
    .m-toolbar.cut-mode .order {
      display: none !important;
    }

    .m-toolbar .s-count {
      font-size: 75%;
      color: var(--Brown_Darker);
    }

    .m-toolbar .btn-txt.active {
      color: green;
    }

    .h-toolbar {
      width: 45px;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: var(--Grey_Lighter);
    }

    .h-toolbar .btn-txt {
      margin: 5px 5px;
    }

    .h-toolbar::-webkit-scrollbar {
      width: 4px;
    }

    .h-toolbar::-webkit-scrollbar-thumb {
      -webkit-box-shadow: rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.2);
    }

    .h-toolbar::-webkit-scrollbar-track {
      -webkit-box-shadow: rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.1);
    }

    .m-footer {
      display: flex;
      justify-content: space-between;
    }

    .m-footer .hint > span {
      margin-left: 10px;
    }

    .m-footer .symbol {
      font-size: 12px;
      margin-right: 12px;
    }

    .m-footer .added {
      color: #BA55D3;
    }

    .m-footer .changed {
      color: red;
    }

    .m-footer .deleted {
      color: black;
    }

    .m-footer .task-name {
      margin-right: 12px;
    }

    .m-footer .task-user {
      cursor: pointer;
    }

  </style>
</head>

<body class="widescreen" style="overflow: hidden">
<div class="app-main">
  <div class="main">
    <div class="m-header m-toolbar cut-mode">
      <div class="left">
        <div class="btn-group back">
          <span class="icon-return-back" onclick="leave()" data-toggle="tooltip" data-placement="bottom" title="返回"></span>
        </div>
        <div class="btn-group title">切分</div>
      </div><!--left-->
      <div class="center">
        <div id="help" class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助[h]"></div>
        <div id="toggle-img" class="btn-txt icon-image active" data-toggle="tooltip" data-placement="bottom" title="显隐图片[p]"></div>
        <div id="toggle-blur" class="btn-txt icon-blur active" data-toggle="tooltip" data-placement="bottom" title="模糊图片[空格]"></div>
        <div id="zoom-in" class="btn-txt icon-zoom-in" data-toggle="tooltip" data-placement="bottom" title="放大图片[+]"></div>
        <div id="zoom-reset" class="btn-txt icon-zoom-back" data-toggle="tooltip" data-placement="bottom" title="原始大小[1]"></div>
        <div id="zoom-out" class="btn-txt icon-zoom-out" data-toggle="tooltip" data-placement="bottom" title="缩小图片[-]"></div>
        <div id="toggle-box-more" class="btn-txt icon-more cut hide" title="更多"></div>
        <div id="box-op" class="btn-group more-group cut" style="margin-left: 5px">
          <button id="toggle-white" class="btn btn-default btn-sm toggle-shape" type="button" title="蒙白所有字框[a]">蒙白<sup class="s-count"></sup></button>
          <button id="toggle-opacity" class="btn btn-default btn-sm toggle-shape" type="button" title="透视所有字框[s]">透视<sup class="s-count"></sup></button>
          <button id="toggle-narrow" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐窄字框[d]">窄<sup class="s-count"></sup></button>
          <button id="toggle-flat" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐扁字框[f]">扁<sup class="s-count"></sup></button>
          <button id="toggle-small" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐小字框[q]">小<sup class="s-count"></sup></button>
          <button id="toggle-large" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐大字框[w]">大<sup class="s-count"></sup></button>
          <button id="toggle-overlap" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐重叠字框[e]">重叠<sup class="s-count"></sup></button>
          <button id="toggle-mayWrong" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐易错字框[r]">易错<sup class="s-count"></sup></button>
        </div>
      </div><!--center-->
      <div class="right">
        {% set mode = globals().get('mode') or '' %}
        {% set readonly = globals().get('readonly') or False %}
        {% set my_task = globals().get('mode') in ['do', 'update', 'nav'] %}
        <div id="toggle-my-hint" class="btn-txt icon-users hint cut{{' hide' if readonly else ''}}" data-toggle="tooltip" data-placement="bottom" title="我的修改[i]"></div>
        <div id="op-hint" class="btn-txt icon-history cut" data-toggle="tooltip" data-placement="bottom" title="修改历史"></div>
        <div id="save" class="btn-txt icon-save{{' hide' if readonly else ''}}" data-toggle="tooltip" data-placement="bottom" title="保存[ctrl+s]"></div>
        <div id="task-my-remark" class="btn-txt icon-edit2{{' hide' if not my_task else ''}}" data-toggle="tooltip" data-placement="bottom" title="备注我的任务"></div>
        <div id="task-admin-remark" class="btn-txt icon-edit{{' hide' if mode != 'browse' else ''}}" data-toggle="tooltip" data-placement="bottom" title="备注任务管理"></div>
        <div id="task-return" class="btn-txt icon-return-task{{' hide' if not my_task else ''}}" data-toggle="tooltip" data-placement="bottom" title="退回任务[ctrl+r]"></div>
        <div id="toggle-order" class="btn-txt icon-next-step cut toggle-mode" data-toggle="tooltip" data-placement="bottom" title="字序[b]"></div>
        <div id="toggle-cut" class="btn-txt icon-prev-step order toggle-mode" data-toggle="tooltip" data-placement="bottom" title="切分[g]"></div>
        <div id="task-submit-back" class="btn-txt icon-check-outline2 order{{' hide' if readonly or not my_task else ''}}" data-toggle="tooltip" data-placement="bottom" title="提交后转任务大厅[y]"></div>
        <div id="task-submit" class="btn-txt icon-submit my-task order{{' hide' if readonly or not my_task else ''}}" data-toggle="tooltip" data-placement="bottom" title="提交后领新任务[t]"></div>
        <div id="task-prev" class="btn-txt icon-arrow-left {{'hide' if mode not in ['browse', 'nav'] else mode}}" data-toggle="tooltip" data-placement="bottom" title="前一个任务[]]"></div>
        <div id="task-next" class="btn-txt icon-arrow-right {{'hide' if mode not in ['browse', 'nav'] else mode}}" data-toggle="tooltip" data-placement="bottom" title="后一个任务[[]"></div>
      </div><!--right-->
    </div><!--m-header-->

    <div class="m-body flex">
      <div class="m-content box-holder cut-mode show-char"></div>
      <div class="m-panel hide">
        <ul id="hint-list" class="panel-list slim-bar">
          <li id="no-hint" class="hint"><a>当前状态</a></li>
          <li id="ini-hint" class="hint"><a>初始状态</a></li>
          <li id="cmb-hint" class="hint"><a>总的修改</a></li>
          <li id="play-hint" class="hint"><a>播放修改</a></li>
        </ul>
      </div>
      <div class="m-toolbar h-toolbar cut-mode no-arrow">
        <div class="up">
          <div id="btn-reset" class="btn-txt icon-loop2" data-toggle="tooltip" data-placement="left" title="恢复初始设置[esc]"></div>
          <div id="toggle-char" class="btn-txt icon-chars toggle-box active" data-toggle="tooltip" data-placement="left" title="显隐字框[j]"></div>
          <div id="toggle-column" class="btn-txt icon-columns toggle-box" data-toggle="tooltip" data-placement="left" title="显隐列框[k]"></div>
          <div id="toggle-block" class="btn-txt icon-blocks toggle-box" data-toggle="tooltip" data-placement="left" title="显隐栏框[l]"></div>
          <div id="toggle-all" class="btn-txt icon-three toggle-box cut" data-toggle="tooltip" data-placement="left" title="显隐所有[;]"></div>
          <div id="toggle-image" class="btn-txt icon-images toggle-box cut" data-toggle="tooltip" data-placement="left" title="显隐图框[o]"></div>
          <div id="toggle-link-char" class="btn-txt icon-char-order order toggle-link" data-toggle="tooltip" data-placement="left" title="显隐字框序线[u]"></div>
          <div id="toggle-no-char" class="btn-txt icon-char-no toggle-no" data-toggle="tooltip" data-placement="left" title="显隐字框序号[n]"></div>
        </div>
        <div class="down">
          <div id="undo" class="btn-txt icon-undo disabled cut" data-toggle="tooltip" data-placement="left" title="撤销[ctrl+z]"></div>
          <div id="redo" class="btn-txt icon-redo disabled cut" data-toggle="tooltip" data-placement="left" title="重做[ctrl+x]"></div>
          <div id="toggle-multi" class="btn-txt icon-all-select cut" data-toggle="tooltip" data-placement="left" title="多选模式[v]"></div>
          <div id="adjust-columns" class="btn-txt icon-columns2 cut hide" data-toggle="tooltip" data-placement="left" title="自适应调整列框"></div>
          <div id="adjust-blocks" class="btn-txt icon-blocks2 cut hide" data-toggle="tooltip" data-placement="left" title="自适应调整栏框"></div>
          <div id="toggle-link-column" class="btn-txt icon-column-order order toggle-link" data-toggle="tooltip" data-placement="left" title="显隐列框序线"></div>
          <div id="toggle-no-column" class="btn-txt icon-column-no order toggle-no" data-toggle="tooltip" data-placement="left" title="显隐列框序号"></div>
          <div id="toggle-link-block" class="btn-txt icon-block-order order toggle-link" data-toggle="tooltip" data-placement="left" title="显隐栏框序线"></div>
          <div id="toggle-no-block" class="btn-txt icon-block-no order toggle-no" data-toggle="tooltip" data-placement="left" title="显隐栏框序号"></div>
          <div id="reset-order" class="btn-txt icon-sort2 order" data-toggle="tooltip" data-placement="left" title="算法重新排序"></div>
          <div id="load-user-order" class="btn-txt icon-swap order" data-toggle="tooltip" data-placement="left" title="加载用户序线"></div>
          <div id="btn-check" class="btn-txt icon-check" data-toggle="tooltip" data-placement="left" title="检查、应用修改[c]"></div>
          <div id="cut-config" class="btn-txt icon-config" data-toggle="tooltip" data-placement="left" title="系统配置"></div>
        </div>
      </div>
    </div><!--m-body-->

    <div class="m-alert alert alert-info hide" id="m-alert">
      <a class="close">×</a><i class="loading icon-spinner1 animate-spin"></i>
      <strong class="title"></strong><span class="text"></span>
    </div><!--m-alert-->

    <div class="m-footer">
      <span class="fl">
        <span class="page-info">页编码：<span class="page-name">{{page['name']}}</span></span>
        {% if globals().get('task_type') %}
        <span class="task-info">
          <span class="task-name">#切分{{task_names.get(task_type)}}</span>
          {% for t in globals().get('tasks', []) %}
          <span id="{{t['picked_user_id']}}" class="task-user">{{task_names.get(t['task_type'])}}@{{t['picked_by']}}</span>
          {% end %}
        </span>
        {% end %}
      </span>
      <span class="center hint-info hide">
        <span class="added">新增(<span class="s-no">0</span>)：<span class="symbol icon-box1"></span></span>
        <span class="changed">修改(<span class="s-no">0</span>)：<span class="symbol icon-box1"></span></span>
        <span class="deleted">删除(<span class="s-no">0</span>)：<span class="symbol icon-box1"></span></span>
      </span>
      <span class="fr">
        <span class="char-info">当前：<span class="char-name">未选中</span><span class="char-id"></span></span>
      </span>
    </div><!--m-footer-->
  </div>
</div>

<div class="panel-body" style="padding: 0">
  <div id="helpModal" class="modal help fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档<a class="more-help" href="/help">更多</a></h4>
        </div>
        <div class="modal-body">
          <div class="title">一、概述</div>
          <div class="intro">
            本页面用于检查图片的栏框、字框、列框等是否正确，并对不正确的切分框进行修改。<br/>
            栏框要求将图片的正文（不包括边缘的页码等）用栏框框住，尽量不要包括正文外的边缘线。如果图片有多栏，则需要多个栏框。<br/>
            列框要求用列框将图片的每列文字框住。<br/>
            字框要求将图片的正文用字框框住，因文字紧凑而导致字框交叠时，首要原则是尽量把笔画都框住，其次是尽量减少交叠。<br/>
            <b>注：</b>请您看下面的快捷键介绍。通过键盘快捷键进行操作，可以很好的提升效率。
          </div>
          <div class="title">二、快捷键</div>
          <table class="table" id="hot-key">
            <tr>
              <td>1/2/3/4/5</td>
              <td>图片放大1~5倍</td>
            </tr>
            <tr>
              <td>6/7/8/9</td>
              <td>图片缩小至60%~90%</td>
            </tr>
            <tr>
              <td>空格</td>
              <td>图片模糊</td>
            </tr>
            <tr>
              <td>蒙白/透视/窄/扁/小/大/重叠/易错</td>
              <td>a/s/d/f/q/w/e/r</td>
            </tr>
            <tr>
              <td>tab、shift+tab</td>
              <td>切换字框、列框、栏框</td>
            </tr>
            <tr>
              <td>shift + 方向键</td>
              <td>shift表示扩大字框，方向键代表字框的四条边</td>
            </tr>
            <tr>
              <td>alt + 方向键</td>
              <td>alt表示缩小字框，方向键代表字框的四条边</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% module PageConfigModal() %}
  {% if hasattr(handler, 'task_type') and handler.task_type %}
  {% module ReturnModal() %}
  {% module TaskRemarkModal() %}
  {% module TaskConfigModal(handler.config_fields if hasattr(handler, 'config_fields') else []) %}
  {% end %}
</div>

{% include com/_base_js.html %}
<script src="{{static_url('js/box/jquery.mapKey.js')}}"></script>
<script src="{{static_url('js/box/raphael.js')}}"></script>
<script src="{{static_url('js/box/raphael.zoom.js')}}"></script>
<script src="{{static_url('js/box/box.base.js')}}"></script>
<script src="{{static_url('js/box/box.cut.js')}}"></script>
<script src="{{static_url('js/box/box.order.js')}}"></script>
<script src="{{static_url('js/box/box.sort.js')}}"></script>
<script src="{{static_url('js/box/box.ext.js')}}"></script>
<script src="{{static_url('js/box/box.page.js')}}"></script>
<script src="{{static_url('js/box/box.key.js')}}"></script>
<script src="{{static_url('js/btn-box.js')}}"></script>
{% include com/_base_task.html %}
<script>
  // 初始化。注：先设置右侧，后设置$.page.init
  if (getStorage('boxOpHint', false)) {
    $('.m-panel').removeClass('hide');
    $('#op-hint').addClass('active');
  }

  $.page.init({
    readonly: false,
    curBoxType: 'char',
    holder: '.box-holder',
    showMode: 'no-scroll',
    userId: currentUserId,
    imgUrl: '{{page["img_url"]}}',
    width: '{{page.get("width") or 0}}',
    height: '{{page.get("height") or 0}}',
    chars: decodeJSON('{{page.get("chars") or []}}'),
    blocks: decodeJSON('{{page.get("blocks") or []}}'),
    images: decodeJSON('{{page.get("images") or []}}'),
    columns: decodeJSON('{{page.get("columns") or []}}'),
    userLinks: decodeJSON('{{page.get("user_links") or "{}"}}'),
    showImage: $('#toggle-img').hasClass('active'),
    blurImage: $('#toggle-blur').hasClass('active') ? getStorage('imgOpacity', 0.2) : 1,
    mayWrong: getStorage('mayWrong') || '一二三士土王五七十千不示入人八',
  });
  $.box.bindFullKeys();

  // 保存数据、提交任务
  $('#save,#task-submit,#task-submit-back').on('click', function () {
    let $this = $(this), id = $this.attr('id');
    if ($this.hasClass('disabled')) return;
    let data = $.page.checkAndExport();
    if (!data.status) return;
    bsLoading('保存中‧‧‧');
    $this.addClass('disabled');
    data.submit = id !== 'save';
    postApi(location.pathname, {data: data}, function (res) {
      bsShow('成功!', '已保存。', 'info', 1000);
      $this.removeClass('disabled');
      if (id === 'task-submit') {
        pick(gTaskType);
      } else if (id === 'task-submit-back') {
        location.href = '/task/lobby/' + gTaskType;
      }
    });
  });

</script>
</body>
</html>
