{% extends "com/_list.html" %}
{% block custom-css %}
<link href="{{static_url('css/data-list.css')}}" rel="stylesheet"/>
<style>
  .sty-table .tasks {
    width: 210px;
  }

  td.remark {
    font-size: 12px;
  }

  .select2-container {
    width: 100% !important;
  }

  #searchModal .modal-body h4, #searchModal .modal-body div {
    margin: 5px 0;
  }

  #txt-content {
    font-size: 1.2em;
  }
</style>
{% end %}

{% block custom-modal %}
<div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">帮助文档</h4>
      </div>
      <div class="modal-body">
        <div class="title">一、简介</div>
        <div class="intro">
          页数据管理模块提供各种页面的管理操作，包括批量删除、查找重复、更新分类、生成字表，检查图文匹配，综合检索、发布任务等，
          还可以针对具体的页面修改字框、字序、进行页面浏览和查看、查看详情、更新基础数据、删除数据等操作。<br/>
          注：浏览指的是针对检索结果的浏览，浏览时可以对页面进行具体的操作。
        </div>
        <div class="title">二、操作</div>
        <table class="table">
          <tr>
            <td>批量删除</td>
            <td>批量删除选中的页面</td>
          </tr>
          <tr>
            <td>查找重复</td>
            <td>查找页编码重复的页面</td>
          </tr>
          <tr>
            <td>更新分类</td>
            <td>批量更新选中页面的分类。对页面分类后，以便进行批量管理</td>
          </tr>
          <tr>
            <td>生成字表</td>
            <td>对选中的页面生成字数据</td>
          </tr>
          <tr>
            <td>检查图文匹配</td>
            <td>对全部页面的比对文本，OCR列文本，校对文本进行图文匹配检查，检查结果显示在列表中，图文匹配的后面打√，不匹配的打Χ</td>
          </tr>
          <tr>
            <td>综合检索</td>
            <td>
              可以对页面的各个字段进行检索。尤其值得注意的是，综合检索设置了“切分任务”、“文字任务”两种字段，包括“全未发布”、 “已发布”、“全部完成”。
              比如要检索所有未发布切分任务的页面，就可以通过这个字段进行。
            </td>
          </tr>
          <tr>
            <td>发布任务</td>
            <td>
              如果任务没有前置任务，则系统直接发布为「已发布」。如果有前置任务，则根据前置任务情况：如果都已完成，则发布为「已发布」；
              如果有一个前置任务未完成，则发布为「等待前置任务」。<br/>
              该任务的前置任务在完成时，系统会进行检查，如果所有前置任务都已完成，则系统将自动设置为「已发布」。<br/>
              如果任务数据未就绪或已经发布，则发布失败。
            </td>
          </tr>
          <tr>
            <td>浏览</td>
            <td>逐条浏览检索结果，在浏览页面时可以对页面进行各种操作，包括更新基础信息和添加备注</td>
          </tr>
          <tr>
            <td>详情</td>
            <td>查看页面详情</td>
          </tr>
          <tr>
            <td>更新</td>
            <td>更新页面基础信息</td>
          </tr>
          <tr>
            <td>删除</td>
            <td>删除页面。只能删除没有任何关联任务的数据</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="searchModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><h4 class="modal-title">综合检索</h4></div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <h4 class="col-sm-2 control-label">页编码</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control name" value="{{params.get('name') or ''}}" placeholder="请输入页编码">
            </div>
            <h4 class="col-sm-2 control-label">分　类</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control source" value="{{params.get('source') or ''}}" placeholder="请输入分类">
            </div>
            <h4 class="col-sm-2 control-label">文　本</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control txt" value="{{params.get('txt') or ''}}" placeholder="请输入文本">
            </div>
            <h4 class="col-sm-2 control-label">切分备注</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control remark_box" value="{{params.get('remark_box') or ''}}" placeholder="请输入切分备注">
            </div>
            <h4 class="col-sm-2 control-label">文字备注</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control remark_txt" value="{{params.get('remark_txt') or ''}}" placeholder="请输入文字备注">
            </div>
            <h4 class="col-sm-2 control-label">任务类型</h4>
            <div class="col-sm-10">
              <select class="form-control task_type">
                {% for k,v in page_tasks.items() %}
                {% if params.get('task_type', '') == k %}
                <option value="{{k}}" selected="selected">{{v}}</option>
                {% else %}
                <option value="{{k}}">{{v}}</option>
                {% end %}
                {% end %}
              </select>
            </div>
            <h4 class="col-sm-2 control-label">任务校次</h4>
            <div class="col-sm-10">
              <select class="form-control num">
                {% for i in range(1, 7) %}
                {% if params.get('num', '1') == str(i) %}
                <option value="{{i}}" selected="selected">{{i}}</option>
                {% else %}
                <option value="{{i}}">{{i}}</option>
                {% end %}
                {% end %}
              </select>
            </div>
            <h4 class="col-sm-2 control-label">任务状态</h4>
            <div class="col-sm-10">
              <select class="form-control task_status">
                {% for k,v in task_statuses.items() %}
                {% if params.get('task_status', '') == k %}
                <option value="{{k}}" selected="selected">{{v}}</option>
                {% else %}
                <option value="{{k}}">{{v}}</option>
                {% end %}
                {% end %}
              </select>
            </div>
            <h4 class="col-sm-2 control-label hide">匹配字段</h4>
            <div class="col-sm-10 hide">
              <select class="form-control match_field">
                {% for k,v in match_fields.items() %}
                {% if params.get('match_field', '') == k %}
                <option value="{{k}}" selected="selected">{{v}}</option>
                {% else %}
                <option value="{{k}}">{{v}}</option>
                {% end %}
                {% end %}
              </select>
            </div>
            <h4 class="col-sm-2 control-label hide">匹配状态</h4>
            <div class="col-sm-10 hide">
              <select class="form-control match_status">
                {% for k,v in match_statuses.items() %}
                {% if params.get('match_status', '') == k %}
                <option value="{{k}}" selected="selected">{{v}}</option>
                {% else %}
                <option value="{{k}}">{{v}}</option>
                {% end %}
                {% end %}
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect reset">重置</button>
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
      </div>
    </div>
  </div>
</div>
<div id="sourceModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sourceModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">更新分类</h4>
      </div>
      <div class="modal-body">
        <h4 class="control-label">输入分类</h4>
        <div>
          <input type="text" class="form-control source" placeholder="请输入分类">
        </div>
        <div class="modal-tab">
          <h4 class="control-label">选择待更新的页码</h4>
          <ul class="nav nav-tabs" id="tabs2select">
            <li class="active"><a href="#src-select" data-toggle="tab">按选中页码</a></li>
            <li><a href="#src-search" data-toggle="tab">按检索参数</a></li>
            <li><a href="#src-file" data-toggle="tab">上传编码文件</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="src-select">
              <textarea type="text" class="form-control" id="src-names" placeholder="所选中的页码"></textarea>
            </div>
            <div class="tab-pane" id="src-search">
              <input type="text" class="form-control" id="src-param" placeholder="检索参数"/>
              <span>注：将根据参数检索，然后更新检索结果的所有页面，而不是其中某页。</span>
            </div>
            <div class="tab-pane" id="src-file">
              <i>请选择CSV、TXT或JSON格式的文件，大小不超过10M</i>
              <input type="file" class="form-control" id="src-upload" accept=".txt,.csv" style="padding:4px 4px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
      </div>
    </div>
  </div>
</div>
<div id="publishModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="publishModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">发布任务/<span id="task-name"></span></h4>
      </div>
      <div class="modal-body">
        <input class="task_type" type="hidden" value="">
        <h4 class="control-label">任务批次</h4>
        <div>
          <input type="text" class="form-control batch" placeholder="请输入批次号">
        </div>
        <h4 class="control-label">选择前置任务</h4>
        <div class="pre_tasks">
          {% for k, name in handler.task_names('page', True).items() %}
          {% if handler.is_mod_enabled(name) %}
          <label class="checkbox-inline">
            <input type="checkbox" class="{{k}}" title="{{k}}">{{name}}
          </label>
          {% end %}
          {% end %}
        </div>
        <h4 class="control-label label-num">选择校次</h4>
        <div class="num"></div>
        <h4 class="control-label label-steps">选择子步骤</h4>
        <div class="steps"></div>
        <h4 class="control-label label-fields hide">选择字段</h4>
        <div class="fields hide">
          <label class="checkbox-inline"><input type="checkbox" class="ocr_col" title="ocr_col" checked>OCR列文</label>
          <label class="checkbox-inline"><input type="checkbox" class="cmp_txt" title="cmp_txt" checked>比对文本</label>
          <label class="checkbox-inline"><input type="checkbox" class="txt" title="txt" checked>校对文本</label>
        </div>
        <h4 class="control-label">选择优先级</h4>
        <div class="priority">
          <label class="radio-inline"><input type="radio" name="priority" value="3">高</label>
          <label class="radio-inline"><input type="radio" name="priority" value="2" checked>中</label>
          <label class="radio-inline"><input type="radio" name="priority" value="1">低</label>
        </div>
        <h4 class="control-label hide">任务已完成时，是否重新发布？</h4>
        <div class="force hide">
          <label class="radio-inline"><input type="radio" name="force" value="0" checked>否</label>
          <label class="radio-inline"><input type="radio" name="force" value="1">是</label>
        </div>
        <div class="modal-tab">
          <h4 class="control-label">选择待发布的任务</h4>
          <ul class="nav nav-tabs" id="tabContent">
            <li class="active"><a href="#source-select" data-toggle="tab">按选中页码</a></li>
            <li><a href="#source-search" data-toggle="tab">按检索参数</a></li>
            <li><a href="#source-file" data-toggle="tab">上传编码文件</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="source-select">
              <textarea type="text" class="form-control" id="page-names" placeholder="所选中的页码"></textarea>
            </div>
            <div class="tab-pane" id="source-search">
              <input type="text" class="form-control" id="search-param" placeholder="检索参数"/>
            </div>
            <div class="tab-pane" id="source-file">
              <i>请选择CSV、TXT或JSON格式的文件，大小不超过10M</i>
              <input type="file" class="form-control" id="upload" accept=".txt,.csv" style="padding:4px 4px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-default waves-effect waves-light modal-refresh">刷新</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">发布</button>
      </div>
    </div>
  </div>
</div>
<div id="checkModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="checkModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">检查图文匹配</h4>
      </div>
      <div class="modal-body">
        <h4 class="control-label">检查哪些字段</h4>
        <div class="field">
          {% for k, name in handler.match_fields.items() %}
          {% if name %}
          <label class="checkbox-inline">
            <input type="checkbox" class="{{k}}" title="{{k}}" checked>{{name}}
          </label>
          {% end %}
          {% end %}
        </div>
        <h4 class="control-label hide">不匹配时，是否自动发布任务？</h4>
        <div class="publish_task hide">
          <label class="radio-inline"><input type="radio" name="publish_task" value="是" checked>是</label>
          <label class="radio-inline"><input type="radio" name="publish_task" value="否">否</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
      </div>
    </div>
  </div>
</div>
</div>
{% end %}

{% block custom-js %}
<script>
  // 浏览
  $('.action .btn-nav').on('click', function () {
    var name = $(this).parent().siblings('.name').text();
    location.href = '/page/browse/' + name + location.search;
  });

  // 查找重复
  $('.operation .btn-duplicate').on('click', function () {
    location.href = location.pathname + '?duplicate=true';
  });

  // 统计分类
  $('.operation .btn-statistic').on('click', function () {
    location.href = '/page/statistic';
  });

  // 更新分类
  $sourceModal = $('#sourceModal');
  $('.operation .bat-source').on('click', function () {
    // 检索参数
    $sourceModal.find('#src-param').val(location.search);
    // 选中页码
    $sourceModal.find('#src-names').val($.map($('table tbody :checked'), function (item) {
      return $(item).parent().parent().find('.name').text().trim();
    }));
    $('#sourceModal').modal();
  });

  $('#sourceModal .modal-confirm11').on('click', function () {
    var ids = $.map($('table tbody :checked'), (item) => $(item).parent().parent().attr('id'));
    if (!ids.length)
      return showTips('请选择', '当前没有选中任何记录', 3000);
    Swal2.fire({title: '请输入分类', input: 'text'}).then((result) => {
      if (result.value) {
        postApi('/page/source', {data: {_ids: ids, source: result.value}}, () => location.reload());
      }
    });
  });

  $sourceModal.find('.modal-confirm').on('click', function () {
    var source = $sourceModal.find('.source').val().trim();
    if (!source.length) return showTips('请输入分类', '分类不允许为空', 3000);
    var data = {'source': source};

    var isFile = false;
    var formData = new FormData();
    var src = $sourceModal.find('.tab-pane.active').attr('id');
    switch (src) {
      case 'src-search':
        var searchParam = $sourceModal.find('#src-param').val();
        if (!searchParam.length) return showTips('提示', '检索条件不允许为空', 3000);
        data['search'] = searchParam;
        break;
      case 'src-select':
        var pageNames = $('#src-names').val().trim();
        if (!pageNames.length) return showTips('提示', '请选择页码', 3000);
        data['page_names'] = pageNames.split(',');
        break;
      case 'src-file':
        var idsFile = $('#src-upload')[0].files[0];
        if (typeof idsFile === "undefined") return showTips('提示', '请选择文件', 3000);
        if (!/\.(csv|txt|json)$/.test(idsFile.name)) return showTips('提示', '文件不是CSV或TXT类型', 3000);
        if (idsFile.size > (10 * 1024 * 1024)) return showTips('提示', '文件大小不能超过10M', 3000);
        formData.append('data', JSON.stringify(data));
        formData.append('names_file', idsFile);
        isFile = true;
        break;
    }
    postApi('/page/source', isFile ? formData : {data: data}, function (res) {
      location.reload();
    }, null, isFile);
  });

  // 生成字表
  $('.operation .bat-gen-chars').on('click', function () {
    var pageNames = $.map($('table tbody :checked'), (item) => $(item).parent().parent().find('.name').text().trim());
    if (!pageNames.length)
      return showTips('请选择', '当前没有选中任何记录', 3000);
    showConfirm('提示', `将对选中的${pageNames.length}条记录生成字表`, function () {
      postApi('/page/start_gen_chars', {data: {page_names: pageNames}}, (res) => {
        Swal0.fire({
          type: 'success', title: '成功', html: '已启动脚本，请稍后刷新页面查看。',
          footer: '详情可以查看<a href="/sys/oplog/latest/gen_chars">日志</a>'
        });
      });
    });
  });

  // 删除
  $('.btn-delete').on('click', function () {
    var name = $(this).parent().parent().find('.name').text().trim();
    showConfirm("确定删除" + name + "吗？", "删除后无法恢复！", function () {
      postApi('/api/page/delete', {data: {page_name: name}}, function (res) {
        if (res.deleted_count) {
          showSuccess('成功', '数据已删除', 2000);
          refresh(2000);
        }
        if (res.existed_count)
          showError('失败', '数据有关联任务，不能删除', 3000);
      }, function (err) {
        showError('删除失败', err.message, 5000);
      });
    });
  });
  // 批量删除
  $('.operation .bat-delete').click(function () {
    var names = $.map($('table tbody :checked'), function (item) {
      return $(item).parent().parent().find('.name').text().trim();
    });
    if (!names.length)
      return showTips('请选择', '当前没有选中任何记录', 3000);
    showConfirm("确定批量删除吗？", "删除后无法恢复！", function () {
      postApi('/api/page/delete', {data: {page_names: names}}, function (res) {
        var msg = `已删除${res.deleted_count}条数据。`;
        if (res.existed_count)
          msg += `${res.existed_count}条数据有关联任务，不能直接删除。`;
        showSuccess('成功', msg, 3000);
        if (res.deleted_count) {
          refresh(2000);
        }
      }, function (err) {
        showError('删除失败', err.message, 5000);
      });
    });
  });

  // 检查图文匹配
  $('.operation .btn-check-match').on('click', function () {
    $('#checkModal').modal();
  });
  $('#checkModal .modal-confirm').on('click', function () {
    $(this).text('进行中...');
    var field = $.map($('#checkModal .field :checked'), function (item) {
      return $(item).attr('title');
    });
    var publishTask = $('#checkModal .publish_task :checked').val() === '是';
    postApi('/page/start_check_match', {data: {field: field, publish_task: publishTask}}, (res) => {
      Swal0.fire({
        type: 'success', title: '成功', html: '已启动脚本，请稍后刷新页面查看。',
        footer: '详情可以查看<a href="/sys/oplog/latest/check_match">日志</a>'
      });
    });
  });

  // 修改字框
  $('.btn-box').on('click', function () {
    var name = $(this).parent().parent().find('.name').text();
    var url = '/page/box/' + name;
    location.href = url + '?from=' + encodeFrom();
  });

  // 修改字序
  $('.btn-order').on('click', function () {
    var name = $(this).parent().parent().find('.name').text();
    var url = '/page/order/' + name;
    location.href = url + '?from=' + encodeFrom();
  });

  // 修改文字
  $('.btn-text').on('click', function () {
    var name = $(this).parent().parent().find('.name').text();
    var url = '/page/txt/' + name;
    location.href = url + '?from=' + encodeFrom();
  });

  // 文本匹配-OCR列文、比对文本、校对文本
  $('.op_text a').on('click', function () {
    var name = $(this).parent().parent().find('.name').text();
    var url = `/page/txt_match/${name}?field=${$(this).attr("title")}`;
    location.href = url + '&from=' + encodeFrom();
  });

  // 查看
  $('.action .btn-my-view').on('click', function () {
    location.href = '/page/' + $(this).parent().siblings('.name').text();
  });

  // 详情
  $('.action .btn-detail').on('click', function () {
    location.href = '/page/info/' + $(this).parent().siblings('.name').text();
  });

</script>

<script>
  /*---综合检索---*/
  var $searchModal = $("#searchModal");
  var inputFields = ['name', 'source', 'txt', 'remark_box', 'remark_txt'];
  var selectFields = ['task_type', 'num', 'task_status', 'match_field', 'match_status'];
  $searchModal.find('.modal-confirm').on('click', function () {
    var search = '';
    inputFields.forEach(function (field) {
      var value = $searchModal.find('.' + field).val();
      if (value)
        search += '&' + field + '=' + value;
    });
    selectFields.forEach(function (field) {
      var value = $searchModal.find('.' + field + ' :selected').val();
      if (value)
        search += '&' + field + '=' + value;
    });
    if (!search.length)
      return showTips('提示', '请输入查询条件', 3000);
    location.href = location.pathname + '?' + search.substr(1);
  });

  // 重置检索条件
  $searchModal.find('.reset').on('click', function () {
    inputFields.forEach(function (field) {
      $searchModal.find('.' + field).val('');
    });
    selectFields.forEach(function (field) {
      $searchModal.find('.' + field + ' :selected').removeAttr('selected');
    });
  });

</script>

<script>
  /*---发布任务---*/
  var docs = [];
  var taskType = '';
  var $publishModal = $('#publishModal');
  var taskTypes = decodeJSON('{{handler.task_types}}');
  var publishFields = [
    {id: 'task_type'}, {id: 'batch'}, {id: 'pre_tasks', input_type: 'checkbox'},
    {id: 'steps', input_type: 'checkbox'}, {id: 'fields', input_type: 'checkbox'},
    {id: 'priority', input_type: 'radio'}, {id: 'num', input_type: 'radio'},
    {id: 'force', input_type: 'radio'}
  ];
  // 弹框
  $('.btn-publish a').on('click', function () {
    taskType = $(this).attr('title');
    $publishModal.find('.task_type').val(taskType);
    $publishModal.find('#task-name').text($(this).text());
    // 前置任务
    var preTasks = taskTypes[taskType].pre_tasks || [];
    $.map($publishModal.find('.pre_tasks :checkbox'), function (item) {
      $(item).parent().toggleClass('hide', $(item).attr('title') === taskType);
      if (preTasks.indexOf($(item).attr('title')) > -1) {
        $(item).prop('checked', true);
      } else {
        $(item).removeAttr('checked');
      }
    });
    // 子步骤
    var steps = taskTypes[taskType].steps || [];
    $publishModal.find('.label-steps').toggleClass('hide', !steps.length);
    $publishModal.find('.steps').html($.map(steps, function (item) {
      return `<label class="checkbox-inline"><input type="checkbox" title="${item[0]}" checked>${item[1]}</label>`;
    }).join(''));
    // 校次
    var num = taskTypes[taskType].num || [];
    $publishModal.find('.num').toggleClass('hide', !num.length);
    $publishModal.find('.label-num').toggleClass('hide', !num.length);
    $publishModal.find('.num').html($.map(num, function (item) {
      return `<label class="radio-inline"><input type="radio" name="num" value="${item}" ${item === 1 ? "checked" : ""}>${item}</label>`;
    }).join(''));
    // 选择字段
    $publishModal.find('.fields').toggleClass('hide', taskType !== 'txt_match');
    $publishModal.find('.label-fields').toggleClass('hide', taskType !== 'txt_match');
    // 检索参数
    $publishModal.find('#search-param').val(location.search);
    // 选中页码
    $publishModal.find('#page-names').val($.map($('table tbody :checked'), function (item) {
      return $(item).parent().parent().find('.name').text().trim();
    }));
    $publishModal.modal();
  });
  // 刷新
  $publishModal.find('.modal-refresh').on('click', function () {
    location.reload();
  });
  // 提交
  $publishModal.find('.modal-confirm').on('click', function () {
    var isFile = false;
    var formData = new FormData();
    var data = getModal($publishModal, publishFields);
    var source = $publishModal.find('.tab-pane.active').attr('id');
    switch (source) {
      case 'source-search':
        var searchParam = $publishModal.find('#search-param').val();
        if (!searchParam.length)
          return showTips('提示', '检索条件不允许为空', 3000);
        data['search'] = searchParam;
        break;
      case 'source-select':
        var pageNames = $('#page-names').val().trim();
        if (!pageNames.length)
          return showTips('提示', '请选择页码', 3000);
        data['page_names'] = pageNames.split(',');
        break;
      case 'source-file':
        var idsFile = $('#upload')[0].files[0];
        if (typeof idsFile === "undefined")
          return showTips('提示', '请选择文件', 3000);
        if (!/\.(csv|txt|json)$/.test(idsFile.name))
          return showTips('提示', '文件不是CSV或TXT类型', 3000);
        if (idsFile.size > (10 * 1024 * 1024))
          return showTips('提示', '文件大小不能超过10M', 3000);
        formData.append('data', JSON.stringify(data));
        formData.append('names_file', idsFile);
        isFile = true;
        break;
    }
    var $this = $(this);
    $this.text('进行中...');
    postApi('/page/task/publish', isFile ? formData : {data: data}, function (res) {
      $this.text('发布');
      Swal0.fire({
        type: 'success', title: '成功', html: res.message,
        footer: `详情可查看<a href="/sys/oplog/${res.id}">日志</a>`
      });
    }, null, isFile);
  });
</script>
{% end %}

