<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>切分校对-{{page['name']}}</title>
  {% include com/_base_css.html %}
  <link href="{{static_url('css/box.css')}}" rel="stylesheet"/>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
</head>
<style>
  .m-header.cut-mode .order,
  .m-header.order-mode .cut {
    display: none !important;
  }

  .m-header .task {
    display: none;
  }

  .m-header.m-my-task .my-task,
  .m-header.m-nav-task .nav-task,
  .m-header.m-admin-task .admin-task {
    display: block;
  }

  .m-footer {
    display: flex;
    justify-content: space-between;
  }

  .m-footer .hint > span {
    margin-left: 10px;
  }

  .m-footer .symbol {
    font-size: 12px;
    margin-right: 12px;
  }

  .m-footer .added {
    color: #A0522D;
  }

  .m-footer .changed {
    color: red;
  }

  .m-footer .deleted {
    color: black;
  }

</style>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header cut-mode m-my-task">
      <div class="left">
        <div class="btn-group back">
          <span class="icon-return-back" onclick="leave()" data-toggle="tooltip" data-placement="bottom" title="返回"></span>
        </div>
        <div class="btn-group title">切分校对</div>
      </div><!--left-->
      <div class="center">
        <div id="help" class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助"></div>
        <div class="btn-group" data-toggle="tooltip" data-placement="left" title="图片操作">
          <i class="btn-txt icon-image dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" data-stopPropagation="true">
            <li id="toggle-image" class="active"><a href="#">显隐图片</a></li>
            <li id="toggle-blur" class="active"><a href="#">模糊图片</a></li>
            <li id="zoom-in"><a href="#">放大图片</a></li>
            <li id="zoom-reset"><a href="#">原始大小</a></li>
            <li id="zoom-out"><a href="#">缩小图片</a></li>
          </ul>
        </div>
        <div id="toggle-char" class="btn-txt icon-chars toggle-box cut active" data-toggle="tooltip" data-placement="bottom" title="显隐字框"></div>
        <div id="toggle-column" class="btn-txt icon-columns toggle-box cut" data-toggle="tooltip" data-placement="bottom" title="显隐列框"></div>
        <div id="toggle-block" class="btn-txt icon-blocks toggle-box cut" data-toggle="tooltip" data-placement="bottom" title="显隐栏框"></div>
        <div id="toggle-all" class="btn-txt icon-three toggle-box cut" data-toggle="tooltip" data-placement="bottom" title="显隐所有"></div>
        <div id="toggle-no-char" class="btn-txt icon-char-no toggle-no" data-toggle="tooltip" data-placement="bottom" title="显隐字框序号"></div>
        <div id="toggle-multi" class="btn-txt icon-multi cut" data-toggle="tooltip" data-placement="bottom" title="多选模式"></div>
        <div id="undo" class="btn-txt icon-undo disabled cut" data-toggle="tooltip" data-placement="bottom" title="撤销"></div>
        <div id="redo" class="btn-txt icon-redo disabled cut" data-toggle="tooltip" data-placement="bottom" title="重做"></div>
        <div id="toggle-box-more" class="btn-txt icon-more cut hide" title="更多"></div>
        <div id="box-op" class="btn-group more-group cut" style="margin-left: 5px">
          <button id="toggle-white" class="btn btn-default btn-sm toggle-shape" type="button" title="蒙白所有字框">蒙白<sup class="s-count"></sup></button>
          <button id="toggle-opacity" class="btn btn-default btn-sm toggle-shape" type="button" title="透视所有字框">透视<sup class="s-count"></sup></button>
          <button id="toggle-overlap" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐重叠字框">重叠<sup class="s-count"></sup></button>
          <button id="toggle-mayWrong" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐易错字">易错<sup class="s-count"></sup></button>
          <button id="toggle-large" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐大字框">大<sup class="s-count"></sup></button>
          <button id="toggle-small" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐小字框">小<sup class="s-count"></sup></button>
          <button id="toggle-narrow" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐窄字框">窄<sup class="s-count"></sup></button>
          <button id="toggle-flat" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐扁字框">扁<sup class="s-count"></sup></button>
        </div>
        <div id="toggle-link-char" class="btn-txt icon-char-order order toggle-link" data-toggle="tooltip" data-placement="bottom" title="显隐字框序线"></div>
        <div id="toggle-back-box" class="btn-txt icon-box1 order active" data-toggle="tooltip" data-placement="bottom" title="显隐底框"></div>
        <div id="toggle-order-more" class="btn-txt icon-more order" title="更多"></div>
        <div id="order-op" class="btn-group more-group order hide">
          <button id="toggle-link-column" class="btn btn-default btn-sm toggle-link" type="button" title="显隐列框序线">列序线</button>
          <button id="toggle-no-column" class="btn btn-default btn-sm toggle-no" type="button" title="显隐列框序号">列序号</button>
          <button id="toggle-link-block" class="btn btn-default btn-sm toggle-link" type="button" title="显隐栏框序线">栏序线</button>
          <button id="toggle-no-block" class="btn btn-default btn-sm toggle-no" type="button" title="显隐栏框序号">栏序号</button>
        </div>
        <button id="btn-debug" class="btn btn-default btn-sm hide" type="button">调试</button>
      </div><!--center-->
      <div class="right">
        <div id="btn-check-cut" class="btn-txt icon-check cut" data-toggle="tooltip" data-placement="bottom" title="检查、应用修改[c]"></div>
        <div id="btn-check-link" class="btn-txt icon-check order" data-toggle="tooltip" data-placement="bottom" title="检查、应用修改[c]"></div>
        <div id="toggle-my-hint" class="btn-txt icon-users hint cut" data-toggle="tooltip" data-placement="bottom" title="我的修改"></div>
        <div id="op-hint" class="btn-group cut" data-toggle="tooltip" data-placement="left" title="修改历史">
          <i class="btn-txt icon-history dropdown-toggle" data-toggle="dropdown"></i>
          <ul id="hint-list" class="dropdown-menu pull-right" data-stopPropagation="true">
            <li id="no-hint" class="hint"><a href="#">当前状态</a></li>
            <li id="ini-hint" class="hint"><a href="#">初始状态</a></li>
            <li id="cmb-hint" class="hint"><a href="#">总的修改</a></li>
            <li id="play-hint" class="hint"><a href="#">播放修改</a></li>
          </ul>
        </div>
        <div id="reset-link" class="btn-group order" data-toggle="tooltip" data-placement="left" title="序线操作">
          <i class="btn-txt icon-swap dropdown-toggle" data-toggle="dropdown"></i>
          <ul id="reset-link-list" class="dropdown-menu pull-right" data-stopPropagation="true">
            <li id="reset-order" class="hint"><a href="#">算法重新排序</a></li>
            <li id="load-user-order" class="hint"><a href="#">加载用户序线</a></li>
          </ul>
        </div>
        <div id="task-submit" class="btn-txt icon-submit task my-task order" data-toggle="tooltip" data-placement="bottom" title="提交后领新任务[t]"></div>
        <div id="task-submit-back" class="btn-txt icon-check-outline2 task my-task order" data-toggle="tooltip" data-placement="bottom" title="提交后转任务大厅"></div>
        <div id="task-my-remark" class="btn-txt icon-edit2 task my-task" data-toggle="tooltip" data-placement="bottom" title="备注我的任务"></div>
        <div id="task-admin-remark" class="btn-txt icon-edit task admin-task" data-toggle="tooltip" data-placement="bottom" title="备注任务管理"></div>
        <div id="save" class="btn-txt icon-save" data-toggle="tooltip" data-placement="bottom" title="保存"></div>
        <div id="task-return" class="btn-txt icon-return-task task my-task" data-toggle="tooltip" data-placement="bottom" title="退回任务"></div>
        <div id="task-prev" class="btn-txt icon-arrow-left task nav-task" data-toggle="tooltip" data-placement="bottom" title="前一个任务"></div>
        <div id="task-next" class="btn-txt icon-arrow-right task nav-task" data-toggle="tooltip" data-placement="bottom" title="后一个任务"></div>
        <div id="toggle-order" class="btn-txt icon-next-step cut toggle-mode" data-toggle="tooltip" data-placement="bottom" title="字序校对"></div>
        <div id="toggle-cut" class="btn-txt icon-prev-step order toggle-mode" data-toggle="tooltip" data-placement="bottom" title="切分校对"></div>
      </div><!--right-->
    </div><!--m-header-->

    <div class="m-body flex">
      <div class="m-content box-holder cut-mode show-char"></div>
    </div><!--m-m-body-->

    <div class="m-alert alert alert-info hide" id="m-alert">
      <a class="close">×</a><i class="loading icon-spinner1 animate-spin"></i>
      <strong class="title"></strong><span class="text"></span>
    </div><!--m-alert-->

    <div class="m-footer">
      <span>页编码：<span class="page-name">{{page['name']}}</span><span class="page-info"></span></span>
      <span class="hint-info hide">
        <span class="added">新增(<span class="s-no">0</span>)：<span class="symbol icon-box1"></span></span>
        <span class="changed">修改(<span class="s-no">0</span>)：<span class="symbol icon-box1"></span></span>
        <span class="deleted">删除(<span class="s-no">0</span>)：<span class="symbol icon-box1"></span></span>
      </span>
      <span>当前：<span class="char-name">未选中</span><span class="char-info"></span></span>
    </div><!--m-footer-->
  </div>
</div>

<div class="panel-body" style="padding: 0">
  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档<a class="more-help" href="/help">更多</a></h4>
        </div>
        <div class="modal-body">
          <div class="title">一、概述</div>
          <div class="intro">
            本页面用于检查图片的栏框、字框、列框等是否正确，并对不正确的切分框进行修改。<br/>
            栏框要求将图片的正文（不包括边缘的页码等）用栏框框住，尽量不要包括正文外的边缘线。如果图片有多栏，则需要多个栏框。<br/>
            列框要求用列框将图片的每列文字框住。<br/>
            字框要求将图片的正文用字框框住，因文字紧凑而导致字框交叠时，首要原则是尽量把笔画都框住，其次是尽量减少交叠。<br/>
            <b>注：</b>请您看下面的快捷键介绍。通过键盘快捷键进行操作，可以很好的提升效率。
          </div>
          <div class="title">二、快捷键</div>
          <table class="table" id="hot-key">
            <tr>
              <td>1/2/3/4/5</td>
              <td>图片放大1~5倍</td>
            </tr>
            <tr>
              <td>6/7/8/9</td>
              <td>图片缩小至60%~90%</td>
            </tr>
            <tr>
              <td>方向键</td>
              <td>按照方向键↑→↓←的指示，切换当前字框</td>
            </tr>
            <tr>
              <td>空格/x</td>
              <td>所有、透视</td>
            </tr>
            <tr>
              <td>z、r</td>
              <td>撤销、重做</td>
            </tr>
            <tr>
              <td>鼠标滚轮</td>
              <td>鼠标滚轮上下滚动显示，按下Shift键则左右滚动显示</td>
            </tr>
            <tr>
              <td>wsad</td>
              <td>按照指示（wsad代表上下左右四个方向）移动当前字框</td>
            </tr>
            <tr>
              <td>shift + 方向键</td>
              <td>shift表示扩大字框，方向键代表字框的四条边</td>
            </tr>
            <tr>
              <td>alt + 方向键</td>
              <td>alt表示缩小字框，方向键代表字框的四条边</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% if hasattr(handler, 'task_type') and handler.task_type %}
  {% module ReturnModal() %}
  {% module TaskRemarkModal() %}
  {% module TaskConfigModal(handler.config_fields if hasattr(handler, 'config_fields') else []) %}
  {% end %}
</div>

{% include com/_base_js.html %}
<script src="{{static_url('js/box/jquery.mapKey.js')}}"></script>
<script src="{{static_url('js/box/raphael.js')}}"></script>
<script src="{{static_url('js/box/raphael.zoom.js')}}"></script>
<script src="{{static_url('js/box/box.base.js')}}"></script>
<script src="{{static_url('js/box/box.cut.js')}}"></script>
<script src="{{static_url('js/box/box.order.js')}}"></script>
<script src="{{static_url('js/box/box.sort.js')}}"></script>
<script src="{{static_url('js/box/box.ext.js')}}"></script>
<script src="{{static_url('js/box/box.key.js')}}"></script>
<script src="{{static_url('js/box/box.page.js')}}"></script>
<script src="{{static_url('js/page-box.js')}}"></script>
{% include com/_base_task.html %}
<script>
  $.page.init({
    holder: '.box-holder',
    imgUrl: '{{page["img_url"]}}',
    showMode: 'no-scroll',
    width: '{{page["width"]}}',
    height: '{{page["height"]}}',
    readonly: false,
    showBoxes: 'char',
    curBoxType: 'char',
    userId: currentUserId,
    chars: decodeJSON('{{page["chars"]}}'),
    blocks: decodeJSON('{{page["blocks"]}}'),
    columns: decodeJSON('{{page["columns"]}}'),
    userLinks: decodeJSON('{{page.get("user_links") or "{}"}}'),
    showImage: $('#toggle-image').hasClass('active'),
    blurImage: $('#toggle-blur').hasClass('active') ? 0.2 : 1,
  });

  // 保存数据、提交任务
  $('#save,#task-submit,#task-submit-back').on('click', function () {
    let $this = $(this), id = $this.attr('id');
    if ($this.hasClass('disabled')) return;
    let data = $.page.checkAndExport();
    if (!data.status) return;
    bsLoading('保存中‧‧‧');
    $this.addClass('disabled');
    data.submit = id !== 'save';
    postApi(location.pathname, {data: data}, function (res) {
      bsShow('成功!', '已保存。', 'info', 1000);
      $this.removeClass('disabled');
      if (id === 'save') {
        location.reload();
      } else if (id === 'task-submit') {
        pick(taskType);
      } else {
        location.href = '/task/lobby/' + taskType;
      }
    });
  });
</script>
</body>
</html>
