{% extends "page_task_do.html" %}

{% block step_title %}{% end %}

{% block custom-css %}
<link href="{{static_url('css/cut.css')}}" rel="stylesheet"/>
<link href="{{static_url('css/proofread.css')}}" rel="stylesheet"/>
{% include _font_css.html %}
<style>
  @media screen and (max-width: 1100px) {
    #enlarge-font, #reduce-font {
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    .m-header .title {
      display: none;
    }
  }

  @media screen and (max-width: 940px) {
    #enlarge-panel-font, #reduce-panel-font {
      display: none;
    }
  }
</style>
{% end %}

{% block buttons %}
<div class="btn-group" style="margin-right: 0">
  <div id="help" class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助"></div>
  <div id="toggle-left" class="btn-txt icon-image active" data-toggle="tooltip" data-placement="bottom" title="显隐图片"></div>
  <div id="toggle-right" class="btn-txt icon-txt active" data-toggle="tooltip" data-placement="bottom" title="显隐文本"></div>
  <div id="toggle-blur" class="btn-txt icon-blur active" data-toggle="tooltip" data-placement="bottom" title="模糊图片"></div>
  <div id="zoom-in" class="btn-txt icon-zoom-in" data-toggle="tooltip" data-placement="bottom" title="放大图片"></div>
  <div id="zoom-reset" class="btn-txt icon-zoom-back" data-toggle="tooltip" data-placement="bottom" title="原始大小"></div>
  <div id="zoom-out" class="btn-txt icon-zoom-out" data-toggle="tooltip" data-placement="bottom" title="缩小图片"></div>
  <div id="toggle-char" class="btn-txt icon-chars" data-toggle="tooltip" data-placement="bottom" title="显隐字框"></div>
  <div id="toggle-panel-txt" class="btn-txt icon-panel-txt" data-toggle="tooltip" data-placement="bottom" title="显隐浮动面板的文字"></div>
  <div id="toggle-panel-no" class="btn-txt icon-panel-no" data-toggle="tooltip" data-placement="bottom" title="显隐浮动面板的序号"></div>
  <div id="enlarge-panel-font" class="btn-txt icon-font-plus" data-toggle="tooltip" data-placement="bottom" title="增加浮动面板字号"></div>
  <div id="reduce-panel-font" class="btn-txt icon-font-minus" data-toggle="tooltip" data-placement="bottom" title="减少浮动面板字号"></div>
  <div id="toggle-more" class="btn-txt icon-pencil" data-toggle="tooltip" data-placement="bottom" title="更多"></div>
</div>
<div class="btn-group hidden" id="more-group" role="group" aria-label="更多">
  {% if not handler.readonly %}
  <button id="btn-ed-box" type="button" class="btn btn-default btn-sm">修改切分</button>
  <button id="btn-ed-order" type="button" class="btn btn-default btn-sm">修改字序</button>
  {% else %}
  <button id="btn-vw-box" type="button" class="btn btn-default btn-sm">查看切分</button>
  <button id="btn-vw-order" type="button" class="btn btn-default btn-sm">查看字序</button>
  {% end %}
</div>
<div class="btn-group right">
  <div id="enlarge-font" class="btn-txt icon-font-plus" data-toggle="tooltip" data-placement="bottom" title="增加字号"></div>
  <div id="reduce-font" class="btn-txt icon-font-minus" data-toggle="tooltip" data-placement="bottom" title="减少字号"></div>
  <div id="prev-diff" class="btn-txt icon-prev" data-toggle="tooltip" data-placement="bottom" title="上一条异文"></div>
  <div id="next-diff" class="btn-txt icon-next" data-toggle="tooltip" data-placement="bottom" title="下一条异文"></div>
  <div id="toggle-empty" class="btn-txt icon-empty" data-toggle="tooltip" data-placement="bottom" title="显示空位符"></div>
  <div id="delete-line" class="btn-txt icon-delete-line" data-toggle="tooltip" data-placement="bottom" title="删除当前行"></div>
  <div id="save-doubt" class="btn-txt icon-doubt {{'hide' if 'text_hard' in handler.task_type else ''}}" data-toggle="tooltip" data-placement="bottom" title="存疑选中文本"></div>
  <div id="check-match" class="btn-txt icon-done-all" data-toggle="tooltip" data-placement="bottom" title="检查图文匹配"></div>
  <div id="re-compare" class="btn-txt icon-cmp-txt {{'' if 'text_proof' in handler.task_type else 'hide'}}" data-toggle="tooltip" data-placement="bottom" title="重新比对"></div>
  <div id="show-txts" class="btn-txt icon-article {{'' if handler.texts else 'hide'}}" data-toggle="tooltip" data-placement="bottom" title="显示所有文本"></div>
</div>
{% end %}

{% block m-body %}
<div class="m-left" id="left-region">
  <div class="bd" id="holder-container">
    <div id="holder"></div>
  </div>
</div>
<div class="m-right" id="right-region">
  <div class="bd cmp-txt wide-txt">
    <div id="work-text" class="sutra-text">
      <div class="blocks">
        {% if isinstance(cmp_data, str) %}
        {% raw cmp_data %}
        {% else %}
        {% module TextArea(cmp_data=cmp_data) %}
        {% end %}
      </div>
    </div>
    <!--/.sutra-text-->
    {% if handler.doubts %}
    <div class="char-list doubt-list">
      <div class="char-list-tab">
        {% for i, doubt in enumerate(handler.doubts) %}
        <div class="char-list-tab-item toggle-tab {{'' if i else 'active'}}">{{doubt[1]}}</div>
        {% end %}
        <div class="char-list-tab-arrow" id="toggle-arrow">
          <i class="icon-up"></i>
        </div>
      </div>
      {% for i, doubt in enumerate(handler.doubts) %}
      <table class="char-list-table {{'' if i else 'editable active'}}">
        <thead>
        <tr>
          <td>行号</td>
          <td>字序号</td>
          <td>存疑文本</td>
          <td>存疑理由</td>
          <td class="del-doubt">操作</td>
        </tr>
        </thead>
        <tbody>
        {% raw doubt[0] %}
        </tbody>
      </table>
      {% end %}
    </div>
    {% end %}
    <!--/.doubt-list-->
    {% if handler.texts %}
    <div class="pfread-dialog" id="pfread-dialog">
      <div class="dialog-common dialog-abs">
        <div class="dlg-before"></div>
        {% for i, txt in enumerate(handler.texts) %}
        <dl class="item">
          <dt>{{txt[1]}}</dt>
          <dd class="text option" id="dlg-{{'cmp%s' % i if i else 'base'}}"></dd>
        </dl>
        {% end %}
        <dl class="item">
          <dt>选择结果</dt>
          <dd class="text">
            <span id="dlg-select" contenteditable="true"></span>
          </dd>
        </dl>
        <div class="dlg-after"></div>
      </div>
    </div>
    {% end %}
    <!--/.pfread-dialog-->
  </div>
  <div class="bd raw-txt wide-txt hide">
    <textarea id="raw-textarea" class="form-control" type="text" rows="200"></textarea>
  </div>
</div>
<div class="right-toolbar">
  <i id="btn-raw-txt" class="icon-pencil" data-toggle="tooltip" data-placement="bottom" title="切换为纯文本编辑模式"></i>
  <i id="btn-cmp-txt" class="icon-file-text hide" data-toggle="tooltip" data-placement="bottom" title="切换为文本比对模式"></i>
</div>
{% end %}

{% block m-footer %}{% end %}

{% block custom-modal %}
{% module DoubtModal() %}
<div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">帮助文档<a class="more-help" href="/help">更多</a></h4>
      </div>
      <div class="modal-body">
        <div class="title">一、工作目标</div>
        <div class="intro">
          根据图片进行文字校对，包括文字和字序两部分。<br/>
          校对以如实为原则，即图片上是什么字，就输入什么字。如果遇到一些无法输入的字，请先使用相关工具进行查找，
          比如<a href="http://hanzi.lqdzj.cn" target="_blank">龙泉字库</a>或<a href="http://www.guoxuedashi.com/zidian/bujian" target="_blank">国学大师</a>。
          确实找不到时，也可以输入<a href="http://www.cbeta.org/data-format/rare-rule.htm">组字式</a>。如果拿不准，请您进行存疑，以便后续环节处理。<br/>
          如果图片的文本有多个来源，如OCR文本或从古籍文库中选择的相似文本等，系统将会进行横向比对，找出文本间的差异，即所谓的异文。异文将以红色高亮显示。
          双击异文，将弹框展示各个来源的文本，您可以点选，也可以在选择结果中进行修改。<br/>
          如果只有OCR文本，则您需要逐字检查；如果有古籍文库中的相似文本，则您只需要检查异文，同文浏览一下即可。<br/>
          文字校对完毕后，请您做一次图文匹配检查，确保您校对的文字和图片的字框的一致性。<br/>
          注：请下载<a href=" https://tripitaka-assets.oss-cn-beijing.aliyuncs.com/font/KaiXinSong.ttf">开心宋</a>或者
          <a href="https://tripitaka-assets.oss-cn-beijing.aliyuncs.com/font/hanazono-20170904.zip">花园明朝</a>
          字体并安装，以便显示UTF-8扩展区域的字符。
        </div>
        <div class="title">二、功能按钮</div>
        <table class="table">
          <tr>
            <td><img src="{{static_url('imgs/icon_char_no.png')}}"/></td>
            <td>显示或隐藏浮动面板上的字框序号</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_char_txt.png')}}"/></td>
            <td>显示或隐藏浮动面板上的字框文字</td>
          </tr>
          <tr>
            <td><span class="btn-txt">A+、A-</span></td>
            <td>调整浮动面板或者右侧文本区域的字体大小</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_edit.png')}}"/></td>
            <td>修改栏框、列框、字框、字序等。文字校对时，可以修改本页面的切分框数据</td>
          </tr>
          <tr>
            <td><span class="btn-txt btn-empty-place">　</span></td>
            <td>显示或隐藏空位符。空位符是一个占位符，如果异文中选中的文本为空，则显示为空位符，表示此处有异文</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_doubt.png')}}"/></td>
            <td>存疑，以便后续环节处理。请先用鼠标选中文本，然后点击存疑</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_match.png')}}"/></td>
            <td>图文匹配检查。检查左侧图片字框以及右侧文字的匹配情况，包括总列数，以及每列字数。针对不匹配的行，右侧将出现红色竖线进行提示。</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_compare.png')}}"/></td>
            <td>重新比对。如果返回上一步重新选择文本后，可以选择重新比对。重新比对将清空当前所有校对结果</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_txts.png')}}"/></td>
            <td>弹出来源文本面板。该面板显示所有的来源文本，包括一至两份OCR、一份比对文本等。点击该面板顶部的按钮可以进行拖拽</td>
          </tr>
          {% include _task_help.html %}
        </table>
        <div class="title">三、快捷键</div>
        <table class="table" id="hot-key">
          <tr>
            <td>1/2/3/4/5</td>
            <td>图片放大1~5倍</td>
          </tr>
          <tr>
            <td>6/7/8/9</td>
            <td>图片缩小至60%~90%</td>
          </tr>
          <tr>
            <td>方向键</td>
            <td>按照方向键↑→↓←的指示，切换当前字框</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="txtModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="txtModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <div class="modal-header">
        <div class="btn-group" role="group">
          {% for i, txt in enumerate(handler.texts) %}
          <button class="btn page-txt btn-default" id="show-txt{{i}}">{{txt[1]}}</button>
          {% end %}
          <button class="btn page-txt btn-default{{'' if len(handler.texts) > 1 else ' hide'}}" id="show-all">所有</button>
        </div>
      </div>
      <div class="modal-body">
        {% for i, txt in enumerate(handler.texts) %}
        <textarea id="txt{{i}}" class="{{'hide' if i else ''}}" rows="26" readonly>
            {{txt[0].replace('|', '\n')}}
          </textarea>
        {% end %}
      </div>
    </div>
  </div>
</div>
{% end %}

{% block custom-js %}
{% include _base_cut.html %}
<script src="{{static_url('js/cut/proof_keys.js')}}"></script>
<script src="{{static_url('js/txt-proof.js')}}"></script>
<script src="{{static_url('js/txt-btn.js')}}"></script>
<script>
  // 页面图和切分框
  var canvasName = taskType + step + docId;
  var chars = decodeJSON('{{handler.page.get("chars", [])}}');
  var blocks = decodeJSON('{{handler.page.get("blocks", [])}}');
  var columns = decodeJSON('{{handler.page.get("columns", [])}}');

  function createPage() {
    $.cut.create({
      readonly: true,
      name: canvasName,
      holder: 'holder',
      width: '{{handler.page["width"]}}',
      height: '{{handler.page["height"]}}',
      scrollContainer: '#holder-container',
      image: '{{handler.get_page_img(handler.page)}}',
      chars: chars
    });
    $.cut.bindMatchingKeys();
    $.cut.toggleBox(false);
    $.cut.switchCurrentBox(null);
    $.cut.bindKeys();
  }

  createPage();
  $('#holder-container').focus();

  // 获取任务数据
  function getTaskData() {
    var txt_html = $('#sutra-text .block').parent().html();
    var doubt = $('.char-list-table.editable tbody').html();
    return {step: step, name: docId, doubt: doubt, txt_html: txt_html};
  }
</script>
{% end %}
