{% extends "_task_do.html" %}

{% block custom-css %}
<link href="{{static_url('css/cut.css')}}" rel="stylesheet"/>
<style>
  .m-bottom > span {
    margin-left: 8px;
  }

  .full-bd {
    padding-bottom: 20px;
  }

  text tspan {
    fill: #f00;
  }

  .sweet-overlay {
    background-color: transparent;
  }

</style>
{% end %}

{% block buttons %}
<div class="btn-group">
  <div class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助"></div>
  <div class="btn-txt icon-info" data-toggle="tooltip" data-placement="bottom" title="基本信息"></div>
  <div class="btn-txt icon-image active" id="toggle-image" data-toggle="tooltip" data-placement="bottom" title="显隐图片"></div>
  <div class="btn-txt icon-blur active" id="toggle-blur" data-toggle="tooltip" data-placement="bottom" title="模糊图片"></div>
  <div class="btn-txt icon-zoom-in" id="zoom-in" data-toggle="tooltip" data-placement="bottom" title="放大图片"></div>
  <div class="btn-txt icon-search" id="zoom-reset" data-toggle="tooltip" data-placement="bottom" title="原始大小"></div>
  <div class="btn-txt icon-zoom-out" id="zoom-out" data-toggle="tooltip" data-placement="bottom" title="缩小图片"></div>
  <div class="btn-txt icon-undo" id="undo" data-toggle="tooltip" data-placement="bottom" title="撤销"></div>
  <div class="btn-txt icon-redo" id="redo" data-toggle="tooltip" data-placement="bottom" title="重做"></div>
  <div class="btn-txt icon-blocks" id="toggle-block" data-toggle="tooltip" data-placement="bottom" title="显隐栏框"></div>
  <div class="btn-txt icon-columns" id="toggle-column" data-toggle="tooltip" data-placement="bottom" title="显隐列框"></div>
  <div class="btn-txt icon-chars" id="toggle-char" data-toggle="tooltip" data-placement="bottom" title="显隐字框"></div>
  <div class="btn-txt icon-char-no" id="toggle-char-no" data-toggle="tooltip" data-placement="bottom" title="显隐字序"></div>
  <div class="btn-txt icon-char-order active" id="toggle-order" data-toggle="tooltip" data-placement="bottom" title="显隐连线"></div>
  <div class="btn-txt icon-check" id="show-err-box" data-toggle="tooltip" data-placement="bottom" title="检查字序"></div>
  <div class="btn-txt icon-more {{'hide' if handler.readonly else ''}}" id="toggle-more" title="更多"></div>
</div>
<div class="btn-group hidden" id="more-group" role="group" aria-label="更多">
  <button type="button" class="btn btn-default btn-sm" id="reorder">重新排序<sup class="s-count"></sup></button>
  <button type="button" class="btn btn-default btn-sm" id="old-order">原始字序<sup class="s-count"></sup></button>
</div>
{% end %}

{% block full-bd %}
<div class="bd" id="holder-container">
  <div id="holder"></div>
</div>
<div class="m-footer" id="cut-info">
  <span class="cur-char"></span>
  <span class="char-info"></span>
</div>
{% end %}

{% block custom-modal %}
<div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">帮助文档<a class="more-help" href="/help">更多</a></h4>
      </div>
      <div class="modal-body">
        <div class="title">一、功能概述</div>
        <div class="intro">
          字序指的是字框的先后顺序，字序校对的目标是保证字框的顺序与阅读顺序一致。针对同一列字框，字序有编号和连线两种表示方式。<br/>
          1）编号。按照数字编号显示字序。<br/>
          2）连线。每个字框都有左右两个点，从前一个字框的右边画一条线到后一个字框的左边，就建立起了两个字框的先后顺序。<br/>
          删除连线，有两种方式：一是Delete键；二是将连线的任意一个点拖拽至空白处释放。Delete键删除当前连线时，并不需要鼠标完全选中连线，只需要靠近后，有高亮提示即可。<br/>
          修改连线，可以直接用鼠标拖拽。当鼠标移动至连线的端点时，也会高亮提示，表示已选中当前端点。并不需要将光标完全放在端点上，只需要靠近后有提示，就可以进行拖拽了。<br/>
          注：本工作界面仍然可以键盘调整字框大小，保存及提交。<br/>
        </div>
        <div class="title">二、功能按钮</div>
        <table class="table">
          <tr>
            <td><img src="{{static_url('imgs/icon_lobby.png')}}"/></td>
            <td>返回任务大厅</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_lr.png')}}"/></td>
            <td>撤销上一步操作</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_rr.png')}}"/></td>
            <td>取消撤销</td>
          </tr>
          <tr>
            <td><span type="button" class="btn btn-default btn-sm">图片</span></td>
            <td>显示或隐藏图片。隐藏图片有助于看清字框间的连线</td>
          </tr>
          <tr>
            <td><span type="button" class="btn btn-default btn-sm">透明</span></td>
            <td>设置或取消图片半透明</td>
          </tr>
          <tr>
            <td><span type="button" class="btn btn-default btn-sm">列框</span></td>
            <td>显示或隐藏列框</td>
          </tr>
          <tr>
            <td><span type="button" class="btn btn-default btn-sm">编号</span></td>
            <td>显示或隐藏字框序号</td>
          </tr>
          <tr>
            <td><span type="button" class="btn btn-default btn-sm">查漏</span></td>
            <td>程序自动检查字序并提示可能存在的问题</td>
          </tr>
          <tr>
            <td><span type="button" class="btn btn-default btn-sm">应用</span></td>
            <td>调整字框连线后重新计算字框编号</td>
          </tr>
          {% include _task_help.html %}
        </table>
        <div class="title">三、快捷键</div>
        <table class="table" id="hot-key">
          <tr>
            <td>1/2/3/4/5</td>
            <td>图片放大1~5倍</td>
          </tr>
          <tr>
            <td>6/7/8/9</td>
            <td>图片缩小至60%~90%</td>
          </tr>
          <tr>
            <td>方向键</td>
            <td>按照方向键↑→↓←的指示，切换当前字框</td>
          </tr>
          <tr>
            <td>wsad</td>
            <td>按照指示（wsad代表上下左右四个方向）移动当前字框</td>
          </tr>
          <tr>
            <td>shift + 方向键</td>
            <td>shift表示扩大字框，方向键代表字框的四条边</td>
          </tr>
          <tr>
            <td>alt + 方向键</td>
            <td>alt表示缩小字框，方向键代表字框的四条边</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% end %}

{% block custom-js %}
{% include _base_cut.html %}
<script src="{{static_url('js/cut/char_order.js')}}"></script>
<script>
  var canvasName = taskType + step + docId;
  var columnCount = parseInt('{{len(handler.page["columns"])}}');
  $.cut.create({
    readonly: true,
    orderMode: true,
    name: canvasName,
    scrollContainer: '#holder-container',
    holder: 'holder',
    width: '{{handler.page["width"]}}',
    height: '{{handler.page["height"]}}',
    image: '{{handler.get_page_img(handler.page)}}',
    chars: '{{handler.page["chars"]}}',
    blocks: '{{handler.page["blocks"]}}',
    columns: '{{handler.page["columns"]}}'
  });
  $.cut.bindKeys();
  $.cut.bindCharOrderKeys();
  $.cut.switchCurrentBox(null);
  $.cut.addCharOrderLinks(decodeJSON('{{handler.chars_col}}'));

  // 初始化设置
  if ($.cut.data.image.node) {
    $.cut.data.image.node.style.opacity = 0.2;
  }
  $.cut.toggleBox(false);
  $.cut.setLabel(false);
  $.cut.setLink(true);

  $.cut.state.canHitBox = function (el) {
    var cls = el.data('class');
    if ($('#toggle-char').hasClass('active') && cls === 'char') {
      return true;
    }
    if ($('#toggle-column').hasClass('active') && cls === 'column') {
      return true;
    }
    if ($('#toggle-block').hasClass('active') && cls === 'block') {
      return true;
    }
  };

</script>

<script>
  // 获取任务数据
  function getTaskData(type, jumpUrl) {
    var r = $.cut.getCharsCol();
    if (!r.error && r.chars_col.length !== columnCount) {
      r.error = '字序中的列数跟字框中的列数不一致。';
    }
    if (r.error) {
      if ('prev,next'.indexOf(type) > -1)
        showConfirm('未保存，发现错误，是否继续？', r.error, () => goto(jumpUrl, 1000));
      else
        showError('发现错误，请修正', r.error)
    } else {
      return {step: steps.current, chars_col: r.chars_col};
    }
  }

  // 显示字序待修正的字框
  $('#show-err-box').click(function () {
    $.cut.showErrorBoxes(true);
  });
  setTimeout(() => $.cut.showErrorBoxes(), 1000);

  // 重新计算字序
  $('#reorder').click(function () {
    location.href = setQueryString('reorder', 'down');
  });

  // 显示原始字序
  $('#old-order').click(function () {
    location.href = deleteQueryString('reorder');
  });

</script>
{% end %}
