<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>切分校对-{{page['name']}}</title>
  {% include com/_base_css.html %}
  <link href="{{static_url('css/box.css')}}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <style>
    .m-header .task,
    .m-header.cut-mode .order,
    .m-header.order-mode .cut {
      display: none;
    }

    .m-header.task-mode .task {
      display: block;
    }

    .m-footer {
      display: flex;
      justify-content: space-between;
    }

    .m-footer .hint > span {
      margin-left: 10px;
    }

    .m-footer .symbol {
      font-size: 12px;
      margin-right: 12px;
    }

    .m-footer .added {
      color: #A0522D;
    }

    .m-footer .changed {
      color: red;
    }

    .m-footer .deleted {
      color: black;
    }
  </style>
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header cut-mode">
      <div class="left">
        <div class="btn-group back">
          <span class="icon-return-back" onclick="leave()" data-toggle="tooltip" data-placement="bottom" title="返回"></span>
        </div>
        <div class="btn-group title">切分校对</div>
      </div><!--left-->
      <div class="center">
        <div id="help" class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助"></div>
        <div id="toggle-image" class="btn-txt icon-image active" data-toggle="tooltip" data-placement="bottom" title="显隐图片"></div>
        <div id="toggle-blur" class="btn-txt icon-blur active" data-toggle="tooltip" data-placement="bottom" title="模糊图片"></div>
        <div id="zoom-in" class="btn-txt icon-zoom-in" data-toggle="tooltip" data-placement="bottom" title="放大图片"></div>
        <div id="zoom-reset" class="btn-txt icon-zoom-back" data-toggle="tooltip" data-placement="bottom" title="原始大小"></div>
        <div id="zoom-out" class="btn-txt icon-zoom-out" data-toggle="tooltip" data-placement="bottom" title="缩小图片"></div>
        <div id="toggle-multi" class="btn-txt icon-multi cut" data-toggle="tooltip" data-placement="bottom" title="多选模式"></div>
        <div id="toggle-no-char" class="btn-txt icon-char-no toggle-no" data-toggle="tooltip" data-placement="bottom" title="显隐字框序号"></div>
        <div id="toggle-char" class="btn-txt icon-chars toggle-box cut active" data-toggle="tooltip" data-placement="bottom" title="显隐字框"></div>
        <div id="toggle-column" class="btn-txt icon-columns toggle-box cut" data-toggle="tooltip" data-placement="bottom" title="显隐列框"></div>
        <div id="toggle-block" class="btn-txt icon-blocks toggle-box cut" data-toggle="tooltip" data-placement="bottom" title="显隐栏框"></div>
        <div id="toggle-all" class="btn-txt icon-three toggle-box cut" data-toggle="tooltip" data-placement="bottom" title="显隐所有"></div>
        <div id="undo" class="btn-txt icon-undo disabled cut" data-toggle="tooltip" data-placement="bottom" title="撤销"></div>
        <div id="redo" class="btn-txt icon-redo disabled cut" data-toggle="tooltip" data-placement="bottom" title="重做"></div>
        <div id="toggle-box-more" class="btn-txt icon-more cut" title="更多"></div>
        <div id="box-op" class="btn-group more-group cut">
          <button id="toggle-white" class="btn btn-default btn-sm toggle-shape" type="button" title="蒙白所有字框">蒙白<sup class="s-count"></sup></button>
          <button id="toggle-opacity" class="btn btn-default btn-sm toggle-shape" type="button" title="透视所有字框">透视<sup class="s-count"></sup></button>
          <button id="toggle-overlap" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐重叠字框">重叠<sup class="s-count"></sup></button>
          <button id="toggle-mayWrong" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐易错字">易错<sup class="s-count"></sup></button>
          <button id="toggle-large" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐大字框">大<sup class="s-count"></sup></button>
          <button id="toggle-small" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐小字框">小<sup class="s-count"></sup></button>
          <button id="toggle-narrow" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐窄字框">窄<sup class="s-count"></sup></button>
          <button id="toggle-flat" class="btn btn-default btn-sm toggle-shape" type="button" title="显隐扁字框">扁<sup class="s-count"></sup></button>
        </div>
        <div id="toggle-link-char" class="btn-txt icon-char-order order toggle-link" data-toggle="tooltip" data-placement="bottom" title="显隐字框序线"></div>
        <div id="toggle-back-box" class="btn-txt icon-box1 order active" data-toggle="tooltip" data-placement="bottom" title="显隐底框"></div>
        <div id="toggle-order-more" class="btn-txt icon-more order" title="更多"></div>
        <div id="order-op" class="btn-group more-group order hide">
          <button id="toggle-link-column" class="btn btn-default btn-sm toggle-link" type="button" title="显隐列框序线">列序线</button>
          <button id="toggle-no-column" class="btn btn-default btn-sm toggle-no" type="button" title="显隐列框序号">列序号</button>
          <button id="toggle-link-block" class="btn btn-default btn-sm toggle-link" type="button" title="显隐栏框序线">栏序线</button>
          <button id="toggle-no-block" class="btn btn-default btn-sm toggle-no" type="button" title="显隐栏框序号">栏序号</button>
        </div>
        <button id="btn-debug" class="btn btn-default btn-sm hide" type="button">调试</button>
      </div><!--center-->
      <div class="right">
        <div id="btn-check-cut" class="btn-txt icon-check cut" data-toggle="tooltip" data-placement="bottom" title="检查、应用修改[c]"></div>
        <div id="btn-check-link" class="btn-txt icon-check order" data-toggle="tooltip" data-placement="bottom" title="检查、应用修改[c]"></div>
        <div id="toggle-my-hint" class="btn-txt icon-users hint cut" data-toggle="tooltip" data-placement="bottom" title="我的修改"></div>
        <div id="op-hint" class="btn-group cut" data-toggle="tooltip" data-placement="bottom" title="修改历史">
          <i class="btn-txt icon-history dropdown-toggle" data-toggle="dropdown"></i>
          <ul id="hint-list" class="dropdown-menu pull-right" data-stopPropagation="true">
            <li id="no-hint" class="hint"><a href="#">当前状态</a></li>
            <li id="ini-hint" class="hint"><a href="#">初始状态</a></li>
            <li id="cmb-hint" class="hint"><a href="#">总的修改</a></li>
            <li id="play-hint" class="hint"><a href="#">播放修改</a></li>
          </ul>
        </div>
        <div id="reset-link" class="btn-group order">
          <i class="btn-txt icon-swap dropdown-toggle" data-toggle="dropdown"></i>
          <ul id="reset-link-list" class="dropdown-menu pull-right" data-stopPropagation="true">
            <li id="reset-order" class="hint"><a href="#">算法重新排序</a></li>
            <li id="load-user-order" class="hint"><a href="#">加载用户序线</a></li>
          </ul>
        </div>
        <div id="toggle-cut" class="btn-txt icon-prev-step order toggle-mode" data-toggle="tooltip" data-placement="bottom" title="切分校对"></div>
        <div id="toggle-order" class="btn-txt icon-next-step cut toggle-mode" data-toggle="tooltip" data-placement="bottom" title="字序校对"></div>
        <div id="save" class="btn-txt icon-save" data-toggle="tooltip" data-placement="bottom" title="保存"></div>
        <div id="task-my-remark" class="btn-txt icon-edit2 task my-task" data-toggle="tooltip" data-placement="bottom" title="备注我的任务"></div>
        <div id="task-admin-remark" class="btn-txt icon-edit task admin-task" data-toggle="tooltip" data-placement="bottom" title="备注任务管理"></div>
        <div id="task-config" class="btn-txt icon-config task" data-toggle="tooltip" data-placement="bottom" title="任务配置"></div>
        <div id="task-return" class="btn-txt icon-return-task task my-task" data-toggle="tooltip" data-placement="bottom" title="退回任务"></div>
        <div id="task-submit" class="btn-txt icon-submit task my-task" data-toggle="tooltip" data-placement="bottom" title="提交任务[t]"></div>
        <div id="task-prev" class="btn-txt icon-backward task nav-task" data-toggle="tooltip" data-placement="bottom" title="前一个任务"></div>
        <div id="task-next" class="btn-txt icon-forward task nav-task" data-toggle="tooltip" data-placement="bottom" title="后一个任务"></div>
      </div><!--right-->
    </div><!--m-header-->

    <div class="m-body flex">
      <div class="box-holder cut-mode show-char"></div>
    </div><!--m-m-body-->

    <div class="m-alert alert alert-info hide" id="m-alert">
      <a class="close">×</a><i class="loading icon-spinner1 animate-spin"></i>
      <strong class="title"></strong><span class="text"></span>
    </div><!--m-alert-->

    <div class="m-footer">
      <span>页编码：<span class="page-name">{{page['name']}}</span><span class="page-info"></span></span>
      <span class="hint-info hide">
        <span class="added">新增(<span class="s-no">0</span>)：<span class="symbol icon-box1"></span></span>
        <span class="changed">修改(<span class="s-no">0</span>)：<span class="symbol icon-box1"></span></span>
        <span class="deleted">删除(<span class="s-no">0</span>)：<span class="symbol icon-box1"></span></span>
      </span>
      <span>当前：<span class="char-name">未选中</span><span class="char-info"></span></span>
    </div><!--m-footer-->
  </div>
</div>

{% include com/_base_js.html %}
<script src="{{static_url('js/box/raphael.js')}}"></script>
<script src="{{static_url('js/box/raphael.zoom.js')}}"></script>
<script src="{{static_url('js/box/jquery.mapKey.js')}}"></script>
<script src="{{static_url('js/box/box.base.js')}}"></script>
<script src="{{static_url('js/box/box.cut.js')}}"></script>
<script src="{{static_url('js/box/box.order.js')}}"></script>
<script src="{{static_url('js/box/box.sort.js')}}"></script>
<script src="{{static_url('js/box/box.ext.js')}}"></script>
<script src="{{static_url('js/box/box.key.js')}}"></script>
<script src="{{static_url('js/box/box.page.js')}}"></script>
<script src="{{static_url('js/page-box.js')}}"></script>
<script>
  $.page.init({
    holder: '.box-holder',
    imgUrl: '{{page["img_url"]}}',
    showMode: 'no-scroll',
    width: '{{page["width"]}}',
    height: '{{page["height"]}}',
    readonly: false,
    showBoxes: 'char',
    curBoxType: 'char',
    userId: currentUserId,
    chars: decodeJSON('{{page["chars"]}}'),
    blocks: decodeJSON('{{page["blocks"]}}'),
    columns: decodeJSON('{{page["columns"]}}'),
    userLinks: decodeJSON('{{page.get("user_links") or "{}"}}'),
    showImage: $('#toggle-image').hasClass('active'),
    blurImage: $('#toggle-blur').hasClass('active') ? 0.2 : 1,
  });

  // 保存数据
  $('#save').on('click', function () {
    let data = $.page.checkAndExport();
    if (!data.status) return;
    bsLoading('保存中‧‧‧');
    postApi(location.pathname, {data: data}, function (res) {
      bsShow('成功!', '已保存。');
      location.reload();
    });
  });

  window.onload = function () {
    // $.box.initImgRatio();
    // $('#toggle-order').click();
    // $('#toggle-link-column').click();
  };

  $('#btn-debug').on('click', function () {

  });

</script>
</body>
</html>
