<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{page['name']}}</title>
  {% include com/_base_css.html %}
  <link href="{{static_url('css/cut.css')}}" rel="stylesheet"/>
  <link href="{{static_url('css/page-txt.css')}}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="btn-group back">
          <span class="icon-return-back" onclick="leave()" data-toggle="tooltip" data-placement="bottom" title="返回"></span>
        </div>
        <div class="btn-group title" data-toggle="tooltip" data-placement="bottom" title="查看基本信息" style="user-select: text">
          <a href="/page/info/{{page['name']}}">{{page['name']}}</a>
        </div>
      </div>
      <div class="center">
        <div id="help" class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助"></div>
        <div id="toggle-image" class="btn-txt icon-image{{'' if btn_config.get('toggle-image') == -1 else ' active'}}" data-toggle="tooltip" data-placement="bottom" title="显隐图片"></div>
        <div id="toggle-right" class="btn-txt icon-txt{{'' if btn_config.get('toggle-right') == -1 else ' active'}}" data-toggle="tooltip" data-placement="bottom" title="显隐文本"></div>
        <div id="toggle-blur" class="btn-txt icon-blur{{' active' if btn_config.get('toggle-blur') == 1 else ''}}" data-toggle="tooltip" data-placement="bottom" title="模糊图片"></div>
        <div id="zoom-in" class="btn-txt icon-zoom-in" data-toggle="tooltip" data-placement="bottom" title="放大图片"></div>
        <div id="zoom-reset" class="btn-txt icon-zoom-back" data-toggle="tooltip" data-placement="bottom" title="原始大小"></div>
        <div id="zoom-out" class="btn-txt icon-zoom-out" data-toggle="tooltip" data-placement="bottom" title="缩小图片"></div>
        <div id="toggle-block" class="btn-txt icon-blocks{{' active' if btn_config.get('toggle-block') == 1 else ''}}" data-toggle="tooltip" data-placement="bottom" title="显隐栏框"></div>
        <div id="toggle-column" class="btn-txt icon-columns{{' active' if btn_config.get('toggle-column') == 1 else ''}}" data-toggle="tooltip" data-placement="bottom" title="显隐列框"></div>
        <div id="toggle-char" class="btn-txt icon-chars{{' active' if btn_config.get('toggle-char') == 1 else ''}}" data-toggle="tooltip" data-placement="bottom" title="显隐字框"></div>
        <div id="toggle-order" class="btn-txt icon-char-order{{' active' if btn_config.get('toggle-order') == 1 else ''}}" data-toggle="tooltip" data-placement="bottom" title="显隐字序"></div>
        <div id="toggle-more" class="btn-txt icon-more" data-toggle="tooltip" data-placement="bottom" title="更多"></div>
        <div class="btn-group more-group hide" id="more-group">
          <button id="btn-block" type="button" class="btn btn-default btn-sm">修改栏框</button>
          <button id="btn-box" type="button" class="btn btn-default btn-sm">修改切分</button>
          <button id="btn-order" type="button" class="btn btn-default btn-sm">修改字序</button>
        </div>
      </div>
      <div class="right">
        {% include com/_page_txt_btns.html %}
        <div class="btn-txt btn-line"></div>
        <div id="btn-update" class="btn-txt icon-pencil" data-toggle="tooltip" data-placement="bottom" title="修改基本信息"></div>
        <div id="btn-remark" class="btn-txt icon-edit" data-toggle="tooltip" data-placement="bottom" title="备注"></div>
        <div id="btn-prev" class="btn-txt icon-backward" data-toggle="tooltip" data-placement="bottom" title="上一页"></div>
        <div id="btn-next" class="btn-txt icon-forward" data-toggle="tooltip" data-placement="bottom" title="下一页"></div>
      </div>
    </div>
    <div class="m-body flex">
      <div id="left-region" class="m-left bd">
        <div id="holder"></div>
      </div>
      <div id="right-region" class="m-right bd {{'hide' if btn_config.get('toggle-right') == -1 else ''}}">
        {% module PageTxt(txts, active=active) %}
      </div>
    </div>
    <div class="m-footer">
      <span class="fl">
        页编码：<span class="page-name disabled">{{page['name']}}</span>
        当前字框：<span class="char-name">未选中</span><span class="char-info"></span>
      </span>
      <span class="fr">
        当前文本：<span class="txt-info"></span>
      </span>
    </div>
  </div>
</div>
<div class="panel-body" style="padding: 0">
  {% module PageRemarkModal() %}
  {% module ComModal(edit_fields, 'editModal', '修改基本信息') %}
  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档</h4>
        </div>
        <div class="modal-body">
          <div class="title">一、简介</div>
          <div class="intro">
            页面浏览可以针对一个页面集合逐条浏览，页面集合有检索参数决定。 浏览时可以看到页面的切分信息、文本信息、任务信息等。其中，
            栏框、列框、字框等切分信息以及审定文本可以通过更多按钮进行修改，字框OCR和列框OCR可以直接在本页面修改保存。<br/>
            另外，本页面还可以发布任务。<br/>
            <b>注：</b>点击上一页或下一页时，系统将记住文本区域的显示或隐藏状态，从而可以选择仅仅浏览切分信息，或者同时浏览文本信息。
          </div>
          <div class="title">二、操作</div>
          <table class="table">
            <tr>
              <td><i class="icon-return-back"></i></td>
              <td>返回</td>
            </tr>
            <tr>
              <td>页码</td>
              <td>查看页面详情</td>
            </tr>
            <tr>
              <td><i class="icon-image"></i></td>
              <td>显示或隐藏图片。隐藏图片有助于看清所要校对的切分框</td>
            </tr>
            <tr>
              <td><i class="icon-txt"></i></td>
              <td>打开或关闭右侧文本。关闭文本可以更好的查看切分信息</td>
            </tr>
            <tr>
              <td><i class="icon-blur"></i></td>
              <td>图片虚化处理。虚化后可以更好的看清字框、字序等信息</td>
            </tr>
            <tr>
              <td><i class="icon-edit"></i></td>
              <td>修改页面基本信息</td>
            </tr>
            <tr>
              <td><i class="icon-more"></i></td>
              <td>更多操作，包括修改栏框、列框、字框、审定文本等</td>
            </tr>
            <tr>
              <td><i class="icon-save"></i></td>
              <td>保存当前选中的字框OCR或列框OCR</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% include com/_base_js.html %}
{% include com/_base_cut.html %}
<script src="{{static_url('js/cut/char_order.js')}}"></script>
<script src="{{static_url('js/cut/proof_keys.js')}}"></script>
<script src="{{static_url('js/com-table.js')}}"></script>
<script src="{{static_url('js/page-btn.js')}}"></script>
<script src="{{static_url('js/page-txt.js')}}"></script>
<script>
  // 公共参数
  var info = decodeJSON('{{info}}');
  var btnConfig = decodeJSON('{{btn_config}}');
  var txtFields = decodeJSON('{{txt_fields}}');
  var txtDict = decodeJSON('{{dumps(txt_dict)}}');

  // 初始化
  $(document).ready(function () {
    // 设置备注
    var field = getStorage('pageRemarkField', '切分');
    $('#remarkModal .fields :radio[value="' + field + '"]').prop('checked', true);
    var which = field === '切分' ? 'box' : 'text';
    var remarks = decodeJSON('{{page.get("remark") or "{}"}}');
    var remark = which in remarks ? remarks[which] : getStorage('pageRemark');
    $("#remarkModal .remark").val(remark);
    $('.m-footer .txt-info').html($('.btn-show-txt.active').text());
  });

  // 修改字框
  $('#btn-box').on('click', function () {
    location = '/page/box/{{page["name"]}}?from=' + encodeFrom();
  });

  // 修改栏框
  $('#btn-block').on('click', function () {
    location = '/page/block/{{page["name"]}}?from=' + encodeFrom();
  });

  // 修改字序
  $('#btn-order').on('click', function () {
    location = '/page/order/{{page["name"]}}?from=' + encodeFrom();
  });

  // 获取当前按钮状态
  function getConfig() {
    var config = {};
    var buttons = ['image', 'right', 'blur', 'block', 'column', 'char', 'order'];
    buttons.forEach((b) => config['toggle-' + b] = $('.m-header #toggle-' + b).hasClass('active') ? 1 : -1);
    config['fields'] = $('#remarkModal :radio[name="fields"]:checked').val() || '';
    if ($('.btn-show-txt.active').length) {
      config['sutra-txt'] = $('.btn-show-txt.active').attr('data-id').replace('text-', '');
    }
    return config;
  }

  // 跳转
  function go(to) {
    var url = setQueryString('to', to).replace(location.pathname, '/page/browse/{{page["name"]}}');
    var config = getConfig();
    if (JSON.stringify(btnConfig) !== JSON.stringify(config)) {
      postApi('/session/config', {data: {page_browse_btn: config}}, function (res) {
        location.href = url;
      });
    } else {
      location.href = url;
    }
  }

  // 上一页
  $('#btn-prev').on('click', function () {
    go('prev');
  });

  // 下一页
  $('#btn-next').on('click', function () {
    go('next');
  });

  // 修改基本信息
  var $editModal = $('#editModal');
  var fields = decodeJSON('{{edit_fields}}').concat({id: '_id'});
  $('#btn-update').on('click', function () {
    info['_id'] = '{{page["_id"]}}';
    setModal($editModal, info, fields);
    $editModal.modal();
  });

  $("#editModal .modal-confirm").on('click', function () {
    var data = getModal($editModal, fields);
    postApi('/page', {data: data}, function () {
      showSuccess('成功', '数据已提交。');
      refresh(1000);
    }, function (error) {
      showError('失败', error.message);
    });
  });

  // 备注
  $('#btn-remark').on('click', () => $('#remarkModal').modal());
  $("#remarkModal .options :radio").on('click', function () {
    $('#remarkModal .remark').val($(this).val());
  });
  $('#remarkModal .modal-confirm').on('click', function () {
    var remark = $('#remarkModal .remark').val();
    if (!remark)
      return showWarning('提示', '请输入备注内容');
    var field = $('#remarkModal .fields :checked').val();
    if (!field)
      return showWarning('提示', '请选择备注字段');
    localStorage.setItem('pageRemark', remark);
    localStorage.setItem('pageRemarkField', field);
    var data = {_id: '{{page["_id"]}}', name: '{{page["name"]}}'};
    data[field === '切分' ? 'remark_box' : 'remark_txt'] = remark;
    $(this).text('进行中...');
    postApi('/page', {data: data}, function () {
      showSuccess('成功', '{{page["name"]}} ' + '备注成功。');
      go(getQueryString('to') || 'next');
    });
  });
</script>

<script>
  $.cut.create({
    readonly: true,
    holder: 'holder',
    image: '{{img_url}}',
    width: '{{page["width"]}}',
    height: '{{page["height"]}}',
    chars: '{{page["chars"]}}',
    blocks: '{{page["blocks"]}}',
    columns: '{{page["columns"]}}',
    scrollContainer: '#left-region',
  });
  $.cut.bindKeys();
  $.cut.bindCharOrderKeys();
  $.cut.switchCurrentBox(null);
  $.cut.addCharOrderLinks(decodeJSON('{{chars_col}}'), true);

  $.cut.state.canHitBox = function (el) {
    if ($('#toggle-char').hasClass('active') && el.data('class') === 'char')
      return true;
    if ($('#toggle-column').hasClass('active') && el.data('class') === 'column')
      return true;
    if ($('#toggle-block').hasClass('active') && el.data('class') === 'block')
      return true;
  };

  // 初始化设置
  if ($.cut.data.image.node) {
    $.cut.data.image.node.style.display = btnConfig['toggle-image'] === -1 ? 'none' : 'block';
    $.cut.data.image.node.style.opacity = btnConfig['toggle-blur'] !== 1 ? 1 : 0.2;
  }
  $.cut.setLink(btnConfig['toggle-order'] === 1);
  $.cut.toggleBox(btnConfig['toggle-char'] === 1, 'char');
  $.cut.toggleBox(btnConfig['toggle-block'] === 1, 'block');
  $.cut.toggleBox(btnConfig['toggle-column'] === 1, 'column');
  $('#toggle-order').toggleClass('active', btnConfig['toggle-order'] === 1);
  $('#toggle-char').toggleClass('active', btnConfig['toggle-char'] === 1);
  $('#toggle-block').toggleClass('active', btnConfig['toggle-block'] === 1);
  $('#toggle-column').toggleClass('active', btnConfig['toggle-column'] === 1);

</script>
</body>
</html>
