<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{page['name']}}</title>
  {% include _base_css.html %}
  <link href="{{static_url('assets/modal-effect/css/component.css')}}" rel="stylesheet">
  <link href="{{static_url('css/cut.css')}}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <style>
    .m-header {
      height: 40px;
    }

    .m-header.sub-line {
      left: 0;
      right: 0;
      top: 40px;
      height: 30px;
      display: flex;
      z-index: 1000;
      position: fixed;
      font-weight: 300;
      line-height: 30px;
      user-select: text;
      vertical-align: middle;
      color: var(--Color_333);
      justify-content: space-between;
      background-color: var(--Grey_Line);
    }

    .m-header .ocr-txt input {
      margin-right: 5px;
    }

    .sub-line a {
      color: var(--Brown_Darker);
      cursor: pointer;
    }

    .sub-line label {
      margin-left: 5px;
      font-weight: 300;
      color: var(--Color_333);
    }

    .m-body {
      overflow: auto;
      padding-top: 40px;

    }

    .m-body .left .bd {
      padding-bottom: 20px;
    }

    .m-body .right .bd {
      clear: both;
    }

    .txt-nav {
      width: 100%;
      height: 25px;
      font-size: 15px;
      line-height: 25px;
      color: var(--Brown_Darker);
      background-color: var(--Grey_Line);
    }

    .txt-nav li {
      cursor: pointer;
      padding: 0 8px;
      border-radius: 0 10px 0 0;
    }

    .txt-nav li.active {
      background-color: var(--Grey_Lighter);
    }

    .txt-nav li:hover {
      color: var(--Brown_Dark);
    }

    .priority input[type='radio'], .force input[type='radio'] {
      margin: 0 10px
    }

    .pfread .left {
      flex: 1;
      width: 50%;
      border-right: 1px solid var(--Grey_Line);
    }

    .pfread .right {
      flex: 1;
      border-left: 1px solid #ccc;
      background: var(--Grey_Content);
    }

    .pfread .right textarea {
      border: 0;
      font-size: 20px;
      font-weight: 300;
      line-height: 40px;
      letter-spacing: 1px;
      background: transparent;
    }

    .dropdown-menu > li > a {
      padding: 0 20px;
    }

    .vertical-bar {
      top: 50px;
      right: 20px;
      width: 30px;
      display: flex;
      position: fixed;
      flex-direction: column;
    }

    #remarkModal .modal-content {
      width: 720px;
    }
  </style>
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="btn-group back">
          <span class="icon-return-back" onclick="leave()" data-toggle="tooltip" data-placement="bottom" title="返回"></span>
        </div>
        <div class="btn-group title" style="user-select: text">
          <a href="/data/page/info/{{page['name']}}">{{page['name']}}</a>
        </div>
      </div>
      <div class="center">
        <div class="btn-group">
          <div class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助"></div>
          <div class="btn-txt icon-info" data-toggle="tooltip" data-placement="bottom" title="基本信息"></div>
          <div class="btn-txt icon-image active" id="toggle-image" data-toggle="tooltip" data-placement="bottom" title="显隐图片"></div>
          <div class="btn-txt icon-txt active" id="toggle-right" data-toggle="tooltip" data-placement="bottom" title="显隐文本"></div>
          <div class="btn-txt icon-blur active" id="toggle-blur" data-toggle="tooltip" data-placement="bottom" title="模糊图片"></div>
          <div class="btn-txt icon-zoom-in" id="zoom-in" data-toggle="tooltip" data-placement="bottom" title="放大图片"></div>
          <div class="btn-txt icon-search" id="zoom-reset" data-toggle="tooltip" data-placement="bottom" title="原始大小"></div>
          <div class="btn-txt icon-zoom-out" id="zoom-out" data-toggle="tooltip" data-placement="bottom" title="缩小图片"></div>
          <div class="btn-txt icon-blocks" id="toggle-block" data-toggle="tooltip" data-placement="bottom" title="显隐栏框"></div>
          <div class="btn-txt icon-columns" id="toggle-column" data-toggle="tooltip" data-placement="bottom" title="显隐列框"></div>
          <div class="btn-txt icon-chars" id="toggle-char" data-toggle="tooltip" data-placement="bottom" title="显隐字框"></div>
          <div class="btn-txt icon-char-order" id="toggle-order" data-toggle="tooltip" data-placement="bottom" title="显隐字序"></div>
          <div class="btn-txt icon-pencil" id="btn-update" data-toggle="tooltip" data-placement="bottom" title="修改基本信息"></div>
          <div class="btn-txt icon-more" id="toggle-more" data-toggle="tooltip" data-placement="bottom" title="更多"></div>
        </div>
        <div class="btn-group hidden" id="more-group">
          <button type="button" class="btn btn-default btn-sm" id="btn-ed-box">修改切分</button>
          <button type="button" class="btn btn-default btn-sm" id="btn-ed-order">修改字序</button>
          <button type="button" class="btn btn-default btn-sm" id="btn-ed-text">审定文本</button>
        </div>
      </div>
      <div class="right">
        <div class="btn-group">
          <div class="btn-txt icon-edit" id="btn-remark" data-toggle="tooltip" data-placement="bottom" title="备注"></div>
          <div class="btn-txt icon-backward" id="btn-prev" data-toggle="tooltip" data-placement="bottom" title="上一页"></div>
          <div class="btn-txt icon-forward" id="btn-next" data-toggle="tooltip" data-placement="bottom" title="下一页"></div>
        </div>
      </div>
    </div>

    <div class="vertical-bar txt-tool">
      <div class="glyphicon glyphicon-list" data-toggle="modal" data-target="#selectModal" title="选择文本"></div>

    </div>

    <div class="m-body flex pfread">
      <div class="left" id="left-region">
        <div class="bd" id="holder-container">
          <div id="holder"></div>
        </div>
      </div>
      {% set which = btn_config.get('sutra-txt') or '' %}
      {% set fields = [t[0] for t in texts] %}
      {% if texts %}
      <div class="right{{' hide' if btn_config.get('toggle-right') == -1 else ''}}" id="right-region">
        <div class="txt-nav hide">
          <ul class="nav navbar-nav">
            <li class="active">切分校对</li>
            <li>切分审定</li>
          </ul>
        </div>
        <div class="bd">
          {% for i, (field, txt, label) in enumerate(texts) %}
          <div class="sutra-text {{field}} {{'' if (which in fields and field == which) or (which not in fields and i == 0) else 'hide'}}">
            <textarea class="form-control" rows="100" {{'readonly' if field == 'text' and page.get('txt_html') else ''}}>{% raw txt.replace('|', '\n') %}</textarea>
          </div>
          {% end %}
        </div>
      </div>
      {% end %}
    </div>
  </div>
</div>

<div class="m-footer" id="cut-info">
  <span class="cur-char"></span>
  <span class="char-info"></span>
</div>

<div class="panel-body" style="padding: 0">
  {% module PageRemarkModal() %}
  {% module ComModal(edit_fields, 'editModal', '更新基本信息') %}
  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档</h4>
        </div>
        <div class="modal-body">
          <div class="title">一、简介</div>
          <div class="intro">
            页面浏览可以针对一个页面集合逐条浏览，页面集合有检索参数决定。 浏览时可以看到页面的切分信息、文本信息、任务信息等。其中，
            栏框、列框、字框等切分信息以及审定文本可以通过更多按钮进行修改，字框OCR和列框OCR可以直接在本页面修改保存。<br/>
            另外，本页面还可以发布任务。<br/>
            <b>注：</b>点击上一页或下一页时，系统将记住文本区域的显示或隐藏状态，从而可以选择仅仅浏览切分信息，或者同时浏览文本信息。
          </div>
          <div class="title">二、操作</div>
          <table class="table">
            <tr>
              <td><img src="{{static_url('imgs/icon_back.png')}}"/></td>
              <td>返回</td>
            </tr>
            <tr>
              <td>页码</td>
              <td>查看页面详情</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_pic.png')}}"/></td>
              <td>显示或隐藏图片。隐藏图片有助于看清所要校对的切分框</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_txt.png')}}"/></td>
              <td>打开或关闭右侧文本。关闭文本可以更好的查看切分信息</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_blur.png')}}"/></td>
              <td>图片虚化处理。虚化后可以更好的看清字框、字序等信息</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_edit.png')}}"/></td>
              <td>修改页面基本信息</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_more.png')}}"/></td>
              <td>更多操作，包括修改栏框、列框、字框、审定文本等</td>
            </tr>
            <tr>
              <td><span type="button" class="btn btn-primary btn-sm">保存文本</span></td>
              <td>保存当前选中的字框OCR或列框OCR</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="selectModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="selectModal"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">选择文本</h4>
        </div>
        <div class="modal-body">
          <div class="select-txt">

            {% for i, (field, txt, label) in enumerate(texts) %}
            <label class="radio-inline">
              <input type="radio" name="select-txt" value="{{field}}" {{'checked' if (which in fields and field == which) or (which not in fields and i == 0) else ''}}>{{label}}
            </label>
            {% end %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}
{% include _base_cut.html %}
<script src="{{static_url('js/l10n.js')}}"></script>
<script src="{{static_url('js/cut/cut_adv.js')}}"></script>
<script src="{{static_url('js/cut/char_order.js')}}"></script>
<script src="{{static_url('js/com-table.js')}}"></script>
<script src="{{static_url('js/page-btn.js')}}"></script>
<script>
  var sutraTxt = '';   // 用户选中的当前文本
  var btnConfig = decodeJSON('{{btn_config}}');
  $(document).ready(function () {
    // 设置默认备注字段和备注内容
    var field = localStorage.getItem('pageRemarkField');
    if (typeof field === 'undefined' || field !== '文本')
      field = '切分';
    $('#remarkModal .fields :radio[value="' + field + '"]').prop('checked', true);
    var which = field === '切分' ? 'box' : 'text';
    var remark = decodeJSON('{{page.get("remark") or "{}"}}');
    if (typeof remark[which] !== "undefined")
      remark = remark[which];
    else
      remark = localStorage.getItem('pageRemark');
    $("#remarkModal .remark").val(remark);

  });
</script>
<script>
  // 离开页面
  var from = decodeFrom();
  window.leave = function () {
    if (from) {
      window.location = from;
    } else {
      window.location = '/data/page' + deleteParam(location.search, 'to');
    }
  };

  // 修改字框
  $('#btn-ed-box').click(function () {
    location = '/page/cut_edit/{{page["name"]}}?from=' + encodeFrom();
  });

  // 修改字序
  $('#btn-ed-order').click(function () {
    location = '/page/cut_edit/{{page["name"]}}?step=order&from=' + encodeFrom();
  });

  // 修改审定文本
  $('#btn-ed-text').click(function () {
    location = '/page/text_edit/{{page["name"]}}?from=' + encodeFrom();
  });

  // 跳转
  function go(to) {
    var url = setQueryString('to', to).replace(location.pathname, '/page/browse/{{page["name"]}}');
    var config = getConfig();
    if (JSON.stringify(btnConfig) !== JSON.stringify(config)) {
      postApi('/session/config', {data: {data_page_button: config}}, function (res) {
        location.href = url;
      });
    } else {
      location.href = url;
    }
  }

  // 上一页
  $('#btn-prev').click(function () {
    go('prev');
  });

  // 下一页
  $('#btn-next').click(function () {
    go('next');
  });

  // 解锁临时锁
  $('.lock').click(function () {
    var name = '{{page["name"]}}';
    var sharedField = $(this).attr('class').indexOf('box') !== -1 ? 'box' : 'text';
    var url = '/data/admin/unlock/' + sharedField + '/' + name;
    showConfirm("确定解锁吗？", "页面" + name + "的数据锁将被释放！", function () {
      postApi(url, {data: {}}, function () {
        showSuccess('成功', '已成功解锁。');
        refresh(1000);
      }, function (error) {
        showError('失败', error.message);
      });
    });
  });

  // 修改基本信息
  var $editModal = $('#editModal');
  var fields = decodeJSON('{{edit_fields}}').concat({id: '_id'});
  $('#btn-update').click(function () {
    var info = decodeJSON('{{info}}');
    console.log(info);
    info['_id'] = '{{page["_id"]}}';
    setModal($editModal, info, fields);
    $editModal.modal();
  });

  $("#editModal .modal-confirm").click(function () {
    var data = getModal($editModal, fields);
    postApi('/data/page', {data: data}, function () {
      showSuccess('成功', '数据已提交。');
      refresh(1500);
    }, function (error) {
      showError('提交失败', error.message);
    });
  });

  // 备注
  $("#remarkModal .options :radio").click(function () {
    $('#remarkModal .remark').val($(this).val());
  });
  $('#remarkModal .modal-confirm').click(function () {
    var remark = $('#remarkModal .remark').val().trim();
    if (!remark.length)
      return showWarning('请输入备注内容');
    var field = $('#remarkModal .fields :checked').val();
    if (typeof field === 'undefined')
      return showWarning('请选择备注字段');
    localStorage.setItem('pageRemark', remark);
    localStorage.setItem('pageRemarkField', field);
    var data = {_id: '{{page["_id"]}}', name: '{{page["name"]}}'};
    data[field === '切分' ? 'remark.box' : 'remark.text'] = remark;
    postApi('/data/page', {data: data}, function () {
      showSuccess('成功', '{{page["name"]}} ' + '备注成功。');
      go(getQueryString('to') || 'next');
    });
  });

  // 获取当前按钮状态
  function getConfig() {
    var config = {};
    var buttons = ['toggle-image', 'toggle-right', 'toggle-blur', 'toggle-block',
      'toggle-column', 'toggle-char', 'toggle-order'];
    buttons.forEach(function (button) {
      config[button] = $('.m-header #' + button).hasClass('active') ? 1 : -1;
    });
    if (sutraTxt)
      config['sutra-txt'] = sutraTxt;
    else
      config['sutra-txt'] = btnConfig['sutra-txt'] || '';
    if ($('#remarkModal :radio[name="operation"]:checked').length)
      config['operation'] = $('#remarkModal :radio[name="operation"]:checked').val();
    return config;
  }

  // 切换文本
  $('.ocr-txt input').click(function () {
    $('.bd .sutra-text').addClass('hide');
    $('.bd .sutra-text.' + $(this).val()).removeClass('hide');
    sutraTxt = $(this).val();
  });

  // 保存文本
  $('#btn-save').click(function () {
    var which = $('.ocr-txt :checked').val();
    var data = {_id: "{{page['_id']}}", name: "{{page['name']}}"};
    data[which] = $('.sutra-text.' + which + ' textarea').val();
    postApi('/data/page', {data: data}, function () {
      showSuccess('修改成功');
      refresh(500);
    });
  });
</script>
<script>
  var chars = $.cut.setClass(decodeJSON('{{page.get("chars", [])}}'), 'char');
  var columns = $.cut.setClass(decodeJSON('{{page.get("columns", [])}}'), 'column');
  var blocks = $.cut.setClass(decodeJSON('{{page.get("blocks", [])}}'), 'block');

  $.cut.create({
    readonly: true,
    scrollContainer: '#holder-container',
    name: '{{page["name"]}}',
    width: '{{page["width"]}}',
    height: '{{page["height"]}}',
    holder: 'holder',
    image: '{{img_url}}',
    chars: chars.concat(columns).concat(blocks)
  });
  $.cut.switchCurrentBox(null);
  $.cut.bindKeys();
  $.cut.bindCharOrderKeys();
  $.cut.addCharOrderLinks(decodeJSON('{{chars_col}}'), true);

  $.cut.state.canHitBox = function (el) {
    var cls = el.data('class');
    if ($('#toggle-char').hasClass('active') && cls === 'char') {
      return true;
    }
    if ($('#toggle-column').hasClass('active') && cls === 'column') {
      return true;
    }
    if ($('#toggle-block').hasClass('active') && cls === 'block') {
      return true;
    }
  };

  // 初始化设置
  $.cut.data.image.node.style.display = btnConfig['toggle-image'] === -1 ? 'none' : 'block';
  $.cut.data.image.node.style.opacity = btnConfig['toggle-blur'] !== 1 ? 1 : 0.2;
  $('rect.block').css('display', btnConfig['toggle-block'] === 1 ? 'block' : 'none');
  $('rect.column').css('display', btnConfig['toggle-column'] === 1 ? 'block' : 'none');
  $('rect.char').css('display', btnConfig['toggle-char'] === 1 ? 'block' : 'none');
  $.cut.setLink(btnConfig['toggle-order'] === 1);

</script>
</body>
</html>
