<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{handler.page_title()}}</title>
  {% include _base_css.html %}
  <link href="{{static_url('assets/modal-effect/css/component.css')}}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  {% block custom-css %}{% end %}
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="btn-group back">
          {% set title, icon = ('任务大厅', 'icon-list') if handler.mode == 'do' else ('返回', 'icon-return-back') %}
          <span class="{{icon}}" onclick="leave()" data-toggle="tooltip" data-placement="bottom" title="{{title}}"></span>
        </div>
        <div class="btn-group title" title="{{handler.page['name']}}">{{handler.task_name()}}
          {% block step_title %}
          <span class="sub-title {{'' if handler.step_name() else 'hide'}}">-{{handler.step_name()}}</span>
          {% end %}
        </div>
      </div><!--left-->
      <div class="center">{% block buttons %}{% end %}</div>
      <div class="right">
        {% block task-actions %}
        <div id="task-config" class="btn-txt icon-config {{'hide' if handler.readonly else ''}}" data-toggle="tooltip" data-placement="bottom" title="任务配置"></div>
        <div id="step-prev" class="btn-txt icon-prev-step {{'hide' if handler.steps.get('is_first') else ''}}" data-toggle="tooltip" data-placement="bottom" title="上一步"></div>
        <div id="task-return" class="btn-txt icon-return-task  {{'' if handler.mode == 'do' else 'hide'}}" data-toggle="tooltip" data-placement="bottom" title="退回任务"></div>
        <div id="task-save" class="btn-txt icon-save {{'hide' if handler.readonly else ''}}" data-toggle="tooltip" data-placement="bottom" title="保存任务"></div>
        <div id="step-next" class="btn-txt icon-next-step {{'hide' if handler.steps.get('is_last') else ''}}" data-toggle="tooltip" data-placement="bottom" title="下一步"></div>
        <div id="task-submit" class="btn-txt icon-submit {{'' if handler.steps.get('is_last') and not handler.readonly else 'hide'}}" data-toggle="tooltip" data-placement="bottom" title="提交任务"></div>
        {% end %}
        {% if handler.mode == 'browse' %}
        <div class="btn-txt btn-line"></div>
        <div id="page-view" class="btn-txt icon-eye" data-toggle="tooltip" data-placement="bottom" title="查看页面"></div>
        <div id="task-remark" class="btn-txt icon-edit" data-toggle="tooltip" data-placement="bottom" title="备注任务"></div>
        <div id="task-prev" class="btn-txt icon-backward" data-toggle="tooltip" data-placement="bottom" title="前一个任务"></div>
        <div id="task-next" class="btn-txt icon-forward" data-toggle="tooltip" data-placement="bottom" title="后一个任务"></div>
        {% end %}
      </div><!--right-->
    </div>
    <div class="m-body flex">
      {% block m-body %}{% end %}
    </div>
    <div class="m-alert alert alert-info hide" id="m-alert">
      <a class="close">×</a><i class="loading icon-spinner1 animate-spin"></i>
      <strong class="title"></strong><span class="text"></span>
    </div>
    {% block m-footer %}
    <div class="m-footer"></div>
    {% end %}
  </div>
</div>

<div class="panel-body" style="padding: 0">
  {% module ReturnModal() %}
  {% module TaskRemarkModal() %}
  {% block config-modal %}{% module TaskConfigModal() %}{% end %}
  {% block custom-modal %}{% end %}
</div>

{% include _base_js.html %}
<script>
  // 公共参数
  var workChanged = 0;
  var from = decodeFrom();
  var mode = '{{handler.mode}}';
  var docId = '{{handler.doc_id}}';
  var taskId = '{{handler.task_id}}';
  var taskType = '{{handler.task_type}}';
  var steps = decodeJSON('{{handler.steps}}');
  var readonly = '{{handler.readonly}}' === 'True';
  var step = '{{handler.steps.get("current") or ""}}';
  var lobbyTaskType = taskType.replace(/text_proof_\d/, 'text_proof');
  var remark = '{{handler.task.get("remark") or ""}}';
  var isSample = '{{"是" if handler.task.get("is_sample") else "否"}}';
  var $remarkModal = $("#remarkModal");
  var $returnModal = $("#returnModal");
  var $cfgModal = $("#taskConfigModal");
</script>
<script src="{{static_url('js/task-pick.js')}}"></script>
<script src="{{static_url('js/page-btn.js')}}"></script>
{% block custom-js %}{% end %}

<script>
  $('#help').on('click', () => $('#helpModal').modal());
  $('#task-return').on('click', () => $returnModal.modal());
  $('#task-remark').on('click', () => $remarkModal.modal());
  $('#task-config').on('click', () => $cfgModal.modal());

  // 初始化设置
  $(document).ready(function () {
    $remarkModal.find(".remark").val(remark || getStorage('taskRemark'));
    $remarkModal.find('.is_sample :radio[value="' + isSample + '"]').prop('checked', true);
    $cfgModal.find('.auto-pick :radio[value=' + getStorage('autoPick', '是') + ']').prop('checked', true);
  });

  // 离开页面前的提醒
  window.addEventListener('beforeunload', function (e) {
    if (workChanged && !readonly) {
      var confirmationMessage = '改动内容还未保存，确定要离开本页吗？';
      (e || window.event).returnValue = confirmationMessage; // 兼容 Gecko + IE
      return confirmationMessage; // 兼容 Gecko + Webkit, Safari, Chrome
    }
  });

  // 离开页面
  window.leave = function () {
    // 释放临时数据锁
    if (['edit', 'update'].indexOf(mode) > -1 && !readonly) {
      if (taskType.indexOf('cut_') !== -1) {
        postApi('/data/unlock/box/' + docId, {});
      } else if (taskType.indexOf('text_') !== -1) {
        postApi('/data/unlock/text/' + docId, {});
      }
    }
    // 返回
    if (from) {
      window.location = from;
    } else if (mode === 'do') {
      window.location = '/task/lobby/' + lobbyTaskType;
    } else if (mode === 'update') {
      window.location = '/task/my/' + lobbyTaskType;
    } else {
      window.history.back();
    }
  };

  // 保存任务
  function saveTask(type, jumpUrl, saveEnded) {
    // type有四种类型：prev/next/save/submit
    var data = getTaskData(type, jumpUrl);
    if (data && !data.error) {
      data.submit = ['next', 'submit'].indexOf(type) > -1;
      bsLoading('保存中‧‧‧');
      postApi(location.pathname, {data: data}, function (res) {
        workChanged = 0;
        saveEnded(type, res, jumpUrl);
      }, errorHandle);
    }
  }

  function errorHandle(res) {
    bsShow('失败！', res.message || '', 'warning');
  }

  function afterSaved(type, res, url) {
    type === 'save' ? bsShow('成功！', '保存成功。', 'info', 1000) : goto(url, 1000);
  }

  function afterSubmitted(type, res, url) {
    let autoPick = getStorage('autoPick', true) === '是';
    setTimeout(() => autoPick ? pick('/task/pick/' + lobbyTaskType) : window.leave(), 1000);
  }

  // 步骤导航
  function navigate(to) {
    var url = setQueryString('step', steps[to]);
    readonly ? goto(url, 1000) : saveTask(to, url, afterSaved);
  }

  // 上一步
  $(document).on("click", '#step-prev', function () {
    navigate('prev');
  });

  // 下一步
  $(document).on("click", '#step-next', function () {
    navigate('next');
  });

  // 任务保存
  $(document).on('click', '#task-save', function () {
    var url = deleteQueryString(['reorder', 're_compare']); // 去掉重新排序、重新比对等参数
    saveTask('save', url, afterSaved);
  });


  // 任务提交
  $(document).on('click', '#task-submit', function () {
    saveTask('submit', null, afterSubmitted);
  });

  // 任务退回
  $(document).on('click', '#returnModal .modal-confirm', function () {
    var reason = $returnModal.find('.return_reason').val().trim();
    if (!reason.length) {
      return showError('失败', '尚未填写退回理由');
    }
    postApi('/task/return/' + taskId, {data: {reason: reason}}, function () {
      showSuccess('成功', docId + ' 已退回成功。');
      goto('/task/lobby/' + lobbyTaskType, 1000);
    });
  });

  // 查看页面
  $(document).on('click', '#page-view', function () {
    location.href = '/page/browse/' + docId + '?from=' + encodeFrom();
  });

  // 前一个任务
  $(document).on('click', '#task-prev', function () {
    var path = '/task/browse/' + taskType + '/' + taskId;
    location.href = path + setQueryString('to', 'prev', true);
  });

  // 后一个任务
  $(document).on('click', '#task-next', function () {
    var path = '/task/browse/' + taskType + '/' + taskId;
    location.href = path + setQueryString('to', 'next', true);
  });

  // 备注任务
  var $remarkModal = $('#remarkModal');
  $remarkModal.find('.options :radio').click(() => $remarkModal.find('.remark').val($(this).val()));
  $remarkModal.find('.modal-confirm').click(function () {
    var remark = $remarkModal.find('.remark').val().trim();
    remark && setStorage('taskRemark', remark);
    var isSample = $remarkModal.find('.is_sample :checked').val() || '否';
    postApi('/task/remark', {data: {_id: taskId, remark: remark, is_sample: isSample}}, function () {
      showSuccess('成功', '已备注');
      navigate(getQueryString('to') || 'next');
    });
  });

  // 是否自动领取新任务
  $cfgModal.find('.modal-confirm').click(function () {
    var autoPick = $cfgModal.find('.auto-pick :checked');
    autoPick && setStorage('autoPick', autoPick.val());
    $cfgModal.modal('hide');
  });

</script>

{% block final-js %}{% end %}

</body>
</html>
