<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{page['name']}}</title>
  {% include com/_base_css.html %}
  <link href="{{static_url('css/box.css')}}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <style>
    .m-footer {
      display: flex;
      justify-content: space-between;
    }

    .m-footer .is-diff {
      color: #333;
      margin-right: 12px;
    }

    .m-footer .changed {
      color: red;
    }
  </style>
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="btn-group back">
          <span class="icon-return-back" onclick="leave()" data-toggle="tooltip" data-placement="bottom" title="返回"></span>
        </div>
        <div class="btn-group title" data-toggle="tooltip" data-placement="bottom" title="数据详情" style="user-select: text">
          <a href="/page/info/{{page['name']}}">{{page['name']}}</a>
        </div>
      </div>
      <div class="center">
        <div id="help" class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助[h]"></div>
        <div id="toggle-img" class="btn-txt icon-image active" data-toggle="tooltip" data-placement="bottom" title="显隐图片[p]"></div>
        <div id="toggle-blur" class="btn-txt icon-blur" data-toggle="tooltip" data-placement="bottom" title="模糊图片[m]"></div>
        <div id="zoom-in" class="btn-txt icon-zoom-in" data-toggle="tooltip" data-placement="bottom" title="放大图片[+]"></div>
        <div id="zoom-reset" class="btn-txt icon-zoom-back" data-toggle="tooltip" data-placement="bottom" title="原始大小[1]"></div>
        <div id="zoom-out" class="btn-txt icon-zoom-out" data-toggle="tooltip" data-placement="bottom" title="缩小图片[-]"></div>
        <div id="toggle-char" class="btn-txt icon-chars toggle-box{{'' if page.get('chars') else ' hide'}}" data-toggle="tooltip" data-placement="bottom" title="显隐字框[j]"></div>
        <div id="toggle-column" class="btn-txt icon-columns toggle-box{{'' if page.get('columns') else ' hide'}}" data-toggle="tooltip" data-placement="bottom" title="显隐列框[k]"></div>
        <div id="toggle-block" class="btn-txt icon-blocks toggle-box{{'' if page.get('blocks') else ' hide'}}" data-toggle="tooltip" data-placement="bottom" title="显隐栏框[l]"></div>
        <div id="toggle-no-char" class="btn-txt icon-char-no toggle-no{{'' if page.get('chars') else ' hide'}}" data-toggle="tooltip" data-placement="bottom" title="显隐字序[n]"></div>
        <div id="toggle-more" class="btn-txt icon-more" title="更多"></div>
        <div class="btn-group more-group hide" id="more-group">
          <span id="btn-box" class="btn btn-default btn-sm" type="button">切分</span>
          <span id="btn-txt" class="btn btn-default btn-sm" type="button">文本</span>
          <span id="btn-cmp" class="btn btn-default btn-sm" type="button">比对文本</span>
        </div>
      </div>
      <div class="right">
        <div id="toggle-right" class="btn-txt icon-txt active" data-toggle="tooltip" data-placement="bottom" title="显隐文本"></div>
        <div id="toggle-txts" class="btn-group" title="切换文本">
          <i class="btn-txt icon-history dropdown-toggle" data-toggle="dropdown"></i>
          <ul id="txt-list" class="dropdown-menu" data-stopPropagation="true">
            <li id="txt" class="toggle-txt active"><a href="#">校对文本</a></li>
            <li id="ocr_txt" class="toggle-txt"><a href="#">字框OCR</a></li>
            <li id="ocr_col" class="toggle-txt"><a href="#">列框OCR</a></li>
            <li id="cmp_txt" class="toggle-txt"><a href="#">比对文本</a></li>
          </ul>
        </div>
        <div id="btn-remark" class="btn-txt icon-edit" data-toggle="tooltip" data-placement="bottom" title="备注"></div>
        <div id="btn-prev" class="btn-txt icon-arrow-left" data-toggle="tooltip" data-placement="bottom" title="上一页"></div>
        <div id="btn-next" class="btn-txt icon-arrow-right" data-toggle="tooltip" data-placement="bottom" title="下一页"></div>
      </div>
    </div>
    <div class="m-body flex">
      <div id="left-region" class="left bd">
        <div class="box-holder"></div>
      </div>
      <div id="right-region" class="right bd">
        <div class="txt-holder"></div>
      </div>
    </div>
    <div class="m-alert alert alert-info hide" id="m-alert">
      <a class="close">×</a><i class="loading icon-spinner1 animate-spin"></i>
      <strong class="title"></strong><span class="text"></span>
    </div>
    <div class="m-footer">
      <span class="fl">
        <span class="page-info">页编码：<span class="page-name disabled">{{page['name']}}</span></span>
      </span>
      <span class="center">
        <span class="txt-type">
          不一致: <span class="is-diff">_</span>
          已修改: <span class="changed">阿</span>
        </span>
      </span>
      <span class="fr">
        <span>当前：<span class="char-name">未选中</span><span class="char-info"></span></span>
      </span>
    </div>
  </div>
</div>
<div class="panel-body" style="padding: 0">
  {% module PageRemarkModal() %}
  <div id="helpModal" class="modal help fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档</h4>
        </div>
        <div class="modal-body">
          <div class="title">一、简介</div>
          <div class="intro">
            针对页数据综合检索的结果进行逐页浏览。 <br/>
            浏览时可以看到页面的切分信息、文本信息、任务信息（点击菜单按钮弹框显示）等，还可以直接修改文本。<br/>
          </div>
          <div class="title">二、操作</div>
          <table class="table">
            <tr>
              <td><i class="icon-return-back"></i></td>
              <td>返回</td>
            </tr>
            <tr>
              <td>页码</td>
              <td>查看页面详情</td>
            </tr>
            <tr>
              <td><i class="icon-image"></i></td>
              <td>显示或隐藏图片。隐藏图片有助于看清所要校对的切分框</td>
            </tr>
            <tr>
              <td><i class="icon-txt"></i></td>
              <td>打开或关闭右侧文本。关闭文本可以更好的查看切分信息</td>
            </tr>
            <tr>
              <td><i class="icon-blur"></i></td>
              <td>图片模糊处理。模糊后可以更好的看清字框、字序等信息</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% include com/_base_js.html %}
<script src="{{static_url('js/box/jquery.mapKey.js')}}"></script>
<script src="{{static_url('js/box/raphael.js')}}"></script>
<script src="{{static_url('js/box/raphael.zoom.js')}}"></script>
<script src="{{static_url('js/box/box.base.js')}}"></script>
<script src="{{static_url('js/box/box.cut.js')}}"></script>
<script src="{{static_url('js/box/box.page.js')}}"></script>
<script src="{{static_url('js/box/box.key.js')}}"></script>
<script src="{{static_url('js/page-box.js')}}"></script>
<script>
  // 初始化。注：先设置右侧，后设置$.page.init
  if (!getStorage('browseRight', true)) {
    $('#toggle-right').removeClass('active');
    $('#right-region').addClass('hide');
    $('.m-footer .txt-type').addClass('hide');
  }
  $.page.init({
    readonly: true,
    holder: '.box-holder',
    txtHolder: '.txt-holder',
    useTooTips: true,
    showMode: 'height-full',
    imgUrl: '{{page["img_url"]}}',
    curBoxType: getStorage('browseBox', ''),
    width: '{{page.get("width") or 0}}',
    height: '{{page.get("height") or 0}}',
    chars: decodeJSON('{{page.get("chars") or []}}'),
    blocks: decodeJSON('{{page.get("blocks") or []}}'),
    columns: decodeJSON('{{page.get("columns") or []}}'),
    showImage: $('#toggle-img').hasClass('active'),
    blurImage: getStorage('browseBlur', false) ? 0.2 : 1,
  });
  $.box.bindBaseKeys(true);
  $('#toggle-blur').toggleClass('active', getStorage('browseBlur', false));
  if (getStorage('browseBox', '')) $('#toggle-' + getStorage('browseBox')).addClass('active');

  $(document).ready(function () {
    // 设置备注
    let sRemark = getStorage('browseRemark', '');
    let sField = getStorage('browseRemarkField', '切分');
    $('#remarkModal .fields :radio[value="' + sField + '"]').prop('checked', true);
    let options = $.map($('#remarkModal .options :radio'), (item) => $(item).val());
    let remark = sField === '切分' ? '{{page.get("remark_box", "")}}' : '{{page.get("remark_txt", "")}}';
    if (remark.length) {
      $("#remarkModal .remark").val(remark);
    } else if (sRemark.length && options.indexOf(sRemark) < 0) {
      $("#remarkModal .options").append(`<label class="radio-inline"><input type="radio" name="options" value="${sRemark}">${sRemark}</label>`);
    }
  });

</script>
<script>
  function go(to) {
    location.href = '/page/browse/{{page["name"]}}' + setQueryString('to', to, true);
  }

  $('#toggle-blur').on('click', function () {
    setStorage('browseBlur', $(this).hasClass('active'));
  });
  $('.toggle-box').on('click', function () {
    let boxType = $(this).attr('id').replace('toggle-', '');
    setStorage('browseBox', $(this).hasClass('active') ? boxType : '');
  });
  $('#toggle-right').on('click', function () {
    $(this).toggleClass('active');
    $('#right-region').toggleClass('hide', !$(this).hasClass('active'));
    $('.m-footer .txt-type').toggleClass('hide', !$(this).hasClass('active'));
    setStorage('browseRight', $(this).hasClass('active'));
  });
  $('#toggle-more').on('click', function () {
    $('#more-group').toggleClass('hide');
  });
  $('#btn-box').on('click', function () {
    location.href = '/page/box/{{page["name"]}}?from=' + encodeFrom();
  });
  $('#btn-txt').on('click', function () {
    location.href = '/page/txt/{{page["name"]}}?from=' + encodeFrom();
  });
  $('#btn-cmp').on('click', function () {
    location.href = '/page/find_cmp/{{page["name"]}}?from=' + encodeFrom();
  });
  $('#btn-prev').on('click', () => go('prev'));
  $('#btn-next').on('click', () => go('next'));

  // 备注
  $('#btn-remark').on('click', () => $('#remarkModal').modal());
  $(document).on('click', '#remarkModal .options :radio', () => {
    $('#remarkModal .remark').val($('#remarkModal .options :checked').val());
  });
  $('#remarkModal .modal-confirm').on('click', function () {
    let $this = $(this);
    if ($this.hasClass('disabled')) return;
    let remark = $('#remarkModal .remark').val();
    if (!remark) return showTips('提示', '请输入备注内容', 1000);
    let field = $('#remarkModal .fields :checked').val();
    if (!field) return showTips('提示', '请选择备注字段', 1000);
    setStorage('browseRemarkField', field);
    if (['没问题', '还可以', '不合要求'].indexOf(remark) < 0)
      setStorage('browseRemark', remark);
    let data = {_id: '{{page["_id"]}}', name: '{{page["name"]}}'};
    data[field === '切分' ? 'remark_box' : 'remark_txt'] = remark;
    $this.addClass('disabled').text('进行中...');
    postApi('/page/meta', {data: data}, function () {
      $this.removeClass('disabled').text('确定');
      showSuccess('成功', '{{page["name"]}} ' + '备注成功。', 1000);
      go(getQueryString('to') || 'next');
    });
  });

</script>
</body>
</html>
