<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{handler.page_title+'-'+page["name"]}}</title>
  {% include com/_base_css.html %}
  <link href="{{static_url('css/cut.css')}}" rel="stylesheet"/>
  <link href="{{static_url('css/char.css')}}" rel="stylesheet">
  <link href="{{static_url('css/char-txt.css')}}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <style>
    .line {
      font-size: 0;
      display: flex;
      flex-wrap: wrap;
      letter-spacing: 1px;
    }

    .line.current-line {
      padding-left: 4px;
      margin-left: -10px;
      border-left: 6px solid rgba(255, 0, 0, .4);
    }

    .char {
      cursor: pointer;
      font-size: 20px;
    }

    .changed {
      text-decoration: underline;
    }

    .diff {
      color: red;
    }

    .diff.changed {
      color: green;
    }

    .is_variant {
      color: #3399CC;
    }


    .m-footer .diff, .m-footer .is_variant, .m-footer .changed {
      font-family: '宋体';
      margin-right: 8px;
    }

    .browsed {
      color: green;
    }

    .m-footer {
      display: flex;
      justify-content: space-between;
    }

    .current-char {
      color: #fff;
      opacity: 0.6;
      background: #FF0000;
    }

    .sutra-texts {
      width: 100%;
      height: 100%;
      overflow: auto;
      padding: 0 15px;
      background: var(--Grey_Content);
    }
  </style>
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="btn-group back">
          <span class="icon-return-back" onclick="leave()" data-toggle="tooltip" data-placement="bottom" title="返回"></span>
        </div>
        <div class="title" title="{{page['name']}}">{{handler.page_title}}</div>
      </div>
      <div class="center">
        <div id="help" class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助"></div>
        <div id="toggle-image" class="btn-txt icon-image active" data-toggle="tooltip" data-placement="bottom" title="显隐图片"></div>
        <div id="toggle-work-panel" class="btn-txt icon-right-panel active" data-toggle="tooltip" data-placement="bottom" title="显隐右侧工作面板"></div>
        <div id="toggle-blur" class="btn-txt icon-blur" data-toggle="tooltip" data-placement="bottom" title="模糊图片"></div>
        <div id="zoom-in" class="btn-txt icon-zoom-in" data-toggle="tooltip" data-placement="bottom" title="放大图片"></div>
        <div id="zoom-reset" class="btn-txt icon-zoom-back" data-toggle="tooltip" data-placement="bottom" title="原始大小"></div>
        <div id="zoom-out" class="btn-txt icon-zoom-out" data-toggle="tooltip" data-placement="bottom" title="缩小图片"></div>
        <div id="toggle-block" class="btn-txt icon-blocks" data-toggle="tooltip" data-placement="bottom" title="显隐栏框"></div>
        <div id="toggle-column" class="btn-txt icon-columns" data-toggle="tooltip" data-placement="bottom" title="显隐列框"></div>
        <div id="toggle-char" class="btn-txt icon-chars" data-toggle="tooltip" data-placement="bottom" title="显隐字框"></div>
        <div id="toggle-order" class="btn-txt icon-char-order" data-toggle="tooltip" data-placement="bottom" title="显隐字序"></div>
        <div id="enlarge-font" class="btn-txt icon-font-plus" data-toggle="tooltip" data-placement="bottom" title="增加字号"></div>
        <div id="reduce-font" class="btn-txt icon-font-minus" data-toggle="tooltip" data-placement="bottom" title="减少字号"></div>
        <div id="toggle-layout1" class="btn-txt icon-right-panel2" data-toggle="tooltip" data-placement="bottom" title="切换为列图模式"></div>
      </div>
      <div class="right">
        {% if hasattr(handler, 'task_type') and handler.task_type %} {% include com/_task_btns.html %} {% end %}
      </div>
    </div>
    <div class="m-body flex pfread">
      <div id="left-region" class="left bd">
        <div id="holder"></div>
      </div>
      <div id="center-region" class="right bd">
        <div class="sutra-texts">
          <div class="sutra-text wide-txt">
            {% raw handler.char2html(page["chars"]) %}
          </div>
        </div>
      </div>
      <div id="right-region" class="right bd work-panel">
        {% set ch = page["chars"] and page["chars"][0] or {} %}
        {% module CharTxt(ch, show_base=False, submit_id='submit-page-txt') %}
      </div>
    </div>
    <div class="m-alert alert alert-info hide" id="m-alert">
      <a class="close">×</a><i class="loading icon-spinner1 animate-spin"></i>
      <strong class="title"></strong><span class="text"></span>
    </div>
    <div class="m-footer">
      <span class="fl">
        页编码：<span class="page-name">{{page['name']}}</span>
        权限：<span class="page-info">{{'只读' if readonly else '读写'}}</span>
      </span>
      <span class="center">
        异文: <span class="diff">■</span>
        已修改: <span class="changed">　</span>
        已修改异文: <span class="diff changed">■</span>
        异体字: <span class="is_variant">■</span>
      </span>
      <span class="fr">
        当前字框：<span class="char-name">未选中</span>
        <span class="char-info"></span>
      </span>
    </div>
  </div>
</div>
<div class="panel-body" style="padding: 0">
  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档</h4>
        </div>
        <div class="modal-body">
          <div class="title">一、简介</div>
          <div class="intro">
            文字校对提供对照图片进行文字校对的功能，有两种模式：页图模式和列图模式，用户可根据个人喜好选择在哪种模式下校对。
            两种模式下都会以不同颜色标识异文、异体字以及修改过的文字，详见底部状态栏。<br/>
            图片和文字可以达到字符级别对应，页面右侧工作面板上部区域提供来自OCR字引擎、列引擎及比对文本的候选文字供用户选择。
            下部区域为文字输入区，可输入原字和所属正字，并可对校对结果标注类别：没问题，图片模糊或残损，不确定，不认识。
          </div>
          <div class="title">二、操作</div>
          <table class="table">
            <tr>
              <td><i class="icon-return-back"></i></td>
              <td>返回</td>
            </tr>
            <tr>
              <td><i class="icon-image"></i></td>
              <td>显示或隐藏图片。隐藏图片有助于看清所要校对的切分框</td>
            </tr>
            <tr>
              <td><i class="icon-right-panel"></i></td>
              <td>显示或隐藏右侧工作面板</td>
            </tr>
            <tr>
              <td><i class="icon-blur"></i></td>
              <td>图片虚化处理。虚化后可以更好的看清字框、字序等信息</td>
            </tr>
            <tr>
              <td><i class="icon-right-panel2"></i></td>
              <td>切换为列图模式</td>
            </tr>
            <tr>
              <td><i class="icon-panel-txt"></i></td>
              <td>切换为页图模式</td>
            </tr>
            <tr>
              <td>1/2/3/4/5</td>
              <td>图片放大1~5倍</td>
            </tr>
            <tr>
              <td>6/7/8/9</td>
              <td>图片缩小至60%~90%</td>
            </tr>
            <tr>
              <td>方向键</td>
              <td>列图模式下，用方向键↑→↓←，切换当前字框</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% include com/_base_js.html %}
{% include com/_base_cut.html %}
{% if hasattr(handler, 'task_type') and handler.task_type %} {% include com/_base_task.html %} {% end %}
<script src="{{static_url('js/cut/char_order.js')}}"></script>
<script src="{{static_url('js/page-btn.js')}}"></script>
<script src="{{static_url('js/char.js')}}"></script>
<script src="{{static_url('js/char-txt.js')}}"></script>
<script>
  var pageName = '{{page["name"]}}';
  var chars = decodeJSON('{{dumps(chars)}}');
  var txtTypes = decodeJSON('{{txt_types}}');
  var taskMode = '{{handler.mode or ""}}';
  var taskType = '{{handler.task_type or ""}}';
  var from = decodeFrom() ? decodeFrom() : '/task/lobby/' + taskType;

  $.cut.create({
    readonly: true,
    holder: 'holder',
    scrollContainer: '#left-region',
    image: '{{img_url}}',
    width: '{{page["width"]}}',
    height: '{{page["height"]}}',
    blocks: '{{page["blocks"]}}',
    columns: '{{page["columns"]}}',
    chars: '{{handler.pop_fields(page["chars"], "box_logs,txt_logs")}}',
  });
  $.cut.bindKeys();
  $.cut.bindCharOrderKeys();
  $.cut.switchCurrentBox(null);
  $.cut.addCharOrderLinks(decodeJSON('{{chars_col}}'), true);

  $.cut.state.canHitBox = function (el) {
    if ($('#toggle-char').hasClass('active') && el.data('class') === 'char') return true;
    if ($('#toggle-block').hasClass('active') && el.data('class') === 'block') return true;
    if ($('#toggle-column').hasClass('active') && el.data('class') === 'column') return true;
  };

  // 初始化设置
  $.cut.setLink(false);
  $.cut.toggleBox(false);

  // 切换文本
  $('.char').on('click', function () {
    var cid = $(this).attr('id');
    var charName = pageName + '_' + cid;
    updateCharTxtPanel(chars[charName]);
    $('.m-footer .char-name').text(chars[charName]['char_id'] + '#' + cid);
    $('.current-char').removeClass('current-char');
    $(this).addClass('current-char');
    $('.current-line').removeClass('current-line');
    $(this).parent().addClass('current-line');
    $.cut.switchCurrentBox(cid);
  });

  // 保存文本
  $('#submit-page-txt').on('click', function () {
    if ($(this).hasClass('disabled')) return;
    var name = $('.char-edit .current-name').val();
    var cid = name.split('_').pop();

    var data = {
      txt: $('.proof .txt').val() || '',
      nor_txt: $('.proof .nor-txt').val() || '',
      txt_type: $('.txt-types :checked').val() || '',
      task_type: ['do', 'update'].indexOf(taskMode) > -1 ? taskType : '',
      remark: $('.proof .remark').val() || '',
    };
    postApi('/page/char/txt/' + name, {data: data}, function (res) {
      bsShow('成功！', '已保存成功', 'success', 1000, '#s-alert');
      if (typeof chars !== 'undefined') {
        data.txt_logs = res.txt_logs;
        chars[name] = $.extend(chars[name], data);
      }
      updateTxtLogs(res.txt_logs);
      updateBaseInfo(chars[name]);
      // 更新文本
      $('#' + cid).addClass('changed').text(data.txt || data.nor_txt);
    });
  });

  // 进入列图模式
  $('#toggle-layout1').on('click', function () {
    location.href = setQueryString('layout', 1);
  });

  // 方向键移动
  $.mapKey('left', function () {
    if (!$('.current-char').length) return $('.line .char:first').click();
    $('.current-char').prev().click();
  });

  // 方向键移动
  $.mapKey('right', function () {
    if (!$('.current-char').length) return $('.line .char:first').click();
    $('.current-char').next().click();
  });

  // 方向键移动
  $.mapKey('up', function () {
    if (!$('.current-char').length) return $('.line .char:first').click();
    if (!$('.current-line').prev()) return;
    var idx = $($('.current-line .char')).index($('.current-char'));
    var len = $('.current-line').prev().find('.char').length;
    if (idx > len - 1) idx = len - 1;
    $('.current-line').prev().find('.char').eq(idx).click();
  });

  // 方向键移动
  $.mapKey('down', function () {
    if (!$('.current-char').length) return $('.line .char:first').click();
    if (!$('.current-line').next()) return;
    var idx = $($('.current-line .char')).index($('.current-char'));
    var len = $('.current-line').next().find('.char').length;
    if (idx > len - 1) idx = len - 1;
    $('.current-line').next().find('.char').eq(idx).click();
  });

</script>
</body>
</html>
