<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{page['name']}}</title>
  {% include _base_css.html %}
  <link href="{{static_url('css/cut.css')}}" rel="stylesheet"/>
  <link href="{{static_url('css/txt.css')}}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="btn-group back">
          <span class="icon-return-back" data-toggle="tooltip" data-placement="bottom" title="返回"></span>
        </div>
        <div class="btn-group title" style="user-select: text">
          <a href="#">{{page['name']}}</a>
        </div>
      </div>
      <div class="center">
        <div id="help" class="btn-txt icon-help" data-toggle="tooltip" data-placement="bottom" title="帮助"></div>
        <div id="toggle-image" class="btn-txt icon-image active" data-toggle="tooltip" data-placement="bottom" title="显隐图片"></div>
        <div id="toggle-right" class="btn-txt icon-txt{{'' if txt_off else ' active'}}" data-toggle="tooltip" data-placement="bottom" title="显隐文本"></div>
        <div id="toggle-blur" class="btn-txt icon-blur" data-toggle="tooltip" data-placement="bottom" title="模糊图片"></div>
        <div id="zoom-in" class="btn-txt icon-zoom-in" data-toggle="tooltip" data-placement="bottom" title="放大图片"></div>
        <div id="zoom-reset" class="btn-txt icon-zoom-back" data-toggle="tooltip" data-placement="bottom" title="原始大小"></div>
        <div id="zoom-out" class="btn-txt icon-zoom-out" data-toggle="tooltip" data-placement="bottom" title="缩小图片"></div>
        <div id="toggle-block" class="btn-txt icon-blocks" data-toggle="tooltip" data-placement="bottom" title="显隐栏框"></div>
        <div id="toggle-column" class="btn-txt icon-columns" data-toggle="tooltip" data-placement="bottom" title="显隐列框"></div>
        <div id="toggle-char" class="btn-txt icon-chars" data-toggle="tooltip" data-placement="bottom" title="显隐字框"></div>
        <div id="toggle-order" class="btn-txt icon-char-order" data-toggle="tooltip" data-placement="bottom" title="显隐字序"></div>
      </div>
      <div class="right">
        <div id="btn-show-txts" class="btn-group" title="查看文本">
          <span class="btn-txt icon-history dropdown-toggle" data-toggle="dropdown"></span>
          <ul class="dropdown-menu dropdown-menu-right" data-stopPropagation="true">
            {% for i, (txt, field, label) in enumerate(texts) %}
            <li data-id="{{field}}" class="btn-show-txt {{'' if i else 'active'}}">
              <a href="#">{{label}}</a>
            </li>
            {% end %}
          </ul>
        </div>
      </div>
    </div>
    <div class="m-body flex pfread">
      <div class="left bd" id="left-region">
        <div id="holder-container">
          <div id="holder"></div>
        </div>
      </div>
      <div class="right bd {{'hide' if (not texts or txt_off) else ''}}" id="right-region">
        <div class="sutra-texts">
          {% for i, (txt, field, label) in enumerate(texts) %}
          <div class="sutra-text {{field}}{{'' if i else ' hide'}}">
            <div class="text-editable">
              {% raw txt.replace('|', '<br/>') %}
            </div>
          </div>
          {% end %}
        </div>
      </div>
    </div>
    <div class="m-footer">
      <span class="cur-char"></span>
      <span class="char-info"></span>
      <span class="txt-info fr"></span>
    </div>
  </div>
</div>
<div class="panel-body" style="padding: 0">
  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档</h4>
        </div>
        <div class="modal-body">
          <div class="title">一、简介</div>
          <div class="intro">
            页面浏览可以针对一个页面集合逐条浏览，页面集合有检索参数决定。 浏览时可以看到页面的切分信息、文本信息、任务信息等。其中，
            栏框、列框、字框等切分信息以及审定文本可以通过更多按钮进行修改，字框OCR和列框OCR可以直接在本页面修改保存。<br/>
            另外，本页面还可以发布任务。<br/>
            <b>注：</b>点击上一页或下一页时，系统将记住文本区域的显示或隐藏状态，从而可以选择仅仅浏览切分信息，或者同时浏览文本信息。
          </div>
          <div class="title">二、操作</div>
          <table class="table">
            <tr>
              <td><img src="{{static_url('imgs/icon_back.png')}}"/></td>
              <td>返回</td>
            </tr>
            <tr>
              <td><i class="icon-image"></i></td>
              <td>显示或隐藏图片。隐藏图片有助于看清所要校对的切分框</td>
            </tr>
            <tr>
              <td><i class="icon-txt"></i></td>
              <td>打开或关闭右侧文本。关闭文本可以更好的查看切分信息</td>
            </tr>
            <tr>
              <td><i class="icon-blur"></i></td>
              <td>图片虚化处理。虚化后可以更好的看清字框、字序等信息</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}
{% include _base_cut.html %}
<script src="{{static_url('js/l10n.js')}}"></script>
<script src="{{static_url('js/cut/cut_adv.js')}}"></script>
<script src="{{static_url('js/cut/char_order.js')}}"></script>
<script src="{{static_url('js/com-table.js')}}"></script>
<script src="{{static_url('js/page-btn.js')}}"></script>
<script>
  var from = decodeFrom();
  $('#help').on('click', () => $('#helpModal').modal());
  window.leave = () => from ? window.location = from : window.history.back();

  // 切换文本
  $('.btn-show-txt').click(function () {
    $('.btn-show-txt').removeClass('active');
    $(this).addClass('active');
    $('.sutra-text').addClass('hide');
    $('.' + $(this).attr('data-id')).removeClass('hide');
    $('.m-footer .txt-info').html('当前文本：' + $(this).text());
  });

</script>

<script>
  $.cut.create({
    readonly: true,
    holder: 'holder',
    image: '{{img_url}}',
    name: '{{page["name"]}}',
    width: '{{page["width"]}}',
    height: '{{page["height"]}}',
    chars: '{{page["chars"]}}',
    blocks: '{{page["blocks"]}}',
    columns: '{{page["columns"]}}',
    scrollContainer: '#holder-container',
  });
  $.cut.bindKeys();
  $.cut.bindCharOrderKeys();
  $.cut.switchCurrentBox(null);
  $.cut.addCharOrderLinks(decodeJSON('{{chars_col}}'), true);

  $.cut.state.canHitBox = function (el) {
    if ($('#toggle-char').hasClass('active') && el.data('class') === 'char')
      return true;
    if ($('#toggle-column').hasClass('active') && el.data('class') === 'column')
      return true;
    if ($('#toggle-block').hasClass('active') && el.data('class') === 'block')
      return true;
  };

  // 初始化设置
  $.cut.setLink(false);
  $.cut.toggleBox(false);

</script>

</body>
</html>
