<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>上传OSS</title>
  {% include _base_css.html %}
  <link href="{{static_url('css/info.css')}}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.JS"></script>
  <script src="https://oss.maxcdn.com/libs/respond.JS/1.3.0/respond.min.JS"></script>
  <![endif]-->
  <style>
    .block-head a {
      font-size: 14px;
      line-height: 28px;
    }

    .block-body {
      width: 100%;
      overflow: auto;
      word-break: break-all;
    }
  </style>
</head>

<body>
<div class="app-main">
  <div class="main">
    {% module ComLeft(active_id='sys-script') %}
    <div class="main-content">
      {% module ComHead() %}
      <div class="layout">
        <div class="wrapper">
          <div class="block">
            <div class="block-head">
              字图列表({{'%s个，当前仅显示100个' % char_count if char_count > len(char_names) else char_count}})
              <a id="upload-chars" class="fr">上传OSS</a>
            </div>
            <div class="block-body">
              {{','.join(char_names)}}
            </div>
          </div>
          <div class="block">
            <div class="block-head">
              列图列表({{'%s个，当前仅显示100个' % column_count if column_count > len(column_names) else column_count}})
              <a id="upload-columns" class="fr">上传OSS</a>
            </div>
            <div class="block-body">
              {{','.join(column_names)}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}
<script>
  $('#upload-columns').on('click', function () {
    showConfirm('提示', '您确定将所有列图上传OSS吗？', function () {
      postApi('/sys/upload_oss/column', {}, (res) => {
        showSuccess('成功', '已启动脚本，请稍后刷新页面查看。');
      });
    });
  });

  $('#upload-chars').on('click', function () {
    showConfirm('提示', '您确定将所有字图上传OSS吗？', function () {
      postApi('/sys/upload_oss/char', {}, (res) => {
        showSuccess('成功', '已启动脚本，请稍后刷新页面查看。');
      });
    });
  });
</script>
</body>
</html>
