{% for blk in blocks %}
<ul class="block" id="block-{{blk['block_no']}}">
  {% for ln in blk['lines'] %}
  <li class="line{{'' if ln['items'] else ' empty-line'}}" id="line-{{ln['line_no']}}">
    {% for s in ln['items'] %}
    {% set is_same = 'same is_variant' if s.get('is_variant') else 'same' if s.get('is_same') else 'not-same' %}
    {% set fields = [field for field in ['base', 'cmp1', 'cmp2', 'cmp3', 'offset'] if field in s] %}
    <span contentEditable="false" class="{{is_same}}{{'' if s.get('base') else ' empty-place'}}"
          {% for field in fields %}
          {{field}}="{{s[field]}}"
          {% end %}
    >{{s['base']}}</span>
    {% end %}
  </li>
  {% end %}
</ul>
{% end %}
