{% extends "_task_do.html" %}

{% block step_title %}{% end %}

{% block custom-css %}
<link href="{{static_url('css/cut.css')}}" rel="stylesheet"/>
<link href="{{static_url('css/proofread.css')}}" rel="stylesheet"/>
{% include _font_css.html %}
<style>
  @media screen and (max-width:1100px){
    #enlarge-font, #reduce-font {
      display: none;
    }
  }
  @media screen and (max-width:1024px){
    .m-header .title {
      display: none;
    }
  }
  @media screen and (max-width:940px){
    #enlarge-panel-font, #reduce-panel-font {
      display: none;
    }
  }
</style>
{% end %}

{% block buttons %}
{% block left_buttons %}
<div class="btn-group">
  <img src="{{static_url('imgs/icon_hlp.png')}}" class="btn-img" data-toggle="modal" data-target="#helpModal" title="帮助"/>
  <img src="{{static_url('imgs/icon_pic.png')}}" class="btn-img active" id="toggle-left" title="显隐图片"/>
  <img src="{{static_url('imgs/icon_txt.png')}}" class="btn-img active" id="toggle-right" title="显隐文字"/>
  <img src="{{static_url('imgs/icon_zoom1.png')}}" class="btn-img" id="zoom-out" title="放大"/>
  <img src="{{static_url('imgs/icon_zoom0.png')}}" class="btn-img" id="zoom-reset" title="原始"/>
  <img src="{{static_url('imgs/icon_zoom2.png')}}" class="btn-img" id="zoom-in" title="缩小"/>
  <img src="{{static_url('imgs/icon_char.png')}}" class="btn-img" id="toggle-char" title="显隐所有字框"/>
  <img src="{{static_url('imgs/icon_char_no.png')}}" class="btn-img" id="toggle-panel-no" title="显隐浮动面板的序号"/>
  <img src="{{static_url('imgs/icon_char_txt.png')}}" class="btn-img active" id="toggle-panel-txt" title="显隐浮动面板的文字"/>
  <div class="btn-txt" id="enlarge-panel-font" title="增加字号">A+</div>
  <div class="btn-txt" id="reduce-panel-font" title="减少字号">A-</div>
  <img src="{{static_url('imgs/icon_edit.png')}}" class="btn-img {{'hide' if handler.readonly else ''}}" id="toggle-more" title="更多"/>
</div>
<div class="btn-group">
  <div class="btn-group hidden" id="more-group" role="group" aria-label="更多">
    <button type="button" class="btn btn-default btn-sm" id="ed-char-box" title="修改字框、列框、栏框">修改切分</button>
    <button type="button" class="btn btn-default btn-sm" id="ed-char-order" title="修改字序">修改字序</button>
    <button type="button" class="btn btn-default btn-sm" id="ed-char-txt" title="并列显示各列框和字框文本，单独改字">逐列校对</button>
  </div>
</div>
{% end %}
<div class="btn-group right">
  <div class="btn-txt" id="enlarge-font" title="增加字号">A+</div>
  <div class="btn-txt" id="reduce-font" title="减少字号">A-</div>
  <div class="btn-txt" id="previous-diff" title="上一条异文"><</div>
  <div class="btn-txt" id="next-diff" title="下一条异文">></div>
  <div class="btn-txt btn-empty-place" id="toggle-empty-place" title="显示空位符">　</div>
  <img src="{{static_url('imgs/icon_delete.png')}}" class="btn-img" id="delete-line" title="删除该行"/>
  <img src="{{static_url('imgs/icon_add_up.png')}}" class="btn-img" id="add-up-line" title="向上增行"/>
  <img src="{{static_url('imgs/icon_add_down.png')}}" class="btn-img" id="add-down-line" title="向下增行"/>
  <img src="{{static_url('imgs/icon_doubt.png')}}" class="btn-img {{'hide' if 'text_hard' in handler.task_type else ''}}" id="save-doubt" title="存疑"/>
  <img src="{{static_url('imgs/icon_match.png')}}" class="btn-img" id="check-match" title="检查图文匹配"/>
  <img src="{{static_url('imgs/icon_compare.png')}}" class="btn-img {{'' if 'text_proof' in handler.task_type else 'hide'}}" id="re-compare" title="重新比对"/>
  <img src="{{static_url('imgs/icon_txts.png')}}" class="btn-img {{'' if handler.texts else 'hide'}}" data-toggle="modal" data-target="#txtModal" title="显示文本"/>
</div>
{% end %}

{% block full-bd %}
<div class="left" id="left-region">
  <div class="bd" id="holder-container">
    <div id="holder"></div>
  </div>
</div>
<!--/.left-->
<div class="right" id="right-region">
  <div class="sutra-text-mode" id="toggle-text-mode">
    <span class="html-edit" title="以纯文本方式修改内容"></span>
    <span class="save-txt" title="应用此文本，切换到比对显示方式"></span>
  </div>
  <div class="bd sutra-html">
    <div class="sutra-text active" id="sutra-text">
      <div class="blocks">
        {% if isinstance(cmp_data, str) %}
        {% raw cmp_data %}
        {% else %}
        {% module TextArea(cmp_data=cmp_data) %}
        {% end %}
      </div>
    </div>
    <!--/.sutra-text-->
    <div class="char-list doubt-list">
      <div class="char-list-tab">
        {% for i, doubt in enumerate(handler.doubts) %}
        <div class="char-list-tab-item toggle-tab {{'' if i else 'active'}}">{{doubt[1]}}</div>
        {% end %}
        <div class="char-list-tab-arrow" id="toggle-arrow">
          <img src="{{static_url('imgs/up_arrow.png')}}">
          <img src="{{static_url('imgs/down_arrow.png')}}" style="display: none">
        </div>
      </div>
      {% for i, doubt in enumerate(handler.doubts) %}
      <table class="char-list-table {{'' if i else 'editable active'}}">
        <thead>
        <tr>
          <td>行号</td>
          <td>字序号</td>
          <td>存疑文本</td>
          <td>存疑理由</td>
          <td class="del-doubt">操作</td>
        </tr>
        </thead>
        <tbody>
        {% raw doubt[0] %}
        </tbody>
      </table>
      {% end %}
    </div>
    <!--/.doubt-list-->
    {% if handler.texts %}
    <div class="pfread-dialog" id="pfread-dialog">
      <div class="dialog-common dialog-abs">
        <div class="dlg-before"></div>
        {% for i, txt in enumerate(handler.texts) %}
        <dl class="item">
          <dt>{{txt[1]}}</dt>
          <dd class="text option" id="pfread-dialog-{{'cmp%s' % i if i else 'base'}}"></dd>
        </dl>
        {% end %}
        <dl class="item">
          <dt>选择结果</dt>
          <dd class="text">
            <span id="pfread-dialog-slct" contenteditable="true"></span>
          </dd>
        </dl>
        <div class="dlg-after"></div>
      </div>
    </div>
    {% end %}
    <!--/.pfread-dialog-->
  </div>
  <div class="bd sutra-txt hide">
    <textarea type="text" class="form-control raw-txt" id="raw-txt" rows="100"></textarea>
  </div>
</div>
<!--/.right-->
{% end %}

{% block custom-modal %}
{% module DoubtModal() %}
<div id="txtModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="txtModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <div class="modal-header">
        <div class="btn-group" role="group">
          {% for i, txt in enumerate(handler.texts) %}
          <button class="btn btn-txt btn-default" id="show-txt{{i}}">{{txt[1]}}</button>
          {% end %}
          <button class="btn btn-txt btn-default{{'' if len(handler.texts) > 1 else ' hide'}}" id="show-all">所有</button>
        </div>
      </div>
      <div class="modal-body">
        {% for i, txt in enumerate(handler.texts) %}
        <textarea id="txt{{i}}" class="{{'hide' if i else ''}}" rows="26" readonly>
            {{txt[0].replace('|', '\n')}}
          </textarea>
        {% end %}
      </div>
    </div>
  </div>
</div>
<div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">帮助文档<a class="more-help" href="/help">更多</a></h4>
      </div>
      <div class="modal-body">
        <div class="title">一、工作目标</div>
        <div class="intro">
          根据图片进行文字校对，包括文字和字序两部分。<br/>
          校对以如实为原则，即图片上是什么字，就输入什么字。如果遇到一些无法输入的字，请先使用相关工具进行查找，
          比如<a href="http://hanzi.lqdzj.cn" target="_blank">龙泉字库</a>或<a href="http://www.guoxuedashi.com/zidian/bujian" target="_blank">国学大师</a>。
          确实找不到时，也可以输入<a href="http://www.cbeta.org/data-format/rare-rule.htm">组字式</a>。如果拿不准，请您进行存疑，以便后续环节处理。<br/>
          如果图片的文本有多个来源，如OCR文本或从古籍文库中选择的相似文本等，系统将会进行横向比对，找出文本间的差异，即所谓的异文。异文将以红色高亮显示。
          双击异文，将弹框展示各个来源的文本，您可以点选，也可以在选择结果中进行修改。<br/>
          如果只有OCR文本，则您需要逐字检查；如果有古籍文库中的相似文本，则您只需要检查异文，同文浏览一下即可。<br/>
          文字校对完毕后，请您做一次图文匹配检查，确保您校对的文字和图片的字框的一致性。<br/>
          注：请下载<a href=" https://tripitaka-assets.oss-cn-beijing.aliyuncs.com/font/KaiXinSong.ttf">开心宋</a>或者
          <a href="https://tripitaka-assets.oss-cn-beijing.aliyuncs.com/font/hanazono-20170904.zip">花园明朝</a>
          字体并安装，以便显示UTF-8扩展区域的字符。
        </div>
        <div class="title">二、功能按钮</div>
        <table class="table">
          <tr>
            <td><img src="{{static_url('imgs/icon_char_no.png')}}"/></td>
            <td>显示或隐藏浮动面板上的字框序号</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_char_txt.png')}}"/></td>
            <td>显示或隐藏浮动面板上的字框文字</td>
          </tr>
          <tr>
            <td><span class="btn-txt">A+、A-</span></td>
            <td>调整浮动面板或者右侧文本区域的字体大小</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_edit.png')}}"/></td>
            <td>修改栏框、列框、字框、字序等。文字校对时，可以修改本页面的切分框数据</td>
          </tr>
          <tr>
            <td><span class="btn-txt btn-empty-place">　</span></td>
            <td>显示或隐藏空位符。空位符是一个占位符，如果异文中选中的文本为空，则显示为空位符，表示此处有异文</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_doubt.png')}}"/></td>
            <td>存疑，以便后续环节处理。请先用鼠标选中文本，然后点击存疑</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_match.png')}}"/></td>
            <td>图文匹配检查。检查左侧图片字框以及右侧文字的匹配情况，包括总列数，以及每列字数。针对不匹配的行，右侧将出现红色竖线进行提示。</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_compare.png')}}"/></td>
            <td>重新比对。如果返回上一步重新选择文本后，可以选择重新比对。重新比对将清空当前所有校对结果</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_txts.png')}}"/></td>
            <td>弹出来源文本面板。该面板显示所有的来源文本，包括一至两份OCR、一份比对文本等。点击该面板顶部的按钮可以进行拖拽</td>
          </tr>
          {% include _task_help.html %}
        </table>
        <div class="title">三、快捷键</div>
        <table class="table" id="hot-key">
          <tr>
            <td>1/2/3/4/5</td>
            <td>图片放大1~5倍</td>
          </tr>
          <tr>
            <td>6/7/8/9</td>
            <td>图片缩小至60%~90%</td>
          </tr>
          <tr>
            <td>方向键</td>
            <td>按照方向键↑→↓←的指示，切换当前字框</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% end %}

{% block custom-js %}
{% include _base_cut.html %}
<script src="{{static_url('js/cut/proof_keys.js')}}"></script>
<script src="{{static_url('js/txt/proofread.js')}}"></script>
<script src="{{static_url('js/txt/txt-btn.js')}}"></script>
{% block custom-cut-js %}{% end %}
<script>
  // 页面图和切分框
  var canvasName = taskType + step + docId;
  var chars = decodeJSON('{{handler.page.get("chars", [])}}');
  var blocks = decodeJSON('{{handler.page.get("blocks", [])}}');
  var columns = decodeJSON('{{handler.page.get("columns", [])}}');

  function createPage() {
    {% block create-board %}
    $.cut.create({
      readonly: true,
      name: canvasName,
      holder: 'holder',
      width: '{{handler.page["width"]}}',
      height: '{{handler.page["height"]}}',
      scrollContainer: '#holder-container',
      image: '{{handler.get_img(handler.page)}}',
      chars: chars
    });
    {% end %}
    $.cut.bindMatchingKeys();
    $.cut.toggleBox(false);
    $.cut.switchCurrentBox(null);
    $.cut.bindKeys();
  }

  setTimeout(createPage, 1000);
  $('#holder-container').focus();

  // 默认显示浮动条
  showText = true;

  // 获取任务数据
  function getSubmitData(submit) {
    var txt_html = $('#sutra-text .block').parent().html();
    var doubt = $('.char-list-table.editable tbody').html();
    return {submit: submit, step: step, name: docId, doubt: doubt, txt_html: txt_html};
  }
</script>
{% end %}
