{% extends "com_list.html" %}
{% block custom-css %}
<link href="{{ static_url('assets/jquery-multi-select/multi-select.css') }}" rel="stylesheet"/>
<link href="{{ static_url('assets/select2/select2.css') }}" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
<link href="{{ static_url('css/task-admin.css') }}" rel="stylesheet"/>
{% end %}

{% block custom-modal %}
<div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">帮助文档</h4>
      </div>
      <div class="modal-body">
        <div class="title">一、简介</div>
        <div class="intro">
          任务管理模块提供管理员对任务进行操作，包括发布、指派、删除、重新发布等，还可以查看任务，或者查看任务详情、历程。
        </div>
        <div class="title">二、任务操作</div>
        <table class="table">
          <tr>
            <td>批量指派</td>
            <td>将「已发布」的任务指派给某个特定的用户</td>
          </tr>
          <tr>
            <td>批量删除</td>
            <td>可以批量删除所有非「进行中」或「已完成」的任务。如果需要删除「进行中」的任务，请先选择重新发布，然后再删除。</td>
          </tr>
          <tr>
            <td>发布任务</td>
            <td>
              任务相关数据已就绪时，可以发布任务。任务管理员在发布任务时，如果任务没有前置任务，则系统直接发布为「已发布」。如果有前置
              任务，则根据前置任务情况：如果都已完成，则发布为「已发布」；如果有一个前置任务未完成，则发布为「等待前置任务」。该任务的
              前置任务在完成时，系统会自动检查，如果所有前置任务都已完成，则自动发布为「已发布」。
              用户可以在任务大厅领取所有「已发布」的任务。领取后可以进行保存、提交，也可以选择退回任务。
            </td>
          </tr>
          <tr>
            <td>重新发布</td>
            <td>「进行中」的任务可以重新发布。</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="searchModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">综合检索</h4>
      </div>
      <div class="modal-body" style="height: 440px">
        <h4 class="col-sm-2 control-label">批次号</h4>
        <div class="col-sm-10">
          <input type="text" class="form-control batch" value="{{params.get('batch') or ''}}" placeholder="请输入批次号，支持正则查询">
        </div>
        <h4 class="col-sm-2 control-label">页编码</h4>
        <div class="col-sm-10">
          <input type="text" class="form-control doc_id" value="{{params.get('doc_id') or ''}}" placeholder="请输入页编码，支持正则查询">
        </div>
        <h4 class=" col-sm-2 control-label">任务类型</h4>
        <div class="col-sm-10">
          <select class="form-control task_type">
            <option value="">所有</option>
            {% for k,name in handler.get_page_tasks().items() %}
            {% if params.get('task_type') and params.get('task_type') == k %}
            <option value="{{k}}" selected="selected">{{name}}</option>
            {% else %}
            <option value="{{k}}">{{name}}</option>
            {% end %}
            {% end %}
          </select>
        </div>
        <h4 class="col-sm-2 control-label">任务状态</h4>
        <div class="col-sm-10">
          <select class="form-control status">
            <option value="">所有</option>
            {% for k,v in handler.task_statuses.items() %}
            {% if params.get('status') and params.get('status') == k %}
            <option value="{{k}}" selected="selected">{{v}}</option>
            {% else %}
            <option value="{{k}}">{{v}}</option>
            {% end %}
            {% end %}
          </select>
        </div>
        <h4 class="col-sm-2 control-label">领取人</h4>
        <div class="col-sm-10">
          <select class="form-control picked_user_id">
            <option></option>
          </select>
        </div>
        <h4 class="col-sm-2 control-label">发布时间</h4>
        <div class="col-sm-10 publish_time">
          <input type="text" class="form-control flatpickr publish_start" value="{{params.get('publish_start') or ''}}" data-enable-time=true data-enable-seconds=true placeholder="请选择开始时间"
                 style="float: left;width: 45%">
          <span style="margin-left: 4%; line-height: 25px">~</span>
          <input type="text" class="form-control flatpickr publish_end" value="{{params.get('publish_end') or ''}}" data-enable-time=true data-enable-seconds=true placeholder="请选择结束时间"
                 style="float: right;width: 45%">
        </div>
        <h4 class="col-sm-2 control-label">完成时间</h4>
        <div class="col-sm-10 finished_time">
          <input type="text" class="form-control flatpickr finished_start" value="{{params.get('finished_start') or ''}}" data-enable-time=true data-enable-seconds=true placeholder="请选择开始时间"
                 style="float: left;width: 45%">
          <span style="margin-left: 4%; line-height: 25px">~</span>
          <input type="text" class="form-control flatpickr finished_end" value="{{params.get('finished_end') or ''}}" data-enable-time=true data-enable-seconds=true placeholder="请选择结束时间"
                 style="float: right;width: 45%">
        </div>
        <h4 class="col-sm-2 control-label">备注</h4>
        <div class="col-sm-10">
          <input type="text" class="form-control remark" value="{{params.get('remark') or ''}}" placeholder="请输入备注，支持正则查询">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect reset">重置</button>
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
      </div>
    </div>
  </div>
</div>
<div id="publishModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="publishModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">发布任务</h4>
      </div>
      <div class="modal-body">
        <input class="task_type" type="hidden" value="">
        <h4 class="control-label">任务批次</h4>
        <div>
          <input type="text" class="form-control batch" placeholder="请输入批次号">
        </div>
        <h4 class="control-label">选择前置任务</h4>
        <div class="pre_tasks">
          {% for t, v in handler.task_types.items() %}
          {% if is_mod_enabled(v['name']) %}
          <label class="checkbox-inline">
            <input type="checkbox" class="{{t}}" title="{{t}}">{{v['name']}}
          </label>
          {% end %}
          {% end %}
        </div>
        <h4 class="control-label">选择子步骤</h4>
        <div class="steps">
        </div>
        <h4 class="control-label">选择优先级</h4>
        <div class="priority">
          <input type="radio" name="priority" value="3" style="margin-right: 10px">高
          <input type="radio" name="priority" value="2" style="margin: 0 10px" checked>中
          <input type="radio" name="priority" value="1" style="margin: 0 10px">低
        </div>
        <h4 class="control-label">任务已完成时，是否重新发布？</h4>
        <div class="force">
          <input type="radio" name="force" value="否" style="margin: 0 10px 0 0" checked>否
          <input type="radio" name="force" value="是" style="margin: 0 10px">是
        </div>
        <div class="modal-tab">
          <h4 class="control-label">选择待发布的任务</h4>
          <ul class="nav nav-tabs" id="tabContent">
            <li class="active"><a id="select-ids" href="#source-select" data-toggle="tab">逐个选择编码</a></li>
            <li><a href="#source-prefix" data-toggle="tab">按编码前缀</a></li>
            <li><a href="#source-file" data-toggle="tab">上传编码文件</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="source-select">
              <div class="form-group">
                <div>
                  <div class="ms-container my-container">
                    <div class="ms-selectable">
                      <div class="selectableHeader">待选对象<a href="javascript:void(0);" class="right_btn" id="select_all_btn">全选</a></div>
                      <div><i class="ser-btn"></i>
                        <input type="text" class="form-control search-input" id="selectable_input" placeholder="请输入关键字，回车可进行搜索">
                      </div>
                    </div>
                    <div class="ms-selection">
                      <div class="selectionHeader">已选对象<a href="javascript:void(0);" class="right_btn" id="deselect_all_btn">全删</a></div>
                      <div><input type="text" class="form-control search-input" id="selected_input" placeholder="请输入关键字，自动搜索已选对象"></div>
                    </div>
                  </div>
                  <select name="my-select[]" style="width:500px; display:none;" class="multi-select" multiple="multiple" id="my_multi_select">
                    <option value=""></option>
                  </select>
                  <div id="pagination" class="ms-search-pagination"></div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="source-prefix">
              <input type="text" class="form-control" id="id_prefix" placeholder="请输入编码前缀，如GL_2"/>
            </div>
            <div class="tab-pane" id="source-file">
              <i>请选择CSV、TXT或JSON格式的文件，大小不超过10M</i>
              <input type="file" class="form-control" id="upload" accept=".txt,.csv" style="padding:4px 4px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-default waves-effect waves-light modal-refresh">确定</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">发布</button>
      </div>
    </div>
  </div>
</div>
<div id="publishResultModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="publishResultModal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="margin: 0 10px">
      <div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">发布结果</h4>
      </div>
      <div class="modal-body">
        <table class="table">
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal">继续发布</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">查看结果</button>
      </div>
    </div>
  </div>
</div>
<div id="assignModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="assignModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 400px; margin: auto">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">选择用户</h4>
      </div>
      <div class="modal-body">
        <div style="min-height: 150px; text-align: center">
          <select class="form-control select-user">
            <option></option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">指派</button>
      </div>
    </div>
  </div>
</div>
<div id="assignResultModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="assignResultModal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">指派结果</h4>
      </div>
      <div class="modal-body">
        <table class="table">
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
      </div>
    </div>
  </div>
</div>
{% end %}

{% block custom-js %}
<script src="{{static_url('js/l10n.js')}}"></script>
<script src="{{static_url('assets/select2/select2.min.js')}}"></script>
<script src="{{static_url('assets/select2/zh-CN.js')}}"></script>
<script src="{{static_url('assets/jquery-multi-select/jquery.multi-select.js')}}"></script>
<script src="{{static_url('assets/jquery-multi-select/jquery.quicksearch.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/zh.js"></script>
<script>
  /*---公共设置---*/
  $.fn.modal.Constructor.prototype.enforceFocus = function () {
  };
  var taskTypes = decodeJSON('{{handler.task_types}}');
</script>
<script>
  /*---普通操作---*/
  // 批量更新批次
  var $updateModal = $('#updateModal');
  $updateModal.find('.modal-confirm').click(function () {
    if (!$('.sty-table :checked').length) {
      $updateModal.modal('hide');
      return showError('请选择任务');
    }
    if (!$updateModal.find('.batch input').val().length) {
      return showError('请输入批次');
    }
    var ids = $.map($('.sty-table :checked'), function (item) {
      return $(item).parent().parent().attr('id');
    });
    // console.log(ids);
    var data = {'_ids': ids, 'batch': $updateModal.find('.batch input').val()};
    postApi('/task/batch', {'data': data}, function (res) {
      location.reload();
    });
  });
  // 统计检索结果
  $('.operation .btn-statistic a').click(function () {
    var data = {kind: $(this).attr('title'), search: location.search};
    postApi('/task/statistic', {'data': data}, function (res) {
    });
  });
  // 显示退回理由、失败理由等
  $('.sty-table td.return_reason').click(function () {
    if ($(this).text().length) {
      showTips($(this).text());
    }
  });
  // 查看页面
  $('.sty-table td.doc_id').click(function () {
    if ($(this).text().length) {
      location.href = '/data/page/' + $(this).text() + '?from=' + encodeFrom();
    }
  });
  // 浏览任务
  $('.sty-table .action .btn-nav').click(function () {
    var node = $(this).parent().parent();
    var taskType = node.find('.task_type').attr('title');
    location.href = '/task/' + taskType + '/' + node.attr('id') + '?from=' + encodeFrom();
  });
  // 任务详情
  $('.sty-table .action .btn-detail').click(function () {
    var node = $(this).parent().parent();
    location.href = '/task/detail/' + node.attr('id');
  });
  // 任务历程
  $('.sty-table .action .btn-history').click(function () {
    var node = $(this).parent().parent();
    location.href = '/task/resume/page/' + node.find('.doc_id').text();
  });
  // 重新发布任务
  $('.sty-table .action .btn-republish').click(function () {
    var node = $(this).parent().parent();
    var regex = /(picked|failed)/i;
    if (!node.find('.status').attr('title').match(regex)) {
      return showWarning('状态有误', '只能重新发布进行中或已失败的任务！');
    }
    showConfirm("确定重新发布吗？", "任务" + node.find('.doc_id').text().trim() + "将被重新发布！", function () {
      postApi('/task/republish/' + node.attr('id'), {data: {}}, function () {
        window.location.reload();
      });
    });
  });
  $('.sty-table .action .btn-delete').click(function () {
    var node = $(this).parent().parent();
    var regex = /(published|pending|returned)/i;
    if (!node.find('.status').attr('title').match(regex)) {
      return showWarning('状态有误', '只能删除已发布未领取、等待前置任务、已退回的任务！');
    }
    var id = node.attr('id');
    var data = getData(id);
    var name = 'name' in data ? data.name : '';
    showConfirm("确定删除" + name + "吗？", "删除后无法恢复！", function () {
      postApi('/task/delete', {data: {_id: data._id}}, function (res) {
        showSuccess('成功', '数据' + name + '已删除');
        refresh(1000);
      }, function (err) {
        showError('删除失败', err.message);
      });
    });
  });
</script>
<script>
  /*---指派任务---*/
  var $assignModal = $('#assignModal');
  var $assignResultModal = $('#assignResultModal');
  $assignModal.find(".select-user").select2({
    dropdownParent: $assignModal,
    ajax: {
      type: 'POST', url: '/api/user/list', dataType: 'json', delay: 1000, language: 'zh-CN',
      allowClear: true, width: "100%", placeholder: "请选择", maximumSelectionLength: 2,
      data: function (params) {
        return {'q': params.term, 'page': params.page || 1};
      },
      processResults: function (res) {
        return res.data;
      }
    }
  });
  $assignModal.find('.modal-confirm').click(function () {
    if (!$('.sty-table :checked').length) {
      $assignModal.modal('hide');
      return showError('请选择任务');
    }
    var tasks = $.map($('table tbody :checked'), function (item) {
      var node = $(item).parent().parent();
      return [[node.attr('id'), node.find('.task_type').attr('title'), node.find('.doc_id').text()]];
    });
    // console.log(tasks);
    var data = {'tasks': tasks, 'user_id': $assignModal.find(".select-user").val()};
    postApi('/task/assign', {'data': data}, function (res) {
      var html = $.map(res.data, function (value, key) {
        return '<tr><td>' + l10n[key] + '(' + value.length + ')' + '<td>' + value + '</td>' + '</td></tr>';
      }).join('');
      $assignModal.modal('hide');
      $assignResultModal.find('table').html(html);
      $assignResultModal.modal();
    });
  });
  $assignResultModal.find('.modal-confirm').click(function () {
    location.reload();
  });

</script>
<script>
  /*---综合检索---*/
  var $searchModal = $("#searchModal");
  var searchFields = [
    {id: 'batch'}, {id: 'doc_id'}, {id: 'status', input_type: 'select'}, {id: 'task_type', input_type: 'select'},
    {id: 'picked_user_id', input_type: 'select'}, {id: 'publish_start'}, {id: 'publish_end'},
    {id: 'finished_start'}, {id: 'finished_end'}, {id: 'remark'}
  ];
  // 设置时间选择器
  $("#searchModal .finished_start").flatpickr({allowInput: true, locale: 'zh', time_24hr: true});
  $("#searchModal .finished_end").flatpickr({allowInput: true, locale: 'zh', time_24hr: true});
  $("#searchModal .publish_start").flatpickr({allowInput: true, locale: 'zh', time_24hr: true});
  $("#searchModal .publish_end").flatpickr({allowInput: true, locale: 'zh', time_24hr: true});
  // 设置领取人
  $searchModal.find('#picked_user_id').select2({
    dropdownParent: $searchModal,
    ajax: {
      type: 'POST', url: "/api/user/list", dataType: 'json', delay: 1000, language: 'zh-CN',
      allowClear: true, width: "100%", placeholder: "请选择", maximumSelectionLength: 2,
      data: function (params) {
        return {'q': params.term, 'page': params.page || 1};
      },
      processResults: function (res) {
        return res.data;
      }
    }
  });
  // 提交
  $searchModal.find('.modal-confirm').click(function () {
    var data = getModal($searchModal, searchFields);
    var search = $.map(data, function (v, k) {
      return '&' + k + '=' + v;
    }).join('');
    if (!search.length)
      return showWarning('请输入查询条件');
    location.href = location.pathname + '?' + search.substr(1);
  });
  // 重置
  $searchModal.find('.reset').click(function () {
    $searchModal.find('#picked_user_id').val(null).trigger('change');
    resetModal($searchModal, searchFields);
  });
</script>
<script>
  /*---发布任务---*/
  var docs = [];
  var taskType = '';
  var searchStr = '';
  var $publishModal = $('#publishModal');
  var $myMultiSelect = $('#my_multi_select');
  var $publishResultModal = $('#publishResultModal');
  var publishFields = [
    {id: 'task_type'}, {id: 'batch'}, {id: 'pre_tasks', input_type: 'checkbox'},
    {id: 'steps', input_type: 'checkbox'}, {id: 'priority', input_type: 'radio'},
    {id: 'force', input_type: 'radio'}
  ];
  // 弹框
  $('.btn-publish a').click(function () {
    taskType = $(this).attr('title');
    $publishModal.find('.task_type').val(taskType);
    $publishModal.find('.modal-title').text('发布任务-' + taskTypes[taskType].name);
    var preTasks = taskTypes[taskType].pre_tasks || [];
    preTasks.forEach(function (item) {
      $('.pre_tasks .' + item).prop('checked', true);
    });
    var steps = taskTypes[taskType].steps || [];
    var html = $.map(steps, function (item) {
      return '<label class="checkbox-inline"><input type="checkbox" title="' + item[0] + '" checked>' + item[1] + '</label>';
    }).join('');
    $publishModal.find('.steps').html(html);
    $publishModal.modal();
  });
  // 刷新
  $publishModal.find('.modal-refresh').click(function () {
    location.reload();
  });
  // 提交
  $publishModal.find('.modal-confirm').click(function () {
    var isFile = false;
    var formData = new FormData();
    var data = getModal($publishModal, publishFields);
    var source = $publishModal.find('.tab-pane.active').attr('id');
    switch (source) {
      case 'source-prefix':
        var idPrefix = $('#id_prefix').val().trim();
        if (!idPrefix)
          return showError('请输入页码前缀');
        data['prefix'] = idPrefix;
        break;
      case 'source-select':
        var selections = $('#ms-my_multi_select .ms-selection .ms-selected').css('display', 'red');
        var selectedDocs = $.map(selections, function (item) {
          return item.innerText;
        });
        if (!selectedDocs.length)
          return showError('请选择要发布的页面');
        data['doc_ids'] = selectedDocs;
        break;
      case 'source-file':
        var idsFile = $('#upload')[0].files[0];
        if (typeof idsFile === "undefined")
          return showError('请选择文件');
        if (!/\.(csv|txt|json)$/.test(idsFile.name))
          return showError('文件不是CSV或TXT类型');
        if (idsFile.size > (10 * 1024 * 1024))
          return showError('文件大小不能超过10M');
        formData.append('data', JSON.stringify(data));
        formData.append('ids_file', idsFile);
        isFile = true;
        break;
    }
    postApi('/task/publish/pages', isFile ? formData : {data: data}, function (res) {
      var html = '';
      for (var item in res.data) {
        var label = l10n[item] + '(' + res.data[item].length + ')';
        html += '<tr><td class="' + item + '">' + label + '<td>' + res.data[item] + '</td>' + '</td></tr>';
      }
      $publishResultModal.find('table').html(html);
      $publishResultModal.modal();
    }, null, isFile);
  });
  $publishResultModal.find('.modal-confirm').click(function () {
    location.reload();
  });

  // 初始化页码选择器
  $myMultiSelect.multiSelect({
    selectableOptgroup: true
  });

  // 生成并显示导航
  function displayPagination(pageNo, pageSize, totalCount) {
    var pageCount = Math.ceil(totalCount / pageSize);
    if (!pageCount) {
      return $('#pagination').html('');
    }
    var displayCount = 5;
    var start = pageNo - parseInt(displayCount / 2);
    start = start < 1 ? 1 : start;
    var end = start + displayCount - 1;
    end = end > pageCount ? pageCount : end;
    var html = "<a title='1'>首页</a>";
    for (var i = start; i <= end; i++) {
      if (i === pageNo)
        html += "<a class='cur' title='" + i + "'>" + i + "</a>";
      else
        html += "<a title='" + i + "'>" + i + "</a>";
    }
    html += "<a title='" + pageCount + "'>未页</a>";
    $('#pagination').html(html);
  }

  // 待选对象-翻页
  $('#pagination a').click(function () {
    var page = $(this).attr('title').trim();
    var selectedDocs = [];
    $(".ms-selection .ms-selected").each(function () {
      selectedDocs.push($(this).text());
    });
    if ($(".ms-elem-selectable:not(.ms-selected)").length === 0 && page > 1) {
      page = page - 1;
    }
    var data = {prefix: searchStr, page: page, exclude: selectedDocs};
    postApi('/task/ready/' + taskType, {data: data}, function (res) {
      docs = selectedDocs.concat(res.data.docs);
      showModal(page, res.data.page_size, res.data.total_count);
      $myMultiSelect.multiSelect('select', selectedDocs)
    });
  });
  // 待选对象-全选
  $("#select_all_btn").on("click", function () {
    $myMultiSelect.multiSelect('select_all');
  });
  // 待选对象-搜索
  $(".ms-selectable .ser-btn").on('click', function () {
    var selectedDocs = [];
    $(".ms-selection .ms-selected").each(function () {
      selectedDocs.push($(this).text());
    });
    var selectableInput = $('#selectable_input').val().trim();
    var data = {prefix: selectableInput, exclude: selectedDocs};
    postApi('/task/ready/' + taskType, {data: data}, function (res) {
      searchStr = selectableInput;  // 设置全局变量
      docs = selectedDocs.concat(res.data.docs);
      showModal(1, res.data.page_size, res.data.total_count);
      $myMultiSelect.multiSelect('select', selectedDocs)
    });
  });
  // 待选对象-搜索-回车
  $('.ms-selectable').on("keydown", function (event) {
    var keyCode = event.keyCode || event.which;
    if (keyCode === 13) {
      $(".ms-selectable .ser-btn").click();
      event.preventDefault();
    }
  });
  // 已选对象-搜索
  $("#selected_input").on('input propertychange', function () {
    var inputval = new RegExp($(this).val().trim(), "i");
    var selections = $myMultiSelect.siblings('.ms-container').find('.ms-elem-selection.ms-selected');
    selections.each(function () {
      if ($(this).text().match(inputval)) {
        $(this).show();
      } else {
        $(this).hide();
      }
    })
  });
  // 已选对象-全删
  $("#deselect_all_btn").click(function () {
    $myMultiSelect.multiSelect('deselect_all');
  });

  function showModal(pageNo, pageSize, totalCount) {
    $myMultiSelect.html(docs.map(function (p) {
      return '<option value="' + p + '">' + p + '</option>';
    }).join('\n'));
    $myMultiSelect.multiSelect('refresh');
    displayPagination(pageNo, pageSize, totalCount);
  }

  // 初始化选择列表
  $publishModal.on('shown.bs.modal', function () {
    postApi('/task/ready/' + taskType, {data: {}}, function (res) {
      docs = res.data.docs;
      showModal(1, res.data.page_size, res.data.total_count);
    });
  });
</script>
{% end %}