{% extends "_task_do.html" %}

{% block custom-css %}
<link href="{{static_url('css/cut.css')}}" rel="stylesheet"/>
<style>
  .m-bottom > span {
    margin-left: 8px;
  }

  .full-bd {
    padding-bottom: 20px;
  }
</style>
{% end %}

{% block buttons %}
<div class="btn-group">
  <img src="{{static_url('imgs/icon_hlp.png')}}" class="btn-img" data-toggle="modal" data-target="#helpModal" title="帮助"/>
  <img src="{{static_url('imgs/icon_order.png')}}" class="btn-img" id="view-order" title="查看字序"/>
  <img src="{{static_url('imgs/icon_pic.png')}}" class="btn-img active" id="toggle-image" title="显隐图片"/>
  <img src="{{static_url('imgs/icon_blur.png')}}" class="btn-img" id="toggle-blur" title="模糊"/>
  <img src="{{static_url('imgs/icon_zoom1.png')}}" class="btn-img" id="zoom-out" title="放大"/>
  <img src="{{static_url('imgs/icon_zoom0.png')}}" class="btn-img" id="zoom-reset" title="原始"/>
  <img src="{{static_url('imgs/icon_zoom2.png')}}" class="btn-img" id="zoom-in" title="缩小"/>
  <img src="{{static_url('imgs/icon_lr.png')}}" class="btn-img" id="undo" title="撤销"/>
  <img src="{{static_url('imgs/icon_rr.png')}}" class="btn-img" id="redo" title="重做"/>
  <img src="{{static_url('imgs/icon_boxes.png')}}" class="btn-img toggle-box" id="toggle-three" title="显隐所有"/>
  <img src="{{static_url('imgs/icon_block.png')}}" class="btn-img toggle-box" id="toggle-blocks" title="显隐栏框"/>
  <img src="{{static_url('imgs/icon_column.png')}}" class="btn-img toggle-box" id="toggle-columns" title="显隐列框"/>
  <img src="{{static_url('imgs/icon_char.png')}}" class="btn-img toggle-box active" id="toggle-chars" title="显隐字框"/>
</div>
<div class="btn-group hl-box" style="margin-left: 10px">
  <button type="button" class="btn btn-default btn-sm" id="toggle-all" title="显隐字框">所有<sup class="s-count"></sup></button>
  <button type="button" class="btn btn-default btn-sm" id="toggle-overlap" title="显隐重叠字框">重叠<sup class="s-count"></sup></button>
  <button type="button" class="btn btn-default btn-sm" id="toggle-narrow" title="显隐窄字框">窄框<sup class="s-count"></sup></button>
  <button type="button" class="btn btn-default btn-sm" id="toggle-flat" title="显隐扁字框">扁框<sup class="s-count"></sup></button>
  <button type="button" class="btn btn-default btn-sm" id="toggle-large" title="显隐大字框">大字<sup class="s-count"></sup></button>
  <button type="button" class="btn btn-default btn-sm" id="toggle-small" title="显隐小字框">小字<sup class="s-count"></sup></button>
</div>
{% end %}

{% block full-bd %}
<div class="bd" id="holder-container">
  <div id="holder"></div>
</div>
<div class="m-bottom" id="cut-info">
  <span class="cur-char"></span>
  <span class="char-info"></span>
</div>
{% end %}

{% block custom-modal %}
<div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">帮助文档<a class="more-help" href="/help">更多</a></h4>
      </div>
      <div class="modal-body">
        <div class="title">一、功能概述</div>
        <div class="intro">
          该功能用于检查图片的栏框、字框、列框、字序等是否正确，并对不正确的切分框及字序进行修改。本页面可以校对字框、列框和栏框。<br/>
          栏框要求将图片的正文（不包括边缘的页码等）用栏框框住，尽量不要包括正文外的边缘线。如果图片有多栏，则需要多个栏框。<br/>
          列框要求用列框将图片的每列文字框住。<br/>
          字框要求将图片的正文用字框框住，因文字紧凑而导致字框交叠时，首要原则是尽量把笔画都框住，其次是尽量减少交叠。<br/>
          <b>注：</b>请您看下第三部分的快捷键介绍。通过键盘快捷键进行操作，可以很好的提升效率。
        </div>
        <div class="title">二、功能按钮</div>
        <table class="table">
          <tr>
            <td><img src="{{static_url('imgs/icon_toggle.png')}}"/></td>
            <td>返回任务大厅</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_pic.png')}}"/></td>
            <td>显示或隐藏图片。隐藏图片有助于看清所要校对的切分框</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_char.png')}}"/></td>
            <td>显示或隐藏字框。隐藏字框有助于仔细辨认图片</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_lr.png')}}"/></td>
            <td>撤销上一步操作</td>
          </tr>
          <tr>
            <td><img src="{{static_url('imgs/icon_rr.png')}}"/></td>
            <td>取消撤销</td>
          </tr>
          <tr>
            <td><span type="button" class="btn btn-default btn-sm">所有</span></td>
            <td>切换所有字框的颜色，有无色、白色不透明、蓝色半透明三种状态。<br/>白色不透明可以用于检查字框是否有遗漏，蓝色半透明则可以看清字迹</td>
          </tr>
          <tr>
            <td><span type="button" class="btn btn-default btn-sm">重叠</span></td>
            <td>高亮提示所有重叠的字框，从而帮助您检查这些字框是否正常</td>
          </tr>
          <tr>
            <td><span type="button" class="btn btn-default btn-sm">大框</span></td>
            <td>高亮提示所有的大框</td>
          </tr>
          <tr>
            <td><span type="button" class="btn btn-default btn-sm">窄框</span></td>
            <td>高亮提示所有的窄框</td>
          </tr>
          <tr>
            <td><span type="button" class="btn btn-default btn-sm">扁框</span></td>
            <td>高亮提示所有的扁框</td>
          </tr>
          {% include _task_help.html %}
        </table>
        <div class="title">三、快捷键</div>
        <table class="table" id="hot-key">
          <tr>
            <td>1/2/3/4/5</td>
            <td>图片放大1~5倍</td>
          </tr>
          <tr>
            <td>6/7/8/9</td>
            <td>图片缩小至60%~90%</td>
          </tr>
          <tr>
            <td>方向键</td>
            <td>按照方向键↑→↓←的指示，切换当前字框</td>
          </tr>
          <tr>
            <td>wsad</td>
            <td>按照指示（wsad代表上下左右四个方向）移动当前字框</td>
          </tr>
          <tr>
            <td>shift + 方向键</td>
            <td>shift表示扩大字框，方向键代表字框的四条边</td>
          </tr>
          <tr>
            <td>alt + 方向键</td>
            <td>alt表示缩小字框，方向键代表字框的四条边</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% end %}

{% block custom-js %}
{% include _base_cut.html %}
<script>
  // 页面图
  var canvasName = taskType + step + docId;
  $.cut.create({
    holder: 'holder',
    name: canvasName,
    scrollContainer: '#holder-container',
    width: '{{handler.page["width"]}}',
    height: '{{handler.page["height"]}}',
    chars: '{{handler.page["chars"]}}',
    blocks: '{{handler.page["blocks"]}}',
    columns: '{{handler.page["columns"]}}',
    image: "{{handler.get_img(handler.page)}}"
  });
  $.cut.bindKeys();

  // 初始设置
  $.cut.toggleBox(false, 'block');
  $.cut.toggleBox(false, 'column');

  $.cut.onBoxChanged(function (info, box, reason) {
    if (reason === 'added') {
      var cls = '';
      if ($('#toggle-char').hasClass('active'))
        cls += 'char';
      if ($('#toggle-column').hasClass('active'))
        cls += 'column';
      if ($('#toggle-block').hasClass('active'))
        cls += 'block';
      if (cls && cls.length < 7) {
        $.cut.setClass([info], cls);
      } else {
        showWarning('无法创建新框', '当前显示有多种切分框，请仅选择其中一个，然后再创建');
        setTimeout(function () {
          $.cut.removeBox();
        }, 100);
      }
    }
  }, true);

</script>

<script>
  // 显示各种类型字框数量
  function showHighLightCount() {
    $('.hl-box > button').each(function (i, btn) {
      var type = btn.getAttribute('id').replace(/^.*-/, '');
      var boxes = $.cut.highlightBoxes(type, true);
      $(btn).find('.s-count').text(boxes.length);
    });
  }

  showHighLightCount();

  // 切换切分框状态
  $('.hl-box > button').click(function () {
    var type = this.getAttribute('id').replace(/^.*-/, '');
    $.cut.switchHighlightBoxes(type);
  });

  // 操作切分框
  function onBoxChanged(char, box, reason) {
    if (reason === 'removed' || reason === 'added' || reason === 'changed') {
      var type = $.cut.data.hlType;
      if (type) {
        $.cut.clearHighlight();
        $.cut.highlightBoxes(type, false, true);
      }
      showHighLightCount();
    } else if (reason === 'navigate') {
      $('#cut-info > .cur-char').text('当前字框: ' + ($.cut.getCurrentCharID(true) || '未选中'));
    }
    updateUndo();
  }

  $.cut.onBoxChanged(onBoxChanged);

  function getSubmitData(submit) {
    return {
      blocks: $.cut.exportBoxes('block'), columns: $.cut.exportBoxes('column'),
      chars: $.cut.exportBoxes('char'), submit: submit
    };
  }

  // 成功提交之后
  function successSubmitted() {
    var autoPick = localStorage.getItem('autoPick') || '是';
    setTimeout(function () {
      if (mode === 'do' && autoPick === '是') {
        pick('/task/pick/' + lobbyTaskType);
      } else {
        window.leave();
      }
    }, 1000);
  }

  // 重写函数
  afterSubmitted = function (res) {
    if (!res.valid) {
      showConfirm('是否自动过滤？', res.message, function () {
        var data = getSubmitData(true);
        data.auto_filter = true;
        postApi(location.pathname, {data: data}, function () {
          showSuccess('成功', '已提交');
          successSubmitted();
        });
      });
    } else {
      showSuccess('成功', '已提交');
      successSubmitted();
    }
  };

</script>

{% end %}