<script src="{{ static_url('js/task.js') }}"></script>
<script>
  // 上一步
  $('.btn-prev').on("click", function () {
    window.location = '{{"%s?step=%s" % (current_path, steps.get("prev"))}}';
  });

  // 保存任务
  $('.btn-save').on("click", function () {
    var data = {
      submit: false,
      step: '{{steps.get("current")}}',
      box_type: '{{box_type}}',
      boxes: JSON.stringify($.cut.exportBoxes())
    };
    postApi('{{current_path}}', {data: data}, function () {
      showSuccess('保存成功', '{{name}} ' + '已保存成功');
      setTimeout(function () {
        window.location.reload();
      }, 1000);
    });
  });

  // 下一步
  $('.btn-next').on("click", function () {
    if ('view' !== '{{mode}}') {
      var data = {
        submit: true,
        step: '{{steps.get("current")}}',
        box_type: '{{box_type}}',
        boxes: JSON.stringify($.cut.exportBoxes())
      };
      postApi('{{current_path}}', {data: data}, function () {
      });
    }
    window.location = '{{"%s?step=%s" % (current_path, steps.get("next"))}}';
  });

  // 提交任务
  $('.btn-finish_task').on("click", function () {
    var data = {
      submit: true,
      step: '{{steps.get("current")}}',
      box_type: '{{box_type}}',
      boxes: JSON.stringify($.cut.exportBoxes())
    };
    postApi('{{current_path}}', {data: data}, function () {
      showSuccess('成功', '任务已提交。');
      setTimeout(function () {
        pick('/task/pick/{{task_type}}');
      }, 500);
    });
  });

  // 退回任务
  $('.btn-return').click(function () {
    $('#returnModal').modal();
  });

  $(document).on('click', '#modal-return-btn', function () {
    var reason = $('#return_reason').val();
    postApi('/task/return/{{task_type}}/{{page["name"]}}', {
      data: {reason: reason}
    }, function () {
      showSuccess('退回成功', '{{page["name"]}} ' + '已退回成功。');
      setTimeout(function () {
        window.location = "/task/lobby/{{task_type}}";
      }, 1000);
    });
  });

  // 离开页面时解锁数据
  window.leave = function () {
    // 当前页面模式，包括view/do/update/edit等
    if ('{{mode}}' === 'edit') {
      postApi('/data/unlock/{{task_type}}/{{name}}', {}, function () {
        window.history.back();
      });
    } else if ('{{mode}}' === 'view') {
      window.history.back();
    } else {
      window.location = '/task/lobby/{{task_type}}';
    }
  };

</script>


<script>
  // 更新Undo
  function updateUndo() {
    $('.btn-undo').attr('src', $.cut.canUndo() ? "{{ static_url('imgs/icon_lr.png') }}"
        : "{{ static_url('imgs/icon_lr_not.png') }}");
    $('.btn-redo').attr('src', $.cut.canRedo() ? "{{ static_url('imgs/icon_rr.png') }}"
        : "{{ static_url('imgs/icon_rr_not.png') }}");
  }

  updateUndo();

  $('.btn-undo').click(function () {
    $.cut.undo();
    updateUndo();
  });

  // 显示各种类型字框数量
  function showHighLightCount() {
    $('.hl-btn > button').each(function (i, btn) {
      if (i > 0 || '{{box_type}}' !== "char") {
        var type = btn.getAttribute('id').replace(/^.*-/, '');
        var boxes = $.cut.highlightBoxes(type, true);
        $(btn).find('.s-h-count').text(boxes.length);
      }
    });
  }

  showHighLightCount();

  // 切换切分框状态
  $('.hl-btn > button').click(function () {
    var type = this.getAttribute('id').replace(/^.*-/, '');
    $.cut.switchHighlightBoxes(type);
  });


  // 缩小画布
  $('.btn-reduce').click(function () {
    if ($.cut.data.ratio > 0.5) {
      $.cut.setRatio($.cut.data.ratio * 0.9);
    }
  });

  // 放大画布
  $('.btn-enlarge').click(function () {
    if ($.cut.data.ratio < 5) {
      $.cut.setRatio($.cut.data.ratio * 1.5);
    }
  });

  // 显示图片
  $('#hl-pic').click(function () {
    if ($('#holder image').css('visibility') == 'hidden')
      $('#holder image').css('visibility', 'visible');
    else
      $('#holder image').css('visibility', 'hidden');
  });

  // 操作切分框
  function onBoxChanged(char, box, reason) {
    if (reason === 'removed' || reason === 'added' || reason === 'changed') {
      var type = $.cut.data.hlType;
      if (type) {
        $.cut.clearHighlight();
        $.cut.highlightBoxes(type, false, true);
      }
      showHighLightCount();
    } else if (reason === 'navigate') {
      $('#info > .cur-char').text('当前字框: ' + ($.cut.getCurrentCharID(true) || '未选中'));
    }
    updateUndo();
  }

  $.cut.onBoxChanged(onBoxChanged);

</script>

