{% extends "task_text_proof.html" %}

{% block doubt-list %}
<div class="char-list doubt-list {{'hide' if mode == 'edit' else ''}}">
  <div class="char-list-tab">
    <div class="char-list-tab-item tab-editable active">审定存疑</div>
    <div class="char-list-tab-item tab-view {{'' if pre_doubt else 'hide'}}">校对存疑</div>
    <div class="char-list-tab-arrow" id="toggle-arrow">
      <img src="{{ static_url('imgs/up_arrow.png') }}">
      <img src="{{ static_url('imgs/down_arrow.png') }}" style="display: none">
    </div>
  </div>
  <table class="char-list-table" id="doubt-table-editable">
    <thead>
    <tr>
      <td>行号</td>
      <td>字序号</td>
      <td>存疑文本</td>
      <td>存疑理由</td>
      <td>操作</td>
    </tr>
    </thead>
    <tbody>
    {% raw doubt or '' %}
    </tbody>
  </table>
  {% if pre_doubt %}
  <table class="char-list-table hide" id="doubt-table-view">
    <thead>
    <tr>
      <td>行号</td>
      <td>字序号</td>
      <td>存疑文本</td>
      <td>存疑理由</td>
      <td>操作</td>
    </tr>
    </thead>
    <tbody>
    {% raw pre_doubt or '' %}
    </tbody>
  </table>
  {% end %}
</div>
{% end %}
