{% extends "com_list.html" %}
{% block custom-css %}
<link href="{{ static_url('assets/select2/select2.css') }}" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
<style>
  #searchModal .modal-body h4, #searchModal .modal-body div {
    margin: 5px 0;
  }

  .select2-container {
    width: 100% !important;
  }

  .sty-table .doc_id {
    color: #B8906F !important;
    cursor: pointer;
  }

  .sty-table .doc_id:hover {
    color: #b33c2b !important;
  }
</style>
{% end %}

{% block custom-modal %}
<div id="searchModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">综合检索</h4>
      </div>
      <div class="modal-body" style="height: 300px">
        <h4 class="col-sm-2 control-label">页编码</h4>
        <div class="col-sm-10">
          <input type="text" class="form-control doc_id" value="{{params.get('doc_id') or ''}}" placeholder="请输入页编码，支持正则查询">
        </div>
        <h4 class="col-sm-2 control-label">任务批次</h4>
        <div class="col-sm-10">
          <input type="text" class="form-control batch" value="{{params.get('batch') or ''}}" placeholder="请输入批次号，支持正则查询">
        </div>
        <h4 class=" col-sm-2 control-label">任务类型</h4>
        <div class="col-sm-10">
          <select class="form-control task_type">
            <option value="">所有</option>
            {% for k,v in handler.all_task_types().items() %}
            {% if params.get('task_type') and params.get('task_type') == k %}
            <option value="{{k}}" selected="selected">{{v.get('name')}}</option>
            {% else %}
            <option value="{{k}}">{{v.get('name')}}</option>
            {% end %}
            {% end %}
          </select>
        </div>
        <h4 class="col-sm-2 control-label">任务状态</h4>
        <div class="col-sm-10">
          <select class="form-control status">
            <option value="">所有</option>
            {% for k,v in handler.task_statuses.items() %}
            {% if params.get('status') and params.get('status') == k %}
            <option value="{{k}}" selected="selected">{{v}}</option>
            {% else %}
            <option value="{{k}}">{{v}}</option>
            {% end %}
            {% end %}
          </select>
        </div>
        <h4 class="col-sm-2 control-label">领取人</h4>
        <div class="col-sm-10">
          <select class="form-control picked_user_id">
            <option></option>
          </select>
        </div>
        <h4 class="col-sm-2 control-label">完成时间</h4>
        <div class="col-sm-10">
          <input type="text" class="form-control flatpickr finished_time_start" value="{{params.get('finished_time_start') or ''}}" data-enable-time=true data-enable-seconds=true placeholder="请选择开始时间"
                 style="float: left;width: 45%">
          <span style="margin-left: 4%; line-height: 25px">~</span>
          <input type="text" class="form-control flatpickr finished_time_end" value="{{params.get('finished_time_end') or ''}}" data-enable-time=true data-enable-seconds=true placeholder="请选择结束时间"
                 style="float: right;width: 45%">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect reset">重置</button>
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
      </div>
    </div>
  </div>
</div>
{% end %}

{% block custom-js %}
<script src="{{static_url('assets/select2/select2.min.js')}}"></script>
<script src="{{static_url('assets/select2/zh-CN.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/zh.js"></script>
<script>
  // 设置时间选择器
  $("#searchModal .finished_time_start").flatpickr({allowInput: true, locale: 'zh', time_24hr: true});
  $("#searchModal .finished_time_end").flatpickr({allowInput: true, locale: 'zh', time_24hr: true});

  // 选择用户
  $.fn.modal.Constructor.prototype.enforceFocus = function () {
  };
  $searchModal = $("#searchModal");
  $searchModal.find('.picked_user_id').select2({
    dropdownParent: $searchModal,
    ajax: {
      type: 'POST', url: "/api/user/list", dataType: 'json', delay: 1000, language: 'zh-CN',
      allowClear: true, width: "100%", placeholder: "请选择", maximumSelectionLength: 2,
      data: function (params) {
        return {'q': params.term, 'page': params.page || 1};
      },
      processResults: function (res) {
        return res.data;
      }
    }
  });

  // 提交
  $searchModal.find('.modal-confirm').click(function () {
    var search = '';
    var docId = $searchModal.find('.doc_id').val();
    if (docId)
      search += '&doc_id=' + docId;
    var batch = $searchModal.find('.batch').val();
    if (batch)
      search += '&batch=' + batch;
    var taskType = $searchModal.find('.task_type :selected').val();
    if (taskType)
      search += '&task_type=' + taskType;
    var status = $searchModal.find('.status').val();
    if (status)
      search += '&status=' + status;
    var pickedUserId = $searchModal.find('.picked_user_id :selected').val();
    if (pickedUserId)
      search += '&picked_user_id=' + pickedUserId;
    var finishedTimeStart = $searchModal.find('.finished_time_start').val();
    if (finishedTimeStart)
      search += '&finished_time_start=' + finishedTimeStart;
    var finishedTimeEnd = $searchModal.find('.finished_time_end').val();
    if (finishedTimeEnd)
      search += '&finished_time_end=' + finishedTimeEnd;
    if (!search.length)
      return showWarning('请输入查询条件');
    location.href = location.pathname + '?' + search.substr(1);
  });

  // 重置
  $searchModal.find('.reset').click(function () {
    $searchModal.find('.doc_id').val('');
    $searchModal.find('.batch').val('');
    $searchModal.find('.status :selected').removeAttr('selected');
    $searchModal.find('.task_type :selected').removeAttr('selected');
    $searchModal.find('.picked_user_id').val(null).trigger('change');
    $searchModal.find('.finished_time_start').val('');
    $searchModal.find('.finished_time_end').val('');
  });

  // 查看任务
  $('.task-view').click(function () {
    var id = $(this).parent().parent().attr('id');
    var data = getData(id);
    console.log(data);
  });

  // 查看任务
  $('.doc_id').click(function () {
    location.href = '/page/' + $(this).text();
  })

</script>


{% end %}