<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>任务大厅-{{task_name}}</title>
		{% include _base_meta.html %}

		<!-- DataTables -->
		<link href="{{ static_url('assets/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
		<!-- Custom Files -->
		<link href="{{ static_url('css/helper.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css" />
		{% include _base_css.html %}

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
	</head>

	<body>
		<div class="app-main">
			<div class="main">
				<!--公共左侧导航栏 -->
				{% module CommonLeft(title="task-lobby", sub="task-lobby-cut") %}
				<div class="main-content">
					<!--公共头部 -->
					{% module CommonHead() %}
					<div class="single-page-con">
						<div class="layout">
							<div class="layout-content">
								<div class="collate-history">
									<div class="wrapper">
										<div class="collate-list">
											<table style="border-collapse:separate; border-spacing:0px 10px;" class="sty_table">
												<thead>
													<tr>
														<th><span>页编码</span></th>
														<th>
															<div class="btn-group">
																<span class="sort" data-toggle="dropdown" aria-expanded="false">优先级</span><span class="ion-funnel" ></span>
					                                            <ul class="dropdown-menu" role="menu">
					                                                <li><a href="#">高</a></li>
					                                                <li><a href="#">中</a></li>
					                                                <li><a href="#">低</a></li>
					                                            </ul>
					                                        </div>
														</th>
														<th><span>操作</span></th>
													</tr>
												</thead>
												<tbody>
												  {% for t in tasks %}
													<tr id="{{t['name']}}">
														<td>{{t['name']}}</td>
														<td>{{t.get('priority', '')}}</td>
														<td><a onclick="pick('{{t.get('pick_url', '')}}')" style="cursor:pointer">领取</a></td>
													</tr>
												  {% end %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include _base_js.html %}
		{% import controller.errors as e %}
		<script type="text/javascript">
			/**
			 * 领取任务
			 */
			function pick(url) {
				getApi(url, function (data) {
					if (data && data.url) {
					  window.location = data.url
					}
				}, function (data) {
					if (data.code == {{e.task_uncompleted[0]}}) {
						swal({
								title: "是否继续未完成的任务？",
								text: "您还有未完成的任务(" + data.uncompleted_name + ")，不能领取新任务！",
								type: "warning",
								showCancelButton: true,
								confirmButtonColor: "#b8906f",
								confirmButtonText: "确定继续",
								cancelButtonText: "取消",
								closeOnConfirm: false
						  },
						  function() {
								window.location = data.url;
						  }
						);
					} else if (data.code == {{e.task_locked[0]}} || data.code == {{e.task_picked[0]}}) {
						swal({
								title: "是否领取其它任务？",
								text: "当期任务已被领取！",
								type: "warning",
								showCancelButton: true,
								confirmButtonColor: "#b8906f",
								confirmButtonText: "确定领取",
								cancelButtonText: "取消",
								closeOnConfirm: false
						  },
						  function() {
								window.location = data.url;
						  }
						);
					} else if (data.code == {{e.task_no_picked[0]}}) {
						showError('没有领取新任务', data.message);
					}
				});
			}

		</script>
		
	</body>

</html>