{% extends "task_text_do.html" %}

{% block custom-cut-js %}
<script src="{{static_url('js/cut/char_txt.js')}}"></script>
{% end %}

{% block left_buttons %}
<div class="btn-group">
  <img src="{{static_url('imgs/icon_hlp.png')}}" class="btn-img" data-toggle="modal" data-target="#helpModal" title="帮助"/>
  <img src="{{static_url('imgs/icon_pic.png')}}" class="btn-img active" id="toggle-left" title="显隐图片"/>
  <img src="{{static_url('imgs/icon_txt.png')}}" class="btn-img active" id="toggle-right" title="显隐文字"/>
  <img src="{{static_url('imgs/icon_zoom1.png')}}" class="btn-img" id="zoom-out" title="放大"/>
  <img src="{{static_url('imgs/icon_zoom0.png')}}" class="btn-img" id="zoom-reset" title="原始"/>
  <img src="{{static_url('imgs/icon_zoom2.png')}}" class="btn-img" id="zoom-in" title="缩小"/>
  <img src="{{static_url('imgs/icon_char.png')}}" class="btn-img" id="toggle-char" title="显隐所有字框"/>
  <div class="btn-txt" id="enlarge-panel-font" title="增加字号">A+</div>
  <div class="btn-txt" id="reduce-panel-font" title="减少字号">A-</div>
  <img src="{{static_url('imgs/icon_edit.png')}}" class="btn-img {{'hide' if handler.readonly else ''}}" id="toggle-more" title="更多"/>
</div>
<div class="btn-group">
  <div class="btn-group hidden" id="more-group" role="group" aria-label="更多">
    <button type="button" class="btn btn-default btn-sm" id="ed-char-box" title="修改字框、列框、栏框">修改切分</button>
    <button type="button" class="btn btn-default btn-sm" id="ed-char-order" title="修改字序">修改字序</button>
    <button type="button" class="btn btn-default btn-sm" id="ed-char-std" title="文字校对的普通显示方式">普通方式</button>
  </div>
</div>
{% end %}

{% block create-board %}
showText = false;
showOrder = false;
var charMap = decodeJSON('{{handler.page.get("char_ocr", {})}}');
$.cut.createColumns({
    scrollContainer: '#holder-container',
    name: canvasName,
    width: '{{handler.page["width"]}}',
    height: '{{handler.page["height"]}}',
    holder: 'holder',
    image: '{{handler.get_img(handler.page)}}',
    chars: chars,
    columns: columns,
    blocks: blocks
  });
{% end %}
