<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {% set stage = '文字审定' if 'review' in task_type else '难字审定' if 'hard' in task_type else '文字校对' %}
  <title>{{stage+'-'+page['name']}}</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link href="{{ static_url('assets/modal-effect/css/component.css') }}" rel="stylesheet">
  <link href="{{ static_url('css/cut.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ static_url('css/proofread.css') }}" rel="stylesheet" type="text/css"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

</head>

<body class="widescreen">
<input id="pageName" type="hidden" value="{{page['name']}}">
<input id="taskType" type="hidden" value="{{task_type}}">

<div class="">
  <div class="main">
    <div class="pfread">

      <header class="m-header">
        <div class="back">
          {% set title, img = ('任务大厅', 'icon_lobby') if mode == 'do' else ('返回', 'icon_back') %}
          <a onclick="leave()" title="{{title}}"><img src="{{ static_url('imgs/%s.png' % img) }}" class="btn-img"/></a>
        </div>
        <div class="title" title='{{page["name"]}}'>{{stage}}</div>
        <div class="help">
          <img src="{{ static_url('imgs/help.png') }}" class="btn-img" data-toggle="modal" data-target="#helpModal" title="帮助"/>
        </div>
        <div class="btn-group">
          <img src="{{ static_url('imgs/icon_pic.png') }}" class="btn-img active" id="toggle-left" title="显隐图片"/>
          <img src="{{ static_url('imgs/icon_txt.png') }}" class="btn-img active" id="toggle-right" title="显隐文字"/>
          <img src="{{ static_url('imgs/icon_zoom1.png') }}" class="btn-img" id="zoom-out" title="放大"/>
          <img src="{{ static_url('imgs/icon_zoom0.png') }}" class="btn-img" id="zoom-reset" title="原始"/>
          <img src="{{ static_url('imgs/icon_zoom2.png') }}" class="btn-img" id="zoom-in" title="缩小"/>
          <img src="{{ static_url('imgs/icon_char.png') }}" class="btn-img" id="toggle-char" title="显隐所有字框"/>
          <img src="{{ static_url('imgs/icon_char_no.png') }}" class="btn-img" id="toggle-panel-no" title="显隐浮动面板的序号"/>
          <img src="{{ static_url('imgs/icon_char_txt.png') }}" class="btn-img active" id="toggle-panel-txt" title="显隐浮动面板的文字"/>
          <div class="btn-txt" id="enlarge-panel-font" title="增加字号">A+</div>
          <div class="btn-txt" id="reduce-panel-font" title="减少字号">A-</div>
          <img src="{{ static_url('imgs/icon_edit.png') }}" class="btn-img" id="toggle-more" title="更多"/>
          <span class="btn-group hidden" id="more-group" role="group" aria-label="更多" style="float: right">
            <button type="button" class="btn btn-default btn-sm" id="ed-char-box" title="修改字框">字框</button>
            <button type="button" class="btn btn-default btn-sm" id="ed-block-box" title="修改栏框">栏框</button>
            <button type="button" class="btn btn-default btn-sm" id="ed-column-box" title="修改列框">列框</button>
            <button type="button" class="btn btn-default btn-sm" id="ed-char-order" title="修改字序">字序</button>
          </span>
        </div>
        <div class="btn-group right">
          <div class="btn-txt" id="enlarge-font" title="增加字号">A+</div>
          <div class="btn-txt" id="reduce-font" title="减少字号">A-</div>
          <div class="btn-txt" id="previous-diff" title="上一条异文"><</div>
          <div class="btn-txt" id="next-diff" title="下一条异文">></div>
          <div class="btn-txt btn-empty-place" id="toggle-empty-place" title="显示空位符">　</div>
          <img src="{{ static_url('imgs/icon_delete.png') }}" class="btn-img" id="delete-line" title="删除该行"/>
          <img src="{{ static_url('imgs/icon_add_up.png') }}" class="btn-img" id="add-up-line" title="向上增行"/>
          <img src="{{ static_url('imgs/icon_add_down.png') }}" class="btn-img" id="add-down-line" title="向下增行"/>
          <img src="{{ static_url('imgs/icon_doubt.png') }}" class="btn-img {{'hide' if 'hard' in task_type else ''}}" id="save-doubt" title="存疑"/>
          <img src="{{ static_url('imgs/icon_match.png') }}" class="btn-img" id="check-match" title="检查图文匹配"/>
          <img src="{{ static_url('imgs/icon_compare.png') }}" class="btn-img" id="re-compare" title="重新比对"/>
          <img src="{{ static_url('imgs/icon_txts.png') }}" class="btn-img {{'' if texts else 'hide'}}" data-toggle="modal" data-target="#txtModal" title="显示文本"/>
          <div class="btn-txt btn-gap"></div>
          <img src="{{ static_url('imgs/icon_prev.png') }}" class="btn-img {{'hide' if steps.get('is_first') else ''}}" id="prev-step" title="上一步"/>
          <img src="{{ static_url('imgs/icon_return.png') }}" class="btn-img {{'' if not readonly and mode == 'do' else 'hide'}}" data-toggle="modal" data-target="#returnModal" title="退回"/>
          <img src="{{ static_url('imgs/icon_save.png') }}" class="btn-img {{'hide' if readonly else ''}}" id="save-task" title="保存"/>
          <img src="{{ static_url('imgs/icon_next.png') }}" class="btn-img {{'hide' if steps.get('is_last') else ''}}" id="next-step" title="下一步"/>
          <img src="{{ static_url('imgs/icon_submit.png') }}" class="btn-img {{'' if steps.get('is_last') and not readonly else 'hide'}}" id="submit-task" title="提交"/>
        </div>
        {% if mode in ['do', 'update', 'edit'] and readonly %}
        <div class="tips right">数据已被其他人锁定，暂时不能修改。</div>
        {% end %}
      </header>

      <div class="flex-content pfread-in">
        <div class="left" id="left-region">
          <div class="bd" id="canvas-bd">
            <div id="holder"></div>
          </div>
        </div>
        <!--/.left-->
        <div class="right" id="right-region">
          <div class="bd">
            <div class="sutra-text" id="sutra-text">
              {% if isinstance(cmp_data, str) %}
              {% raw cmp_data %}
              {% else %}
              {% module TextArea(segments=cmp_data) %}
              {% end %}
            </div>
            <!--/.sutra-text-->
            <div class="char-list doubt-list">
              <div class="char-list-tab">
                {% if 'proof' in task_type %}
                <div class="char-list-tab-item tab-editable active">校对存疑</div>
                {% elif 'review' in task_type %}
                <div class="char-list-tab-item tab-editable active">审定存疑</div>
                <div class="char-list-tab-item tab-view">校对存疑</div>
                {% else %}
                <div class="char-list-tab-item tab-editable active">难字列表</div>
                {% end %}

                <div class="char-list-tab-arrow" id="toggle-arrow">
                  <img src="{{ static_url('imgs/up_arrow.png') }}">
                  <img src="{{ static_url('imgs/down_arrow.png') }}" style="display: none">
                </div>
              </div>
              <table class="char-list-table" id="doubt-table-editable">
                <thead>
                <tr>
                  <td>行号</td>
                  <td>字序号</td>
                  <td>存疑文本</td>
                  <td>存疑理由</td>
                  <td>操作</td>
                </tr>
                </thead>
                <tbody>
                {% raw doubt or '' %}
                </tbody>
              </table>
              {% if 'text_review' in task_type %}
              <table class="char-list-table hide" id="doubt-table-view">
                <thead>
                <tr>
                  <td>行号</td>
                  <td>字序号</td>
                  <td>存疑文本</td>
                  <td>存疑理由</td>
                  <td>操作</td>
                </tr>
                </thead>
                <tbody>
                {% raw proof_doubt or '' %}
                </tbody>
              </table>
              {% end %}
            </div>
            <!--/.doubt-list-->
            <div class="pfread-dialog" id="pfread-dialog">
              <div class="dialog-common dialog-abs">
                <div class="dlg-before"></div>
                <dl class="item{{'' if texts.get('base') else ' hide'}}">
                  <dt>文本一</dt>
                  <dd class="text option" id="pfread-dialog-base">&nbsp;</dd>
                </dl>
                <dl class="item{{'' if texts.get('cmp1') else ' hide'}}">
                  <dt>文本二</dt>
                  <dd class="text option" id="pfread-dialog-cmp1">&nbsp;</dd>
                </dl>
                <dl class="item{{'' if texts.get('cmp2') else ' hide'}}">
                  <dt>文本三</dt>
                  <dd class="text option" id="pfread-dialog-cmp2">&nbsp;</dd>
                </dl>
                <dl class="item">
                  <dt>选择结果</dt>
                  <dd class="text">
                    <span id="pfread-dialog-slct" contenteditable="true" placeholder="请选择或输入……"></span>
                  </dd>
                </dl>
                <div class="dlg-after"></div>
              </div>
            </div>
          </div>
        </div>
        <!--/.right-->
      </div>
    </div>
  </div>
</div>

<div class="modals">
  <div id="txtModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="txtModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="modal-header">
          <div class="btn-group" role="group">
            <button class="btn btn-txt btn-default{{'' if texts.get('base') else ' hide'}}" id="show-base">文本一/{{labels.get('base') or ''}}</button>
            <button class="btn btn-txt btn-default{{'' if texts.get('cmp1') else ' hide'}}" id="show-cmp1">文本二/{{labels.get('cmp1') or ''}}</button>
            <button class="btn btn-txt btn-default{{'' if texts.get('cmp2') else ' hide'}}" id="show-cmp2">文本三/{{labels.get('cmp2') or ''}}</button>
            <button class="btn btn-txt btn-default{{'' if texts.get('cmp1') else ' hide'}}" id="show-all">所有</button>
          </div>
        </div>
        <div class="modal-body">
          {% import re %}
          {% set _texts = {k:v for k, v in texts.items() if v} %}
          {% for k, txt in _texts.items() %}
          <textarea id="{{k}}" style="{{'display: inline-block' if k == 'base' else 'display: none'}}" rows="26" readonly>{{'\n'.join(re.split(r'[\n|]', txt or ''))}}</textarea>
          {% end %}
        </div>
      </div>
    </div>
  </div>
  <div id="doubtModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="doubtModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"><h4 class="modal-title">存疑</h4></div>
        <div class="modal-body">
          <div class="form-group">
            <table style="width: 100%">
              <tr>
                <td>存疑文字：</td>
                <td><input type="text" class="form-control search-input" id="doubt-input" readonly="readonly"></td>
              </tr>
              <tr>
                <td>存疑理由：</td>
                <td><textarea id="doubt_reason" class="form-control search-input" rows="4" cols="40"></textarea></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <span id="doubt_tip">请填写存疑理由</span>
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light" id="doubt-modal-confirm">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div id="returnModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="returnModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"><h4 class="modal-title">退回任务</h4></div>
        <div class="modal-body">
          <div class="form-group">
            <table style="width: 100%">
              <tr>
                <td>退回理由：</td>
                <td><textarea id="return_reason" class="form-control search-input" rows="4" cols="40"></textarea></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light" id="return-modal-confirm">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档</h4>
        </div>
        <div class="modal-body">
          帮助内容
        </div>
      </div>
    </div>
  </div>
</div>

{% include _font.html %}
{% include _base_js.html %}
{% include _base_cut.html %}
{% include _base_task.html %}
<script src="{{ static_url('js/nav.js') }}"></script>
<script src="{{ static_url('js/cut/proof_keys.js') }}"></script>
<script src="{{ static_url('js/proofread.js') }}"></script>
<script>
  // 页面图和切分框
  var chars = decodeJSON('{{page.get("chars", [])}}');
  var columns = decodeJSON('{{page.get("columns", [])}}');
  var blocks = decodeJSON('{{page.get("blocks", [])}}');

  function createPage() {
    $.cut.create({
      readonly: true,
      scrollContainer: '#canvas-bd',
      name: '{{page["name"]}}',
      width: '{{page["width"]}}',
      height: '{{page["height"]}}',
      holder: 'holder',
      image: '{{get_img(page)}}',
      chars: chars
    });
    $.cut.bindMatchingKeys();
    $.cut.toggleBox(false);
    $.cut.switchCurrentBox(null);
    $.cut.bindKeys();
  }

  createPage();
  $('#canvas-bd').focus();

  // 默认显示浮动条
  showText = true;

  // 获取任务数据
  function getSubmitData(submit) {
    var data = {
      submit: submit, step: 'proof', name: '{{page["name"]}}',
      txt_html: JSON.stringify($('#sutra-text').html())
    };
    if ('text_hard' !== '{{task_type}}') {
      data.doubt = $('#doubt-table-editable tbody').html();
    }
    return data;
  }
</script>

</body>
</html>
