<!DOCTYPE html>
{% from controller.task.base import TaskHandler as Th %}
<html lang="zh-CN">
<head>
  <title>任务管理-{{Th.get_task_name(task_type)}}</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link href="{{ static_url('assets/datatables/jquery.dataTables.min.css') }}" rel="stylesheet"/>
  <link href="{{ static_url('assets/jquery-multi-select/multi-select.css') }}" rel="stylesheet"/>
  <link href="{{ static_url('css/task-admin.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ static_url('assets/select2/select2.css') }}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

</head>


<body>
<div class="app-main">
  <div class="main">
    {% module CommonLeft(title="data-management", sub="" ) %}
    <div class="main-content">
      {% module CommonHead() %}
      <div class="single-page-con">
        <div class="layout">
          <div class="layout-content">
            <div class="collate-history">
              <div class="wrapper">
                <div class="collate-list">
                  <div class="operation">
                    <span class="btn btn-default waves-effect" id="bat-assign">批量指派</span>
                    <span class="btn btn-default waves-effect" id="bat-delete">批量刪除</span>
                    <div class="btn-group dropdown bat-publish {{'hide' if task_type == 'text_hard' else ''}}">
                      {% if not task_conf.get('groups') %}
                      <button type="button" class="btn btn-default waves-effect" data-toggle="modal" data-target="#publishModal">
                        发布任务
                      </button>
                      {% else %}
                      <button type="button" class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false">
                        发布任务 <i class="caret"></i>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        {% for t in task_conf.get('groups') %}
                        <li><a class="task-type" id="{{t}}" href="javascript:void(0);">{{Th.get_task_name(t)}}</a></li>
                        <li class="divider"></li>
                        {% end %}
                      </ul>
                      {% end %}
                    </div>
                  </div>
                  <div class="search fr">
                    <input id="search-name" type="text" placeholder="搜索">
                    <i class="ser-btn"></i>
                  </div>
                  <table style="border-collapse:separate; border-spacing:0px 10px;" class="sty-table">
                    <thead>
                    <tr>
                      <th><input type="checkbox" name="checkbox-all" id="checkbox-all" value=""/></th>
                      <th><span>页编码</span></th>
                      <th><span>
                        <div class="btn-group">
                          <span class="filter" id="task-types" data-toggle="dropdown" aria-expanded="false">
                            任务类型<span class="ion-android-sort "></span>
                          </span>
                          <ul class="dropdown-menu" role="menu">
                            {% for k, v in Th.task_types.items() %}
                              <li><a href="{{current_path}}?task_type={{k}}">{{v.get('name')}}</a></li>
                            {% end %}
													</ul>
												</div>
                      </span></th>
                      <th><span>
                        <div class="btn-group">
                          <span class="filter" id="statuses" data-toggle="dropdown" aria-expanded="false">
                            状态<span class="ion-android-sort "></span>
                          </span>
                          <ul class="dropdown-menu" role="menu">
                            {% for k, v in Th.task_status_names.items() %}
                              <li><a href="{{current_path}}?status={{k}}">{{v}}</a></li>
                            {% end %}
													</ul>
												</div>
                      </span></th>
                      <th>
                        <span id="priority" class="sort {{'active' if order in ['-priority', 'priority'] else ''}}">
                          优先级<span class="ion-arrow-down-b {{'toggle' if order == 'priority' else ''}}"></span>
                        </span>
                      </th>
                      <th><span>步骤</span></th>
                      <th><span>前置任务</span></th>
                      <th>
                        <span id="publish_time" class="sort {{'active' if order in ['-publish_time', 'publish_time'] else ''}}">
                          发布时间<span class="ion-arrow-down-b {{'toggle' if order == 'publish_time' else ''}}"></span>
                        </span>
                      </th>
                      <th><span>领取人</span></th>
                      <th><span>领取时间</span></th>
                      <th><span>完成时间</span></th>
                      <th><span>操作</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for t in tasks %}
                    <tr id="{{t['doc_id']}}" class="task-tr">
                      <th><span><input type="checkbox" id="{{t['_id']}}" value=""/></span></th>
                      <td><a class="doc-name" href="/task/page/{{t['doc_id']}}">{{t['doc_id']}}</a></td>
                      <td>{{Th.get_task_name(t['task_type']) or ''}}</td>
                      <td class="{{t['status']}}" title="{{t.get('message')}}">{{Th.get_status_name(t['status']) or ''}}</td>
                      <td>{{Th.get_priority_name(t.get('priority')) or ''}}</td>
                      <td>{{'/'.join([Th.step_names().get(s) for s in Th.prop(t, 'steps.todo') or []])}}</td>
                      <td>{{'/'.join([Th.task_names().get(p) for p in t.get('pre_tasks') or []])}}</td>
                      <td>{{to_date_str(t.get('publish_time'))}}</td>
                      <td>{{t.get('picked_by') or ''}}</td>
                      <td>{{to_date_str(t.get('picked_time'))}}</td>
                      <td>{{to_date_str(t.get('finished_time'))}}</td>
                      <td>
                        <a class="view" href="/task/{{t['task_type']}}/{{t['_id']}}">查看</a>
                        <a class="republish{{'' if t['status'] == 'picked' else ' hide'}}" onclick=republish('{{t["_id"]}}','{{t["doc_id"]}}')>重新发布</a>
                      </td>
                    </tr>
                    {% end %}
                    </tbody>
                  </table>
                </div>
                {% module Pager(pager) %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-body" style="padding-bottom: 2px;">
  <div id="assignModal" class="modal fade" role="dialog" aria-labelledby="choose-docs" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 400px; margin: auto">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="choose-users">选择用户</h4>
        </div>
        <div class="modal-body">
          <div style="min-height: 150px; text-align: center">
            <select id="select-user" class="form-control">
              <option></option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light" id="assign_modal_btn">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-body" style="padding-bottom: 2px;">
  <div id="publishModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="choose-docs" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="choose-docs">发布任务-{{Th.get_task_name(task_type)}}</h4>
        </div>
        <div class="modal-body">

          <div class="pre-tasks">
            <h4 class="control-label">选择前置任务</h4>
            <div>
              {% for t, v in Th.task_types.items() %}
              {% if is_mod_enabled(v['name']) and t != task_type %}
              <label class="checkbox-inline">
                {% set pre_tasks = Th.prop(Th.task_types, "%s.pre_tasks" % task_type) or [] %}
                <input type="checkbox" title="{{t}}" {{'checked' if t in pre_tasks else ''}}>{{v['name']}}
              </label>
              {% end %}
              {% end %}
            </div>
          </div>

          {% set steps = Th.all_task_types()[task_type].get('steps', [])%}
          <div class="steps{{ '' if steps else ' hide' }}">
            <h4 class="control-label">选择子步骤</h4>
            <div id="step-items">
              {% for step in steps %}
              <label class="checkbox-inline"><input type="checkbox" title="{{step[0]}}" checked>{{step[1]}}</label>
              {% end %}
            </div>
          </div>

          <div class="priority-list">
            <h4 class="control-label">选择优先级</h4>
            <input type="radio" name="priority" value="3" style="margin-right: 10px" checked>高
            <input type="radio" name="priority" value="2" style="margin: 0 10px">中
            <input type="radio" name="priority" value="1" style="margin: 0 10px">低
          </div>

          <div class="force">
            <h4 class="control-label">任务已完成时，如何处理？</h4>
            <input type="radio" name="force" value="0" style="margin: 0 10px 0 0" checked>跳过
            <input type="radio" name="force" value="1" style="margin: 0 10px">重新发布<br>
          </div>

          <div class="id-values">
            <h4 class="control-label">选择待发布的任务</h4>
            <ul class="nav nav-tabs" id="tabContent">
              <li class="active"><a id="select-ids" href="#source-select" data-toggle="tab">逐个选择编码</a></li>
              <li><a href="#source-prefix" data-toggle="tab">按编码前缀</a></li>
              <li><a href="#source-file" data-toggle="tab">上传编码文件</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="source-select">
                <div class="form-group">
                  <div>
                    <div class="ms-container my-container">
                      <div class="ms-selectable">
                        <div class="selectableHeader">待选对象<a href="javascript:void(0);" class="right_btn" id="select_all_btn">全选</a></div>
                        <div><i class="ser-btn"></i>
                          <input type="text" class="form-control search-input" id="selectable_input" placeholder="请输入关键字，回车可进行搜索">
                        </div>
                      </div>
                      <div class="ms-selection">
                        <div class="selectionHeader">已选对象<a href="javascript:void(0);" class="right_btn" id="deselect_all_btn">全删</a></div>
                        <div><input type="text" class="form-control search-input" id="selected_input" placeholder="请输入关键字，自动搜索已选对象"></div>
                      </div>
                    </div>
                    <select name="my-select[]" style="width:500px; display:none;" class="multi-select" multiple="multiple" id="my_multi_select">
                      <option value=""></option>
                    </select>
                    <div id="pagination" class="ms-search-pagination"></div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="source-prefix">
                <input type="text" class="form-control" id="id_prefix" placeholder="请输入编码前缀，如GL_2"/>
              </div>
              <div class="tab-pane" id="source-file">
                <i>请选择CSV或TXT格式文件，大小不超过10M</i>
                <input type="file" class="form-control" id="upload" accept=".txt,.csv" style="padding:4px 4px"/>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light" id="select_modal_btn">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}
<script src="{{ static_url('assets/select2/select2.min.js') }}"></script>
<script src="{{ static_url('assets/select2/zh-CN.js') }}"></script>
<script src="{{ static_url('assets/jquery-multi-select/jquery.multi-select.js') }}"></script>
<script src="{{ static_url('assets/jquery-multi-select/jquery.quicksearch.js') }}"></script>

<script>
  // 全选
  $('#checkbox-all').click(function () {
    var $items = $(".task-tr [type='checkbox']");
    if (!this.checked)
      $items.removeAttr('checked');
    else
      $items.prop('checked', 'true');
  });

  // 排序
  $(".sort").click(function () {
    var direction = $(this).find('.ion-arrow-down-b').hasClass('toggle') ? '-' : '';
    window.location = "{{current_path}}?order=" + direction + $(this).attr('id');
  });

  // 搜索
  $('#search-name').on("keydown", function (event) {
    var keyCode = event.keyCode || event.which;
    if (keyCode === 13) {
      var q = $(this).val().trim();
      window.location = q === '' ? "{{current_path}}" : "{{current_path}}?q=" + q;
    }
  });

  // 显示退回理由
  $('td.returned').click(function () {
    swal({title: "退回理由", text: $(this).attr('title'), showConfirmButton: false, allowOutsideClick: true});
  });

  // 显示失败原因
  $('td.failed').click(function () {
    swal({title: "失败原因", text: $(this).attr('title'), showConfirmButton: false, allowOutsideClick: true});
  });

  // 重新发布任务
  function republish(taskId, docId) {
    var info = {
      type: "warning", title: "确定重新发布吗？", text: "任务" + docId + "将被重新发布！",
      showCancelButton: true, closeOnConfirm: true, confirmButtonColor: "#b8906f",
      confirmButtonText: "确定", cancelButtonText: "取消"
    };
    swal(info, function () {
      postApi('/task/republish/' + taskId, {'data': {}}, function () {
        window.location.reload();
      });
    });
  }

  // 批量删除
  $('#bat-delete').click(function () {
    var taskIds = $.map($('.task-tr :checkbox'), function (item) {
      if ($(item).is(':checked'))
        return $(item).attr('id');
    });
    if (taskIds.length === 0) {
      showError('请选择任务', '当前没有选中任务。');
      return;
    }
    var info = {
      type: "warning", title: "确定删除吗？", text: "只能删除已发布未领取、等待前置任务两种状态的任务！",
      showCancelButton: true, closeOnConfirm: true, confirmButtonColor: "#b8906f",
      confirmButtonText: "确定删除", cancelButtonText: "取消"
    };
    swal(info, function () {
      postApi('/task/delete/' + taskType, {'data': {'task_ids': taskIds}}, function () {
        window.location.reload();
      });
    });
  });

  // 批量指派任务
  $('#bat-assign').click(function () {
    if ($('.task-tr :checked').length === 0) {
      showError('请选择任务', '当前没有选中任务。');
      return;
    }
    $('#assignModal').modal();
  });

  $("#select-user").select2({
    ajax: {
      url: "/api/user/{{task_type}}",
      type: 'POST',
      dataType: 'json',
      delay: 1000,
      language: 'zh-CN',
      allowClear: true,
      width: "100%",
      placeholder: "请选择",
      maximumSelectionLength: 2,
      data: function (params) {
        return {'q': params.term, 'page': params.page || 1};
      },
      processResults: function (res) {
        return res.data;
      }
    }
  });

  $('#assign_modal_btn').click(function () {
    var taskIds = $.map($('.task-tr :checkbox'), function (item) {
      if ($(item).is(':checked'))
        return $(item).attr('id');
    });
    var data = {'task_ids': taskIds, 'user_id': $("#select-user").val()};
    postApi('/task/assign/' + taskType, {'data': data}, function () {
      window.location.reload();
    });
  });

</script>

<script>
  var docs = [];
  var searchStr = '';
  var taskType = '{{task_type}}';
  var $publishModal = $('#publishModal');
  var $myMultiSelect = $('#my_multi_select');

  // 点击发布任务，弹出对话框
  $(".bat-publish .task-type").on("click", function () {
    taskType = $(this).attr('id');
    $publishModal.modal();
  });

  // 发布任务
  $publishModal.find('#select_modal_btn').click(function () {
    var force = $publishModal.find('.force input:radio:checked').val();
    var priority = $publishModal.find('.priority-list input:radio:checked').val();
    var preTasks = $.map($publishModal.find('.pre-tasks :checkbox'), function (item) {
      if ($(item).is(':checked'))
        return $(item).attr('title');
    });
    var steps = $.map($publishModal.find('.steps :checkbox'), function (item) {
      if ($(item).is(':checked'))
        return $(item).attr('title');
    });
    var isFile = false;
    var formData = new FormData();
    var data = {task_type: taskType, priority: priority, force: force, pre_tasks: preTasks, steps: steps};
    var source = $('.tab-content .tab-pane.active').attr('id');
    switch (source) {
      case 'source-prefix':
        if (!$('#id_prefix').val())
          return showError('请输入页码前缀');
        data['prefix'] = $('#id_prefix').val();
        break;

      case 'source-select':
        var selections = $('#ms-my_multi_select .ms-selection .ms-selected').css('display', 'red');
        var selectedDocs = $.map(selections, function (item) {
          return item.innerText;
        });
        if (selectedDocs.length < 1)
          return showError('未选择页面', '请选择要发布的页面。');
        data['doc_ids'] = selectedDocs;
        break;

      case 'source-file':
        var idsFile = $('#upload')[0].files[0];
        if (typeof idsFile === "undefined")
          return showError('请选择文件');
        if (!/\.(csv|txt)$/.test(idsFile.name))
          return showError('文件不是CSV或TXT类型');
        if (idsFile.size > (10 * 1024 * 1024))
          return showError('文件大小不能超过10M');
        formData.append('data', JSON.stringify(data));
        formData.append('ids_file', idsFile);
        isFile = true;
        break;
    }
    postApi('/task/publish', isFile ? formData : {data: data}, function (res) {
      var len = (res.data.published || []).length + (res.data.pending || []).length;
      showSuccess('已发布任务', len + ' 个页面已发布。');
      setTimeout(function () {
        if (len)
          location.reload();
      }, 1000);
    }, null, isFile);

  });

  // 初始化选择模块
  $myMultiSelect.multiSelect({
    selectableOptgroup: true
  });

  // 生成并显示导航
  function displayPagination(pageNo, pageSize, totalCount) {
    var pageCount = Math.ceil(totalCount / pageSize);
    if (pageCount <= 1) {
      $('#pagination').html('');
      return;
    }
    var displayCount = 5;	// 显示多少个编码
    var start = pageNo - parseInt(displayCount / 2);
    start = start < 1 ? 1 : start;
    var end = start + displayCount - 1;
    end = end > pageCount ? pageCount : end;
    var html = "<a title='1'>首页</a>";  // 首页
    for (var i = start; i <= end; i++) {
      if (i === pageNo)
        html += "<a class='cur' title='" + i + "'>" + i + "</a>";
      else
        html += "<a title='" + i + "'>" + i + "</a>";
    }
    html += "<a title='" + pageCount + "'>未页</a>";
    $('#pagination').html(html);
    // 待选对象-翻页
    $("#pagination a").on("click", function () {
      var page = $(this).attr('title').trim();
      var selectedDocs = [];
      $(".ms-selection .ms-selected").each(function () {
        selectedDocs.push($(this).text());
      });
      if ($(".ms-elem-selectable:not(.ms-selected)").length === 0 && page > 1) {
        page = page - 1;
      }
      var data = {prefix: searchStr, page: page, exclude: selectedDocs};
      postApi('/task/ready/' + taskType, {data: data}, function (res) {
        docs = selectedDocs.concat(res.data.docs);
        showModal(page, res.data.page_size, res.data.total_count);
        $myMultiSelect.multiSelect('select', selectedDocs)
      });
    });
  }

  // 待选对象-全选
  $("#select_all_btn").on("click", function () {
    $myMultiSelect.multiSelect('select_all');
  });

  // 待选对象-搜索
  $(".ms-selectable .ser-btn").on('click', function () {
    var selectedDocs = [];
    $(".ms-selection .ms-selected").each(function () {
      selectedDocs.push($(this).text());
    });
    var selectableInput = $('#selectable_input').val().trim();
    var data = {prefix: selectableInput, exclude: selectedDocs};
    postApi('/task/ready/' + taskType, {data: data}, function (res) {
      searchStr = selectableInput;  // 设置全局变量
      docs = selectedDocs.concat(res.data.docs);
      showModal(1, res.data.page_size, res.data.total_count);
      $myMultiSelect.multiSelect('select', selectedDocs)
    });
  });

  // 待选对象-搜索-回车
  $('.ms-selectable').on("keydown", function (event) {
    var keyCode = event.keyCode || event.which;
    if (keyCode === 13) {
      $(".ms-selectable .ser-btn").click();
      event.preventDefault();
    }
  });

  // 已选对象-搜索
  $("#selected_input").on('input propertychange', function () {
    var inputval = new RegExp($(this).val().trim(), "i");
    var selections = $myMultiSelect.siblings('.ms-container').find('.ms-elem-selection.ms-selected');
    selections.each(function () {
      if ($(this).text().match(inputval)) {
        $(this).show();
      } else {
        $(this).hide();
      }
    })
  });

  // 已选对象-全删
  $("#deselect_all_btn").click(function () {
    $myMultiSelect.multiSelect('deselect_all');
  });

  function showModal(pageNo, pageSize, totalCount) {
    $myMultiSelect.html(docs.map(function (p) {
      return '<option value="' + p + '">' + p + '</option>';
    }).join('\n'));
    $myMultiSelect.multiSelect('refresh');
    displayPagination(pageNo, pageSize, totalCount);
  }

  // 初始化选择列表
  $publishModal.on('shown.bs.modal', function () {
    postApi('/task/ready/' + taskType, {data: {}}, function (res) {
      docs = res.data.docs;
      showModal(1, res.data.page_size, res.data.total_count);
    });
  });

</script>

</body>
</html>
