<!DOCTYPE html>
{% from controller.task.base import TaskHandler as Th %}
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>切分校对-{{page["name"]}}</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link href="{{ static_url('assets/modal-effect/css/component.css') }}" rel="stylesheet">
  <link href="{{ static_url('css/cut.css') }}" rel="stylesheet" type="text/css"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="back">
          {% set title, img = ('任务大厅', 'icon_lobby') if mode == 'do' else ('返回', 'icon_back') %}
          <img src="{{ static_url('imgs/%s.png' % img) }}" class="btn-img" onclick="leave()" title="{{title}}"/>
        </div>
        <div class="title" title="{{page['name']}}">切分校对<span class="sub-title">-{{Th.get_step_name(steps["current"])}}</span></div>
        <div class="btn-group" style="margin-left: 10px">
          <img src="{{ static_url('imgs/icon_hlp.png') }}" class="btn-img" data-toggle="modal" data-target="#helpModal" title="帮助"/>
          <img src="{{ static_url('imgs/icon_pic.png') }}" class="btn-img active" id="toggle-image" title="显隐图片"/>
          <img src="{{ static_url('imgs/icon_char.png') }}" class="btn-img active" id="toggle-box" title="显隐字框"/>
          <img src="{{ static_url('imgs/icon_zoom1.png') }}" class="btn-img" id="zoom-out" title="放大"/>
          <img src="{{ static_url('imgs/icon_zoom0.png') }}" class="btn-img" id="zoom-reset" title="原始"/>
          <img src="{{ static_url('imgs/icon_zoom2.png') }}" class="btn-img" id="zoom-in" title="缩小"/>
          <img src="{{ static_url('imgs/icon_lr.png') }}" class="btn-img" id="undo" title="撤销"/>
          <img src="{{ static_url('imgs/icon_rr.png') }}" class="btn-img" id="redo" title="重做"/>
        </div>
        <div class="btn-group hl-box" style="margin-left: 10px">
          <button type="button" class="btn btn-default btn-sm" id="toggle-all" title="显隐字框">所有<sup class="s-count"></sup></button>
          <button type="button" class="btn btn-default btn-sm" id="toggle-overlap" title="显隐重叠字框">重叠<sup class="s-count"></sup></button>
          {% if box_type == 'char' %}
          <button type="button" class="btn btn-default btn-sm" id="toggle-large" title="显隐大字框">大框<sup class="s-count"></sup></button>
          <button type="button" class="btn btn-default btn-sm" id="toggle-small" title="显隐小字框">小框<sup class="s-count"></sup></button>
          <button type="button" class="btn btn-default btn-sm" id="toggle-narrow" title="显隐窄字框">窄框<sup class="s-count"></sup></button>
          <button type="button" class="btn btn-default btn-sm" id="toggle-flat" title="显隐扁字框">扁框<sup class="s-count"></sup></button>
          {% end %}
        </div>
      </div><!--left-->
      <div class="btn-group right">
        <img src="{{ static_url('imgs/icon_prev.png') }}" class="btn-img {{'hide' if steps.get('is_first') else ''}}" id="prev-step" title="上一步"/>
        <img src="{{ static_url('imgs/icon_return.png') }}" class="btn-img {{'' if not readonly and mode == 'do' else 'hide'}}" data-toggle="modal" data-target="#returnModal" title="退回"/>
        <img src="{{ static_url('imgs/icon_save.png') }}" class="btn-img {{'hide' if readonly else ''}}" id="save-task" title="保存"/>
        <img src="{{ static_url('imgs/icon_next.png') }}" class="btn-img {{'hide' if steps.get('is_last') else ''}}" id="next-step" title="下一步"/>
        <img src="{{ static_url('imgs/icon_submit.png') }}" class="btn-img {{'' if steps.get('is_last') and not readonly else 'hide'}}" id="submit-task" title="提交"/>
      </div><!--right-->
      <div class="tips right {{'' if mode in ['do', 'update', 'edit'] and readonly else 'hide'}}">
        数据已被其他人锁定，暂时不能修改。
      </div>
    </div>

    <div class="full-bd bd-container">
      <!-- holder为显示切分框和页面图的画布容器 -->
      <div id="holder"></div>
    </div>
  </div>
</div>

<div class="panel-body" style="padding: 0;">
  <div id="returnModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="doubtModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">退回任务</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <table style="width: 100%">
              <tr>
                <td>退回理由：</td>
                <td><textarea id="return_reason" class="form-control search-input" rows="4" cols="40"></textarea></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light" id="return-modal-confirm">
            确定
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档<a class="more-help" href="#">更多</a></h4>
        </div>
        <div class="modal-body">
          <div class="title">一、工作目标</div>
          <div class="intro">检查并完善OCR切分的栏框、字框、列框的大小。</div>
          <div class="title">二、功能按钮</div>
          <table class="table" id="button-desc">
            <tr>
              <td><img src="{{ static_url('imgs/icon_toggle.png') }}"/></td>
              <td>返回任务大厅</td>
            </tr>
            <tr>
              <td><img src="{{ static_url('imgs/icon_pic.png') }}"/></td>
              <td>显示或隐藏图片</td>
            </tr>
            <tr>
              <td><img src="{{ static_url('imgs/icon_char.png') }}"/></td>
              <td>显示或隐藏字框</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_lr.png')}}"/></td>
              <td>撤销上一步对切分框的调整</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_rr.png')}}"/></td>
              <td>取消撤销</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_prev.png')}}"/></td>
              <td>返回上一个步骤。注意，请先保存数据，然后再返回</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_return.png')}}"/></td>
              <td>退回任务。如果任务数据有问题，比如图片缺失、数据异常等，可以选择退回任务，退回时请注明退回理由。</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_save.png')}}"/></td>
              <td>保存任务数据。</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_next.png')}}"/></td>
              <td>保存当前步骤并跳转至下一步。</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_submit.png')}}"/></td>
              <td>提交任务。提交后，系统将自动领取下一个任务。</td>
            </tr>
          </table>
          <div class="title">三、快捷键</div>
          <table class="table" id="hot-key">
            <tr>
              <td>1/2/3/4/5</td>
              <td>图片放大1~5倍</td>
            </tr>
            <tr>
              <td>6/7/8/9</td>
              <td>图片缩小至60%~90%</td>
            </tr>
            <tr>
              <td>方向键</td>
              <td>按照方向键↑→↓←的指示，切换当前字框</td>
            </tr>
            <tr>
              <td>wsad</td>
              <td>按照指示（wsad代表上下左右四个方向）移动当前字框</td>
            </tr>
            <tr>
              <td>shift + 方向键</td>
              <td>shift表示扩大字框，方向键代表字框的四条边</td>
            </tr>
            <tr>
              <td>alt + 方向键</td>
              <td>alt表示缩小字框，方向键代表字框的四条边</td>
            </tr>
          </table>
          <div class="title">四、相关说明</div>
          <div class="intro">点击上一步时，请先保存当前步骤的数据。点击下一步时，则不必，系统会自动保存。</div>
        </div>
      </div>
    </div>
  </div>

</div>

{% include _base_js.html %}
{% include _base_cut.html %}
{% include _base_task.html %}
<script src="{{ static_url('js/nav.js') }}"></script>
<script src="{{ static_url('js/cut/cut_adv.js') }}"></script>
<script>
  // 页面图和切分框
  var boxes = '{{boxes}}';
  $.cut.create({
    '{{box_type}}Mode': true,
    name: '{{box_type}}_{{page["name"]}}',
    width: '{{page["width"]}}',
    height: '{{page["height"]}}',
    holder: 'holder',
    scrollContainer: '.bd-container',
    image: "{{get_img(page)}}",
    chars: boxes
  });
  $.cut.bindKeys();

  // 获取任务数据
  function getSubmitData(submit) {
    return {
      submit: submit, step: '{{steps.get("current")}}',
      box_type: '{{box_type}}', boxes: JSON.stringify($.cut.exportBoxes())
    };
  }

  // 更新Undo
  function updateUndo() {
    var root = '{{static_url("imgs")}}';
    $('#undo').attr('src', root + ($.cut.canUndo() ? '/icon_lr.png' : '/icon_lr_not.png'));
    $('#redo').attr('src', root + ($.cut.canRedo() ? '/icon_rr.png' : '/icon_rr_not.png'));
  }

  updateUndo();

  $('#undo').click(function () {
    $.cut.undo();
    updateUndo();
  });

  $('#redo').click(function () {
    $.cut.redo();
    updateUndo();
  });

  // 显示各种类型字框数量
  function showHighLightCount() {
    $('.hl-box > button').each(function (i, btn) {
      var type = btn.getAttribute('id').replace(/^.*-/, '');
      var boxes = $.cut.highlightBoxes(type, true);
      $(btn).find('.s-count').text(boxes.length);
    });
  }

  showHighLightCount();

  // 切换切分框状态
  $('.hl-box > button').click(function () {
    var type = this.getAttribute('id').replace(/^.*-/, '');
    $.cut.switchHighlightBoxes(type);
  });

  // 操作切分框
  function onBoxChanged(char, box, reason) {
    if (reason === 'removed' || reason === 'added' || reason === 'changed') {
      var type = $.cut.data.hlType;
      if (type) {
        $.cut.clearHighlight();
        $.cut.highlightBoxes(type, false, true);
      }
      showHighLightCount();
    } else if (reason === 'navigate') {
      $('#info > .cur-char').text('当前字框: ' + ($.cut.getCurrentCharID(true) || '未选中'));
    }
    updateUndo();
  }

  $.cut.onBoxChanged(onBoxChanged);

  // 显隐切分框
  $('#toggle-box').click(function () {
    $(this).toggleClass('active');
    $('svg rect').css('display', $(this).hasClass('active') ? 'block' : 'none');
  });

</script>

</body>
</html>
