<!DOCTYPE html>
{% from controller.task.base import TaskHandler as th %}
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>任务管理-{{th.task_types.get(task_type)}}</title>
  {% include _base_meta.html %}
  <!-- DataTables -->
  <link href="{{ static_url('assets/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ static_url('assets/jquery-multi-select/multi-select.css') }}" rel="stylesheet" type="text/css"/>
  {% include _base_css.html %}
  <!-- Custom Files -->
  <link href="{{ static_url('css/helper.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css"/>
  <!-- [if lt IE 9]>-->
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <!--![endif]-->

  <style>
    .pre-tasks .checkbox-inline:nth-of-type(1) {
      margin-right: 10px;
    }
  </style>

</head>

<body>
<div class="app-main">
  <div class="main">
    {% module CommonLeft(title="data-management", sub="data-management-sty" ) %}
    <div class="main-content">
      {% module CommonHead() %}
      <div class="single-page-con">
        <div class="layout">
          <div class="layout-content">
            <div class="collate-history">
              <div class="wrapper">
                <div class="collate-list">
                  <div class="operation bat-upload {{'hide' if 'text_hard' in task_type else ''}}">
                    <div class="btn-group dropdown">
                      <button type="button" class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false">
                        发布任务 <i class="caret"></i>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:void(0);" data-toggle="modal" data-target="#prefixModal">按页码前缀发布</a></li><li class="divider"></li>
                        <li><a href="javascript:void(0);" data-toggle="modal" data-target="#selectModal">按所选页码发布</a></li><li class="divider"></li>
                        <li><a href="javascript:void(0);" data-toggle="modal" data-target="#fileModal">按页码文件发布</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="search fr">
                    <input id="search-name" type="text" placeholder="搜索">
                    <i class="ser-btn"></i>
                  </div>
                  <table style="border-collapse:separate; border-spacing:0px 10px;" class="sty_table">
                    <thead>
                    <tr>
                      <th><span><input type="checkbox" name="" id="check" value=""/></span></th>
                      <th><span>页编码</span></th>
                      <th><span>
											    <div class="btn-group">
												    <span class="sort" data-toggle="dropdown" aria-expanded="false">状态<span class="ion-android-sort "></span></span>
                            <ul class="dropdown-menu" role="menu">
                            {% for k, v in th.status_names.items() %}
                              <li><a href="{{current_path}}?status={{k}}">{{v}}</a></li>
                            {% end %}
													</ul>
												</div>
                      </span></th>
                      <th><span id="priority" class="sort {{'active' if order in ['-priority', 'priority'] else ''}}">优先级
                        <span class="ion-arrow-down-b {{'toggle' if order == 'priority' else ''}}"></span>
                      </span></th>
                      <th><span>前置任务</span></th>
                      <th><span id="publish_time" class="sort {{'active' if order in ['-publish_time', 'publish_time'] else ''}}">发布时间
                        <span class="ion-arrow-down-b {{'toggle' if order == 'publish_time' else ''}}"></span>
                      </span></th>
                      <th><span>更新时间</span></th>
                      <th><span>领取人</span></th>
                      <th><span>领取时间</span></th>
                      <th><span>完成时间</span></th>
                      <th><span>操作</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for t in tasks %}
                    <tr id="{{t['name']}}">
                      <th><span><input type="checkbox" name="{{t['name']}}" value=""/></span></th>
                      <td>{{t['name']}}</td>
                      <td>{{th.status_names.get(th.prop(t, 'tasks.%s.status' % task_type)) or ''}}</td>
                      <td>{{th.prior_names.get(th.prop(t, 'tasks.%s.priority' % task_type)) or ''}}</td>
                      <td>
                        {% set pre_tasks = th.prop(t, 'tasks.%s.pre_tasks' % task_type) or [] %}
                        {{'/'.join([th.task_types.get(p) for p in pre_tasks])}}
                      </td>
                      <td>{{to_date_str(th.prop(t, 'tasks.%s.publish_time' % task_type))}}</td>
                      <td>{{to_date_str(th.prop(t, 'tasks.%s.updated_time' % task_type))}}</td>
                      <td>{{th.prop(t, 'tasks.%s.picked_by' % task_type) or ''}}</td>
                      <td>{{to_date_str(th.prop(t, 'tasks.%s.picked_time' % task_type))}}</td>
                      <td>{{to_date_str(th.prop(t, 'tasks.%s.finished_time' % task_type))}}</td>
                      <td>
                        <a class="view" href="/task/{{task_type}}/{{t['name']}}">查看</a>
                        {% if th.prop(t, 'tasks.%s.status' % task_type) in ['ready'] %}
                        <a class="reset" onclick=reset('{{task_type}}','{{t["name"]}}')>重置</a>
                        {% end %}
                        {% if th.prop(t, 'tasks.%s.status' % task_type) in ['opened', 'picked', 'pending'] %}
                        <a class="withdraw" onclick=withdraw('{{task_type}}','{{t["name"]}}')>撤回</a>
                        {% end %}
                      </td>
                    </tr>
                    {% end %}
                    </tbody>
                  </table>
                </div>
                {% module Pager(pager) %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--按页码前缀发布-->
<div class="panel-body" style="padding-bottom: 2px;">
  <div id="prefixModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">发布任务-{{th.task_types.get(task_type)}}</h4>
        </div>
        <div class="modal-body">
          <div class="priority-list">
            <h4 class="control-label">选择优先级</h4>
            <select class="form-control">
              <option value="3">高</option>
              <option value="2">中</option>
              <option value="1">低</option>
            </select>
          </div>
          <br/>
          <div class="pre-tasks">
            <h4 class="control-label">选择前置任务</h4>
            <div>
              {% for t, v in th.task_types.items() %}
              {% if t != task_type %}
              <label class="checkbox-inline">
                <input type="checkbox" title="{{t}}" {{'checked' if t in default_pre_tasks.get(task_type,{}) else ''}}>{{v}}
              </label>
              {% end %}
              {% end %}
            </div>
          </div>
          <br/>
          <h4 class="control-label">输入页码前缀</h4>
          <input type="text" class="form-control" id="page_prefix" placeholder="请输入页码前缀，如GL_2"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light" id="prefix_modal_btn">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--按页码文件发布-->
<div class="panel-body" style="padding-bottom: 2px;">
  <div id="fileModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="upload-pages">发布任务-{{th.task_types.get(task_type)}}</h4>
        </div>
        <div class="modal-body">
          <div class="priority-list">
            <h4 class="control-label">选择优先级</h4>
            <select class="form-control">
              <option value="3">高</option>
              <option value="2">中</option>
              <option value="1">低</option>
            </select>
          </div>
          <br/>
          <div class="pre-tasks">
            <h4 class="control-label">选择前置任务</h4>
            <div>
              {% for t, v in th.task_types.items() %}
              {% if t != task_type %}
              <label class="checkbox-inline">
                <input type="checkbox" title="{{t}}" {{'checked' if t in default_pre_tasks.get(task_type,{}) else ''}}>{{v}}
              </label>
              {% end %}
              {% end %}
            </div>
          </div>
          <br/>
          <i>请选择CSV或TXT格式文件，大小不超过10M</i>
          <input type="file" class="form-control" id="upload" accept=".txt,.csv" style="padding:4px 4px"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light" id="file_modal_btn">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--按所选页码发布 -->
<div class="panel-body" style="padding-bottom: 2px;">
  <div id="selectModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="choose-pages" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="choose-pages">发布任务-{{th.task_types.get(task_type)}}</h4>
        </div>
        <div class="modal-body">
          <div class="priority-list">
            <h4 class="control-label">选择优先级</h4>
            <select class="form-control">
              <option value="3">高</option>
              <option value="2">中</option>
              <option value="1">低</option>
            </select>
          </div>
          <br/>
          <div class="pre-tasks">
            <h4 class="control-label">选择前置任务</h4>
            <div>
              {% for t, v in th.task_types.items() %}
              {% if t != task_type %}
              <label class="checkbox-inline">
                <input type="checkbox" title="{{t}}" {{'checked' if t in default_pre_tasks.get(task_type,{}) else ''}} />{{v}}
              </label>
              {% end %}
              {% end %}
            </div>
          </div>
          <br/>
          <div class="form-group">
            <div>
              <div class="ms-container">
                <div class="ms-selectable">
                  <div class="selectableHeader">待选对象<a href="javascript:void(0);" class="right_btn" id="select_all_btn">全选</a></div>
                  <div><i class="ser-btn"></i>
                    <input type="text" class="form-control search-input" id="selectable_input" placeholder="请输入关键字，回车可进行搜索">
                  </div>
                </div>
                <div class="ms-selection">
                  <div class="selectionHeader">已选对象<a href="javascript:void(0);" class="right_btn" id="deselect_all_btn">全删</a></div>
                  <div><input type="text" class="form-control search-input" id="selected_input" placeholder="请输入关键字，自动搜索已选对象"></div>
                </div>
              </div>
              <select name="my-select[]" style="width:500px; display:none;" class="multi-select" multiple="multiple" id="my_multi_select">
                <option value=""></option>
              </select>
              <div id="pagination" class="ms-search-pagination"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light" id="select_modal_btn">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>


{% include _base_js.html %}
<script type="text/javascript" src="{{ static_url('assets/jquery-multi-select/jquery.multi-select.js') }}"></script>
<script type="text/javascript" src="{{ static_url('assets/jquery-multi-select/jquery.quicksearch.js') }}"></script>

<script>
  var pages = [];
  var searchStr = '';
  var $modal = $('#selectModal');
  var $myMultiSelect = $('#my_multi_select');

  // 初始化选择模块
  $myMultiSelect.multiSelect({
    selectableOptgroup: true
  });

  // 生成并显示导航
  function displayPagination(pageNo, pageSize, totalCount) {
    var pageCount = Math.ceil(totalCount / pageSize);
    if (pageCount <= 1) {
      $('#pagination').html('');
      return;
    }
    var displayCount = 5;	// 显示多少个页码
    var start = pageNo - parseInt(displayCount / 2);
    start = start < 1 ? 1 : start;
    var end = start + displayCount - 1;
    end = end > pageCount ? pageCount : end;
    var html = "<a title='1'>首页</a>";  // 首页
    for (var i = start; i <= end; i++) {
      if (i === pageNo)
        html += "<a class='cur' title='" + i + "'>" + i + "</a>";
      else
        html += "<a title='" + i + "'>" + i + "</a>";
    }
    html += "<a title='" + pageCount + "'>未页</a>";
    $('#pagination').html(html);
    // 待选对象-翻页
    $("#pagination a").on("click", function () {
      var page = $(this).attr('title').trim();
      var selectedPages = [];
      $(".ms-selection .ms-selected").each(function () {
        selectedPages.push($(this).text());
      });
      if ($(".ms-selectable .ms-elem-selectable:not(.ms-selected)").length == 0 && page > 1) {
        page = page - 1;
      }
      var data = {prefix: searchStr, page: page, exclude: selectedPages};
      postApi('/task/ready_pages/{{task_type}}', {data: data}, function (res) {
        pages = selectedPages.concat(res.data.pages);
        $myMultiSelect.multiSelect('refresh');
        showModal(page, res.data.page_size, res.data.total_count);
        $myMultiSelect.multiSelect('select', selectedPages)
      });
    });
  }

  // 待选对象-全选
  $("#select_all_btn").on("click", function () {
    $myMultiSelect.multiSelect('select_all');
  });

  // 待选对象-搜索
  $(".ms-selectable .ser-btn").on('click', function () {
    var selectedPages = []
    $(".ms-selection .ms-selected").each(function () {
      selectedPages.push($(this).text());
    });
    var selectableInput = $('#selectable_input').val().trim();
    postApi('/task/ready_pages/{{task_type}}', {data: {prefix: selectableInput, exclude: selectedPages}}, function (res) {
      searchStr = selectableInput  // 设置全局变量
      pages = selectedPages.concat(res.data.pages);
      $myMultiSelect.multiSelect('refresh')
      showModal(1, res.data.page_size, res.data.total_count);
      $myMultiSelect.multiSelect('select', selectedPages)
    });
  });

  // 待选对象-搜索-回车
  $('.ms-selectable').on("keydown", function (event) {
    var keyCode = event.keyCode || event.which;
    if (keyCode === 13) {
      $(".ms-selectable .ser-btn").click();
      event.preventDefault();
    }
  });

  // 已选对象-搜索
  $("#selected_input").on('input propertychange', function () {
    var inputval =  new RegExp($(this).val().trim(), "i");
    var selections = $("#my_multi_select").siblings('.ms-container').find('.ms-selection .ms-elem-selection.ms-selected');
    selections.each(function () {
      if ($(this).text().match(inputval)) {
        $(this).show();
      } else {
        $(this).hide();
      }
    })
  });

  // 已选对象-全删
  $("#deselect_all_btn").click(function () {
    $myMultiSelect.multiSelect('deselect_all');
  });

  function showModal(pageNo, pageSize, totalCount) {
    $myMultiSelect.html(pages.map(function (p) {
      return '<option value="' + p + '">' + p + '</option>';
    }).join('\n'));
    $myMultiSelect.multiSelect('refresh');
    displayPagination(pageNo, pageSize, totalCount);
  }

  $modal.on('shown.bs.modal', function () {
    postApi('/task/ready_pages/{{task_type}}', {data: {}}, function (res) {
      pages = res.data.pages;
      showModal(1, res.data.page_size, res.data.total_count);
    });
  });

  // 按所选页码发布任务
  $modal.find('#select_modal_btn').click(function () {
    var selectedPages = [];
    var selections = $("#my_multi_select").siblings('.ms-container').find('.ms-selection .ms-elem-selection.ms-selected').css('display', 'red');
    selections.each(function () {
      selectedPages.push($(this).text());
    });
    if (selectedPages.length < 1) {
      return showError('未选择页面', '请选择要发布的页面。');
    }
    var pre_tasks = [];
    $("#selectModal .pre-tasks :checkbox").each(function(){
      if ($(this).is(':checked'))
        pre_tasks.push($(this).attr('title'));
    });
    var data = {
      task_type: '{{task_type}}',
      pre_tasks: pre_tasks,
      priority: $modal.find('.priority-list select').val(),
      page_names: selectedPages.join(',')
    };
    console.log(data);
    postApi('/task/publish', {data: data}, function (res) {
      var len = (res.data.published || []).length + (res.data.pending || []).length;
      showSuccess('已发布任务', len + ' 个页面已发布。');
      setTimeout(function () {
        location.reload();
      }, 1000);
    });
  });

  // 按页码文件发布任务
  $('#fileModal').find('#file_modal_btn').click(function () {
    // 页码文件
    if (typeof $('#upload')[0].files[0] == "undefined") {
      return showError('请选择文件');
    }
    var namesFile = $('#upload')[0].files[0];
    var regex = /\.(csv|txt)$/;
    if (!regex.test(namesFile.name)) {
      return showError('文件不是CSV或TXT类型');
    }
    if (namesFile.size > (10 * 1024 * 1024)) {
      return showError('文件大小不能超过10M');
    }
    // 前置任务
    var pre_tasks = [];
    $("#fileModal .pre-tasks :checkbox").each(function(){
      if ($(this).is(':checked'))
        pre_tasks.push($(this).attr('title'));
    });

    var formData = new FormData();
    formData.append('task_type', '{{task_type}}');
    formData.append('pre_tasks', pre_tasks.join(','));
    formData.append('priority', $('#fileModal').find('.priority-list select').val());
    formData.append('pages_file', namesFile);
    console.log(formData);
    $.ajax({
      url: '/api/task/publish',
      type: 'POST',
      data: formData,
      processData: false,
      contentType: false,
      success: function (res) {
        if (res.status === 'failed') {
          showError('错误', res.message);
        } else {
          var len = (res.data.published || []).length + (res.data.pending || []).length;
          showSuccess('已发布任务', len + ' 个页面已发布。');
          setTimeout(function () {
            location.reload();
          }, 1000);
        }
      }
    });
  });

  // 按页码前缀发布任务
  $('#prefixModal').find('#prefix_modal_btn').click(function () {
    var page_prefix = $('#page_prefix').val();
    var pre_tasks = [];
    $("#prefixModal .pre-tasks :checkbox").each(function(){
      if ($(this).is(':checked'))
        pre_tasks.push($(this).attr('title'));
    });
    var data = {
      task_type: '{{task_type}}',
      pre_tasks: pre_tasks,
      priority: $modal.find('.priority-list select').val()
    };
    console.log(data);
    postApi('/task/publish/' + page_prefix, {data: data}, function (res) {
      var len = (res.data.published || []).length + (res.data.pending || []).length;
      showSuccess('已发布任务', len + ' 个页面已发布。');
      setTimeout(function () {
        location.reload();
      }, 1000);
    });
  });

</script>

<script>
  // 任务管理
  function getUrlParam(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    return r != null ? unescape(r[2]) : null;
  }

  // 按优先级排序
  $("#priority.sort").click(function () {
    var order = getUrlParam('order');
    if (order && order == '-priority')
      order = 'priority';
    else
      order = '-priority';
    window.location = "{{current_path}}?order=" + order;
  });

  // 按发布时间排序
  $("#publish_time.sort").click(function () {
    var order = getUrlParam('order');
    if (order && order == '-publish_time')
      order = 'publish_time';
    else
      order = '-publish_time';
    window.location = "{{current_path}}?order=" + order;
  });

  // 搜索
  $('#search-name').on("keydown", function (event) {
    var keyCode = event.keyCode || event.which;
    if (keyCode == "13") {
      var q = $(this).val().trim();
      var url = q == '' ? "{{current_path}}" : "{{current_path}}?q=" + q;
      window.location = url;
    }
  });

  // 撤回任务
  function withdraw(task_type, name) {
    var info = {
      title: "确定撤回吗？",
      text: "任务" + name + "\n将被撤回！",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#b8906f",
      confirmButtonText: "确定撤回",
      cancelButtonText: "取消",
      closeOnConfirm: true
    };
    swal(info, function () {
      postApi('/task/withdraw/' + task_type + '/' + name, {'data':{}}, function (res) {
        window.location.reload();
      });
    });
  }

  // 重置任务
  function reset(task_type, name) {
    var info = {
      title: "确定重置吗？",
      text: "任务" + name + "\n将被重置为未就绪！",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#b8906f",
      confirmButtonText: "确定重置",
      cancelButtonText: "取消",
      closeOnConfirm: true
    };
    swal(info, function () {
      postApi('/task/reset/' + task_type + '/' + name,  {'data':{}}, function (res) {
        window.location.reload();
      });
    });
  }

</script>

</body>
</html>