<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{handler.page_title()}}</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link href="{{static_url('assets/modal-effect/css/component.css')}}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  {% block custom-css %}
  {% end %}
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="btn-group back">
          {% set title, img = ('任务大厅', 'icon_lobby') if handler.mode == 'do' else ('返回', 'icon_back') %}
          <img src="{{static_url('imgs/%s.png' % img)}}" class="btn-img" onclick="leave()" title="{{title}}"/>
        </div>
        <div class="btn-group title" title="{{handler.page['name']}}">
          {{handler.task_name()}}
          <span class="sub-title {{'' if handler.step_name() else 'hide'}}">-{{handler.step_name()}}</span>
        </div>
      </div><!--left-->
      <div class="center">
        {% block buttons %}
        {% end %}
      </div>
      <div class="right">
        <img src="{{static_url('imgs/icon_prev.png')}}" class="btn-img {{'hide' if handler.steps.get('is_first') else ''}}" id="prev-step" title="上一步"/>
        <img src="{{static_url('imgs/icon_return.png')}}" class="btn-img {{'' if not handler.readonly else 'hide'}}" data-toggle="modal" data-target="#returnModal" title="退回"/>
        <img src="{{static_url('imgs/icon_save.png')}}" class="btn-img {{'hide' if handler.readonly else ''}}" id="save-task" title="保存"/>
        <img src="{{static_url('imgs/icon_next.png')}}" class="btn-img {{'hide' if handler.steps.get('is_last') else ''}}" id="next-step" title="下一步"/>
        <img src="{{static_url('imgs/icon_submit.png')}}" class="btn-img {{'' if handler.steps.get('is_last') and not handler.readonly else 'hide'}}" id="submit-task" title="提交"/>
        {% if handler.mode == 'browse' %}
        <div class="btn-txt btn-gap"></div>
        <img src="{{static_url('imgs/icon_view.png')}}" class="btn-img" id="view-page" title="查看页面"/>
        <img src="{{static_url('imgs/icon_remark.png')}}" class="btn-img" data-toggle="modal" data-target="#remarkModal" title="备注"/>
        <img src="{{static_url('imgs/icon_prev2.png')}}" class="btn-img" id="prev-task" title="前一个任务"/>
        <img src="{{static_url('imgs/icon_next2.png')}}" class="btn-img" id="next-task" title="后一个任务"/>
        {% end %}
      </div><!--right-->
    </div>
    <div class="full-bd flex-content pfread">
      {% block full-bd %}
      {% end %}
    </div>
  </div>
</div>

<div class="panel-body" style="padding: 0">
  {% module ReturnModal() %}
  {% module RemarkModal() %}
  {% block custom-modal %}
  {% end %}
</div>

{% include _base_js.html %}
{% include _base_task.html %}
{% block custom-js %}
{% end %}
<script src="{{static_url('js/nav.js')}}"></script>
</body>
</html>
