<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  {% include _base_meta.html %}

  <!-- Plugins css -->
  <link href="{{ static_url('assets/modal-effect/css/component.css') }}" rel="stylesheet">

  <!-- Custom Files -->
  <link href="{{ static_url('css/helper.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css"/>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

  {% include _base_css.html %}
  <link href="{{ static_url('css/cut.css') }}" rel="stylesheet" type="text/css"/>
  <style>
    {% if box_type == 'char' %}
    @media (max-width:1020px) {
      .slice_info {
        display: none;
      }
    }
    {% end %}
  </style>
</head>

<body>
  <div class="app-main">
    <div class="single-page-con enlarge">
      <div class="layout">
        <div class="layout-content">
          <!-- 中间内容 -->
          <!--<div class="single-page-con">-->
          <div class="layout">
            <div class="layout-content">
              <div class="tripitaka-volume">
                <div class="wrapper">
                  <div class="main-volume">
                    <div class="volume-right">
                      <!--根据接口返回数据情况--右侧没有文本数据时-->
                      <div class="full">
                        <div class="full-hd clearfix">
                          <div class="left fl">
                            {% if can_return %}
                            <span class="slice_title">
                              <a onclick="leave('{{from_url}}')">返回</a>
                            </span>
                            {% else %}
                            <a onclick="leave('/home')"><span class="head_home ion-home"></span></a>
                            <span class="slice_title">
                              <a onclick="leave('{{from_url}}')">{{title}}</a>
                            </span>
                            {% end %}
                            <span class="slice_info">页编码：{{page['name']}}</span>
                            <div class="slice_btn_group">
                              <div class="btn-group m-b-10 hl-btn">
                                <button type="button" class="btn btn-default waves-effect" id="hl-all">所有
                                  <sup class="s_h_count"></sup></button>
                                {% if box_type == 'char' %}
                                <button type="button" class="btn btn-default waves-effect" id="hl-large">大框
                                  <sup class="s_h_count"></sup></button>
                                <button type="button" class="btn btn-default waves-effect" id="hl-small">小框
                                  <sup class="s_h_count"></sup></button>
                                <button type="button" class="btn btn-default waves-effect" id="hl-narrow">窄框
                                  <sup class="s_h_count"></sup></button>
                                <button type="button" class="btn btn-default waves-effect" id="hl-flat">扁框
                                  <sup class="s_h_count"></sup></button>
                                {% end %}
                                <button type="button" class="btn btn-default waves-effect" id="hl-overlap">重叠
                                  <sup class="s_h_count"></sup></button>
                              </div>
                              <div class="btn-group m-b-10">
                                <button type="button" class="btn btn-default" id="undo" title="撤销"><i class="md md-undo"></i></button>
                                <button type="button" class="btn btn-default" id="redo" title="重做"><i class="md md-redo"></i></button>
                              </div>
                            </div>

                            {% if not readonly %}
                            <div class="btn-group">
                              <button type="button" class="btn btn-warning waves-effect waves-light m-b-5" id="save">保存</button>
                              <button type="button" class="btn btn-warning waves-effect waves-light dropdown-toggle"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul class="dropdown-menu">
                                <li><a id="submit">提交任务</a></li>
                                <li role="separator" class="divider"></li>
                                {% if box_type == 'char' %}
                                <li><a href="/task/do/char_order_proof/{{name}}?from={{'' if 'from' in request.uri else request.uri}}">字序校对</a></li>
                                <li role="separator" class="divider"></li>
                                {% end %}
                                <li><a id="return-task">退回任务</a></li>

                                {% if box_type != 'block' %}
                                <li role="separator" class="divider"></li>
                                {% for type,text in ([('block', '栏框')] if box_type == 'column' else [('block', '栏框'), ('column', '列框')]) %}
                                <li><a class="ed-box" id="ed-{{type}}-box">修改{{text}}</a></li>
                                {% end %}
                                {% end %}
                              </ul>
                            </div>

                            {% elif box_type != 'block' %}
                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                更多 <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                {% if box_type == 'char' %}
                                <li><a href="/task/do/char_order_proof/{{name}}?view=1&from={{'' if 'from' in request.uri else request.uri}}">字序校对</a></li>
                                <li role="separator" class="divider"></li>
                                {% end %}

                                {% for type,text in ([('block', '栏框')] if box_type == 'column' else [('block', '栏框'), ('column', '列框')]) %}
                                <li><a class="ed-box" id="ed-{{type}}-box">查看{{text}}</a></li>
                                {% end %}
                              </ul>
                            </div>
                            {% end %}
                          </div>
                          <div class="right fr">

                          </div>
                        </div>
                        <div class="full-bd">
                          <!-- holder为显示切分框和页面图的画布容器 -->
                          <div id="holder"></div>
                        </div>

                      </div>
                      <!--./右侧没有文本数据时-->
                      <!--根据接口返回数据情况--右侧有文本数据时-->

                      <!--./右侧有文本数据时-->
                      <!--弹窗-->

                      <!--./弹窗-->
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!--</div>-->
          <!-- ./中间内容 -->
        </div>
      </div>
    </div>
  </div>

  {% include _base_js.html %}
  <script src="{{ static_url('js/cut/raphael.js') }}"></script>
  <script src="{{ static_url('js/cut/raphael.zoom.js') }}"></script>
  <script src="{{ static_url('js/cut/jquery.mapkey.js') }}"></script>
  <script src="{{ static_url('js/cut/cut.js') }}"></script>
  <script src="{{ static_url('js/cut/cut_keys.js') }}"></script>
  <script src="{{ static_url('js/cut/cut_adv.js') }}"></script>

  <script>
    $.cut.create({
      '{{box_type}}Mode': true,
      removeSmallBoxes: {{int(box_type == 'char' and name[:2] in ['JX'])}},
      name: '{{box_type}}_{{name}}',
      width: {{page['width']}},
      height: {{page['height']}},
      holder: 'holder',
      scrollContainer: '.full-bd',
      image: "{{get_img(page.get('img_name', name), page.get('use_local_img'))}}",
      chars: '{{boxes}}'
    });

    $.cut.bindKeys();

    function updateUndo() {
      $('#undo').toggleClass('disabled', !$.cut.canUndo());
      $('#redo').toggleClass('disabled', !$.cut.canRedo());
    }
    $('#undo').click(function () {
      $.cut.undo();
      updateUndo();
    });
    $('#redo').click(function () {
      $.cut.redo();
      updateUndo();
    });
    updateUndo();

    function showHighLightCount() {
      $('.hl-btn > button').each(function (i, btn) {
        if (i > 0 || {{int(box_type != "char")}}) {
          var type = btn.getAttribute('id').replace(/^.*-/, '');
          var boxes = $.cut.highlightBoxes(type, true);
          $(btn).find('.s_h_count').text(boxes.length);
        }
      });
    }
    showHighLightCount();
    $('.hl-btn > button').click(function () {
      var type = this.getAttribute('id').replace(/^.*-/, '');
      $.cut.switchHighlightBoxes(type);
    });

    $.cut.onBoxChanged(function (char, box, reason) {
      if (reason === 'removed' || reason === 'added' || reason === 'changed') {
        var type = $.cut.data.hlType;
        if (type) {
          $.cut.clearHighlight();
          $.cut.highlightBoxes(type, false, true);
        }
      }
      showHighLightCount();
      updateUndo();
    });

    $('#return-task').click(function () {
      postApi('/task/unlock/{{task_type}}/{{name}}', {}, function (res) {
        if (res.data.length === 1 && res.data[0] === '{{name}}') {
          window.location = '{{from_url}}';
        }
      });
    });

    window.leave = function (url) {
      postApi('/task/unlock/{{task_type}}/{{name}}', {exit: true, from_url: url}, function () {
        window.location = url;
      });
    };

    {% for cut, cls in [('block', '#ed-block-box'), ('column', '#ed-column-box')] %}
      $('{{cls}}').toggleClass('disabled', {{'false' if can_access('/task/my/%s_cut_proof' % cut) or can_access('/task/my/%s_cut_review' % cut) else 'true'}});
      $('{{cls}}').unbind('click').click(function () {
        if (!$(this).hasClass('disabled')) {
          window.location = '/task/do/{{cut}}_cut_{{"proof" if can_access("/task/my/%s_cut_proof" % cut) else "review"}}/{{name}}?view={{int(readonly)}}&from={{request.uri}}';
        }
      });
    {% end %}

    function save(submit) {
      postApi('/task/save/{{task_type}}', {data: {
        submit: submit,
        name: '{{name}}',
        from_url: '{{from_url}}',
        box_type: '{{box_type}}',
        boxes: JSON.stringify($.cut.exportBoxes())
      }}, function (res) {
        showSuccess(res.box_changed ? '保存成功' : '没有改变', '{{name}} ' +
             (!res.box_changed ? '的内容没有改变。' : submit ? '已提交成功。' : '已保存成功。'));
        if (res.jump) {
          setTimeout(function () {
            window.location = res.jump;
          }, 1000);
        }
      });
    }
    $('#save').click(save.bind(null, false));
    $('#submit').click(save.bind(null, true));
  </script>

</body>
</html>