<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>文字校对-寻找比对文本</title>
  {% include _base_meta.html %}

  <!-- Plugins css -->
  <link href="{{ static_url('assets/modal-effect/css/component.css') }}" rel="stylesheet">

  <!-- Custom Files -->
  <link href="{{ static_url('css/helper.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css"/>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

  {% include _base_css.html %}
  <link href="{{ static_url('css/cut.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ static_url('css/proofread.css') }}" rel="stylesheet" type="text/css"/>

  <style>
    .pfread-in {
      padding-top: 50px;
    }
    .right .bd {
      padding: 10px 25px;
      font-size: 18px;
    }
    .right .bd .selected {
      font-size: 18px;
    }
    kw {
      color: #cb9b66;
    }
    .modal-content .modal-header {
      height: 40px;
      padding-bottom: 0px;
    }
    .modal-content .close {
      color: var(--Color_Brown_Darker);
      margin-top: -25px;
      margin-right: -20px;
    }
    #ocrModal {
      font-size: 18px;
    }

  </style>
</head>

<body class="widescreen">
<div class="">
  <div class="main">
    <div class="main-content pfread">

      <header class="m-header">
        <div class="back">
          {% set title, img = ('任务大厅', 'icon_task_lobby') if mode  == 'do' else ('返回', 'icon_back') %}
          <a onclick="leave()" title="{{title}}">
            <img src="{{ static_url('imgs/%s.png' % img) }}" class="m-header-img"/>
          </a>
        </div>
        <div class="m-header-title" title='{{page["name"]}}'>文字校对</div>
        <div class="m-header-sub-title" title='{{page["name"]}}'>/ 寻找比对文本</div>
        <div class="m-header-edit-btn">
          <img src="{{ static_url('imgs/icon_aim.png') }}" class="m-header-img btn-cut-show" title="显示所有字框"/>
          <img src="{{ static_url('imgs/icon_zoom1.png') }}" class="m-header-img btn-enlarge" title="放大"/>
          <img src="{{ static_url('imgs/icon_zoom2.png') }}" class="m-header-img btn-reduce" title="缩小"/>
        </div>
        <div class="m-header-right">
          {% if readonly %}
            {% if mode in ['do', 'update', 'edit']  %}
              <div class="m-header-tips">数据已被其他人锁定，暂时不能修改。</div>
            {% else %}
              <div class="m-header-tips">当前只能查看，不能修改。</div>
            {% end %}
          {% end %}
          <div class="m-header-edit-btn">
            <img src="{{ static_url('imgs/icon_select.png') }}" class="m-header-img btn-select" title="选中"/>
            <img src="{{ static_url('imgs/char_icon5.png') }}" class="m-header-img btn-ocr" title="OCR"/>
            <img src="{{ static_url('imgs/char_icon6.png') }}" class="m-header-img btn-help" title="帮助"/>
            {% if not readonly %}
            <img src="{{ static_url('imgs/icon_save.png') }}" class="m-header-img btn-save" title="保存"/>
            {% end %}
            {% if not readonly and mode == 'do' %}
            <img src="{{ static_url('imgs/icon_next.png') }}" class="m-header-img btn-next" title="下一步"/>
            <img src="{{ static_url('imgs/char_icon12.png') }}" class="m-header-img btn-return-back" title="退回"/>
            {% end %}
          </div>
        </div>
      </header>

      <div class="flex-content pfread-in">
        <div class="left fl">
          <div class="bd" id="canvas-bd">
            <div id="holder"></div>
          </div>
        </div><!--left-->
        <div class="right fr">
          <div class="bd">
            <div class="selectable" id="selectable">
              {% raw cmp %}
            </div>
            <hr/>
            <textarea class="form-control selected" id="selected" placeholder="请从上文中选择与图片相似的文字，无须修改……">
            </textarea>
          </div>
        </div><!--right-->
      </div>

    </div>
  </div>

  <div class="panel-body" style="padding: 0">
    <div id="ocrModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ocrModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >×</button>
          <div class="modal-header">OCR</div>
          <div class="modal-body">
            {% raw ocr.replace('|', '<br>') %}
          </div>
        </div>
      </div>
    </div><!-- modal content -->
  </div>

</div>


{% include _base_js.html %}
<script src="{{ static_url('js/cut/raphael.js') }}"></script>
<script src="{{ static_url('js/cut/raphael.zoom.js') }}"></script>
<script src="{{ static_url('js/cut/jquery.mapkey.js') }}"></script>
<script src="{{ static_url('js/cut/cut.js') }}"></script>
<script src="{{ static_url('js/cut/cut_keys.js') }}"></script>
<script src="{{ static_url('js/cut/proof_keys.js') }}"></script>
<script src="{{ static_url('js/proofread.js') }}"></script>

<script type="text/javascript">
  /*-----------自适应高度-----------*/
  // 右侧文字区动态计算高度
  var h = $(document.body).height();
  $(".pfread .bd").height(h - 70);
  $("#sutra-text").css('min-height', h - $('.char-list').height() - 70);

  // 浏览器调整大小时自适应
  $(window).resize(function () {
    var h = $(document.body).height();
    $(".pfread .bd").height(h - 70);
    $("#sutra-text").css('min-height', h - $('.char-list').height() - 70);
  });

  /*-----------左侧图像区域-----------*/
  // 显示左边页面图和字框
  var char_data = decodeJSON('{{page.get("chars", [])}}');
  var columns = decodeJSON('{{page.get("columns", [])}}');
  var blocks = decodeJSON('{{page.get("blocks", [])}}');

  function createPage() {
    $.cut.create({
      readonly: true,
      scrollContainer: '#canvas-bd',
      name: '{{page["name"]}}',
      width: '{{page["width"]}}',
      height: '{{page["height"]}}',
      holder: 'holder',
      image: '{{get_img(page.get("img_name", page.get("name")), page.get("use_local_img"))}}',
      chars: char_data
    });
    $.cut.bindMatchingKeys();
    $.cut.toggleBox(false);
    $.cut.switchCurrentBox(null);
    $.cut.bindKeys();
  }

  createPage();
  $('#canvas-bd').focus();

  /*-----------操作按钮-----------*/
  // 选中作为比对本
  $('.btn-select').click(function () {
    var txt = window.getSelection().toString();
    $('#selected').val($('#selected').val() + txt);
    $('#selected').height($('#selected').prop('scrollHeight'));
  });

  $(document).on('change', '#selected', function () {
    $('#selected').height($('#selected').prop('scrollHeight'));
  });

  $('.btn-select').click(function () {
    var txt = window.getSelection().toString();
    $('#selected').val($('#selected').val() + txt);
    $('#selected').height($('#selected').prop('scrollHeight'));
  });
  
  // 弹出OCR
  $(document).on('click', '.btn-ocr', function () {
    $('#ocrModal').modal();
  });


  /*-----------导航区域-----------*/
  // 返回
  window.leave = function () {
    if ('{{mode}}' === 'do') {
      window.location = '/task/lobby/{{task_type}}';
    } else {
      window.history.back();
    }
  };

  // 获取数据
  function getData(commit) {
    var cmp = $('#selected').val();
    var data = {
      commit: commit,
      name: '{{page["name"]}}',
      cmp: cmp,
    };
    console.log(data);
    return data;
  }

  // 保存任务
  $('.btn-save').on("click", function () {
    postApi('/task/do/{{task_type}}/find_cmp/{{page["name"]}}', {
      data: getData(false)
    }, function () {
      showSuccess('保存成功', '{{page["name"]}} ' + '已保存成功');
      setTimeout(function () {
        window.location.reload();
      }, 1000);
    });
	});

  // 提交并跳转下一步
  $('.btn-next').on("click", function () {
    postApi('/task/do/{{task_type}}/find_cmp/{{page["name"]}}', {
      data: getData(true)
    }, function () {
      // 跳转文字校对
      window.location = '/task/do/{{task_type}}/{{page["name"]}}';
    });
  });

  // 退回任务（注意，这里是退回整个文字校对任务）
  $('.btn-return-back').click(function () {
    postApi('/task/return/{{task_type}}/{{page["name"]}}', {data: {}}, function () {
      showSuccess('退回成功', '{{page["name"]}} ' + '已退回成功。');
      setTimeout(function () {
        window.location = "/task/lobby/text_proof";
      }, 1000);
    });
  });


</script>

</body>
</html>