<div class="pre-tasks">
  <h4 class="control-label">选择前置任务</h4>
  <div>
    {% for t, v in Th.task_types.items() %}
    {% if t != task_type %}
    <label class="checkbox-inline">
      <input type="checkbox" title="{{t}}" {{'checked' if t in default_pre_tasks else ''}}>{{v}}
    </label>
    {% end %}
    {% end %}
  </div>
</div>
<br/>

<div class="priority-list">
  <h4 class="control-label">选择优先级</h4>
  <select class="form-control">
    <option value="3">高</option>
    <option value="2">中</option>
    <option value="1">低</option>
  </select>
</div>
<br/>

{% if default_task_steps %}
<div class="sub-steps">
  <h4 class="control-label">选择子步骤</h4>
  <div>
    {% for k, v in default_task_steps.items() %}
    <label class="checkbox-inline">
      <input type="checkbox" title="{{k}}" checked>{{v.get('name')}}
    </label>
    {% end %}
  </div>
</div>
<br/>
{% end %}