<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>任务详情</title>
  {% include com/_base_css.html %}
  <link href="{{static_url('css/info.css')}}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <style>
    .doubt img {
      width: 18px;
    }

    .txt_html .block {
      padding: 0;
    }

    .columns .value, .chars .value {
      width: 100%;
      overflow: auto;
      max-height: 400px;
      word-break: keep-all;
    }

    .long .value div {
      white-space: nowrap;
    }

    .info.long {
      display: block !important;
    }

  </style>
</head>

<body>
<div class="app-main">
  <div class="main">
    {% module ComLeft() %}
    <div class="main-content">
      {% module ComHead() %}
      <div class="layout">
        <div class="wrapper">
          <div class="block">
            <div class="block-head">基本信息</div>
            {% for k, v in task.items() %}
            {% if k not in ['params', 'result'] and v not in [None, ''] %}
            <div class="info">
              <label class="label">{{handler.get_field_name(k)}}</label>
              <span class="value">{% raw handler.format_value(task[k], k) %}</span>
            </div>
            {% end %}
            {% end %}
          </div>
          {% if task.get('params') %}
          <div class="block input">
            <div class="block-head">输入参数</div>
            {% if isinstance(task['params'], dict) %}
            {% for k, v in task.get('params').items() %}
            <div class="info{{' long' if len(str(v))>30 else ''}}">
              <label class="label">{{k}}</label>
              <span class="value">{% raw handler.format_value(v, k) %}</span>
            </div>
            {% end %}
            {% elif isinstance(task['params'], list) %}
            <div class="info{{' long' if len(str(v))>30 else ''}}">
              {% for p in task['params'] %}
              <span class="value">{{p}}</span>
              {% end %}
            </div>
            {% else %}
            <div class="info{{' long' if len(str(v))>30 else ''}}">
              <label class="label">　</label>
              <span class="value">{{task['params']}}}</span>
            </div>
            {% end %}
          </div>
          {% end %}
          {% if task.get('result') %}
          <div class="block result">
            <div class="block-head">输出结果</div>
            {% for k, v in task['result'].items() %}
            {% if k not in ['blocks', 'columns', 'chars'] %}
            <div class="info{{' long' if len(str(v))>30 else ''}}">
              <label class="label">{{k}}</label>
              <span class="value">{% raw handler.format_value(v, k) %}</span>
            </div>
            {% end %}
            {% end %}
            <!--其它信息-->
            {% for k, v in task['result'].items() %}
            {% if k in ['blocks', 'columns', 'chars'] and v %}
            <div class="info long {{k}}">
              <label class="label">{{k}}</label>
              <div class="value">
                {% for item in v %}
                <div>{% raw item %}</div>
                {% end %}
              </div>
            </div>
            {% end %}
            {% end %}
            <!--切分信息-->
          </div>
          {% end %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include com/_base_js.html %}

</body>
</html>