<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>任务管理-{{handler.get_task_name(task_type)}}</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link href="{{ static_url('assets/datatables/jquery.dataTables.min.css') }}" rel="stylesheet"/>
  <link href="{{ static_url('assets/jquery-multi-select/multi-select.css') }}" rel="stylesheet"/>
  <link href="{{ static_url('assets/select2/select2.css') }}" rel="stylesheet"/>
  <link href="{{ static_url('css/task-admin.css') }}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

</head>

<body>
<div class="app-main">
  <div class="main">
    {% module ComLeft(title="data-management", sub="") %}
    <div class="main-content">
      {% module ComHead() %}
      <div class="layout">
        <div class="wrapper">
          <div class="sty-list">
            {% block operation %}
            <div class="operation">
              <div class="btn-group">
                <button class="btn btn-default waves-effect" id="bat-assign">批量指派</button>
                <button class="btn btn-default waves-effect" id="bat-remove" url="/task/delete/{{task_type}}">批量刪除</button>
                <div class="btn-group dropdown bat-publish {{'hide' if task_type == 'text_hard' else ''}}">
                  {% if not task_meta.get('groups') %}
                  <button type="button" class="btn btn-default waves-effect" data-toggle="modal" data-target="#publishModal">
                    发布任务
                  </button>
                  {% else %}
                  <button type="button" class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false">
                    发布任务 <i class="caret"></i>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    {% for t in task_meta.get('groups') %}
                    <li><a class="task-type" id="{{t}}" href="javascript:void(0);">{{handler.get_task_name(t)}}</a></li>
                    <li class="divider"></li>
                    {% end %}
                  </ul>
                  {% end %}
                </div>
                <div style="margin: 5px; display: inline-block; cursor: pointer">
                  <img src="{{ static_url('imgs/icon_hlp.png') }}" class="btn-img" data-toggle="modal" data-target="#helpModal" title="帮助"/>
                </div>
              </div>
            </div>
            {% end %}
            <div class="search fr">
              <input id="search-input" type="text" placeholder="{{search_tip}}" value="{{q}}">
              <i class="ser-btn"></i>
            </div>
            {% block table %}
            <table class="sty-table">
              <thead>
              <tr>
                <th><input id="check-all" type="checkbox"/></th>
                <th><span class="sort {{'active' if 'doc_id' in order else ''}}" title="doc_id">
                  页编码<span class="ion-arrow-down-b {{'toggle' if order == 'doc_id' else ''}}"></span>
                </span></th>
                <th><span class="btn-group">
                  <span class="filter" id="task-types" data-toggle="dropdown" aria-expanded="false">
                    任务类型<span class="ion-android-sort "></span>
                  </span>
                  <ul class="dropdown-menu" role="menu">
                    {% for k, v in handler.task_types.items() %}
                    <li><a href="{{current_path}}?task_type={{k}}">{{v.get('name')}}</a></li>
                    {% end %}
                  </ul>
                </span></th>
                <th><span class="btn-group">
                  <span class="filter" id="statuses" data-toggle="dropdown" aria-expanded="false">
                    状态<span class="ion-android-sort "></span>
                  </span>
                  <ul class="dropdown-menu" role="menu">
                    {% for k, v in handler.task_status_names.items() %}
                    <li><a href="{{current_path}}?status={{k}}">{{v}}</a></li>
                    {% end %}
                  </ul>
                </span></th>
                <th><span class="sort {{'active' if 'priority' in order else ''}}" title="priority">
                  优先级<span class="ion-arrow-down-b {{'toggle' if order == 'priority' else ''}}"></span>
                </span></th>
                <th><span>步骤</span></th>
                <th><span>前置任务</span></th>
                <th><span class="sort {{'active' if 'publish_time' in order else ''}}" title="publish_time">
                  发布时间<span class="ion-arrow-down-b {{'toggle' if order == 'publish_time' else ''}}"></span>
                </span></th>
                <th><span>领取人</span></th>
                <th><span class="sort {{'active' if 'picked_time' in order else ''}}" title="picked_time">
                  领取时间<span class="ion-arrow-down-b {{'toggle' if order == 'picked_time' else ''}}"></span>
                </span></th>
                <th><span class="sort {{'active' if 'finished_time' in order else ''}}" title="finished_time">
                  完成时间<span class="ion-arrow-down-b {{'toggle' if order == 'finished_time' else ''}}"></span>
                </span></th>
                <th><span>操作</span></th>
              </tr>
              </thead>
              <tbody>
              {% for t in tasks %}
              <tr id="{{t['_id']}}" class="task-tr">
                <td><input type="checkbox"/></td>
                <td><a class="doc-name" href="/page/{{t['doc_id']}}">{{t['doc_id']}}</a></td>
                <td>{{handler.get_task_name(t['task_type']) or ''}}</td>
                <td class="{{t['status']}}" title="{{t.get('message') or ''}}">{{handler.get_status_name(t['status']) or ''}}</td>
                <td>{{handler.get_priority_name(t.get('priority')) or ''}}</td>
                <td>{{'/'.join([handler.step_names().get(s) for s in handler.prop(t, 'steps.todo') or []])}}</td>
                <td>{{'/'.join([handler.task_names().get(p) for p in t.get('pre_tasks') or []])}}</td>
                <td>{{to_date_str(t.get('publish_time'))}}</td>
                <td>{{t.get('picked_by') or ''}}</td>
                <td>{{to_date_str(t.get('picked_time'))}}</td>
                <td>{{to_date_str(t.get('finished_time'))}}</td>
                <td class="action">
                  {% set info = {f:t.get(f) for f in ['_id', 'doc_id', 'status']} %}
                  <span class="hide info">{{dumps(info)}}</span>
                  <a href="/task/info/{{t['_id']}}">详情</a>
                  <a href="/task/page/{{t['doc_id']}}">历程</a>
                  <a href="/task/{{t['task_type']}}/{{t['_id']}}">查看</a>
                  <a class="{{'btn-remove' if t['status'] not in ['picked', 'finished'] else 'disabled'}}" url="/task/delete/{{task_type}}">删除</a>
                  <a class="{{'btn-republish' if t['status'] in ['picked', 'failed'] else 'disabled'}}">重新发布</a>
                </td>
              </tr>
              {% end %}
              </tbody>
            </table>
            {% end %}
          </div>
          {% module Pager(pager) %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-body">
  {% block modal %}
  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档</h4>
        </div>
        <div class="modal-body">
          <div class="title">一、简介</div>
          <div class="intro">
            任务管理模块提供管理员对任务进行操作，包括发布、指派、删除、重新发布等，还可以查看任务，或者查看任务详情、历程。
          </div>
          <div class="title">二、任务操作</div>
          <table class="table">
            <tr>
              <td>批量指派</td>
              <td>将「已发布」的任务指派给某个特定的用户</td>
            </tr>
            <tr>
              <td>批量删除</td>
              <td>可以批量删除所有非「进行中」或「已完成」的任务。如果需要删除「进行中」的任务，请先选择重新发布，然后再删除。</td>
            </tr>
            <tr>
              <td>发布任务</td>
              <td>
                任务相关数据已就绪时，可以发布任务。任务管理员在发布任务时，如果任务没有前置任务，则系统直接发布为「已发布」。如果有前置
                任务，则根据前置任务情况：如果都已完成，则发布为「已发布」；如果有一个前置任务未完成，则发布为「等待前置任务」。该任务的
                前置任务在完成时，系统会自动检查，如果所有前置任务都已完成，则自动发布为「已发布」。
                用户可以在任务大厅领取所有「已发布」的任务。领取后可以进行保存、提交，也可以选择退回任务。
              </td>
            </tr>
            <tr>
              <td>重新发布</td>
              <td>「进行中」的任务可以重新发布。</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="publishModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="publishModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">发布任务-<span id="task-name">{{handler.get_task_name(task_type)}}</span></h4>
        </div>
        <div class="modal-body">
          <div class="pre-tasks">
            <h4 class="control-label">选择前置任务</h4>
            <div>
              {% for t, v in handler.task_types.items() %}
              {% if is_mod_enabled(v['name']) and t != task_type %}
              <label class="checkbox-inline">
                {% set pre_tasks = handler.prop(handler.task_types, "%s.pre_tasks" % task_type) or [] %}
                <input type="checkbox" title="{{t}}" {{'checked' if t in pre_tasks else ''}}>{{v['name']}}
              </label>
              {% end %}
              {% end %}
            </div>
          </div>
          {% set steps = handler.all_task_types()[task_type].get('steps', [])%}
          <div class="steps{{ '' if steps else ' hide' }}">
            <h4 class="control-label">选择子步骤</h4>
            <div id="step-items">
              {% for step in steps %}
              <label class="checkbox-inline"><input type="checkbox" title="{{step[0]}}" checked>{{step[1]}}</label>
              {% end %}
            </div>
          </div>
          <div class="priority-list">
            <h4 class="control-label">选择优先级</h4>
            <input type="radio" name="priority" value="3" style="margin-right: 10px" checked>高
            <input type="radio" name="priority" value="2" style="margin: 0 10px">中
            <input type="radio" name="priority" value="1" style="margin: 0 10px">低
          </div>
          <div class="force">
            <h4 class="control-label">任务已完成时，是否重新发布？</h4>
            <input type="radio" name="force" value="否" style="margin: 0 10px 0 0" checked>否
            <input type="radio" name="force" value="是" style="margin: 0 10px">是
          </div>
          <div class="id-values">
            <h4 class="control-label">选择待发布的任务</h4>
            <ul class="nav nav-tabs" id="tabContent">
              <li class="active"><a id="select-ids" href="#source-select" data-toggle="tab">逐个选择编码</a></li>
              <li><a href="#source-prefix" data-toggle="tab">按编码前缀</a></li>
              <li><a href="#source-file" data-toggle="tab">上传编码文件</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="source-select">
                <div class="form-group">
                  <div>
                    <div class="ms-container my-container">
                      <div class="ms-selectable">
                        <div class="selectableHeader">待选对象<a href="javascript:void(0);" class="right_btn" id="select_all_btn">全选</a></div>
                        <div><i class="ser-btn"></i>
                          <input type="text" class="form-control search-input" id="selectable_input" placeholder="请输入关键字，回车可进行搜索">
                        </div>
                      </div>
                      <div class="ms-selection">
                        <div class="selectionHeader">已选对象<a href="javascript:void(0);" class="right_btn" id="deselect_all_btn">全删</a></div>
                        <div><input type="text" class="form-control search-input" id="selected_input" placeholder="请输入关键字，自动搜索已选对象"></div>
                      </div>
                    </div>
                    <select name="my-select[]" style="width:500px; display:none;" class="multi-select" multiple="multiple" id="my_multi_select">
                      <option value=""></option>
                    </select>
                    <div id="pagination" class="ms-search-pagination"></div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="source-prefix">
                <input type="text" class="form-control" id="id_prefix" placeholder="请输入编码前缀，如GL_2"/>
              </div>
              <div class="tab-pane" id="source-file">
                <i>请选择CSV、TXT或JSON格式的文件，大小不超过10M</i>
                <input type="file" class="form-control" id="upload" accept=".txt,.csv" style="padding:4px 4px"/>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-default waves-effect waves-light modal-refresh">刷新</button>
          <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">发布</button>
        </div>
      </div>
    </div>
  </div>
  <div id="publishResultModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="publishResultModal"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">发布结果</h4>
        </div>
        <div class="modal-body">
          <table class="table">
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="assignModal" class="modal fade" role="dialog" aria-labelledby="assignModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 400px; margin: auto">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="choose-users">选择用户</h4>
        </div>
        <div class="modal-body">
          <div style="min-height: 150px; text-align: center">
            <select id="select-user" class="form-control">
              <option></option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-default waves-effect waves-light modal-refresh">刷新</button>
          <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">指派</button>
        </div>
      </div>
    </div>
  </div>
  <div id="assignResultModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="assignResultModal"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">指派结果</h4>
        </div>
        <div class="modal-body">
          <table class="table">
          </table>
        </div>
      </div>
    </div>
  </div>
  {% end %}
</div>

{% include _base_js.html %}
<script src="{{static_url('js/com-table.js')}}"></script>
<script src="{{static_url('assets/select2/select2.min.js')}}"></script>
<script src="{{static_url('assets/select2/zh-CN.js')}}"></script>
<script src="{{static_url('assets/jquery-multi-select/jquery.multi-select.js')}}"></script>
<script src="{{static_url('assets/jquery-multi-select/jquery.quicksearch.js')}}"></script>
<script>
  // 显示退回理由
  $('td.returned').click(function () {
    showTip("退回理由", $(this).attr('title'));
  });

  // 显示失败原因
  $('td.failed').click(function () {
    showTip("失败原因", $(this).attr('title'));
  });

  // 重新发布任务
  $('.btn-republish').click(function () {
    var id = $(this).parent().parent().attr('id');
    var data = getData(id);
    var pageName = data['doc_id'] !== null ? data['doc_id'] : '';
    showConfirm("确定重新发布吗？", "任务" + pageName + "将被撤回并重新发布！", function () {
      postApi('/task/republish/' + id, {data: {}}, function () {
        window.location.reload();
      });
    });
  });

  // 批量指派任务
  $('#bat-assign').click(function () {
    if (!$('.task-tr :checked').length)
      return showError('请选择任务', '当前没有选中任务。');
    $('#assignModal').modal();
  });

  $("#select-user").select2({
    ajax: {
      type: 'POST', url: "/api/user/{{task_type}}", dataType: 'json',
      delay: 1000, language: 'zh-CN', allowClear: true, width: "100%",
      placeholder: "请选择", maximumSelectionLength: 2,
      data: function (params) {
        return {'q': params.term, 'page': params.page || 1};
      },
      processResults: function (res) {
        return res.data;
      }
    }
  });

  $('#assignModal .modal-confirm').click(function () {
    var ids = $.map($('table tbody :checked'), function (item) {
      return $(item).parent().parent().attr('id');
    });
    var data = {'task_ids': ids, 'user_id': $("#select-user").val()};
    var trans = {un_existed: '页面不存在', un_published: '任务不是已发布', lock_failed: '数据锁定失败', assigned: '指派成功'};
    postApi('/task/assign/' + taskType, {'data': data}, function (res) {
      var html = '';
      for (var item in res.data) {
        html += '<tr><td>' + trans[item] + '<td>' + res.data[item] + '</td>' + '</td></tr>';
      }
      var $assignResultModal = $('#assignResultModal');
      $assignResultModal.find('table').html(html);
      $assignResultModal.modal();
    });
  });

  /*---发布任务相关---*/
  var docs = [];
  var searchStr = '';
  var taskType = '{{task_type}}';
  var $publishModal = $('#publishModal');
  var $publishResultModal = $('#publishResultModal');
  var $myMultiSelect = $('#my_multi_select');

  // 点击发布任务，弹出对话框
  $(".bat-publish .task-type").on("click", function () {
    taskType = $(this).attr('id');
    $('#task-name').html($(this).text());
    $publishModal.modal();
  });

  // 发布任务
  $publishModal.find('.modal-confirm').click(function () {
    var force = $publishModal.find('.force :checked').val();
    var priority = $publishModal.find('.priority-list :checked').val();
    var preTasks = $.map($publishModal.find('.pre-tasks :checked'), function (item) {
      return $(item).attr('title');
    });
    var steps = $.map($publishModal.find('.steps :checked'), function (item) {
      return $(item).attr('title');
    });
    var isFile = false;
    var formData = new FormData();
    var data = {task_type: taskType, priority: priority, force: force, pre_tasks: preTasks, steps: steps};
    var source = $('.tab-content .tab-pane.active').attr('id');
    switch (source) {
      case 'source-prefix':
        var idPrefix = $('#id_prefix').val().trim();
        if (idPrefix)
          return showError('请输入页码前缀');
        data['prefix'] = idPrefix;
        break;

      case 'source-select':
        var selections = $('#ms-my_multi_select .ms-selection .ms-selected').css('display', 'red');
        var selectedDocs = $.map(selections, function (item) {
          return item.innerText;
        });
        if (!selectedDocs.length)
          return showError('未选择页面', '请选择要发布的页面。');
        data['doc_ids'] = selectedDocs;
        break;

      case 'source-file':
        var idsFile = $('#upload')[0].files[0];
        if (typeof idsFile === "undefined")
          return showError('请选择文件');
        if (!/\.(csv|txt|json)$/.test(idsFile.name))
          return showError('文件不是CSV或TXT类型');
        if (idsFile.size > (10 * 1024 * 1024))
          return showError('文件大小不能超过10M');
        formData.append('data', JSON.stringify(data));
        formData.append('ids_file', idsFile);
        isFile = true;
        break;
    }
    var trans = {
      un_existed: '页面不存在', un_ready: '数据未就绪', published_before: '任务曾被发布',
      finished_before: '任务已完成', data_is_locked: '数据被锁定',
      lock_level_unqualified: '数据等级不够',
      published: '任务已发布', pending: '等待前置任务'
    };
    postApi('/task/publish', isFile ? formData : {data: data}, function (res) {
      var html = '';
      for (var item in res.data) {
        html += '<tr><td>' + trans[item] + '<td>' + res.data[item] + '</td>' + '</td></tr>';
      }
      $publishResultModal.find('table').html(html);
      $publishResultModal.modal();
    }, null, isFile);
  });

  // 刷新页面
  $('.modal-refresh').click(function () {
    location.reload();
  });

  // 初始化选择模块
  $myMultiSelect.multiSelect({
    selectableOptgroup: true
  });

  // 生成并显示导航
  function displayPagination(pageNo, pageSize, totalCount) {
    var pageCount = Math.ceil(totalCount / pageSize);
    if (pageCount <= 1) {
      $('#pagination').html('');
      return;
    }
    var displayCount = 5;	// 显示多少个编码
    var start = pageNo - parseInt(displayCount / 2);
    start = start < 1 ? 1 : start;
    var end = start + displayCount - 1;
    end = end > pageCount ? pageCount : end;
    var html = "<a title='1'>首页</a>";  // 首页
    for (var i = start; i <= end; i++) {
      if (i === pageNo)
        html += "<a class='cur' title='" + i + "'>" + i + "</a>";
      else
        html += "<a title='" + i + "'>" + i + "</a>";
    }
    html += "<a title='" + pageCount + "'>未页</a>";
    $('#pagination').html(html);
    // 待选对象-翻页
    $("#pagination a").on("click", function () {
      var page = $(this).attr('title').trim();
      var selectedDocs = [];
      $(".ms-selection .ms-selected").each(function () {
        selectedDocs.push($(this).text());
      });
      if ($(".ms-elem-selectable:not(.ms-selected)").length === 0 && page > 1) {
        page = page - 1;
      }
      var data = {prefix: searchStr, page: page, exclude: selectedDocs};
      postApi('/task/ready/' + taskType, {data: data}, function (res) {
        docs = selectedDocs.concat(res.data.docs);
        showModal(page, res.data.page_size, res.data.total_count);
        $myMultiSelect.multiSelect('select', selectedDocs)
      });
    });
  }

  // 待选对象-全选
  $("#select_all_btn").on("click", function () {
    $myMultiSelect.multiSelect('select_all');
  });

  // 待选对象-搜索
  $(".ms-selectable .ser-btn").on('click', function () {
    var selectedDocs = [];
    $(".ms-selection .ms-selected").each(function () {
      selectedDocs.push($(this).text());
    });
    var selectableInput = $('#selectable_input').val().trim();
    var data = {prefix: selectableInput, exclude: selectedDocs};
    postApi('/task/ready/' + taskType, {data: data}, function (res) {
      searchStr = selectableInput;  // 设置全局变量
      docs = selectedDocs.concat(res.data.docs);
      showModal(1, res.data.page_size, res.data.total_count);
      $myMultiSelect.multiSelect('select', selectedDocs)
    });
  });

  // 待选对象-搜索-回车
  $('.ms-selectable').on("keydown", function (event) {
    var keyCode = event.keyCode || event.which;
    if (keyCode === 13) {
      $(".ms-selectable .ser-btn").click();
      event.preventDefault();
    }
  });

  // 已选对象-搜索
  $("#selected_input").on('input propertychange', function () {
    var inputval = new RegExp($(this).val().trim(), "i");
    var selections = $myMultiSelect.siblings('.ms-container').find('.ms-elem-selection.ms-selected');
    selections.each(function () {
      if ($(this).text().match(inputval)) {
        $(this).show();
      } else {
        $(this).hide();
      }
    })
  });

  // 已选对象-全删
  $("#deselect_all_btn").click(function () {
    $myMultiSelect.multiSelect('deselect_all');
  });

  function showModal(pageNo, pageSize, totalCount) {
    $myMultiSelect.html(docs.map(function (p) {
      return '<option value="' + p + '">' + p + '</option>';
    }).join('\n'));
    $myMultiSelect.multiSelect('refresh');
    displayPagination(pageNo, pageSize, totalCount);
  }

  // 初始化选择列表
  $publishModal.on('shown.bs.modal', function () {
    if (taskType === 'import_image')
      return;
    postApi('/task/ready/' + taskType, {data: {}}, function (res) {
      docs = res.data.docs;
      showModal(1, res.data.page_size, res.data.total_count);
    });
  });

</script>
{% block custom-js %}
{% end %}
</body>
</html>
