{% extends "com_list.html" %}

{% block search %}
{% end %}

{% block table %}
<table class="sty-table">
  <thead>
  <tr>
    <th><span class="sort {{'active' if 'day' in order else ''}}" title="day">
      日期<span class="ion-arrow-down-b {{'toggle' if order == 'day' else ''}}"></span>
      </span></th>
    <th><span>用户</span></th>
    <th class="task_type"><span class="btn-group">
      <span class="filter" title="task_type" data-toggle="dropdown" aria-expanded="false">
        任务类型<span class="ion-android-sort"></span>
      </span>
      <ul class="dropdown-menu" role="menu">
        {% for t, v in task_types.items() %}
        <li><a class="btn-a" title="task_type={{t}}">{{v.get('name')}}</a></li>
        {% end %}
      </ul>
    </span></th>
    <th><span class="sort {{'active' if 'count' in order else ''}}" title="count">
      数量<span class="ion-arrow-down-b {{'toggle' if order == 'count' else ''}}"></span>
    </span></th>
  </tr>
  </thead>

  <tbody>
  {% for d in docs %}
  <tr id="{{d['_id']}}">
    <td class="day">{{to_date_str(d.get('day') or '', '%Y-%m-%d')}}</td>
    <td class="user_id">{{users.get(d.get('user_id')) or ''}}</td>
    <td class="task_type">{{handler.get_task_name(d.get('task_type') or '')}}</td>
    <td class="count">{{d.get('count') or ''}}</td>
  </tr>
  {% end %}
  </tbody>
</table>
{% end %}

{% block custom-modal %}
  <div id="searchModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchModal"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">配置列表</h4>
        </div>
        <div class="modal-body">
          <div class="select-column">
            {% for f in handler.table_fields %}
            <label class="checkbox-inline"><input type="checkbox" class="{{f['id']}}" title="{{f['id']}}" checked>{{f['name']}}</label>
            {% end %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div id="statisticModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="statisticModal"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="border: 0">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <table class="table task-statistic">
            <thead>
            <tr>
              <th>任务类型</th>
              <th>数量</th>
              <th>比例</th>
            </tr>
            </thead>
            <tbody>
            {% for task_type, v in task_statistic.items() %}
            <tr>
              <td>{{handler.get_task_name(task_type)}}</td>
              <td>{{v.get('count')}}</td>
              <td>{{v.get('ratio')}}</td>
            </tr>
            {% end %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% end %}

{% block custom-js %}
{% end %}