<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>OCR校对</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link href="{{ static_url('assets/modal-effect/css/component.css') }}" rel="stylesheet">
  <link href="{{ static_url('css/cut.css') }}" rel="stylesheet" type="text/css"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <style>
    .main > .content {
      height: 100%;
      padding-top: 40px;
      display: flex;
    }

    .content > .content-left {
      flex: 1;
      padding: 0;
      height: 100%;
      min-width: 60%;
      overflow: auto;
      background: var(--Color_Grey_Content);
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.1em;
      -webkit-user-select: auto;
      user-select: auto;
    }

    .content > .content-right {
      flex: 1;
      height: 100%;
      overflow-y: auto;
      background: var(--Color_Grey_Content2);
    }

    .bd-container {
      max-width: 100%;
      max-height: 100%;
      overflow: auto;
    }

    .page-text {
      font-size: 18px;
    }

    .page-text .num {
      background: #ebebeb;
      display: inline-block;
      min-width: 32px;
      text-align: right;
      padding-right: 10px;
      font-size: 14px;
      font-style: italic;
      line-height: 2em;
    }

    .page-text .txt {
      margin-left: 10px;
    }

    #text-edit {
      background: var(--Color_Grey_Line);
    }
  </style>
</head>

<body class="widescreen">
<div class="app-main" style="overflow: hidden">
  <div class="main">
    <div class="m-header">
      <div class="left">
        <div class="back">
          {% set title, img = ('任务大厅', 'icon_lobby') if mode == 'do' else ('返回', 'icon_back') %}
          <a onclick="leave()" title="{{title}}">
            <img src="{{ static_url('imgs/%s.png' % img) }}" class="btn-img"/>
          </a>
        </div>
        <div class="title" title="{{page['name']}}">OCR校对</div>
        <div class="help">
          <img src="{{ static_url('imgs/help.png') }}" class="btn-img btn-help" title="帮助"/>
        </div>
        <div class="zone-control" style="padding: 0 5px">
          <img src="{{ static_url('imgs/icon_txt.png') }}" class="btn-img zone-right" title="文字区域"/>
        </div>
        <div class="edit-btns">
          <img src="{{ static_url('imgs/icon_zoom1.png') }}" class="btn-img btn-enlarge" title="放大"/>
          <img src="{{ static_url('imgs/icon_zoom2.png') }}" class="btn-img btn-reduce" title="缩小"/>
          <img src="{{ static_url('imgs/icon_lr.png') }}" class="btn-img btn-undo" title="撤销"/>
          <img src="{{ static_url('imgs/icon_rr.png') }}" class="btn-img btn-redo" title="重做"/>
        </div>
        <div class="slice-btns">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm fl" id="bar-order" title="切换显示或隐藏字框浮动条的字序">字序</button>
            <button type="button" class="btn btn-default btn-sm fl" id="bar-txt" title="切换显示或隐藏字框浮动条的文字">文字</button>
            <button type="button" class="btn btn-default btn-sm fl" id="hl-pic" title="切换显示或隐藏页面图">图片</button>
          </div>
          <div class="btn-group hl-btn">
            <button type="button" class="btn btn-default btn-sm" id="hl-all" title="切换所有字框的高亮状态">所有<sup class="s-h-count"></sup></button>
            <button type="button" class="btn btn-default btn-sm" id="hl-overlap" title="切换高亮显示重叠的字框">重叠<sup class="s-h-count"></sup></button>
            {% if box_type == 'char' %}
            <button type="button" class="btn btn-default btn-sm" id="hl-large" title="切换高亮显示较大的字框">大框<sup class="s-h-count"></sup></button>
            <button type="button" class="btn btn-default btn-sm" id="hl-small" title="切换高亮显示较小的字框">小框<sup class="s-h-count"></sup></button>
            <button type="button" class="btn btn-default btn-sm" id="hl-narrow" title="切换高亮显示较窄的字框">窄框<sup class="s-h-count"></sup></button>
            <button type="button" class="btn btn-default btn-sm" id="hl-flat" title="切换高亮显示较扁的字框">扁框<sup class="s-h-count"></sup></button>
            {% end %}
          </div>
        </div>

        <div class="input-group char-box" style="width: 80px; margin-top: 4px">
          <input type="text" maxlength="1" class="form-control text-center" placeholder="字" style="height: 30px; width:50px;">
          <span class="input-group-btn">
            <button class="btn btn-default btn-sm" id="text-edit" type="button">修改</button>
          </span>
        </div>
      </div><!--left-->
      <div class="right">
        {% if readonly %}
        <div class="tips">
          {{'数据已被其他人锁定，暂时不能修改。' if mode in ['do', 'update', 'edit'] else '当前只能查看，不能修改。'}}
        </div>
        {% end %}
        <div class="edit-btns">
          <div class="more">
            <div class="btn-group more-group hidden" role="group" aria-label="更多">
              {% for type, text in [('block', '栏框'), ('column', '列框'), ('order', '字序')] %}
              <button type="button" class="btn btn-default btn-sm ed-{{type}}-box" title="修改{{text}}">{{text}}</button>
              {% end %}
            </div>
            <img src="{{ static_url('imgs/icon_more.png') }}" class="btn-img btn-ed-box fl" title="更多"/>
          </div>
          <img src="{{ static_url('imgs/icon_return.png') }}" class="btn-img btn-return {{'' if not readonly and mode == 'do' else 'hide'}}" title="退回"/>
          <img src="{{ static_url('imgs/icon_save.png') }}" class="btn-img btn-save {{'hide' if readonly else ''}}" title="保存"/>
          <img src="{{ static_url('imgs/icon_submit.png') }}" class="btn-img btn-submit {{'' if not readonly and mode == 'do' else 'hide'}}" title="提交"/>
        </div>
      </div><!--right-->
    </div>

    <div class="content">
      <!-- 左侧图片区域 -->
      <div class="content-left">
        <div class="bd-container">
          <div id="holder"></div>
        </div>
      </div>

      <!-- 右侧文字区域 -->
      <div class="content-right hide">
        <div class="page-text">
          {% for n, col in enumerate(page['columns']) %}
          <div id="col-{{col.get('column_id')}}"><span class="num">{{n+1}}</span><span class="txt">{{col.get('txt', '') or ''}}</span></div>
          {% end %}
        </div>
      </div>
    </div>

  </div>

  <div class="panel-body" style="padding-bottom: 2px;">
    <!-- modal content -->
    <div id="returnModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="doubtModal"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">退回任务</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <table style="width: 100%">
                <tr>
                  <td>退回理由：</td>
                  <td><textarea id="return_reason" class="form-control search-input" rows="4" cols="40"></textarea></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary waves-effect waves-light" id="modal-return-btn">
              确定
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% include _base_js.html %}
{% include _cut_base.html %}
<script src="{{ static_url('js/cut/cut_adv.js') }}"></script>
<script src="{{ static_url('js/cut/proof_keys.js') }}"></script>
<script>
  var boxes = '{{boxes}}';
  $.cut.create({
    '{{box_type}}Mode': true,
    name: '{{box_type}}_{{name}}',
    width: '{{page["width"]}}',
    height: '{{page["height"]}}',
    holder: 'holder',
    scrollContainer: '.bd-container',
    image: "{{get_img(page.get('img_name', name), page.get('use_local_img'))}}",
    chars: boxes
  });
  $.cut.bindKeys();
</script>
{% include task_cut_js.html %}

<script>
  var $char = $('.char-box input');
  var showOrder = false, showText = true;

  // 回车：从字框跳转到文字输入框
  $.cut.bindKey('enter', function () {
    $char.focus();
    $.fn.mapKey.enabled = false;
  });

  // 字框改变或切换的通知
  $.cut.onBoxChanged(function (char, box, reason) {
    onBoxChanged(char, box, reason);
    $char.val(char && char.ch || ''); // 显示到文本框
    if (reason === 'txt_changed') {
      buildLineText();
    }

    // 按字序号浮动亮显当前行的字框
    var chars = $.cut.findCharsByLine(char.block_no, char.line_no);
    $.cut.removeBandNumber(0, true);
    $.cut.showFloatingPanel(
        (showOrder || showText) ? chars : [],
        function (char, index) {
          return (showOrder && char.char_no || '') + (showText && char.ch || '');
        }
    );
  });

  // 生成行文本
  function buildLineText() {
    var columns = '{{",".join(c.get("column_id", "") for c in page["columns"])}}'.split(',');
    columns.forEach(function (column_id) {
      var ids = column_id.replace('b', '').split('c');
      var chars = $.cut.findCharsByLine(parseInt(ids[0]), parseInt(ids[1]));
      var text = chars.map(function (c) {
        return c.ch || '?';
      }).join('');
      $('#col-' + column_id).find('.txt').text(text);
    });
  }

  buildLineText();

  // 应用文字改动
  $('.char-box button').click(function () {
    var txt = $char.val();
    var c = $.cut.findCharById($.cut.getCurrentCharID());
    if (txt && c) {
      if (c.ch !== txt) {
        c.ch = txt;
        $.cut.state.edit.data('char', txt);
        $.cut.notifyChanged(c.shape, 'txt_changed');
      }
    } else {
      showError('没有改变！');
    }
    $char.blur();
    $.fn.mapKey.enabled = true;
  });

  // 在输入框按回车键应用改动，按ESC放弃改动
  $char.bind('keypress', function (e) {
    if (e.keyCode == '13') {
      $('.char-box button').click();
    } else if (e.keyCode == '27') {
      $char.blur();
      $.fn.mapKey.enabled = true;
      $char.val($.cut.getCurrentChar() || '');
    }
  });

  // 显示、隐藏右侧区域
  $('.m-header .zone-control .zone-right').click(function () {
    $('.main .content .content-right').toggleClass('hide');
  });

  // 切换显示或隐藏字框浮动条的字序
  $('#bar-order').click(function () {
    showOrder = !showOrder;
    $.cut.notifyChanged($.cut.state.edit, 'navigate');
  });

  // 切换显示或隐藏字框浮动条的文字
  $('#bar-txt').click(function () {
    showText = !showText;
    $.cut.notifyChanged($.cut.state.edit, 'navigate');
  });

  // 更多操作
  $('.btn-ed-box').click(function () {
    $('.more-group').toggleClass('hidden');
  });

  // 修改字框
  $('.ed-char-box').click(function () {
    window.location = '{{"/cut/edit/%s?step=char_box" % name}}';
  });

  // 修改栏框
  $('.ed-block-box').click(function () {
    window.location = '{{"/cut/edit/%s?step=block_box" % name}}';
  });

  // 修改列框
  $('.ed-column-box').click(function () {
    window.location = '{{"/cut/edit/%s?step=column_box" % name}}';
  });

  // 修改字序
  $('.ed-order-box').click(function () {
    window.location = '{{"/cut/edit/%s?step=char_order" % name}}';
  });

  // 帮助
  $('.btn-help').click(function () {
    swal({
      title: '快捷键', showConfirmButton: false, allowOutsideClick: true, html: true,
      text: '<ul class="help">' + [
        '1~5：页面放大', 'shift+5~9: 页面缩小', '+/-：逐级缩放',
        '方向键：在字框间导航', 'w a s d：移动当前字框',
        'alt+方向键：缩小字框', 'shift+方向键：放大字框',
        'insert或n：增加字框', 'DEL：删除当前字框',
        '回车：编辑当前字框的文字，或应用文字',
        'ESC：放弃拖拽改动或放弃文字改动',
        'z: 撤销', 'r: 重做',
        '<b>校对</b>: 用方向键跳转，按回车录入，输后按回车继续跳转'
      ].map(function (t) {
        return '<li>' + t + '</li>';
      }).join('') + '</ul>'
    });
  });

</script>
</body>
</html>
