<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>{{tripitaka.get('name')}}</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="{{ static_url('assets/modal-effect/css/component.css') }}" rel="stylesheet">
  <link href="{{ static_url('css/tripitaka.css') }}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

</head>

<style>
  .main-left.slim-scroll::-webkit-scrollbar {
    width: 8px;
    opacity: 0.5;
  }

  .main-left a {
    cursor: pointer;
  }

  .main-left .menu {
    padding-top: 15px;
  }

  .menu-item .menu-title {
    padding-left: 10px;
  }

  .menu-item .sub-item {
    padding-left: 18px;
  }

  .main-left .menu-title.has-sub:before {
    content: "+";
    padding-right: 4px;
  }

  .main-right .m-header {
    left: 276px;
  }

  .main-right .content {
    padding-top: 40px;
  }

  .content .content-left {
    padding: 0;
  }

  .page-picture img {
    width: 100%;
  }

  .page-text {
    font-size: 18px;
    padding: 10px;
  }

</style>


<body>
<div class="app-main">
  <div class="main">
    <div class="main-content flex-content {{'sutra-mode' if '经' in tripitaka['store_pattern'] else ''}}">
      <div class="main-left slim-scroll" id="main-left">
        <div class="main-left-menu">
          <div class="menu-search-wrapper">
            <input class="menu-search-input" type="text" placeholder="回车或点击按钮检索"/>
            <img class="menu-search-btn" src="{{ static_url('imgs/icon13.png') }}"/>
          </div>
          <ul class="menu" id="side-menu">
          </ul>
        </div>
      </div>
      <div class="main-right" id="main-right">
        <!-- 顶部导航 -->
        <div class="m-header">
          <div class="header-line main-line">
            <div class="left">
              <div class="toggle-btn">
                <img class="btn-img" src="{{ static_url('imgs/icon_toggle.png') }}"/>
              </div>
              <div class="title">{{tripitaka.get('name')}}</div>
              <div class="panel-btn">
                <img class="btn-img" src="{{ static_url('imgs/icon_hme.png') }}" title="首页" onclick="javascript:location='/tripitakas';"/>
                <img class="btn-img" src="{{ static_url('imgs/icon_panel.png') }}" title="经目查询"  data-toggle="modal" data-target="#sutraNavModal"/>
              </div>
              <div class="zone-control" style="padding: 0 5px">
                <img src="{{ static_url('imgs/icon_pic.png') }}" class="btn-img zone-left" title="图片区域"/>
                <img src="{{ static_url('imgs/icon_txt.png') }}" class="btn-img zone-right" title="文字区域"/>
              </div>
              <div class="img-control" style="padding: 0 5px">
                <img src="{{ static_url('imgs/icon_zoom1.png') }}" class="btn-img btn-enlarge" title="放大"/>
                <img src="{{ static_url('imgs/icon_zoom0.png') }}" class="btn-img btn-origin" title="原始"/>
                <img src="{{ static_url('imgs/icon_zoom2.png') }}" class="btn-img btn-reduce" title="缩小"/>
              </div>
              <div class="m-pager" style="padding: 0 5px">
                <div class="btn-page hide" id="cur-volume">{{nav.get('cur_volume')}}</div>
                {% if nav.get('first') %}
                <div class="btn-page first" title="{{nav.get('first')}}">首页</div>
                {% end %}
                {% if nav.get('prev') %}
                <div class="btn-page prev" title="{{nav.get('prev')}}"><</div>
                {% end %}
                <div class="btn-page to">
                  <input type="text" title="{{nav.get('cur_page')}}" value="{{nav.get('cur_page').split('_')[-1]}}"/>
                  {% if nav.get('last') %}
                  / <span type="tips">{{nav.get('last').split('_')[-1]}}</span>
                  {% end %}
                </div>
                {% if nav.get('next') %}
                <div class="btn-page next" title="{{nav.get('next')}}">></div>
                {% end %}
                {% if nav.get('last') %}
                <div class="btn-page last" title="{{nav.get('last')}}">末页</div>
                {% end %}
              </div>
              <div class="more {{'' if page else 'hide'}}">
                <img src="{{ static_url('imgs/icon_more.png') }}" class="btn-img btn-ed-box" title="更多"/>
                <span class="btn-group more-group hidden" role="group" aria-label="更多">
                  {% for type,text in [('block', '栏框'), ('column', '列框'), ('char', '字框'), ('order', '字序')] %}
                  <button type="button" class="btn btn-default btn-sm show-{{type}}-box">{{text}}</button>
                  {% end %}
                </span>
              </div>
            </div>
            <div class="right {{'' if page_text else 'hide'}}">
              <div class="txt-btns">
                <div class="btn-txt btn-font-enlarge" title="增加字号">A+</div>
                <div class="btn-txt btn-font-reduce" title="减少字号">A-</div>
              </div>
            </div>
          </div>
        </div>

        <div class="content">
          <!-- 左侧图片区域 -->
          <div class="content-left">
            <div id="page-picture" class="page-picture">
              {% if page %}
              <div id="holder"></div>
              {% else %}
              <img src="{{img_url}}" style="width: 100%"/>
              {% end %}
            </div>
          </div>
          <!-- 右侧文字区域 -->
          <div class="content-right {{'' if page_text else 'hide'}}">
            <div class="page-text">
              {% for p in page_text.split('|') %}
              <p>{{p}}</p>
              {% end %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- 根据字段检索经名 -->
<div class="panel-body">
  <div id="sutraNavModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="choose-pages" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">经籍检索</h4>
        </div>
        <div class="modal-body">
          <!-- sutra_code/sutra_name/due_reel_count/existed_reel_count/start_volume/start_page/end_volume/end_page-->
          <table id="my-sutra-table" class="table my-sutra-table" style="width: 100%">
            <thead>
            <tr>
              <th style="width: 45px">经号</th>
              <th>经名</th>
              <th>应存卷数</th>
              <th>实存卷数</th>
              <th>起始册</th>
              <th>起始页</th>
              <th>终止册</th>
              <th>终止页</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% include _base_js.html %}
{% include _cut_base.html %}
<script src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
<script src="{{static_url('js/meta/%s-sutra.js' % tripitaka_code)}}"></script>
<script src="{{static_url('js/meta/%s-volume.js' % tripitaka_code)}}"></script>
<script src="{{static_url('js/tripitaka.js')}}"></script>

{% if page %}
<script>
  $.cut.create({
    readonly: true,
    name: 't_{{page["name"]}}',
    width: '{{page["width"]}}',
    height: '{{page["height"]}}',
    holder: 'holder',
    scrollContainer: '.content-left',
    image: "{{img_url}}",
    chars: '{{page["chars"]}}'
  });
  $.cut.bindKeys();
</script>
{% end %}

</body>
</html>