<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>{{tripitaka.get('name')}}</title>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="{{ static_url('assets/modal-effect/css/component.css') }}" rel="stylesheet">
  <link href="{{ static_url('css/tripitaka.css') }}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

</head>

<style>
  .modal-body textarea {
    display: inline-block;
  }

  .page-picture img {
    width: 100%;
  }

  .page-text {
    font-size: 18px;
    line-height: 1.5em;
  }

  .page-text .num {
    background: #ebebeb;
    display: inline-block;
    min-width: 32px;
    text-align: right;
    padding-right: 10px;
    font-style: italic;
  }

  .page-text .txt {
    margin-left: 10px;
  }

  rect.box {
    display: none;
  }

  text tspan {
    fill: #f00;
  }

  #txtModal .modal-body {
    display: flex;
  }

  #txtModal textarea {
    flex: 1;
    font-size: 1.2em;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 8px;
  }

  #pic-right {
    right: 0;
  }

  #holder svg {
    display: block;
    margin: 0 auto;
  }
</style>

<body>
<div class="app-main">
  <div class="main">
    <div class="main-content flex-content {{'sutra-mode' if '经' in tripitaka['store_pattern'] else ''}}">
      <div class="main-left slim-scroll" id="left-menu">
        <div class="main-left-menu">
          <div class="menu-search-wrapper">
            <input class="menu-search-input" type="text" placeholder="回车或点击按钮进行检索"/>
            <img class="menu-search-btn" src="{{ static_url('imgs/icon13.png') }}"/>
          </div>
          <ul class="menu" id="side-menu">
          </ul>
        </div>
      </div>
      <div class="main-right" id="main-right">
        <!-- 顶部导航 -->
        <div class="m-header">
          <div class="header-line main-line">
            <div class="left">
              <div id="toggle-menu">
                <img class="btn-img" src="{{ static_url('imgs/icon_toggle.png') }}"/>
              </div>
              <div class="title">{{tripitaka.get('name')}}</div>
              <div class="btn-group">
                <img src="{{ static_url('imgs/icon_hlp.png') }}" class="btn-img" data-toggle="modal" data-target="#helpModal" title="帮助"/>
                <img src="{{ static_url('imgs/icon_hme.png') }}" class="btn-img" title="首页" onclick="javascript:location='/tripitakas';"/>
                <img src="{{ static_url('imgs/icon_panel.png') }}" class="btn-img" data-toggle="modal" data-target="#sutraNavModal" title="经目查询"/>
                <img src="{{ static_url('imgs/icon_pic.png') }}" class="btn-img active" id="toggle-left" title="显隐图片"/>
                <img src="{{ static_url('imgs/icon_txt.png') }}" class="btn-img active" id="toggle-text" title="显隐文字"/>
                <img src="{{ static_url('imgs/icon_txts.png') }}" class="btn-img" data-toggle="modal" data-target="#txtModal" title="显示文本"/>
                <img src="{{ static_url('imgs/icon_zoom1.png') }}" class="btn-img" id="zoom-out" title="放大"/>
                <img src="{{ static_url('imgs/icon_zoom0.png') }}" class="btn-img" id="zoom-reset" title="原始"/>
                <img src="{{ static_url('imgs/icon_zoom2.png') }}" class="btn-img" id="zoom-in" title="缩小"/>
              </div>
              <div class="btn-group m-pager" style="padding: 0 5px">
                <input id="cur-volume" type="hidden" value="{{nav.get('cur_volume')}}">
                <div class="btn-page first{{'' if nav.get('first') else ' hide'}}" title="{{nav.get('first')}}">首页</div>
                <div class="btn-page prev{{'' if nav.get('prev') else ' hide'}}" title="{{nav.get('prev')}}"><</div>
                <div class="btn-page to">
                  <input type="text" title="{{nav.get('cur_page')}}" value="{{nav.get('cur_page').split('_')[-1]}}"/>
                  <span class="tips{{'' if nav.get('last') else ' hide'}}">/ {{nav.get('last').split('_')[-1]}}</span>
                </div>
                <div class="btn-page next{{'' if nav.get('next') else ' hide'}}" title="{{nav.get('next')}}">></div>
                <div class="btn-page last{{'' if nav.get('last') else ' hide'}}" title="{{nav.get('last')}}">末页</div>
              </div>
              <div class="btn-group{{'' if page else ' hide'}}">
                <img src="{{ static_url('imgs/icon_more.png') }}" class="btn-img" id="toggle-more" title="更多"/>
                <span class="btn-group right hidden" id="more-group">
                  <button type="button" class="btn btn-default btn-sm" id="toggle-image">图片</button>
                  <button type="button" class="btn btn-default btn-sm" id="toggle-block">栏框</button>
                  <button type="button" class="btn btn-default btn-sm" id="toggle-column">列框</button>
                  <button type="button" class="btn btn-default btn-sm" id="toggle-char">字框</button>
                  <button type="button" class="btn btn-default btn-sm" id="toggle-char-no">字序</button>
                </span>
              </div>
            </div>
            <div class="btn-group right{{'' if page_text else ' hide'}}">
              <div class="btn-txt" id="enlarge-font" title="增加字号">A+</div>
              <div class="btn-txt" id="reduce-font" title="减少字号">A-</div>
            </div>
          </div>
        </div>
        <div class="content">
          <!-- 左侧图片区域 -->
          <div class="content-left" id="left-region">
            <img class="pic-nav" id="pic-left" src="{{ static_url('imgs/icon_left.png') }}"/>
            <img class="pic-nav" id="pic-right" src="{{ static_url('imgs/icon_right.png') }}"/>
            <div id="page-picture" class="page-picture">
              {% if page %}
              <div id="holder"></div>
              {% else %}
              <img src="{{img_url}}" style="width: 100%"/>
              {% end %}
            </div>
          </div>
          <!-- 右侧文字区域 -->
          <div class="content-right {{'' if page_text else 'hide'}}" id="right-region">
            <div class="page-text sutra-text">
              {% import re %}
              {% for n, txt in enumerate(re.split(r'[\n|]', page_text)) %}
              <div>
                <span class="num">{{n+1}}</span>
                <span class="txt">{{txt}}</span></div>
              {% end %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modals">
  <div id="sutraNavModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="choose-pages" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">经目检索 <span id="current-sutra"></span>
          </h4>
        </div>
        <div class="modal-body">
          <!-- sutra_code/sutra_name/due_reel_count/existed_reel_count/start_volume/start_page/end_volume/end_page-->
          <table id="my-sutra-table" class="table my-sutra-table" style="width: 100%">
            <thead>
            <tr>
              <th style="width: 45px">经号</th>
              <th>经名</th>
              <th>应存卷数</th>
              <th>实存卷数</th>
              <th>起始册</th>
              <th>起始页</th>
              <th>终止册</th>
              <th>终止页</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="txtModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="txtModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        {% if page %}
        <div class="modal-header">
          <div class="btn-group" role="group">
            <button class="btn btn-txt btn-default{{'' if page.get('ocr') else ' hide'}}" id="show-ocr">OCR</button>
            <button class="btn btn-txt btn-default{{'' if page.get('ocr_col') else ' hide'}}" id="show-ocr-col">列OCR</button>
            <button class="btn btn-txt btn-default{{'' if page.get('text') else ' hide'}}" id="show-text">校对文本</button>
            <button class="btn btn-txt btn-default{{'' if page.get('text') else ' hide'}}" id="show-all">所有</button>
          </div>
        </div>
        <div class="modal-body">
          <textarea id="ocr" class="{{'' if page.get('ocr') else ' hide'}}" rows="26" readonly>{{(page.get('ocr') or '').replace('|', '\n')}}</textarea>
          <textarea id="ocr-col" class="{{'' if page.get('ocr_col') else ' hide'}}" rows="26" readonly>{{(page.get('ocr_col') or '').replace('|', '\n')}}</textarea>
          <textarea id="text" class="{{'' if page.get('text') else ' hide'}}" rows="26" readonly>{{(page.get('text') or '').replace('|', '\n')}}</textarea>
        </div>
        {% else %}
        <div style="margin-top: 10px; text-align: center">暂无文本</div>
        {% end %}
      </div>
    </div>
  </div>

  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModal"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">帮助文档<a class="more-help" href="#">更多</a></h4>
        </div>
        <div class="modal-body">
          <div class="title">一、页面功能</div>
          <div class="intro">
            本页面提供古籍图片数据的阅读功能，包含图片、栏框、列框、字框、OCR文本、校对文本等。
          </div>
          <div class="title">二、功能按钮</div>
          <table class="table" id="button-desc">
            <tr>
              <td><img src="{{ static_url('imgs/icon_toggle.png') }}"/></td>
              <td>显示或隐藏目录导航。注意，系统会记住当前状态，下次自动显示或隐藏</span></td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_hme.png')}}"/></td>
              <td>回到藏经列表页面</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_panel.png')}}"/></td>
              <td>打开经目检索面板，可以针对经名、作译者等著录项目进行检索</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_pic.png')}}"/></td>
              <td>显示或隐藏图片区域</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_txt.png')}}"/></td>
              <td>显示或隐藏文本区域。注意，系统会记住当前状态，下次自动显示或隐藏</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_txts.png')}}"/></td>
              <td>打开文本显示面板，该面板将展示OCR和校对结果等文本</td>
            </tr>
            <tr>
              <td><img src="{{static_url('imgs/icon_more.png')}}"/></td>
              <td>更多操作，包括显示或隐藏图片、栏框、列框、字框、字序等</td>
            </tr>
          </table>
          <div class="title">三、快捷键</div>
          <table class="table" id="hot-key">
            <tr>
              <td>shift + ←</td>
              <td>向前翻页</span></td>
            </tr>
            <tr>
              <td>shift + →</td>
              <td>向后翻页</span></td>
            </tr>
            <tr>
              <td>1/2/3/4/5</td>
              <td>图片放大1~5倍</span></td>
            </tr>
            <tr>
              <td>6/7/8/9</td>
              <td>图片缩小至60%~90%</span></td>
            </tr>
          </table>
          <div class="title">四、相关说明</div>
          <div class="intro">
            系统将记住左侧目录和右侧文本的打开或关闭状态，从而使得阅读界面可以有多种阅读模式，
            比如纯粹的图片阅读模式，或者图文混合阅读模式等。<br/>
            目录导航显示图片的物理存储结构，经目检索显示图片的经、卷等逻辑结构。<br/>
            向前或向后翻页，有多种方式：1. 点击导航条中的翻页按钮；2. 点击图片左右两侧的翻页按钮；
            3. 通过键盘的左右方向键翻页。<br/>
            顶部页面导航中，直接输入页码后回车，即可跳转到该页。<br/>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% include _base_js.html %}
{% include _base_cut.html %}
<script src="{{static_url('js/meta/%s-sutra.js' % tripitaka_code)}}"></script>
<script src="{{static_url('js/meta/%s-volume.js' % tripitaka_code)}}"></script>
<script src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
<script src="{{static_url('js/nav.js') }}"></script>
<script src="{{static_url('js/tripitaka.js')}}"></script>
<script src="{{static_url('js/cut/char_order.js') }}"></script>

{% if page %}
<script>
  function initBoxes(boxesStr, className) {
    var boxes = decodeJSON(boxesStr);
    for (var i = 0; i < boxes.length; i++) {
      boxes[i]['class'] = className;
    }
    return boxes;
  }

  var chars = initBoxes('{{page.get("chars", [])}}', 'char');
  var columns = initBoxes('{{page.get("columns", [])}}', 'column');
  var blocks = initBoxes('{{page.get("blocks", [])}}', 'block');

  $.cut.create({
    readonly: true,
    scrollContainer: '#page-picture',
    name: '{{page["name"]}}',
    width: '{{page["width"]}}',
    height: '{{page["height"]}}',
    holder: 'holder',
    image: '{{img_url}}',
    chars: chars.concat(columns).concat(blocks)
  });
  $.cut.switchCurrentBox(null);
  $.cut.bindKeys();
  $.cut.bindCharOrderKeys();
  $.cut.addCharOrderLinks(null);

  $.cut.state.canHitBox = function (el) {
    var cls = el.data('class');
    if ($('#toggle-char').hasClass('active') && cls === 'char') {
      return true;
    }
    if ($('#toggle-column').hasClass('active') && cls === 'column') {
      return true;
    }
    if ($('#toggle-block').hasClass('active') && cls === 'block') {
      return true;
    }
  };

  $('rect.block').css('display', 'none');
  $('rect.column').css('display', 'none');
  $('rect.char').css('display', 'none');


</script>
{% end %}

</body>
</html>