<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>个人中心</title>
  {% include com/_base_css.html %}
  <link href="{{static_url('css/helper.css')}}" rel="stylesheet"/>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body class="widescreen">
<div class="app-main">
  <div class="main">
    {% module ComLeft() %}
    <div class="main-content">
      {% module ComHead() %}
      <div class="layout">
        <div class="wrapper">
          <div class="panel panel-default" style="height: unset;padding-bottom: 10px">
            <div class="panel-heading">
              <h3 class="panel-title">个人中心</h3>
            </div>
            <div class="panel-body">
              <form class="form-horizontal" role="form">
                <br/>
                <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="profile-info-name">
                    {% set user = current_user %}
                    {% set ava = 'imgs/ava%s.png' % {'男':'1','女':'2','':'3'}.get(user.get('gender', '')) %}
                    <img src="{{static_url(user.get('img') or ava)}}" class="thumb-lg img-circle img-thumbnail" onclick="uploadImg()">
                    <a href="javascript:uploadImg();" style="vertical-align:bottom;">上传头像</a>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">姓名</label>
                  <div class="col-sm-5">
                    <input type="text" id="name" class="form-control" value="{{user.get('name') or ''}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">手机</label>
                  <div class="col-sm-5">
                    <input type="text" id="phone" class="form-control" value="{{user.get('phone') or ''}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">邮箱</label>
                  <div class="col-sm-5">
                    <input type="text" id="email" class="form-control" value="{{user.get('email') or ''}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">性别</label>
                  <div class="col-sm-5">
                    <select id="gender" class="form-control">
                      <option {{
                      "selected" if not user.get('gender') else '' }}></option>
                      <option {{
                      "selected" if user.get('gender')=='男' else '' }}>男</option>
                      <option {{
                      "selected" if user.get('gender')=='女' else '' }}>女</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-5">
                    <a class="btn btn-primary btn-block" onclick="saveProfile()">保存</a>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-5">
                    <a class="btn btn-block btn-warning" onclick="changePwd()">修改密码</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-body">
  <div id="updateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">修改密码</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">原密码</label>
              <div class="col-md-10">
                <input type="password" class="form-control" value="" id="old_password">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">新密码</label>
              <div class="col-md-10">
                <input type="password" class="form-control" value="" id="password">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">确认密码</label>
              <div class="col-md-10">
                <input type="password" class="form-control" value="" id="confirm_password">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
        </div>
      </div>
    </div>
  </div>

  <div id="uploadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="uploadImg" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">上传头像</h4>
        </div>
        <div class="modal-body">
          <form id="myform" enctype="multipart/form-data">
            <i>选择上传的头像图片，大小不超过1MB</i>
            <input type="file" class="form-control" id="upload" name="img" accept="image/*" style="padding:4px 4px">
            <br/>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary waves-effect waves-light modal-confirm">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% include com/_base_js.html %}

<script type="text/javascript">
  // 修改个人信息
  function saveProfile() {
    let info = {gender: $('#gender').val(), name: $('#name').val(), phone: $('#phone').val(), email: $('#email').val()};
    postApi('/user/my/profile', {data: info}, function () {
      showSuccess('成功', $('#name').val() + ' 的个人信息已修改', 2000);
      location.reload();
    }, function (err) {
      if (err.code === 1009) {
        showSuccess('修改成功', '个人信息没有发生改变', 2000);
      }
      showError('修改失败', err.message, 3000);
    });
  }

  // 弹框提示密码修改
  function changePwd(name) {
    $('#updateModal').modal('show');
  }

  // 提交密码修改
  $("#updateModal .modal-confirm").click(function () {
    let password = $('#password').val().trim();
    let oldPassword = $('#old_password').val().trim();
    let confirmPassword = $('#confirm_password').val().trim();
    if (password !== confirmPassword) {
      return showError('请重新输入', '两次密码不一致', 3000);
    }
    postApi('/user/my/pwd', {data: {old_password: oldPassword, password: password}}, function () {
      showSuccess('修改成功', $('#name').val() + ' 的密码已修改', 2000);
    }, function (err) {
      if (err.code === 1009) {
        showSuccess('修改成功', '密码没有发生改变', 2000);
        $('#updateModal').modal('hide');
      } else {
        showError('修改失败', err.message, 3000);
      }
    });
  });

  // 弹出上传用户头像提示框
  function uploadImg() {
    $('#uploadModal').modal('show');
  }

  // 上传用户头像
  $("#uploadModal .modal-confirm").click(function () {
    if (typeof $('#upload')[0].files[0] == "undefined") {
      return showTips('提示', '请选择图片', 3000);
    }
    let imgFile = $('#upload')[0].files[0];
    let imgStr = /\.(jpg|jpeg|png|bmp|BMP|JPG|PNG|JPEG)$/;
    if (!imgStr.test(imgFile.name)) {
      return showTips('提示', '文件不是图片类型', 3000);
    }
    if (imgFile.size > (1024 * 1024)) {
      return showTips('提示', '文件大小不能超过1M', 3000);
    }
    let formData = new FormData();
    formData.append('img', imgFile);
    postFile('/user/my/avatar', formData, function () {
      window.location.reload();
    });
    $('#uploadModal').modal('hide');
  });

</script>

</body>

</html>
