{% extends "com/_list.html" %}

{% block custom-js %}
<script>
  $('.btn-reset-pwd').click(function () {
    var id = $(this).parent().parent().attr('id');
    var user = getData(id);
    showConfirm("确定重置" + user.name + "吗？", "重置后无法恢复！", function () {
      postApi('/user/admin/reset_pwd', {data: {_id: user._id}}, function (res) {
        showTips('重置成功', '新密码是 <b>' + res.password + '</b><br>请转告用此密码登录，然后修改密码。');
      }, function (err) {
        showError('重置失败', err.message);
      });
    });
  });
</script>
{% end %}
