:root {
  --White: #fff;
  --Black: #000;
  --Color_333: #333;
  --Brown: #eab977;
  --Brown_Dark: #cb9b66;
  --Brown_Darker: #b68856;
  --Brown_Line: #9b744b;
  --Grey: #9e9e9e;
  --Grey_Light: #cfcfcf;
  --Grey_Lighter: #fafafa;
  --Grey_Middle: #b7b7b6;
  --Grey_Dark: #6a6a77;
  --Grey_Line: #ebebeb;
  --Grey_Content: #f2f5fa;
  --Grey_Content1: #f1f3f4;
  --Grey_Content2: #fafafa;

}

body, html {
  height: 100%;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, textarea, p, blockquote, th, td, span {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: url(../imgs/fbg.png) repeat;
  font-family: Microsoft YaHei, SimSun, sans-serif, Helvetica Neue, Helvetica;
}

img {
  vertical-align: top;
}

input, textarea {
  outline: none
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

em {
  font-style: normal;
}

a, input, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

input::-ms-clear {
  display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: var(--Color_333);
  text-decoration: none;
}

a:hover, a:visited, a:focus {
  color: var(--Color_333);
}

.clearfix:after {
  content: '.';
  display: block;
  width: 0;
  visibility: hidden;
  height: 0;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.invisible {
  visibility: hidden
}

.app-main {
  width: 100%;
  height: 100%;
}

.sidebar-menu {
  width: 200px;
  height: 100%;
  background: var(--Brown_Dark);
  position: fixed;
  color: var(--Color_333);
  z-index: 2;
}

.sidebar-menu.collapse {
  width: 0;
}

.slimScrollDiv > * {
  overflow: hidden;
}

.menu-item a, .menu-item a:hover {
  color: var(--Color_333);
}

.main {
  float: left;
  width: 100%;
  height: 100%;
}

.main .logo-con {
  height: 56px;
  text-align: center;
  background-color: var(--Grey_Light);
}

.logo-con img {
  width: 160px;
  margin-top: 8px;

}

.logo-con .mini {
  width: 36px;
  height: 36px;
  display: none;
}

.main .main-menu {
  padding: 30px 0 30px 17px;
  position: relative;
  font-size: 15px;
}

.main-menu > li {
  line-height: 36px;
  color: var(--Color_333);
  margin-right: 12px;
  width: 100%;
}

.main-menu > li.menu-item {
  border-bottom: 1px dashed rgba(228, 195, 168, 0.26);
  margin-right: 12px;
  width: 100%;
}

.main-menu .menu-title, .main-menu .leaf {
  display: block;
}

.main-menu .menu-title:hover {
  background: var(--Brown);
}

.main-menu .active {
  background-color: var(--Brown);
}

.main-menu .sub-title {
  border-bottom: 1px dashed rgba(228, 195, 168, 0.26);
  padding-left: 5px;
}

.main-menu .sub-title:hover {
  cursor: pointer;
  background: var(--Brown);
}

.main-menu .sub-ul li {
  margin-left: 18px;
}

.main-menu .sub-ul li:hover {
  background-color: var(--Brown);
}

.main-menu .sub-ul li .sub-img {
  margin-top: 13px;
}

.main-menu .sub-ul .sub-active {
  background: var(--Brown);
}

.main-header {
  height: 56px;
  line-height: 56px;
  background: transparent;
  padding-left: 200px;
}

.main-header-left {
  padding-left: 10px;
}

.main-header-left .title span:first-child {
  margin-right: 12px;
}

.main-header-left .title span:first-child img {
  margin-top: 18px;
}

.main-header-left .title span:last-child img {
  margin-top: 10px;
}

.main-header-left .line {
  width: 248px;
  height: 1px;
  background: #000;
}

.ivu-row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header-right {
  padding-right: 17px;
}

.main-header-right .welcome {
  color: #232323;
  font-size: 14px;
  margin-right: 33px;
}

.main-header-right span img {
  margin: 20px 10px 0;
}

.main .main-content {
  background: #f4f4f4 url(../imgs/bg.png) no-repeat !important;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.main-content .layout {
  background: none;
  z-index: 1;
  transition: left .3s;
  margin-left: 200px;
  height: calc(100% - 56px);
}

.wrapper {
  margin: 10px;
  height: 100%;
  min-height: 200px;
  padding: 5px;
}

.sub-ul-hidden {
  display: none;
}

.pagers {
  margin: 20px 0 0;
  text-align: center;
}

.pagers img {
  margin-top: -12px;
  width: 150px;
  height: 46px;
  display: inline-block;
}

.pagers span {
  color: #333;
  font-size: 14px;
  line-height: 36px;
  margin-right: 15px;
}

.pagers span em {
  color: #f56558;
}

.pagers ul {
  display: inline-block;
  /* 消除display:inline-block产生的间隙 */
  font-size: 0;
  margin-bottom: 0;
}

.pagers ul li {
  height: 32px;
  /*background: #fff;*/
  color: #4e4e4e;
  font-size: 14px;
  line-height: 32px;
  margin-right: -1px;
  display: inline-flex;
  /*border: 1px solid #d3dae7;*/
}

.pagers ul li input {
  width: 45px;
  height: 20px;
  padding: 0 3px;
  margin: auto 5px;
  border: 1px solid #ccc;
  background: transparent;
}

.pagers li.active a {
  background: #b8906f;
  color: #FFFFFF;
}

.pagers li a {
  cursor: pointer;
  color: #4e4e4e;
  padding: 0 12px;
}

.pagers li a:hover {
  color: #000000;
}

.pagers ul li:last-child {
  padding: 0 10px;
}

.pagers .page-size {
  border: none;
  background-color: transparent;
}

.sub-ul-hidden {
  display: none;
}

.operation .btn-img {
  width: 22px;
  height: 22px;
}

.sty-list {
  margin-bottom: 20px;
}

.sty-list .search {
  position: relative;
  top: -20px;
}

.sty-list .search input {
  display: inline-block;
  border: 0 none;
  border-bottom: 1px solid #cca78a;
  background: none;
  width: 305px;
  height: 28px;
  padding-left: 20px;
}

.sty-list .search i {
  position: absolute;
  top: 5px;
  left: 0;
  background: url(../imgs/search-icon.png) no-repeat;
  width: 15px;
  height: 17px;
}

.sty-list .operation span {
  display: block;
  float: left;
  height: 32px;
  padding: 0 20px;
  background: #b8906f;
  border-radius: 3px;
  text-align: center;
  line-height: 32px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.sty-list .sty-table {
  border-spacing: 0 10px;
  border-collapse: separate;
  margin-top: 30px;
  width: 99.99%;
  text-align: left;
}

.sty-table th {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.sty-table td {
  font-size: 14px;
  color: #13171c;
  text-align: center;
  word-break: break-all;
}

.sty-table a {
  cursor: pointer;
}

.sty-table td a {
  color: #B8906F;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
}

.sty-table td a:hover {
  color: #b33c2b;
}

.sty-table a.disabled, .sty-table a.disabled:hover {
  color: #797979;
  cursor: not-allowed
}

.sty-table td.action a {
  font-size: 12px;
  margin-left: 2px;
}

.sty-table .action {
  color: #B8906F !important;
  cursor: pointer;
  font-size: 12px;
}

.sty-table .action:hover {
  color: #b33c2b !important;
  cursor: pointer;
  font-size: 12px;
}

.sty-table tbody tr {
  background: rgba(255, 255, 255, 0.85);
  height: 44px;
  border: 1px solid #ebebeb;
}

.sty-table td span {
  display: inline-block;
  width: 70px;
  height: 32px;
  background: #b8906f;
  border-radius: 3px;
  text-align: center;
  line-height: 32px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.sty-table td.status_none {
  color: #999;
}

.sty-table td.status_pending {
  color: #666;
}

.sty-table td.status_ended {
  color: #0f0;
}

.sty-table td.status_opened {
  color: #007;
}

.sty-table .sort {
  cursor: pointer;
}

.open > .dropdown-menu {
  min-width: 96px;
}

.dropdown-menu > li > a {
  padding: 5px 20px;
}

.operation .dropdown-menu > li > a {
  padding: 0 20px;
}

.dropdown-menu .divider:last-child {
  display: none;
}

.modal-body .progress-lg {
  margin-top: 20px;
}

.single-page-con .modal {
  padding: 0;
}

.preview-img {
  width: 60%;
  float: left;
}

.preview-img img {
  width: 100%;
}

.preview-text {
  float: left;
  width: 40%;
  padding: 20px;
}

.modal-footer .pagers {
  margin: 20px 0;
}

.ion-arrow-down-b:before {
  transition: all 0.3s ease-in-out;
}

.sort.active {
  color: #317EEB;
}

.ion-arrow-down-b.toggle:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
  color: #317EEB;
}

.table-wrapper {
  position: relative;
}

.single-page-con.enlarge {
  margin-left: 0;
}

.main-header.enlarge {
  padding-left: 0;
}

.ajax-error {
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #faebcc;
  color: #8a6d3b;
  background-color: #fcf8e3;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  height: auto;
  line-height: 20px;
}

.m-header {
  background: var(--Grey_Light);
  height: 40px;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  user-select: none;
  top: 0;
  right: 0;
  left: 0;
}

.m-bottom {
  position: fixed;
  bottom: 0;
  opacity: .9;
  width: 100%;
  height: 20px;
  line-height: 20px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  color: var(--Brown_Darker);
}

.m-header > div {
  flex: 0 1 auto;
  position: relative;
  vertical-align: middle;
}

.m-header .left {
  float: left;
  margin-left: 12px;
}

.m-header .center {
  flex: 1 1 auto;
  margin-left: 10px;
}

.m-header .right {
  float: right;
}

.m-header .help img {
  margin-right: 20px;
  margin-top: 8px;
  width: 18px;
  height: 18px;
}

.m-header .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--Color_333);
}

.m-header .sub-title {
  font-size: 0.8em;
  display: inline-block;
  float: initial;
  font-weight: 400;
}

.m-header .m-pager {
  color: var(--Brown_Darker);
}

.m-header .tips {
  margin: 0 5px;
}

.m-header .btn-group {
}

.m-header .btn-img {
  width: 20px;
  height: 20px;
  margin: 10px 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.m-header .btn-img:hover {
  transform: scale(1.2);
}

.btn-img.active, btn-txt.active {
  border: 1px solid #999;
  padding: 1px;
}

.m-header .image {
  margin-left: 40px;
}

.m-header .btn-txt {
  font-weight: 400;
  line-height: 40px;
  margin: 0 4px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  color: var(--Brown_Darker);
  transition: all 0.2s;
  cursor: pointer;
  float: none;
}

.m-header .btn-txt:hover {
  transform: scale(1.2);
}

.m-header .btn-gap {
  width: 0;
  height: 36px;
  padding: 1px 1px 0 0;
  background-color: var(--Brown_Dark);
  margin: 1px 1px;
  float: initial;
}

.m-header .font {
  font-size: 18px;
  margin-top: 3px;
  margin-left: 20px;
  margin-right: 10px;
}

.m-header .font div {
  padding: 3px 5px;
  color: var(--Brown_Darker);
  font-weight: 500;
}

.m-header .font-reduce {
  border: 0 solid var(--Brown_Darker);
  border-radius: 15px 0 0 15px;
  cursor: pointer;
}

.m-header .font-current {
  border-top: 0 solid var(--Brown_Darker);
  border-bottom: 0 solid var(--Brown_Darker);
  width: 24px;
}

.m-header .font-enlarge {
  border: 0 solid var(--Brown_Darker);
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.m-header .font-reduce > a, .font-enlarge > a {
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.m-header .btn-empty-place {
  width: 0;
  padding: 0 4px;
  font-size: 20px;
  line-height: 20px;
  background-color: #b68856;
  margin: 10px 4px;
}

.flex-content {
  width: 100%;
  display: flex;
}

.full-bd {
  height: 100%;
  padding-top: 40px;
}

.full-bd .bd {
  flex: 1;
  height: 100%;
  overflow: auto;
}

.modal {
  padding: 0;
}

.modal .modal-dialog {
  width: 680px;
}

.modal-radio, .modal-select, .modal-checkbox {
  margin-top: 6px !important;
  background: transparent;
}

.modal-radio input[type='radio'] {
  margin: 7px 5px 0 15px;
}

.modal-radio input[type='radio']:first-child {
  margin-left: 0;
}

.modal .modal-title {
  font-size: 1.1em;
}

.modal .title {
  font-size: 1.1em;
  font-weight: 400;
  margin: 10px 0;
}

.modal a.more-help {
  color: var(--Brown_Dark);
  margin-left: 10px;
  text-decoration: underline;
  font-size: 12px;
}

.modal img {
  width: 20px;
}

.modal textarea {
  min-height: 100px;
}

.modal tr > td:first-child {
  width: 120px;
  color: var(--Brown_Darker);
}

.modal .btn-empty-place {
  margin: 0;
  padding: 5px 0;
  font-size: 6px;
  height: 20px;
  background-color: #b68856;
}

.modal .intro {
  display: block;
  margin-left: 8px;
  color: #797979;
  margin-bottom: 5px;
  list-style-type: initial;
  line-height: 24px;
}

.modal .intro a {
  color: var(--Brown_Dark);
  text-decoration: underline;
}

.modal td {
  word-break: break-all;
}

.modal .btn-sm {
  padding: 3px 6px !important;
  margin-left: -6px;
}

.sweet-alert h2 {
  font-size: 22px;
  font-weight: 500;
}

.sweet-alert p {
  font-size: 16px;
  font-weight: 400;
}

.sweet-alert a {
  color: var(--Brown_Dark);
}

.sweet-alert .message {
  text-align: left;
  word-break: break-all;
}

.sweet-alert .tips {
  width: 100%;
}

.sweet-alert .tips li {
  font-weight: normal;
  display: flex;
  justify-content: center;
}

.sweet-alert .tips li span {
  flex: 1;
  display: inline-block;
  text-align: left;
}

.sweet-alert .tips li span.head {
  flex: 1;
  text-align: right;
  padding-right: 20px;
}

.swal2-file:focus, .swal2-input:focus, .swal2-textarea:focus {
    outline: 0;
    border: 1px solid var(--Brown_Dark);
    box-shadow: 0 0 3px var(--Brown);
}