:root {
  --White: #fff;
  --Black: #000;
  --Color_333: #333;
  --Brown: #eab977;
  --Brown_Dark: #cb9b66;
  --Brown_Darker: #b68856;
  --Brown_Line: #9b744b;
  --Grey: #9e9e9e;
  --Grey_Light: #cfcfcf;
  --Grey_Lighter: #e3e4e5;
  --Grey_Middle: #b7b7b6;
  --Grey_Dark: #6a6a77;
  --Grey_Line: #ebebeb;
  --Grey_Content: #f2f5fa;
  --Grey_Content1: #f1f3f4;
  --Grey_Content2: #fafafa;

}

body, html {
  height: 100%;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, textarea, p, blockquote, th, td, span {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: url(../imgs/fbg.png) repeat;
  font-family: Microsoft YaHei, SimSun, sans-serif, Helvetica Neue, Helvetica;
}

img {
  vertical-align: top;
}

input, textarea {
  outline: none
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

em {
  font-style: normal;
}

a, input, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

input::-ms-clear {
  display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: var(--Color_333);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--Color_333);
}

.clearfix:after {
  content: '.';
  display: block;
  width: 0;
  visibility: hidden;
  height: 0;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.flex {
  display: flex;
}

.invisible {
  visibility: hidden
}

body.widescreen {
  padding: auto !important;
  height: 100% !important;
}

.app-main {
  width: 100%;
  height: 100%;
}

.sidebar-menu {
  width: 200px;
  height: 100%;
  background: var(--Brown_Dark);
  position: fixed;
  color: var(--Color_333);
  z-index: 2;
}

.sidebar-menu.collapse {
  width: 0;
}

.slimScrollDiv > * {
  overflow: hidden;
}

.menu-item a, .menu-item a:hover {
  color: var(--Color_333);
}

.main {
  float: left;
  width: 100%;
  height: 100%;
}

.main .logo-con {
  height: 56px;
  text-align: center;
  background-color: var(--Grey_Light);
}

.logo-con img {
  width: 160px;
  margin-top: 8px;

}

.logo-con .mini {
  width: 36px;
  height: 36px;
  display: none;
}

.main .main-menu {
  padding: 30px 0 30px 17px;
  position: relative;
  font-size: 15px;
}

.main-menu > li {
  line-height: 36px;
  color: var(--Color_333);
  margin-right: 12px;
  width: 100%;
}

.main-menu > li.menu-item {
  border-bottom: 1px dashed rgba(228, 195, 168, 0.26);
  margin-right: 12px;
  width: 100%;
}

.menu-item i[class^="icon-"] {
  color: #333;
  font-weight: 300;
}

.menu-item .icon-subitem {
  color: #333;
  font-size: 12px;
  font-weight: 300;
}

.main-menu .menu-title {
  display: block;
}

.main-menu .menu-title:hover {
  background: var(--Brown);
}

.main-menu .active {
  background-color: var(--Brown);
}

.main-menu .sub-title {
  border-bottom: 1px dashed rgba(228, 195, 168, 0.26);
  padding-left: 5px;
}

.main-menu .sub-title:hover {
  cursor: pointer;
  background: var(--Brown);
}

.main-menu .sub-ul li {
  margin-left: 18px;
}

.main-menu .sub-ul li:hover {
  background-color: var(--Brown);
}

.main-menu .sub-ul li .sub-img {
  margin-top: 13px;
}

.main-menu .sub-ul .sub-active {
  background: var(--Brown);
}

.main-menu .sub-ul-hidden {
  display: none;
}

.main-header {
  height: 56px;
  line-height: 56px;
  background: transparent;
  padding-left: 200px;
}

.main-header-left {
  padding-left: 10px;
}

.main-header-left .title span:first-child {
  margin-right: 12px;
}

.main-header-left .title span:first-child img {
  margin-top: 18px;
}

.main-header-left .title span:last-child img {
  margin-top: 10px;
}

.main-header-left .line {
  width: 248px;
  height: 1px;
  background: #000;
}

.ivu-row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header-right {
  padding-right: 17px;
}

.main-header-right .welcome {
  color: #232323;
  font-size: 14px;
  margin-right: 33px;
}

.main-header-right .logout {
  color: #777;
  font-size: 22px;
  margin-left: 5px;
  cursor: pointer;
}

.main .main-content {
  background: #f4f4f4 url(../imgs/bg.png) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.main-content .layout {
  background: none;
  z-index: 1;
  transition: left .3s;
  margin-left: 200px;
  height: calc(100% - 56px);
}

.wrapper {
  margin: 10px;
  height: 100%;
  min-height: 200px;
  padding: 5px;
}


.sty-list {
  margin-bottom: 20px;
}

.sty-list .search {
  position: relative;
  top: -20px;
}

.sty-list .search input {
  display: inline-block;
  border: 0 none;
  border-bottom: 1px solid #cca78a;
  background: none;
  width: 305px;
  height: 28px;
  padding-left: 20px;
}

.sty-list .search i {
  left: 0;
  top: 6px;
  font-size: 15px;
  position: absolute;
  color: var(--Brown_Darker);
}

.sty-list .operation span {
  display: block;
  float: left;
  height: 32px;
  padding: 0 20px;
  background: #b8906f;
  border-radius: 3px;
  text-align: center;
  line-height: 32px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.sty-list .sty-table {
  border-spacing: 0 10px;
  border-collapse: separate;
  margin-top: 30px;
  width: 99.99%;
  text-align: left;
}

.sty-table th {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.sty-table td {
  font-size: 14px;
  color: #13171c;
  text-align: center;
  word-break: break-all;
}

.sty-table a {
  cursor: pointer;
}

.sty-table td a {
  color: #B8906F;
  cursor: pointer;
  margin-left: 5px;
}

.sty-table td a:hover {
  color: #b33c2b;
}

.sty-table a.disabled, .sty-table a.disabled:hover {
  color: #797979;
  cursor: not-allowed
}

.sty-table td.action a {
  font-size: 12px;
  margin-left: 2px;
}

.sty-table .action {
  color: #B8906F !important;
  cursor: pointer;
  font-size: 12px;
}

.sty-table .action:hover {
  color: #b33c2b !important;
  cursor: pointer;
  font-size: 12px;
}

.sty-table tbody tr {
  background: rgba(255, 255, 255, 0.85);
  height: 44px;
  border: 1px solid #ebebeb;
}

.sty-table .sort {
  cursor: pointer;
}

.open > .dropdown-menu {
  min-width: 96px;
}

.dropdown-menu > li > a {
  padding: 5px 20px;
}

.operation .dropdown-menu > li > a {
  padding: 0 20px;
}

.dropdown-menu .divider:last-child {
  display: none;
}

.single-page-con .modal {
  padding: 0;
}

.ion-arrow-down-b:before {
  transition: all 0.3s ease-in-out;
}

.sort.active {
  color: #317EEB;
}

.ion-arrow-down-b.toggle:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
  color: #317EEB;
}

.pagers {
  margin: 20px 0 0;
  text-align: center;
}

.pagers img {
  margin-top: -12px;
  width: 150px;
  height: 46px;
  display: inline-block;
}

.pagers span {
  color: #333;
  font-size: 14px;
  line-height: 36px;
  margin-right: 15px;
}

.pagers span em {
  color: #f56558;
}

.pagers ul {
  display: inline-block;
  /* 消除display:inline-block产生的间隙 */
  font-size: 0;
  margin-bottom: 0;
}

.pagers ul li {
  height: 32px;
  /*background: #fff;*/
  color: #4e4e4e;
  font-size: 14px;
  line-height: 32px;
  margin-right: -1px;
  display: inline-flex;
  /*border: 1px solid #d3dae7;*/
}

.pagers ul li input {
  width: 45px;
  height: 20px;
  padding: 0 3px;
  margin: auto 5px;
  border: 1px solid #ccc;
  background: transparent;
}

.pagers li.active a {
  background: #b8906f;
  color: #FFFFFF;
}

.pagers li a {
  cursor: pointer;
  color: #4e4e4e;
  padding: 0 12px;
}

.pagers li a:hover {
  color: #000000;
}

.pagers ul li:last-child {
  padding: 0 10px;
}

.pagers .page-size {
  border: none;
  background-color: transparent;
}

.ajax-error {
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #faebcc;
  color: #8a6d3b;
  background-color: #fcf8e3;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  height: auto;
  line-height: 20px;
}

.m-header {
  top: 0;
  left: 0;
  right: 0;
  padding: 0 6px;
  position: fixed;
  background: var(--Grey_Light);
  height: 40px;
  z-index: 1000;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.m-header > div {
  margin: auto 0;
  flex: 0 1 auto;
  line-height: 40px;
  position: relative;
  display: flex;
  align-items: center;
}

.m-header .center {
  flex-grow: 1;
}

.m-header .btn-group {
  display: flex;
  align-items: center;
}

.m-header .back {
  cursor: pointer;
  font-size: 26px;
  margin-right: 6px;
  transition: all 0.2s;
}

.m-header .back:hover {
  transform: scale(1.2);
}

.m-header .title {
  font-size: 20px;
  font-weight: 500;
  margin-right: 6px;
  color: var(--Color_333);
}

.m-header .sub-title {
  font-size: 0.8em;
  display: inline-block;
  float: initial;
  font-weight: 400;
}

.m-header .dropdown-menu {
  margin-top: 10px;
  line-height: normal;
}

.dropdown-menu .menu-title {
  font-size: 14px;
  color: var(--Grey);
  text-align: center;
}

.btn-txt {
  float: none;
  width: 24px;
  height: 24px;
  padding: 2px;
  cursor: pointer;
  font-size: 20px;
  margin: auto 5px;
  font-weight: 400;
  transition: all 0.2s;
  display: inline-block;
  color: var(--Brown_Darker);
}

.btn-txt:hover {
  transform: scale(1.2);
}

.btn-txt.active {
  /*border: 1px solid #999;*/
  box-shadow: inset 0 5px 8px rgba(0, 0, 0, .125);
}

.btn-txt.disabled {
  color: #aaa;
  cursor: not-allowed;
}

.btn-nav {
  float: none;
  cursor: pointer;
  font-size: 16px;
  margin: auto 5px;
  font-weight: 400;
  transition: all 0.2s;
  display: inline-block;
  color: var(--Brown_Darker);
}

.btn-nav:hover {
  text-decoration: underline;
}

.btn-nav.active {
  color: #333;
}

.btn-line {
  width: 0;
  height: 36px;
  padding: 1px 1px 0 0;
  background-color: var(--Brown_Darker);
  margin: 1px 1px;
  float: initial;
}

.m-body {
  height: 100%;
  padding: 40px 0 20px;
}

.m-body.no-footer {
  padding-bottom: 0;
}

.m-body .bd {
  flex: 1;
  height: 100%;
  overflow: auto;
}

.m-footer {
  bottom: 0;
  opacity: .9;
  width: 100%;
  height: 20px;
  position: fixed;
  padding: 0 6px;
  line-height: 20px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  color: var(--Brown_Darker);
}

.m-footer > span {
  margin-right: 6px;
}

/* bootstrap */

.alert {
  border: 0;
}

.m-alert {
  top: 45px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: fixed;
  font-size: 14px;
  width: 600px;
}

.m-alert .close {
  font-size: 22px;
  margin-top: -3px;
}

.m-alert .loading {
  float: left;
  font-size: 16px;
  margin: 2px 5px;
}

.m-alert .title {
  margin-right: 10px;
}

.m-alert .text a {
  text-decoration: underline;
  color: var(--Brown_Darker);
}

.dropdown-menu > .active > a {
  color: #333;
  background-color: var(--Grey_Line) !important;
}

.dropdown-menu > .active > a:hover {
  color: #333;
  background-color: var(--Grey_Line);
}

.top-right {
  top: 0;
  right: 24px;
}

.modal {
  padding: 0;
}

.modal-sm {
  margin: auto;
  width: 380px;
}

.modal .item-title {
  margin: 12px 0 8px;
}

.modal .modal-title {
  font-size: 1.1em;
}

.modal div.title {
  font-size: 1.1em;
  font-weight: 400;
  margin: 10px 0;
}

.modal-radio, .modal-select, .modal-checkbox {
  margin-top: 3px !important;
  background: transparent;
}

.modal-radio input[type='radio'] {
  margin: 7px 5px 0 15px;
}

.modal-radio input[type='radio']:first-child {
  margin-left: 0;
}

.modal .tips {
  font-weight: 300;
  color: var(--Grey);
  font-style: italic;
}

.modal-footer .pagers {
  margin: 20px 0;
}

.wide-txt {
  font-family: Microsoft YaHei, SimSun, 宋体, KaiXinSong, KaiXinSongB, HanaMinA, HanaMinB, Arial, Helvetica, sans-serif;
  /*font-family: Microsoft YaHei, SimSun, sans-serif, Helvetica Neue, Helvetica, KaiXinSong;*/
}

/* 帮助文档modal */
.modal a.more-help {
  color: var(--Brown_Dark);
  margin-left: 10px;
  text-decoration: underline;
  font-size: 12px;
}

.modal img {
  width: 20px;
}

.modal-content textarea {
  min-width: 450px;
  min-height: 100px;
}

.modal tr > td:first-child {
  width: 120px;
  color: var(--Brown_Darker);
}

.modal .intro {
  display: block;
  margin-left: 8px;
  color: #797979;
  margin-bottom: 5px;
  list-style-type: initial;
  line-height: 24px;
}

.modal .intro a {
  color: var(--Brown_Dark);
  text-decoration: underline;
}

.modal td {
  word-break: break-all;
}

.modal .btn-sm {
  padding: 3px 6px !important;
  margin-left: -6px;
}

#helpModal i {
  font-size: 20px;
}

.tooltip {
  opacity: 1 !important;
}

.tooltip .tooltip-inner {
  color: #333;
  font-weight: 400;
  border-radius: 1px;
  background-color: #eee;
  box-shadow: 5px 5px 3px #888888;
  word-break: keep-all;
}

.m-body .tooltip-inner {
  font-size: 1.2em;
  text-align: left;
  word-break: break-all;
}

.tooltip .tooltip-arrow {
  /*display: none;*/
  border-bottom-color: #eee !important;
}

.checkbox-inline:first-child, .radio-inline:first-child {
  margin-left: 10px;
}

/*swal2*/
.swal2-file:focus, .swal2-input:focus, .swal2-textarea:focus {
  outline: 0;
  border: 1px solid var(--Brown_Dark);
  box-shadow: 0 0 3px var(--Brown);
}

.swal2-title {
  font-size: 1.8em;
}

.swal2-label {
  font-size: 16px;
}

.swal2-footer a {
  color: var(--Brown_Darker);
}

/*loading*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.m-footer .page-name {
  cursor: pointer;
}

.m-footer .char-name {
  cursor: pointer;
}

.page-name {
  margin-right: 10px;
}

.char-info {
  margin-left: 10px;
}