.box-holder {
  padding-left: 5px;
  width: 100% !important;
  height: 100% !important;
  overflow: auto !important;
  text-align: center !important;
}

.box-holder svg {
  margin: auto;
  cursor: crosshair;
  width: unset !important;
  height: unset !important;;
}

.box-holder .box {
  fill: white;
  fill-opacity: 0;
}

.box-holder .char,
.box-holder .column {
  cursor: default;
}

.box.odd {
  stroke: green;
  stroke-opacity: 0.7;
}

.box.even {
  stroke: blue;
  stroke-opacity: 0.7;
}

.box.hover {
  fill: red;
  fill-opacity: 0.2;
}

.box.current {
  fill: red !important;
  stroke: red !important;
  fill-opacity: 0.15 !important;
}

.show-current .current {
  display: block !important;
}

.box.edited {
  stroke: red;
  display: block;
}

.box.on-drag {
  opacity: 0.4;
  stroke: rgba(0, 255, 0, 0.6);
}

.box.dragging {
  stroke: red;
}

.box.readonly {
  stroke: rgba(192, 192, 192, 0.5);
}

.box.highlight {
  fill: #FF69B4 !important;
  fill-opacity: 0.3 !important;
  display: block !important;
}

.handle {
  stroke: red;
  /*stroke-width: 0.75;*/
}

.handle.active {
  fill: red;
  fill-opacity: 0.75;
}

.box.s-deleted { /*系统删除*/
  display: none !important;
}

/*-多选模式-*/
.multi .box.u-selected {
  fill: red;
  stroke: red;
  fill-opacity: 0.25;
}

.multi .box.dragging {
  stroke: red;
}

.multi .box.current {
  fill: red !important;
}

.multi .box.hover {
  fill-opacity: 0.15;
}

.multi .handle {
  display: none;
}

/*-显示字框蒙白、透视、大小窄扁等-*/
.shape-white .box {
  fill: white;
  fill-opacity: 1;
  stroke-opacity: 0.5 !important;
}

.shape-opacity .box {
  fill: blue;
  fill-opacity: 0.15;
  /*stroke-opacity: 0.3 !important;*/
}

.shape-flat .box.s-flat,
.shape-large .box.s-large,
.shape-small .box.s-small,
.shape-narrow .box.s-narrow,
.shape-overlap .box.s-overlap,
.shape-mayWrong .box.s-mayWrong {
  fill: blue;
  fill-opacity: 0.3;
}

/*-字框、列框、栏框-*/
.show-char .char,
.show-block .block,
.show-image .image,
.show-column .column {
  stroke-opacity: 0.9;
}

.show-all .char,
.show-all .image,
.show-all .block {
  stroke-opacity: 0.5;
}

.show-all .column {
  stroke-opacity: 0.7;
}

.hide-all .box,
.show-char .box:not(.char),
.show-block .box:not(.block),
.show-image .box:not(.image),
.show-column .box:not(.column) {
  display: none;
}

/*-框序-*/
.no {
  visibility: hidden;
}

.no.odd {
  fill: green;
}

.no.even {
  fill: blue;
}

.show-char-no .no-char,
.show-block-no .no-block,
.show-column-no .no-column {
  visibility: visible;
}

/*-框线-*/
.link {
  display: none;
}

.link.odd {
  stroke: green;
}

.link.even {
  stroke: blue;
}

.link.hover {
  stroke: red !important;
}

.link.on-drag {
  display: none !important;
}

.link.dragging {
  stroke: red;
  display: block;
}

.show-char-link .ln-char,
.show-block-link .ln-block,
.show-column-link .ln-column {
  display: block;
}

.order-mode .box {
  stroke-opacity: 0.5 !important;
}

.order-mode .box.current {
  fill: red;
  stroke: red;
  display: block;
  fill-opacity: 0.1;
  stroke-opacity: 0.7;
}

.order-mode .handle {
  display: none !important;
}

.cap {
  display: none;
}

.show-char-link .cap,
.show-block-link .cap,
.show-column-link .cap {
  display: block;
}

.cap.out {
  fill: blue;
  stroke: none;
  cursor: default;
  fill-opacity: 0.6;
}

.cap.in {
  fill: red;
  stroke: none;
  cursor: default;
  fill-opacity: 0.6;
}

/*-操作痕迹*/
.box.u-added {
  stroke: #BA55D3;
  stroke-opacity: 0.7;
}

.box.u-deleted {
  display: none;
}

.box.u-changed {
  stroke: red;
  stroke-opacity: 0.7;
}

/*--这里统一规定显示或隐藏，子类规定显示效果即可--*/
.box.hint {
  display: none;
}

.hint.h-former {
  display: none;
}

.show-hint .handle,
.show-hint .box:not(.ini-hint):not(.box-hint) {
  display: none;
}

.show-hint.show-all .hint,
.show-hint.show-char .char.hint,
.show-hint.show-block .block.hint,
.show-hint.show-column .column.hint {
  display: block !important;
}

.show-hint .hint,
.show-hint .ini-hint,
.show-hint .box-hint {
  fill: none;
  stroke: grey;
  stroke-opacity: 0.3;
}

/*--1.初始状态--*/
.init-hint .box {
  stroke-opacity: 0.7;
}

.init-hint .box.h-init {
  stroke: grey;
}

/*--2.用户、时间痕迹--*/
.user-hint .box-hint {
  display: block;
}

.user-hint .box-hint.h-added,
.user-hint .hint.h-added,
.time-hint .hint.h-added {
  stroke: #BA55D3 !important;
  stroke-opacity: 0.7 !important;
}

.user-hint .box-hint.h-deleted,
.user-hint .hint.h-deleted,
.time-hint .hint.h-deleted {
  fill: white;
  cursor: pointer;
  fill-opacity: 0;
  stroke: black !important;
  stroke-opacity: 0.7 !important;
}

.user-hint .box-hint.h-changed,
.user-hint .hint.h-changed,
.time-hint .hint.h-changed {
  stroke: red !important;
  stroke-opacity: 0.7 !important;
}

.user-hint .hint.h-former,
.time-hint .hint.h-former {
  display: block;
  stroke-dasharray: 3, 3;
  stroke: red !important;
  stroke-opacity: 0.7 !important;
}

/*--3.总的修改--*/
.box.b-deleted {
  display: none;
}

.comb-hint .handle {
  display: none;
}

.comb-hint .box {
  fill: none !important;
  stroke: grey !important;
  stroke-opacity: 0.2 !important;
}

.comb-hint .box.b-added {
  stroke: #BA55D3 !important;
  stroke-opacity: 0.7 !important;
}

.comb-hint .box.b-deleted:not(.b-added) {
  display: block !important;
  stroke: black !important;
  stroke-opacity: 0.7 !important;
}

.comb-hint .box.b-changed:not(.b-added):not(.b-deleted) {
  stroke: red !important;
  stroke-opacity: 0.7 !important;
}

/*-字框文字-*/
.txt-holder {
  height: 100%;
  overflow: auto;
  padding: 0 8px 8px 8px;
  background: var(--Grey_Content1);
  border-left: 1px solid #ddd;
}

.txt-holder .char {
  margin: 5px 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: 1px;
  word-break: break-all;
}

.txt-holder .char img {
  height: 20px;
  margin-top: -2px;
  vertical-align: middle;
}

.txt-holder .char.current-char {
  background: rgba(255, 0, 0, 0.2);
}

.txt-holder .line.current-line {
  padding-left: 4px;
  margin-left: -10px;
  border-left: 6px solid rgba(255, 0, 0, .5);
}

.txt-holder .is-diff {
  border-bottom: 1px solid grey;
}

.txt-holder .changed {
  color: red;
}
