.char-txt {
  width: 260px;
  height: 100%;
  display: flex;
  overflow: auto;
  padding: 0 5px;
  flex-direction: column;
  border-left: 1px solid #ccc;
  background: var(--Grey_Content);
  justify-content: space-between;
}

.char-txt .char-meta {
  flex-grow: 1;
  overflow: auto;
  border-bottom: 1px solid #ccc;
}

.char-txt .user-panel {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  margin-bottom: 10px;
}

.char-txt .head {
  clear: both;
  margin: 5px 0;
  font-size: 1.2em;
  font-weight: 500;
  user-select: none;
  color: var(--Color_333);
  border-bottom: 1px solid #ccc;
}

.txt-item {
  width: 42px;
  height: 55px;
  font-size: 36px;
  cursor: pointer;
  text-align: center;
  margin: 0 15px 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

.txt-item.active {
  background-color: rgba(0, 0, 0, .1);
}

.txt-item:hover {
  background-color: rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 255, .4);
}

.ocr-col {
  border-bottom: 2px solid rgba(255, 0, 0, .4);
}

.cmp-txt {
  border-bottom: 2px solid rgba(0, 255, 0, .4);
}

.meta {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #ccc;
}

.meta:last-child {
  border-bottom: none;
}

.meta label {
  color: #6a6a77;
  font-weight: 400;
  margin-right: 8px;
}

.meta span {
  word-break: break-all;
}

span.pos {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.proof .options span {
  margin-right: 8px;
}

.proof .proof-help {
  font-size: 14px;
  margin: 0 6px 0 4px;
}

.proof .radio-item {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;
  margin-left: 0 !important;
}

.proof .form-control {
  margin-top: 5px;
}

.proof .input-lg {
  font-size: 18px;
}

.toggle-info {
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
}

#txt-alternatives {
  margin-bottom: 15px;
}

#s-alert {
  margin-bottom: 0;
  padding: 7px 5px;
  display: inline-block;
  width: calc(100% - 80px);
}

#s-alert .close {
  line-height: 16px;
}