/* 导航工具*/
.filter-menu {
  width: 220px;
}

.filter-menu .input-line {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.filter-menu .input-line input {
  width: 45%;
}

.filter-menu button {
  margin: 5px;
  float: right;
}

/* 字图面板*/
.flex .char-panel {
  flex: 1;
  overflow: auto;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
}

.char-panel .txt-kinds {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  border-bottom: 1px solid #ccc;
}

.txt-kind {
  width: 45px;
  height: 55px;
  font-size: 36px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 0 12px 5px 0;
  border: 1px solid #ccc;
}

.txt-kind.current {
  background-color: rgba(0, 0, 0, .1);
}

.char-panel .char-items {
}

.char-panel .pagers {
  clear: both;
  margin: 20px 0;
}

.char-items .char-item {
  float: left;
  width: 62px;
  height: 85px;
  margin: 10px;
  cursor: pointer;
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
}

.char-item:hover {
  transform: scale(1.25);
}

.char-item.current {
  border: 1px solid red;
}

.char-item .char-img {
  height: 60px;
  display: flex;
  align-items: flex-start;
  /*align-items: center;*/
}

.char-item.proof1 {
  background: #669966;
}

.char-item.proof2 {
  background: #66CC33;
}

.char-item.proof3 {
  background: #66FF00;
}

.char-img img {
  width: 60px;
  flex-grow: 0;
  max-height: 60px;
  background: transparent;
}

.char-item .char-info {
  height: 20px;
}

.char-info span {
  margin: 0 2px;
}

/* 列图面板*/
.flex .column-panel {
  flex: 1;
  width: 120px;
  height: 100%;
  overflow: auto;
  max-width: 120px;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  justify-content: space-between;
}

.column-panel > :first-child {
  cursor: pointer;
  margin: 1px 0;
  height: calc(100% - 3px);
  overflow-y: hidden;
}

/* 工作面板*/
.flex .work-panel {
  flex: 1;
  height: 100%;
  width: 360px;
  max-width: 360px;
  background: var(--Grey_Content);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work-panel .txt-list {
  flex-grow: 1;
  overflow: auto;
  padding: 0 15px;
  border-bottom: 1px solid #ccc;
}

.work-panel .user-work {
  flex-grow: 0;
  height: 280px;
  padding: 0 15px;
}

.work-panel .head {
  clear: both;
  margin: 5px 0;
  font-size: 1.2em;
  font-weight: 500;
  user-select: none;
  border-bottom: 1px solid #ccc;
  color: var(--Color_333);
}

.txt-list .item {
  margin-bottom: 20px;
}

.txt-item {
  width: 45px;
  height: 55px;
  font-size: 36px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 0 12px 5px 0;
  border: 1px solid #ccc;
}

.txt-item.active {
  background-color: rgba(0, 0, 0, .1);
}

.txt-item:hover {
  background-color: rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 255, .4);
}

.ocr-alternatives .body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.log {
  display: flex;
  margin-bottom: 5px;
}

.log .log-head {
  flex: 1;
  text-align: left;
  max-width: 45px;
  font-size: 36px;
  margin-right: 5px;
  border-right: 1px solid #ccc;
}

.log .log-meta {
  flex: 1;
}

.log-meta label {
  font-weight: 400;
  margin-right: 5px;
  width: 60px;
  color: #6a6a77;
}

.txt-type {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.txt-type .radio-item {
  display: inline-block;
  cursor: pointer;
}

.radio-item.long {
  width: 40%;
}

.radio-item input[type=radio] {
  margin-right: 2px;
}

.proof .form-control {
  margin-top: 5px;
}

#proof-help {
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}

#s-alert {
  margin-bottom: 0;
  padding: 7px 5px;
  display: inline-block;
  width: calc(100% - 80px);
}

#s-alert .close {
  line-height: 16px;
}