.wrapper {
  margin: 0;
  padding-bottom: 0;
  height: 100%;
}

.bd-container {
  max-width: 100%;
}

.layout {
  margin: 0;
}

.s-count {
  font-size: 75%;
}

.page-name, .char-name {
  cursor: pointer;
  margin-right: 8px;
}


rect.highlight {
  fill: red;
  stroke: black;
  stroke-width: 2;
}

text tspan {
  fill: red;
}

@keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.3;
  }
  to {
    opacity: 1.0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.3;
  }
  to {
    opacity: 1.0;
  }
}

rect.flash {
  animation: fade 600ms infinite;
  -webkit-animation: fade 600ms infinite;
}

#holder {
  text-align: center;
}

#holder svg {
  margin: auto;
}
