.wrapper {
  margin: 0;
  padding-bottom: 0;
  height: 100%;
}

.bd-container {
  max-width: 100%;
}

.layout {
  margin: 0;
}

.s-count {
  font-size: 75%;
}

#holder {
  text-align: center;
}

#holder svg {
  margin: auto;
}
