.block {
  display: block;
  padding: 20px 20px 0;
  clear: both;
}

.block-head {
  padding: 5px;
  font-size: 20px;
  display: block;
  clear: both;
  background: #fff;
}

.block-head a {
  font-size: 12px;
  margin-left: 10px;
  color: #B8906F;
  cursor: pointer;
}

.info {
  width: 50%;
  float: left;
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.info.long {
  width: 100%;
  overflow: auto;
}

.info .label {
  font-weight: bold;
  font-size: 1em;
  max-width: 120px;
  text-align: left;
  color: #333;
  flex-grow: 0;
}

.info .value {
  overflow: auto;
  margin-right: 5px;
  max-height: 280px;
  display: inline-block;
  word-break: break-all;
}