.fl {
    float: left;
}

.fr {
    float: right;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.pfread {
    width: 100%;
    height: 100%;
    position: relative;
}

.pfread-in {
    padding: 15px 15px 0 15px;
}

.pfread .bd {
    overflow: auto;
    height: calc(100% - 70px);
}

.pfread .left {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background: var(--Color_Grey_Content);
}

.pfread .left .hd {
    line-height: 45px;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
}

.pfread .left .hd span i {
    top: 8px;
    display: block;
    position: relative;
    background-position: center;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.pfread .left .hd .btns {
    display: inline-block;
}

.pfread .left .hd .btns span {
    display: inline-block;
    width: auto;
    border-radius: 18px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #fff;
    font-size: 16px;
    cursor: pointer;
    color: #2e363f;
    position: relative;
}

.pfread .right {
    width: 49%;
    margin-left: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background: var(--Color_Grey_Content);

}

.pfread .right .hd {
    line-height: 45px;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
    color: #2e363f;
}

.pfread .right .hd span i {
    top: 8px;
    display: block;
    position: relative;
    background-position: center;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.pfread .right .hd .btns {
    display: inline-block;
}

.pfread .right .hd .btns span {
    display: inline-block;
    width: auto;
    border-radius: 18px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #fff;
    font-size: 16px;
    cursor: pointer;
    color: #2e363f;
    position: relative;
}

.btn-emptyplaces {
    font-size: 20px;
    width: 0;
    line-height: 24px;
    padding: 0 4px;
    background-color: var(--Color_Brown_Darker);
    margin: 8px 6px;
}

/*选择框*/

/*选择框*/
#pfread-dialog{
    display:none;
}
.pfread .pfread-dialog {


    position:relative;
    width:350px;


}

.pfread .pfread-dialog > .dlg-before {
    left: 31%;
}

.pfread .pfread-dialog .item {
    margin-bottom: 10px;
}

.pfread .pfread-dialog .item dt {
    display: inline-block;
    width: 72px;
    text-align: right;
    margin-right: 5px;
    font-weight: normal;
    font-size: 14px;
    padding-top: 10px;
}

.pfread .pfread-dialog .item dd {
    display: inline-block;
}

.pfread .pfread-dialog .item input[type="text"] {
    display: inline-block;
    border: 0;
    width: 250px;
    padding: 0 5px;
    height: 36px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.pfread .pfread-dialog .item .text {
    display: inline-block;
    width: 250px;
    padding: 0 5px;
    min-height: 36px;
    line-height: 36px;
    background: #f5f5f5;
    cursor: pointer;
    font-weight: 100;
    white-space: normal;
}

.dialog-common {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, .76);
    padding: 10px;
    z-index: 2;
    height: auto;
    white-space: nowrap;
    border-radius: 5px;
}

.dialog-common > .dlg-before {
    position: absolute;
    width: 12px;
    height: 12px;
    content: " ";
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(225deg);
    border: 1px solid transparent;
    background-color: #fff;
    top: -6px;
    border-top: none;
    border-left: none;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .3);
}

.dialog-common-t {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: -1px -1px 8px 0 rgba(0, 0, 0, .76);
    padding: 10px;
    z-index: 2;
    height: auto;
    white-space: nowrap;
    border-radius: 5px;
}

.dialog-common-t > .dlg-after {
    position: absolute;
    width: 12px;
    height: 12px;
    content: " ";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px solid transparent;
    background-color: #fff;
    bottom: -6px;
    border-top: none;
    border-left: none;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .3);
}

/* 存疑提交框 */
#doubtModal table{
    border-collapse:separate; border-spacing:0px 20px;
}
#doubt_tip{
    float:left;
    color:red;
    display:none;
}


/* 文本区域 */

.right .sutra-text span{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 40px;
}

.right .sutra-text {
    font-size: 0px;
    margin-left: 10px;
}

.right .not-same {
    color: red;
    cursor: pointer;
}

.right .same {
    color: black;
}

.right .variant {
    color: black;
}

.right span.emptyplace {
    font-size: 20px;
    width: 0;
    line-height: 24px;
    padding: 0 4px;
    background-color: var(--Color_Brown_Darker);
}

.right .current-span {
    border: 1px solid #C1C1C1;
}

.right .add {
    padding-right: 10px;
}

.right .variant-highlight {
    color: blue;
}

.right .hidden {
    display: none;
}

.right .delete {
    display: none !important;
}

.mismatch span {
    border-bottom: 1px solid red;
}

.btn-normal {
    color: #fff;
    background-color: #b8906f;
    border-color: #bf9f7f;
}

.navbar-normal {
    background-color: #333;
    border-color: #555555;
}

/* 存疑列表 */
.char-list-table {
    width: 100%;
}

.char-list-tab {
    width: 100%;
    height: 32px;
    background: #ececec;
    line-height: 32px;
    vertical-align: middle;
}

.char-list-tab-item {
    width: 110px;
    text-align: center;
    float: left;
    border-right: 1px solid var(--Color_Grey_Middle);
    cursor: pointer;
}

.char-list-tab-item.active {
    background: var(--Color_Grey_Light);
}

.char-list-tab-arrow {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    transition: all ease 0.3s 0s;
}

.char-list-tab-arrow img {
    width: 20px;
    height: 20px;
}

.char-list-tab-arrow.active {
    transform: rotate(0deg);
    transition: all ease 0.3s 0s;
}

.char-list-table td {
    text-align: center;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.char-list-table td img {
    width: 16px;
    height: 16px;
    margin-top: 5px;
}

.char-list-table tr:nth-child(odd) {
    background: var(--Color_White);
}

.char-list-table.hidden {
    height: 0px;
}

.char-list-table .del-doubt {
    cursor: pointer;
}
