.m-left {
  flex: 1;
  width: 50%;
}

.m-right {
  flex: 1;
  overflow: auto;
  border-left: 1px solid #ccc;
  background: var(--Grey_Content);
}

/* 模态框 */
.modal-content .modal-header {
  height: 40px;
  padding-bottom: 0;
}

.modal-content .close {
  margin-top: -25px;
  margin-right: -20px;
  color: var(--Brown_Darker);
}

.match-tips li {
  display: flex;
  justify-content: center;
}

.match-tips li span {
  flex: 1;
  margin-right: 8px;
}

#txtModal .modal-body {
  display: flex;
}

#txtModal textarea {
  flex: 1;
  padding: 8px;
  font-size: 1.2em;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}
