/* 左侧目录搜索 */
.main-left {
    float: left;
    width: 276px;
    height: 100%;
    overflow-y: auto;
    display: none;
}

.main-left-menu {
    width: 100%;
    height: auto !important;
    height: 100%;
    float: left;
    background: var(--Color_Brown_Dark);
    min-height: 800px;
}

.menu-search-wrapper {
    border: 1px solid var(--Color_Brown_Darker);
    border-radius: 24px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    height: 26px;
    background: var(--Color_Brown_Darker);
    padding-top: 3px;
    padding-bottom: 3px;
}

.menu-search-input {
    margin-left: 8px;
    width: calc(100% - 35px);
    background: none;
    padding: 0 0 0 5px;
    border: none;
}

.checkbox-brown input[type="checkbox"]:checked + label::before {
    background-color: var(--Color_Brown_Darker);
    border-color: var(--Color_Brown_Line);
}

/* 右侧正文及检索区域 */
.main-right {
    float: left;
    flex: 1;
    height: auto !important;
    height: 100%;
    background: var(--Color_White);
}

/* 右侧顶部导航 */
.main-right .m-header {
    font-size: 14px;
    color: var(--Color_Brown_Darker);
}

.m-header. img-btns {
    margin-right: 20px;
}

.m-header .title {
    font-size: 20px;
    margin: 4px 0;
    cursor: pointer;
}

.m-header .btn-page {
    font-size: 16px;
    cursor: pointer;
}

.m-header .search {
    display: flex;
    margin: 2px 16px 0 0;
    float: right;
    justify-content: flex-end;
}

.m-header .search .btn-scope {
    border: 1px solid #dfe1e5;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    border-right: 0;
    color: var(--Color_Brown_Darker);
    background: var(--Color_Grey_Line);
}

.m-header .search .btn-scope:hover {
    color: var(--Color_Brown_Darker);
    background: var(--Color_Grey_Line);
}

.m-header .search .scope-item {
    min-width: 80px;
    width: 80px;
    color: var(--Color_Brown_Darker);
}

.m-header .search .scope-item > li > a {
    color: var(--Color_Brown_Darker);
}

.m-header .search .search-input {
    padding-left: 70px;
    width: 260px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    color: var(--Color_Brown_Darker);
    background: var(--Color_Grey_Lighter);
}

.m-header .search .search-img {
    margin-left: -28px;
    height: 20px;
    margin-top: 6px;
    cursor: pointer;
}

.m-header .more .btn-sm {
    border: 0;
}

.m-header .more .btn-sm.active {
    background: var(--Color_Brown_Darker);
}


/* 右侧正文 */
.main-right .content {
    padding-top: 39px;
    display: flex;
    width: 100%;
    height: 100%;
}

.content .content-left {
    width: 60%;
    overflow-y: auto;
    padding: 10px 20px;
    background: var(--Color_Grey_Content);
    border: 1px solid var(--Color_Grey_Line);
}


.content .content-left p {
    width: 100%;
    font-size: 18px;
    color: var(--Color_333);
    margin-bottom: 2px;
    text-indent: 44px;
    letter-spacing: 3px;
}


.content .content-left .kw {
    color: var(--Color_Brown_Darker);
    cursor: pointer;
}

/* 右侧检索 */
.content .search-right {
    width: 40%;
    overflow-y: auto;
    background: var(--Color_Grey_Lighter);
}

.search-right .search-head {
    padding: 5px 10px;
    background-color: var(--Color_Grey_Line);
    height: 32px;
    position: fixed;
    display: inline-block;
    width: 39%;
}

.search-head .btn-page {
    font-size: 14px;
}

.search-head .btn-font {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.search-head .order-wrap {
    margin-top: -20px;
}

.search-head .search-orders {
    position: fixed;
    top: 32px;
    right: 53px;
    width: 150px;
    line-height: 25px;
    background: var(--Color_Grey_Line);
    text-align: right;
    padding: 10px 0;
}

.search-head .search-order {
    padding-right: 16px;
    cursor: pointer;
    user-select: none;
}

.search-head .search-order.active:before {
    content: "√";
    padding-right: 4px;

}

.search-head .order-img {
    width: 16px;
    height: 14px;
    margin: 2px 25px 0 -18px;
    cursor: pointer;
}

.search-head .zoom {
    position: fixed;
    top: 42px;
    right: 18px;
}

.search-head .zoom img {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.search-right .result-items {
    padding-top: 33px;
    padding-bottom: 10px;
}

.result-items .result-item {
    padding: 5px 10px;
    font-size: 16px;
    letter-spacing: 1px;
    border-bottom: 1px dotted var(--Color_Grey_Middle);
}

.result-item .result-text {
    max-height: 200px;
    overflow-y: auto;
}

.result-item .result-text::-webkit-scrollbar {
    width: 3px;
    height: 5px;
    opacity: 0.4;
}

.result-item .result-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
}

.result-item .result-text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

.result-item .result-head {
    margin: 0 0;
}

.result-head .btn-img {
    width: 16px;
    height: 16px;
    margin-top: 5px;
    margin-left: 8px;
    cursor: pointer;
    float: right;
}

.result-head .btn-nav {
    cursor: pointer;
    font-size: 18px;
}

.result-head .title {
    cursor: pointer;
}

.result-item .result-name {
    margin: 2px 0 8px;
    font-size: 14px;
}

.result-item .result-text:hover {
    background: var(--Color_Grey_Line);
}


#mouse-over-dlg {
    display: none;
    position: absolute;
    padding: 15px 20px 10px 20px;
    border-radius: 5px;
    background: var(--Color_Grey_Light);
    max-width: 360px;
    min-width: 300px;
}

.m-btn-group {
    width: 160px;
    margin: 0 auto;
    text-align: center;
}

.m-btn {
    float: left;
    background: var(--Color_Grey_Dark);
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 3px;
    color: var(--Color_White);
}

.m-btn a {
    display: block;
    text-decoration: none;
    color: var(--Color_White);
    font-size: 12px;
    padding: 5px 10px;
}

.m-btn a i {
    margin-right: 5px;
}

.dlg-txt {
    margin-top: 5px;
}

#text-selected-dlg {
    display: none;
    position: absolute;
    padding: 20px 20px 0 20px;
    border-radius: 5px;
    background: var(--Color_Grey_Light);
}

#text-selected-dlg ul li {
    height: 30px;
}

#text-selected-dlg ul li span {
    display: inline-block;
    width: 80px;
    padding-left: 8px;
    cursor: pointer;
}

.modal-content.black-bg {
    background: var(--Color_Black);
    border: 0;
}

.modal-body {
    /*text-align:center;*/
}

.jk-list-ul {
    height: 500px;
    margin: 0 auto;
    display: inline-block;

}

.jk-list-ul > li {
    float: left;
    display: inline;
    padding: 0 30px;
    border-right: 1px dotted var(--Color_Brown_Dark);
}

.jk-list-ul > li:last-child {
    border: 0;
}

.jk-list-ul img {
    max-width: 110px;
    height: 370px;
}

.jk-list-ul h5 {
    color: var(--Color_White);
}

.jk-list-char-ul {
    border: 1px solid var(--Color_Brown_Dark);
    color: var(--Color_Brown_Dark);
    margin: 20px 0;
}

.jk-list-char-ul li span {
    display: inline-block;
    padding: 3px 30px;
    border-bottom: 1px dotted var(--Color_Brown_Dark);
}

.jk-list-char-ul li:last-child span {
    border: 0;
}