:root{
    --Color_Brown:#eab977;
    --Color_333:#333333;
    --Color_Brown_Dark:#cb9b66;
    --Color_Grey_Dark:#6a6a77;
    --Color_White:#fff;
    --Color_Grey_Light:#cfcfcf;
    --Color_Grey_Middle:#b7b7b6;
    --Color_Brown_Darker:#b68856;
    --Color_Brown_Line:#9b744b;
    --Color_Grey_Line:#ebebeb;
    --Color_Grey_Content:#f2f5fa;
    --Color_Black:#000;
}
body{
    background:url(../imgs/fbg.png) repeat;
}
a {
	color: var(--Color_333);
}

a:hover {
	color: var(--Color_333);
}

.app-main {
	width: 100%;
	height: 100%;
}


/*左边菜单*/

.sidebar-menu-con {
	width: 200px;
	height: 100%;
	background: var(--Color_Brown_Dark);
	position: fixed;
	color: var(--Color_333);
	z-index: 2;
}

.slimScrollDiv>* {
	overflow: hidden;
}

.main {
	float: left;
	width: 100%;
	height: 100%;
}

.main .logo-con {
	height: 56px;
	text-align: center;
	background-color: var(--Color_Grey_Light);
}

.logo-con img {
	width: 160px;
	margin-top:8px;

}

.logo-con .mini {
	width: 36px;
	height: 36px;
	display: none;
}

.main .menu {
	padding: 30px 0 30px 17px;
	position: relative;
	font-size: 15px;
}

.main .menu>li {
	line-height: 36px;
	color: var(--Color_333);
	margin-right:12px;
    width:100%;
}


.main .menu>li.menu-item {
	border-bottom: 1px dashed rgba(228, 195, 168, 0.26);
	margin-right: 12px;
	padding-left:5px;
	width:100%;
}
.main .menu>li.menu-item:hover{
    background:var(--Color_Brown);
}


.main .menu>li.menu-item.active{
    background-color:var(--Color_Brown);
}

.main .menu>li>.submenu-title {
	border-bottom: 1px dashed rgba(228, 195, 168, 0.26);
    padding-left:5px;

}

.main .menu>li>.submenu-title:hover {
	cursor: pointer;
	background:var(--Color_Brown);
}

.main .menu>li .sub-ul li {
	padding-left: 18px;
}

.main .menu>li .sub-ul li:hover{
    background-color:var(--Color_Brown);
}

.main .menu>li .sub-ul li .sub-img {
	margin-top: 13px;
}

.main .menu>li .sub-ul .sub-active {
	background: var(--Color_Brown);
}

.budda {
	width: 183px;
	height: 283px;
}

.main .main-content {
	background: #f4f4f4 url(../imgs/bg.png) no-repeat !important;
	background-size: 100%;
	width: 100%;
	min-height: 100%;

}

.main-header-con {
	height: 56px;
	line-height: 56px;
	background: transparent;
	padding-left: 200px;
}

.main-header-left {
	padding-left: 10px;
}

.main-header-left .title span:first-child {
	margin-right: 12px;
}

.main-header-left .title span:first-child img {
	margin-top: 18px;
}

.main-header-left .title span:last-child img {
	margin-top: 10px;
}

.main-header-left .line {
	width: 248px;
	height: 1px;
	background: #000;
}

.ivu-row-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main-header-right {
	padding-right: 17px;
}

.main-header-right .welcome {
	color: #232323;
	font-size: 14px;
	margin-right: 33px;
}

.main-header-right span img {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

.main .single-page-con {
	background: none;
	z-index: 1;
	transition: left .3s;
	margin-left: 200px;
}

.layout {
	height: 100%;
}

.layout-content {
	min-height: 200px;
	margin: 5px;
}

.layout-content1 {
	min-height: 200px;
	margin: 5px;
	padding-top: 80px;
}

.sub-ul-hidden {
	display: none;
}

.wrapper {
	margin: 10px;
}

.tripitaka-list .list {
	margin-top: 85px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0;
}
.tripitaka-list ul.list{
	margin-top: 40px;
}

.tripitaka-list .list li {
	width: 15.5%;
	padding: 12px 12px 0 12px;
	height: auto;
	float: left;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 4px 0 4px rgba(142, 142, 142, 0.1);
	text-align: center;
	margin-right: 1.4%;
	margin-bottom: 1.4%;
}

.tripitaka-list .list li:nth-child(6n+6) {
	margin-right: 0;
}

.tripitaka-list .list a {
	display: block;
}

.tripitaka-list .list img {
	display: block;
	width: 100%;
	height: auto;
}

.tripitaka-list .list p {
	line-height: 42px;
	color: #13171c;
	font-size: 16px;
	position: relative;
}

.tripitaka-list .list p:before {
	content: "";
	position: absolute;
	background: url(../imgs/hehua.png) no-repeat;
	width: 23px;
	height: 27px;
	top: 10px;
	left: 10px;
}

.pagers {
	margin: 50px 0;
	text-align: center;
}

.pagers img {
	margin-top: -12px;
	width: 150px;
	height: 46px;
	display: inline-block;
}

.pagers span {
	font-size: 14px;
	color: #333;
	margin-right: 30px;
	margin-left: 30px;
}

.pagers span em {
	color: #f56558;
}

.pagers ul {
	display: inline-block;
	/*父元素的font-size设为0，消除display:inline-block产生的默认间隙*/
	font-size: 0;
	margin-bottom: 0;
	/*margin-right: 30px;*/
}

.pagers ul li {
	display: inline-block;
	height: 32px;
	line-height: 32px;
	background: #fff;
	color: #4e4e4e;
	font-size: 14px;
	border: 1px solid #d3dae7;
	margin-right: -1px;
}

.pagers ul li input {
	height: 20px;
	width: 45px;
	padding: 0 3px;
	border: 0 none;
	border: 1px solid #ccc;
}

.menu-item-span-active {
	color: #F56558;
}

.sub-ul-hidden {
	display: none;
}

.tripitaka-volume .main-volume {
	position: relative;
	/*修改了此处*/
	/*margin-top: 50px;*/
}

.tripitaka-volume .volume-left {
	width: 172px;
	position: absolute;
	left: 0;
	top: 0;
}

.tripitaka-volume .volume-left .hd {
	width: 172px;
	height: 32px;
	font-size: 0;
}

.tripitaka-volume .volume-left .hd span {
	display: inline-block;
	width: 84px;
	text-align: center;
	line-height: 32px;
	border: 1px solid #ebebeb;
	font-size: 14px;
	background: #f6f6f6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor: pointer;
}

.tripitaka-volume .volume-left .hd .cur {
	background: #fff;
	color: #c42d20;
}

.tripitaka-volume .volume-left .bd {
	width: 170px;
	border: 1px solid #ebebeb;
	background: #fff;
	height: 400px;
	overflow: auto;
}

.tripitaka-volume .volume-left .bd .search {
	text-align: center;
	margin-top: 10px;
	position: relative;
}

.tripitaka-volume .volume-left .bd .search input {
	border: 0 none;
	width: 140px;
	padding: 0 5px;
	height: 26px;
	border: 1px solid #f5b9b4;
	background: #fff;
	box-shadow: 0 0 4px #f9a7a0;
}

.tripitaka-volume .volume-left .bd .search i {
	position: absolute;
	background: url(../imgs/ser-btn.png) no-repeat;
	right: 14px;
	top: 5px;
	width: 16px;
	height: 16px;
}

.tripitaka-volume .volume-left .bd .volumes {
	padding: 0 10px;
	margin-top: 20px;
}

.tripitaka-volume .volume-left .bd .volumes li .title {
	font-size: 14px;
	border-bottom: 1px solid #ebebeb;
	padding: 0 8px;
	white-space: nowrap;
	padding: 10px 0;
	font-weight: bold;
}

.tripitaka-volume .volume-left .bd .volumes li .items {
	padding: 10px 0;
}

.tripitaka-volume .volume-left .bd .volumes li .items span {
	display: block;
	line-height: 34px;
	border-bottom: 1px dashed #ebebeb;
	font-size: 14px;
	padding-left: 10px;
}

.tripitaka-volume .volume-right {
	border: 1px solid #ebebeb;
	margin-left: 6px;
	background: #fff;
	position: relative;
	top: 32px;
	margin-bottom: 30px;
	/*margin-left: 178px;*/
}

.tripitaka-volume .volume-right .name {
	color: #333;
	line-height: 36px;
	padding-left: 12px;
	border-bottom: 1px solid #ebebeb;
}

.tripitaka-volume .volume-right .full .full-hd {
	color: #333;
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #ebebeb;
	padding: 0 12px;
}

.tripitaka-volume .volume-right .seprate-in {
	margin-top: 8px;
	padding: 0 12px 18px 12px;
}

.tripitaka-volume .volume-right .seprate-in .left {
	width: 49%;
	border: 1px solid #ebebeb;
	box-sizing: border-box;
	margin-right: 2%;
}

.tripitaka-volume .volume-right .seprate-in .left .hd {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ebebeb;
	text-align: right;
}

.tripitaka-volume .volume-right .seprate-in .left .hd label,
.tripitaka-volume .volume-right .full-hd .right label {
	display: inline-block;
	margin-right: 32px;
	color: #c0c4cc;
}

.tripitaka-volume .volume-right .seprate-in .left .hd label input[type="checkbox"],
.tripitaka-volume .volume-right .full-hd label input[type="checkbox"] {
	margin-right: 3px;
	position: relative;
	top: 2px;
}

.tripitaka-volume .volume-right .seprate-in .left .hd .scale,
.tripitaka-volume .volume-right .full-hd .right .scale {
	display: inline-block;
	font-size: 0;
	vertical-align: top;
	margin-top: 6px;
	margin-right: 6px;
}

.tripitaka-volume .volume-right .seprate-in .left .hd .scale span,
.tripitaka-volume .volume-right .full-hd .right .scale span {
	cursor: pointer;
	width: 30px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border: 1px solid #333;
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
}

.tripitaka-volume .volume-right .seprate-in .left .hd .scale .add,
.tripitaka-volume .volume-right .full-hd .right .scale .add {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.tripitaka-volume .volume-right .seprate-in .left .hd .scale .reduce,
.tripitaka-volume .volume-right .full-hd .right .scale .reduce {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.tripitaka-volume .volume-right .seprate-in .left .hd .scale input,
.tripitaka-volume .volume-right .full-hd .right .scale input {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 34px;
	border: 0 none;
	border: 1px solid #333;
	vertical-align: top;
}

.tripitaka-volume .volume-right .full-bd {
	height: 400px;
	overflow: auto;
	width: 100%;
	box-sizing: border-box;
}

.tripitaka-volume .volume-right .seprate-in .left .bd {
	height: 400px;
	overflow: auto;
}

.tripitaka-volume .volume-right .seprate-in .right {
	width: 49%;
	border: 1px solid #ebebeb;
	box-sizing: border-box;
}

.tripitaka-volume .volume-right .seprate-in .right .hd {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ebebeb;
	padding-left: 6px;
}

.tripitaka-volume .volume-right .seprate-in .right .hd select {
	border: none;
	border: 1px solid #ebebeb;
	height: 28px;
	outline: none;
}

.tripitaka-volume .volume-right .seprate-in .right .bd {
	height: 400px;
	overflow: auto;
	position: relative;
}

.tripitaka-volume .volume-right .seprate-in .right .bd .feedback {
	display: block;
	position: absolute;
	left: 150px;
	top: 66px;
	width: 80px;
	height: 21px;
	border: 1px solid #2368bd;
	border-radius: 8px;
	color: #fff;
	line-height: 21px;
	font-size: 12px;
	text-align: center;
	padding-left: 15px;
	background: #408fef url(../imgs/feedback.png) no-repeat 5px 3px;
	background-size: 14px 14px;
	z-index: 2;
}

.tripitaka-volume .volume-right .seprate-in .right .bd .texts {
	margin: 20px 100px 0 100px;
	position: relative;
}

.tripitaka-volume .volume-right .seprate-in .right .bd .texts li {
	margin-bottom: 5px;
	line-height: 24px;
	font-size: 16px;
}

.tripitaka-volume .volume-right .mask {
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

.tripitaka-volume .volume-right .mask .overlay {
	width: 470px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -235px;
}

.tripitaka-volume .volume-right .mask .overlay .hd {
	background: #3e3d3c;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 16px;
	position: relative;
	padding-left: 40px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.tripitaka-volume .volume-right .mask .overlay .hd:before {
	content: "";
	position: absolute;
	left: 15px;
	top: 14px;
	background: url(../imgs/window.png) no-repeat;
	width: 16px;
	height: 13px;
}


/*.tripitaka-volume .volume-right .mask .overlay .hd:after{*/


/*content:"";
        position: absolute;
        right:15px;
        top:12px;
        background: url(../imgs/close.png) no-repeat;
        width:14px;
        height:16px;*/


/*}*/

.tripitaka-volume .volume-right .mask .overlay .bd {
	background: #fff;
	padding: 30px 30px 15px 30px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.tripitaka-volume .volume-right .mask .overlay .bd p {
	margin-bottom: 12px;
	font-size: 16px;
}

.tripitaka-volume .volume-right .mask .overlay .bd p:nth-child(2) {
	line-height: 32px;
}

.tripitaka-volume .volume-right .mask .overlay .bd p span:first-child {
	width: 80px;
}

.tripitaka-volume .volume-right .mask .overlay .bd p input {
	width: 306px;
	padding: 0 10px;
	border: 0 none;
	border: 1px solid #ebebeb;
	height: 32px;
}

.tripitaka-volume .volume-right .mask .overlay .bd p textarea {
	width: 306px;
	padding: 5px 10px;
	border: 0 none;
	border: 1px solid #ebebeb;
	min-height: 100px;
}

.tripitaka-volume .volume-right .mask .overlay .bd .ok {
	text-align: center;
	margin-top: 15px;
}

.tripitaka-volume .volume-right .mask .overlay .bd .ok span {
	width: 80px;
	height: 32px;
	background: #b8906f;
	color: #fff;
	display: inline-block;
	text-align: center;
	line-height: 32px;
	border-radius: 5px;
	cursor: pointer;
}

.sub-ul-hidden {
	display: none;
}

.hd_span {
	display: inline-block;
	width: 30px;
	height: 40px;
	cursor: pointer;
	float: right;
	background: url(../imgs/close.png) no-repeat;
	background-position: 0 center;
}

#ac {
	display: none;
}

.collate-history .collate-list {
	margin-top: 40px;
}

.collate-history .collate-list .count span {
	position: relative;
	font-size: 24px;
	display: inline-block;
	line-height: 23px;
	margin-right: 80px;
}

.collate-history .collate-list .count span em {
	margin: 0 15px;
}

.collate-history .collate-list .count span:first-child em {
	color: #000;
}

.collate-history .collate-list .count span:last-child em {
	color: #6b6b6b;
}

.collate-history .collate-list .count span img {
	vertical-align: bottom;
}

.collate-history .collate-list .search {
	position: relative;
	top: -20px;
}

.collate-history .collate-list .search input {
	display: inline-block;
	border: 0 none;
	border-bottom: 1px solid #cca78a;
	background: none;
	width: 305px;
	height: 28px;
	padding-left: 20px;
	color: #cca78a;
}

.collate-history .collate-list .search i {
	position: absolute;
	top: 5px;
	left: 0;
	background: url(../imgs/search-icon.png) no-repeat;
	width: 15px;
	height: 17px;
}

.collate-history .collate-list table {
	margin-top: 30px;
	width: 99.99%;
	text-align: left;
}

.collate-history .collate-list table th {
	font-weight: normal;
	font-size: 14px;
	/*padding-bottom: 17px;*/
	font-weight: 600;
}

.collate-history .collate-list table th:first-child {
	text-align: center;
}

.collate-history .collate-list table th:last-child {
	text-align: center;
}

.collate-history .collate-list table tbody tr {
	background: rgba(255, 255, 255, 0.85);
	height: 44px;
	border: 1px solid #ebebeb;
}

.collate-history .collate-list table tbody tr td {
	font-size: 14px;
	color: #13171c;
}

.collate-history .collate-list table tbody tr td:first-child {
	text-align: center;
}

.collate-history .collate-list table tbody tr td:last-child {
	text-align: center;
}

.collate-history .collate-list table tbody tr td span {
	display: inline-block;
	width: 70px;
	height: 32px;
	background: #b8906f;
	border-radius: 3px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	margin-right: 10px;
}

.collate-list .operation span {
	display: block;
	float: left;
	/*width: 70px;*/
	height: 32px;
	padding: 0 20px;
	background: #b8906f;
	border-radius: 3px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	margin-right: 10px;
}


/*首页CSS*/

.home {
	padding: 0 12px 50px 12px;
	;
}

.home .index {
	color: #61646d;
	margin-top: 15px;
}

.home .top {
	margin: 50px 0;
}

.home .left {
	width: 40%;
	margin-right: 3%;
}

.home .left .title img {
	margin: 0 0 50px 0;
}

.home .left .person {
	margin-bottom: 38px;
}

.home .left .person .ava {
	width: 84px;
	height: 84px;
	margin-right: 36px;
}

.home .left .person dt {
	font-size: 24px;
	margin-bottom: 12px;
}

.home .left .person dd {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.7);
}

.home .left .person dd:nth-of-type(1) {
	margin-bottom: 7px;
}

.home .left ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.home .left ul li {
	flex: 1;
	height: 94px;
	background: #f2e4da;
	margin-right: 18px;
	border-radius: 5px;
	position: relative;
}

.home .left ul li:before {
	position: absolute;
	content: '';
	width: 77px;
	height: 94px;
	right: 0;
}

.home .left ul li:first-child:before {
	background: url(../imgs/01.png) no-repeat;
}

.home .left ul li:nth-child(2):before {
	background: url(../imgs/02.png) no-repeat;
}

.home .left ul li:last-child {
	margin-right: 0;
}

.home .left ul li:last-child:before {
	background: url(../imgs/03.png) no-repeat;
}

.home .left ul li p {
	position: relative;
	text-align: center;
}

.home .left ul li p:first-child {
	font-size: 14px;
	color: #333;
	margin: 17px 0 5px 0;
}

.home .left ul li p:last-child {
	font-size: 36px;
	font-family: Arial;
	color: var(--Color_Brown_Dark);
	font-weight: bold;
}

.home .right {
	width: 57%;
}

.home table {
	margin-top: 18px;
	width: 100%;
	text-align: left;
}

.home table th {
	font-weight: normal;
	font-size: 12px;
	padding-bottom: 6px;
}

.home table th:first-child {
	text-align: center;
}

.home table th:last-child {
	text-align: center;
}

.home table tbody tr {
	background: rgba(255, 255, 255, 0.85);
	height: 44px;
	border: 1px solid #ebebeb;
}

.home table tbody tr td {
	font-size: 14px;
	color: #13171c;
}

.home table tbody tr td em:first-child {
	font-size: 16px;
	font-family: Arial;
	color: var(--Color_Brown_Dark);
	font-weight: bold;
	margin-right: 2px;
}

.home table tbody tr td em:nth-child(2) {
	color: #c2c2c2;
}

.home table tbody tr td:first-child {
	text-align: center;
}

.home table tbody tr td:last-child {
	text-align: center;
}

.home table tbody tr td span {
	display: inline-block;
	width: 60px;
	height: 32px;
	background: var(--Color_Grey_Dark);
	border-radius: 3px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}

.home .bottom .item {
	float: left;
}

.home .bottom .item:first-child,
.home .bottom .item:nth-child(3),
.home .bottom .item:nth-child(4) {
	width: 23%;
}

.home .bottom .item:nth-child(2) {
	width: 31%;
}

.home .bottom .item p {
	text-align: center;
}

.home .bottom .item .tit {
	margin: 18px 0;
}

.home .bottom .item .other {
	padding-top: 18px;
}

.home .bottom .item ul li {
	height: 40px;
	line-height: 40px;
	position: relative;
	color: #13171c;
	font-size: 14px;
}

.home .bottom .item:first-child ul li {
	padding-left: 25px;
}

.home .bottom .item:nth-child(2) ul li,
.home .bottom .item:nth-child(3) ul li,
.home .bottom .item:nth-child(4) ul li {
	padding-left: 8px;
}

.home .bottom .item:first-child ul li span {
	font-size: 16px;
	margin-right: 5px;
}

.home .bottom .item:first-child ul li:before {
	position: absolute;
	content: '';
	width: 16px;
	height: 18px;
	background: url(../imgs/medal.png) no-repeat;
	left: 0;
	top: 12px;
}

.home .bottom .item:nth-child(2) span:first-child {
	margin-right: 5px;
}

.home .bottom .item:nth-child(2) ul li:before,
.home .bottom .item:nth-child(3) ul li:before,
.home .bottom .item:nth-child(4) ul li:before {
	position: absolute;
	content: '';
	width: 4px;
	height: 4px;
	background: #ccc;
	left: 0;
	top: 17px;
}

.home .bottom .item .more {
	padding: 10px 0;
}

.home .bottom .item .more a {
	color: #808080;
	font-size: 14px;
}

.home .bottom .item .more a:hover {
	color: #333;
}

.dzj_wrapper1 a {
	color: #337AB7;
}

.pagers li.active a {
	background: #b8906f;
	color: #FFFFFF;
}

.pagers li a {
	display: inline-block;
	height: 100%;
	cursor: pointer;
	color: #4e4e4e;
	padding: 0 20px;
}

.pagers li a:hover {
	color: #000000;
}

.pagers ul li:last-child {
	padding: 0 10px;
}

.sub-active a:hover {
	color: #FFFFFF;
}

.sort {
	cursor: pointer;
}

.sty_table th {
	text-align: center;
}

.sty_table td {
	text-align: center;
}

.sty_table td a {
	font-size: 12px;
	margin-right: 10px;
	color: #B8906F;
}

.sty_table td a:hover {
	color: #b33c2b;
}

.collate-history .collate-list .sty_table td.datetime {
	font-size: 12px;
	width: 100px;
}

.collate-list .bat-upload span {
	/*width: 150px;*/
}

.modal-body .progress-lg {
	margin-top: 20px;
}

.single-page-con .panel-body {
	padding: 0;
}

.preview_img {
	width: 60%;
	float: left;
	/*overflow: scroll;*/
}

.preview_img img {
	width: 100%;
}

.preview_text {
	float: left;
	width: 40%;
	padding: 20px;
}

.modal-footer .pagers {
	margin: 20px 0;
}

.layout-content1.rszj-layout-content {
	padding-top: 50px;
}

.rszj-layout-content .dzj_wrapper1 {
	padding-left: 50px;
}

.submenu-title.active {

}
.submenu-title:hover span{

}
span.active a {

}

.ion-arrow-down-b:before {
	transition: all 0.3s ease-in-out;
}

.sort.active{
	color: #317EEB;
}
.ion-arrow-down-b.toggle:before {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	/* IE 9 */
	-moz-transform: rotate(180deg);
	/* Firefox */
	-webkit-transform: rotate(180deg);
	/* Safari 和 Chrome */
	-o-transform: rotate(180deg);
	/* Opera */
	color: #317EEB;
}
.collate-history .collate-list table.table{
	margin-top: 0;
}
.btn-toolbar{
	margin-bottom: 0;
	float: right;
}
.btn-toolbar .dropdown-toggle.btn-primary{
	 padding-left: 0;
	 padding-right: 0;
	 letter-spacing: 0;
}
.table-wrapper{
	position: relative;
}
.collate-list .btn-toolbar{
	position: absolute;
	left: 0;
	margin-top: -20px;
}
.collate-list .table-responsive{
	margin-top: 0;
	top:10px;
}
.single-page-con.enlarge{
	margin-left: 0;
}
.main-header-con.enlarge{
	padding-left: 0;
}
.sidebar-menu-con.collapse{
	width: 0;
}
.toggle img{
	cursor: pointer;
}

.ajax-error {
	padding: 8px 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	border: 1px solid #faebcc;
	color: #8a6d3b;
	background-color: #fcf8e3;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	height: auto;
	line-height: 20px;
}
.circle_bg{
    display:inline-block;
    background:var(--Color_Grey_Dark);
    width:30px;
    height:30px;
    border-radius:15px;
    font-size:18px;
    font-family:'宋体';
    color:var(--Color_White);
    text-align:center;
    vertical-align:middle;
    line-height:30px;
}
.m-header{
    background:var(--Color_Grey_Light);
    width:100%;
    height:40px;

}
.m-header div{
    float:left;
}
.m-header-img{
    width:20px;
    height:20px;
    margin:8px 6px;
}

.m-header-title{
    width:90px;
    font-size:20px;
    font-weight:600;
    margin:7px 15px 0 15px;
    color:var(--Color_333);
}
.m-header-page{
    margin-top:10px;
}
.m-header-page-info{
    margin-right:10px;
}
.m-header-page-info span{
    color:var(--Color_Brown_Dark);
    font-weight:500;

}
.m-header-page-btn{
    padding:0 10px;
    height:20px;
    text-align:center;
    border-right:1px dotted var(--Color_Grey_Middle);
}
.m-header-page-btn.to input{
    width:46px;
    height:18px;
    background:var(--Color_Grey_Middle);
    border:none;
    text-align:center;
	margin:0 2px;
}
.m-header-page-btn.last{
    border: 0;
}

.m-header-image{
	margin-left: 40px;
}

.m-header-txt{
	margin-left: 40px;
}

.m-header-font{
    margin-top:6px;
    margin-left:20px;
		margin-right: 10px;
}
.m-header-font div{
    padding:3px 5px;
    color:var(--Color_333);
    font-weight:500;
}
.m-header-font-reduce{
    border:1px solid var(--Color_Grey_Dark);
    border-radius:15px 0 0 15px;
}
.m-header-font-current{
    border-top:1px solid var(--Color_Grey_Dark);
    border-bottom:1px solid var(--Color_Grey_Dark);
		width: 24px;
}
.m-header-font-enlarge{
    border:1px solid var(--Color_Grey_Dark);
    border-radius: 0 15px 15px 0;
}
.m-header-font-reduce > a, .m-header-font-enlarge > a {
		cursor: pointer;
		text-decoration: none;
		user-select: none;
}
.m-header div.m-header-help{
    float:right;
    margin-right:15px;
}
.main-left{
    float:left;
    width:276px;
    height:100%;
    margin-left:14px;
    margin-top:14px;
}
.main-left-tab{
    width:100%;
    height:26px;
}
.main-left-tab1{
    width:74px;
    height:26px;
    text-align:center;
    vertical-align:middle;
    line-height:26px;
    background:var(--Color_Brown_Darker);
    margin-right:5px;
    float:left;
    border-radius:5px 5px 0 0;
    cursor:pointer;
}
.main-left-tab1.active{
    background:var(--Color_Brown_Dark);
}
.main-left-search{
    float:left;
    width:calc(100% - 80px);
    border-bottom:1px solid var(--Color_Brown_Dark);
    margin-top:4px;
}

.main-left-search input{
	float:left;
    width:calc(100% - 25px);
    background:none;
    border:none;
    font-style:italic;
}
.main-left-search img{
    float:left;
    width:18px;
    margin-top:2px;
}

.main-left-search1{
    float:left;
    width:calc(100% - 160px);
    border-bottom:1px solid var(--Color_Brown_Dark);
    margin-top:4px;
}

.main-left-search1 input{
    float:left;
    width:90px;
    background:none;
    border:none;
    font-style:italic;
}
.main-left-search1 img{
    float:left;
    width:18px;
    margin-top:2px;
}
.main-left-menu{
    width:100%;
    height: auto !important;
    height:100%;
    float:left;
    background:var(--Color_Brown_Dark);
    min-height:800px;
}
.submenu-title-icon{
    float:right;
    width:16px;
    height:16px;
    margin-top:10px;
    margin-right:5px;
    transform:rotate(0deg);
    transition: all 0.3s ease-in-out;
}
.submenu-title-icon.active{
    transform:rotate(180deg);
    transition: all 0.3s ease-in-out;

}
.fold_btn{
    float:left;
    width:15px;
    height:57px;
    margin-top:300px;
}
.flex-content{
    width:100%;
    display:flex;
}
.main-right{
    float:left;
    flex:1;
    height: auto !important;
    height: 100%;
    min-height:620px;
    margin-top:14px;
    margin-right:14px;
    background:var(--Color_White);
    padding:10px;
}
.main-right.no-bg{
    background:none;
}
.main-right.no-pm{
    margin: 0;
    padding: 0;
}
.main-right-content{

    height:100%;
    border:1px solid var(--Color_Grey_Line);
    padding:14px;
    background:var(--Color_Grey_Content);
}
.main-right-content p{
	width:100%;
    /* text-align:center; */
    font-size:18px;
    color:var(--Color_333);
	margin-bottom:2px;
	text-indent:45px;
    letter-spacing:4px;
}

.menu-search{
    width:100%;
    float:left;
    display:none;
}
.menu-search-wrapper{
    margin-left:8px;
    margin-right:8px;
    margin-top:14px;
    height:26px;
    border:1px solid var(--Color_Grey_Light);
    background:var(--Color_Brown_Darker);
    padding-top:3px;
    padding-bottom:3px;
}
.menu-search-wrapper input{
    width:calc(100% - 25px);
    background:none;
    padding-left:3px;
    border:none;
}
.menu-search-scope{
    margin-left:8px;
    margin-top:14px;
    height:26px;
}
.menu-search-scope span{
    float:left;
    display:inline-block;
    margin-top:4px;
}
.menu-search-scope ul{
    border:1px solid var(--Color_Brown_Line);
    list-style:none;
    height:27px;
    float:left;
    margin-left:7px;
}
.menu-search-scope ul li{
    float:left;
    padding: 0 5px;
    height:25px;
    line-height:26px;
    text-align:center;
    vertical-align:middle;
    border-right:1px solid var(--Color_Brown_Line);
    background:var(--Color_Brown_Darker);
}
.menu-search-scope ul li:last-child{
    border: 0;
}
.menu-search-scope ul li.active{
    background:var(--Color_Brown_Line);
    color:var(--Color_Grey_Light);
}
.search_ck{
    float:right;
    margin-top:5px;
    margin-right:10px;
}
.search_ck .checkbox.custom{
    margin: 0;
}
.search_ck .checkbox.custom label{
    padding: 0;
}
.checkbox-brown input[type="checkbox"]:checked+label::before {
	background-color: var(--Color_Brown_Darker);
	border-color: var(--Color_Brown_Line);
}
.search_result{
    float:left;
    width:100%;
    padding:10px;
}
.search_result1{
    float:left;
}
.search_result1 span{
    color:var(--Color_Grey_Line);
    font-size:16px;
    font-weight:500;
}
.search_result2{
    float:right;
    text-align:right;

}
.search_result2 img{
    margin-top:3px;
}
.search_item{
    float:left;
    width:calc(100% - 20px);
    margin:10px 10px 0 10px;
    background:var(--Color_Brown_Darker);
    border-radius:2px;
    padding:5px;
}
.search_result_text {
	max-height: 100px;
	overflow-y: auto;
}
.search_result_text:hover{
	background:var(--Color_Brown);
}
.main-right-content .kw{
	color:var(--Color_Brown_Darker);
	cursor: pointer;
}
#mouse_over_dlg{
    display:none;
    position:absolute;
    padding:15px 20px 10px 20px;
    border-radius:5px;
    background:var(--Color_Grey_Light);
    max-width:360px;
    min-width:300px;
}
.m-btn-group{
    width:160px;
    margin:0 auto;
    text-align:center;
}
.m-btn{
    float:left;
    background:var(--Color_Grey_Dark);
    margin-top:10px;
    margin-right:10px;
    border-radius:3px;
    color:var(--Color_White);
}
.m-btn a{
    display:block;
    text-decoration:none;
    color:var(--Color_White);
    font-size:12px;
    padding:5px 10px;
}
.m-btn a i{
    margin-right:5px;
}
.dlg_close_btn{
    position:absolute;
    top:2px;
    right:8px;
    color:var(--Color_Grey_Dark);
}
.dlg_close_btn i{
    font-size:18px;
}
.dlg_txt{
    margin-top: 5px;
}
#text_selected_dlg{
    display:none;
    position:absolute;
    padding:20px 20px 0 20px;
    border-radius:5px;
    background:var(--Color_Grey_Light);
}
#text_selected_dlg ul li{
    height:30px;

}
#text_selected_dlg ul li span{
    display:inline-block;
    width:80px;
	/* text-align:center; */
	padding-left: 8px;
    cursor:pointer;
}

.modal-content.black_bg{
    background:var(--Color_Black);
    border: 0;

}
.modal-body{
    /*text-align:center;*/
}
.jk_list_ul{
    height:500px;
    margin:0 auto;
    display:inline-block;

}
.jk_list_ul>li{
    float:left;
    display:inline;
    padding:0 30px;
    border-right:1px dotted var(--Color_Brown_Dark);
}
.jk_list_ul>li:last-child{
    border: 0;
}
.jk_list_ul img{
    max-width:110px;
    height:370px;
}
.jk_list_ul h5{
    color:var(--Color_White);
}
.jk_list_char_ul{
    border:1px solid var(--Color_Brown_Dark);
    color:var(--Color_Brown_Dark);
    margin:20px 0;
}
.jk_list_char_ul li span{
    display:inline-block;
    padding:3px 30px;
    border-bottom:1px dotted var(--Color_Brown_Dark);
}
.jk_list_char_ul li:last-child span{
    border: 0;
}
.main-right-img{
	float:left;
	padding-right:5px;
    width:55%;
}
.main-right-img img{
    width:100%;
    height:100%;
}
.main-right-img.bg-black img{
    width:50%;
    height:auto;
}
.main-right-content.w-40{
    width:45%;
    overflow:auto;
}
.m-header-img-btn{
    margin-right:20px;
}
.checkbox-grey input[type="checkbox"]:checked+label::before {
	background-color: var(--Color_Grey_Light);
	border-color: var(--Color_Grey_Line);
}
.checkbox-grey label{
    padding: 0;
}
.main-right.pt{
    padding-top:15px;
    position:relative;
    padding-left:40px;
    padding-right:40px;
}
.main-right-img.bg-black{
    width:100%;
    background:var(--Color_Black);
    text-align:center;
}