.main-right {
    float: left;
    flex: 1;
    height: auto !important;
    height: 100%;
    background: var(--Color_White);
}

.main-right.no-bg {
    background: none;
}

.main-right.no-pm {
    margin: 0;
    padding: 0;
}

.main-right-content {
    height: 100%;
    border: 1px solid var(--Color_Grey_Line);
    padding: 14px;
    background: var(--Color_Grey_Content);
}

.main-right-content p {
    width: 100%;
    font-size: 18px;
    color: var(--Color_333);
    margin-bottom: 2px;
    text-indent: 45px;
    letter-spacing: 4px;
}®

.main-left {
    float: left;
    width: 276px;
    height: 100%;
    overflow-y: auto;
}

.main-left-tab {
    width: 100%;
    height: 26px;
}

.main-left-tab1 {
    width: 74px;
    height: 26px;
    text-align: center;
    vertical-align: middle;
    line-height: 26px;
    background: var(--Color_Brown_Darker);
    margin-right: 5px;
    float: left;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.main-left-tab1.active {
    background: var(--Color_Brown_Dark);
    color: #fff;
}

.main-left-search {
    float: left;
    width: calc(100% - 80px);
    border-bottom: 1px solid var(--Color_Brown_Dark);
    margin-top: 4px;
}

.main-left-search input {
    float: left;
    width: calc(100% - 25px);
    background: none;
    border: none;
    font-style: italic;
}

.main-left-search img {
    float: left;
    width: 18px;
    margin-top: 2px;
}

.main-left-search1 {
    float: left;
    width: calc(100% - 160px);
    border-bottom: 1px solid var(--Color_Brown_Dark);
    margin-top: 4px;
}

.main-left-search1 input {
    float: left;
    width: 90px;
    background: none;
    border: none;
    font-style: italic;
}

.main-left-search1 img {
    float: left;
    width: 18px;
    margin-top: 2px;
}

.main-left-menu {
    width: 100%;
    height: auto !important;
    height: 100%;
    float: left;
    background: var(--Color_Brown_Dark);
    min-height: 800px;
}

.submenu-title-icon {
    float: right;
    width: 16px;
    height: 16px;
    margin-top: 10px;
    margin-right: 5px;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
}

.submenu-title-icon.active {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}

.fold_btn {
    float: left;
    width: 15px;
    height: 57px;
    margin-top: 300px;
}

.menu-search {
    width: 100%;
    float: left;
    display: none;
}

.menu-search-wrapper {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 14px;
    height: 26px;
    border: 1px solid var(--Color_Grey_Light);
    background: var(--Color_Brown_Darker);
    padding-top: 3px;
    padding-bottom: 3px;
}

.menu-search-wrapper input {
    width: calc(100% - 25px);
    background: none;
    padding-left: 3px;
    border: none;
}

.menu-search-scope {
    margin-left: 8px;
    margin-top: 14px;
    height: 26px;
}

.menu-search-scope span {
    float: left;
    display: inline-block;
    margin-top: 4px;
}

.menu-search-scope ul {
    border: 1px solid var(--Color_Brown_Line);
    list-style: none;
    height: 27px;
    float: left;
    margin-left: 7px;
}

.menu-search-scope ul li {
    float: left;
    padding: 0 5px;
    height: 25px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid var(--Color_Brown_Line);
    background: var(--Color_Brown_Darker);
}

.menu-search-scope ul li:last-child {
    border: 0;
}

.menu-search-scope ul li.active {
    background: var(--Color_Brown_Line);
    color: var(--Color_Grey_Light);
}

.search_ck {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

.search_ck .checkbox.custom {
    margin: 0;
}

.search_ck .checkbox.custom label {
    padding: 0;
}

.checkbox-brown input[type="checkbox"]:checked + label::before {
    background-color: var(--Color_Brown_Darker);
    border-color: var(--Color_Brown_Line);
}

.search_result {
    float: left;
    width: 100%;
    padding: 10px;
}

.search_result1 {
    float: left;
}

.search_result1 span {
    color: var(--Color_Grey_Line);
    font-size: 16px;
    font-weight: 500;
}

.search_result2 {
    float: right;
    text-align: right;

}

.search_result2 img {
    margin-top: 3px;
}

.search_item {
    float: left;
    width: calc(100% - 20px);
    margin: 10px 10px 0 10px;
    background: var(--Color_Brown_Darker);
    border-radius: 2px;
    padding: 5px;
}

.search_result_text {
    max-height: 100px;
    overflow-y: auto;
}

.search_result_text:hover {
    background: var(--Color_Grey_Light);
}

.main-right-content .kw {
    color: var(--Color_Brown_Darker);
    cursor: pointer;
}

#mouse_over_dlg {
    display: none;
    position: absolute;
    padding: 15px 20px 10px 20px;
    border-radius: 5px;
    background: var(--Color_Grey_Light);
    max-width: 360px;
    min-width: 300px;
}

.m-btn-group {
    width: 160px;
    margin: 0 auto;
    text-align: center;
}

.m-btn {
    float: left;
    background: var(--Color_Grey_Dark);
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 3px;
    color: var(--Color_White);
}

.m-btn a {
    display: block;
    text-decoration: none;
    color: var(--Color_White);
    font-size: 12px;
    padding: 5px 10px;
}

.m-btn a i {
    margin-right: 5px;
}

.dlg_close_btn {
    position: absolute;
    top: 2px;
    right: 8px;
    color: var(--Color_Grey_Dark);
}

.dlg_close_btn i {
    font-size: 18px;
}

.dlg_txt {
    margin-top: 5px;
}

#text_selected_dlg {
    display: none;
    position: absolute;
    padding: 20px 20px 0 20px;
    border-radius: 5px;
    background: var(--Color_Grey_Light);
}

#text_selected_dlg ul li {
    height: 30px;

}

#text_selected_dlg ul li span {
    display: inline-block;
    width: 80px;
    /* text-align:center; */
    padding-left: 8px;
    cursor: pointer;
}

.modal-content.black_bg {
    background: var(--Color_Black);
    border: 0;

}

.modal-body {
    /*text-align:center;*/
}

.jk_list_ul {
    height: 500px;
    margin: 0 auto;
    display: inline-block;

}

.jk_list_ul > li {
    float: left;
    display: inline;
    padding: 0 30px;
    border-right: 1px dotted var(--Color_Brown_Dark);
}

.jk_list_ul > li:last-child {
    border: 0;
}

.jk_list_ul img {
    max-width: 110px;
    height: 370px;
}

.jk_list_ul h5 {
    color: var(--Color_White);
}

.jk_list_char_ul {
    border: 1px solid var(--Color_Brown_Dark);
    color: var(--Color_Brown_Dark);
    margin: 20px 0;
}

.jk_list_char_ul li span {
    display: inline-block;
    padding: 3px 30px;
    border-bottom: 1px dotted var(--Color_Brown_Dark);
}

.jk_list_char_ul li:last-child span {
    border: 0;
}

.main-right-img {
    float: left;
    padding-right: 5px;
    width: 55%;
}

.main-right-img img {
    width: 100%;
    height: 100%;
}

.main-right-img.bg-black img {
    width: 50%;
    height: auto;
}

.main-right-content.w-40 {
    width: 45%;
    overflow: auto;
}

.m-header. img-btns {
    margin-right: 20px;
}

.checkbox-grey input[type="checkbox"]:checked + label::before {
    background-color: var(--Color_Grey_Light);
    border-color: var(--Color_Grey_Line);
}

.checkbox-grey label {
    padding: 0;
}

.main-right.pt {
    padding-top: 15px;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
}

.main-right-img.bg-black {
    width: 100%;
    background: var(--Color_Black);
    text-align: center;
}