.m-body .left {
  flex: 1;
  width: 50%;
}

.m-body .right {
  flex: 1;
  overflow: hidden;
  border-left: 1px solid #ccc;
  background: var(--Grey_Content);
}


.sutra-texts {
  height: 100%;
  overflow: auto;
}

.sutra-text {
  padding-left: 5px;
}

.text-editable {
  border: 0;
  width: 100%;
  height: auto;
  overflow-y: hidden;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.6);
  background: transparent !important;
}

#btn-show-txts .dropdown-menu {
  left: unset;
  right: 4px;
}

#helpModal i {
  font-size: 20px;
}

#remarkModal .modal-content {
  width: 720px;
}

