{% if hasattr(handler, 'task_type') and handler.task_type %}
<script src="{{static_url('js/task-pick.js')}}"></script>
<script>
  // 公共参数
  let from = decodeFrom();
  let mode = '{{handler.mode}}';
  let taskId = '{{handler.task_id}}';
  let taskType = '{{handler.task_type}}';
  let steps = decodeJSON('{{handler.steps}}');
  let step = '{{handler.steps.get("current") or ""}}';
  let readonly = '{{handler.readonly}}' === 'True';
  let myRemark = '{{handler.task.get("my_remark") or ""}}';
  let adminRemark = '{{handler.task.get("remark") or ""}}';
  let isSample = '{{"是" if handler.task.get("is_sample") else "否"}}';

  // 快捷键
  $.mapKey('p', () => !$('#step-prev').hasClass('hide') && $('#step-prev').click());
  $.mapKey('n', () => !$('#step-next').hasClass('hide') && $('#step-next').click());
  $.mapKey('t', () => !$('#task-submit').hasClass('hide')) && $('#task-submit').click();

  // 模态框
  $('#task-return').on('click', () => $("#returnModal").modal());
  $('#task-remark').on('click', () => $("#remarkModal").modal());
  $('#task-config').on('click', () => $("#taskConfigModal").modal());

  // 初始化
  $(document).ready(function () {
    // 任务管理备注
    let tRemark = getStorage('taskRemark', '');
    let options = $.map($('#remarkModal .options :radio'), (item) => $(item).val());
    if (adminRemark.length) {
      $("#remarkModal .remark").val(adminRemark);
    } else if (tRemark.length && options.indexOf(tRemark) < 0) {
      $("#remarkModal .options").append(`<label class="radio-inline"><input type="radio" name="options" value="${tRemark}">${tRemark}</label>`);
    }
    // 是否示例任务
    $('#remarkModal .is_sample :radio[value="' + isSample + '"]').prop('checked', true);
  });

  // 离开页面
  window.leave = function () {
    if (from) {
      window.location = from;
    } else if (mode === 'update' || mode === 'do') {
      window.location = '/task/my/' + taskType;
    } else {
      window.history.back();
    }
  };

  // 备注任务管理
  $('#remarkModal .options :radio').on('click', () => $('#remarkModal .remark').val($(this).val()));
  $('#remarkModal .modal-confirm').on('click', function () {
    if ($(this).hasClass('disabled')) return;
    let remark = $('#remarkModal .remark').val().trim();
    remark && setStorage('taskRemark', remark);
    let isSample = $('#remarkModal .is_sample :checked').val() || '否';
    $(this).addClass('disabled').text('进行中...');
    let $this = $(this);
    postApi('/task/remark', {data: {_id: taskId, remark: remark, is_sample: isSample}}, function () {
      showSuccess('成功', '已备注', 2000);
      $this.removeClass('disabled').text('确定');
    });
  });

  // 备注我的任务
  $('#task-my-remark').on('click', function () {
    Swal2.fire({title: '请输入备注', input: 'text', inputValue: myRemark}).then((result) => {
      if (result.dismiss === 'cancel') return;
      postApi('/task/my_remark/' + taskId, {data: {my_remark: result.value}}, function () {
        myRemark = result.value;
        showSuccess('备注成功', '', 1000);
      });
    });
  });

  // 任务退回
  $('#returnModal .options :radio').on('click', () => $('#returnModal .return_reason').val($(this).val()));
  $('#returnModal .modal-confirm, #returnModal .modal-next').on('click', function () {
    if ($(this).hasClass('disabled')) return;
    let reason = $('#returnModal .return_reason').val().trim();
    if (!reason.length) return showTips('提示', '尚未填写退回理由', 3000);
    let $this = $(this), $txt = $this.text();
    $this.addClass('disabled').text('进行中...');
    postApi('/task/return/' + taskId, {data: {reason: reason}}, function () {
      $this.removeClass('disabled').text($txt);
      showSuccess('成功', '任务已退回成功。', 1000);
      if ($this.hasClass('modal-next')) pick(taskType);
      else goto('/task/lobby/' + taskType, 1000);
    });
  });

  // 前一个任务
  $('#task-prev').on('click', function () {
    let url = '/task/browse/' + taskType + '/' + taskId;
    location.href = url + setQueryString('to', 'prev', true);
  });

  // 后一个任务
  $('#task-next').on('click', function () {
    let url = '/task/browse/' + taskType + '/' + taskId;
    location.href = url + setQueryString('to', 'next', true);
  });

</script>
{% end %}