{% if hasattr(handler, 'task_type') and handler.task_type %}
<script src="{{static_url('js/task-pick.js')}}"></script>
<script>
  // 公共参数
  let gMode = '{{handler.mode}}';
  let gTaskId = '{{handler.task_id}}';
  let gTaskType = '{{handler.task_type}}';
  let myRemark = '{{handler.task.get("my_remark") or ""}}';
  let adminRemark = '{{handler.task.get("remark") or ""}}';
  let isSample = '{{"是" if handler.task.get("is_sample") else "否"}}';
  let doTaskType = '/do/update/nav'.indexOf(gMode) > -1 ? gTaskType : '';

  // 模态框
  $('#task-return').on('click', () => $("#returnModal").modal());
  $('#task-remark').on('click', () => $("#remarkModal").modal());
  $('#task-config').on('click', () => $("#taskConfigModal").modal());

  // 初始化
  $(document).ready(function () {
    // 任务管理备注
    let tRemark = getStorage('taskRemark', '');
    let options = $.map($('#remarkModal .options :radio'), (item) => $(item).val());
    if (adminRemark.length) {
      $("#remarkModal .remark").val(adminRemark);
    } else if (tRemark.length && options.indexOf(tRemark) < 0) {
      $("#remarkModal .options").append(`<label class="radio-inline"><input type="radio" name="options" value="${tRemark}">${tRemark}</label>`);
    }
    // 是否示例任务
    $('#remarkModal .is_sample :radio[value="' + isSample + '"]').prop('checked', true);
    // 记录当前浏览
    if (gMode === 'browse' || gMode === 'nav') {
      setStorage(`${gMode}-${gTaskType}`, location.href);
    }
  });

  function getPostUrl() {
    return `/task/${gMode}/${gTaskType}/${gTaskId}`;
  }

  // 离开页面
  window.leave = function () {
    let from = getQueryString('from');
    let url = from === '1' ? getStorage('from') : decodeFrom();
    url = url || (gTaskType && `/task/my/${gTaskType}?order=-picked_time`);
    url ? window.location = url : window.history.back();
  };

  // 备注任务管理
  $('#remarkModal .options :radio').on('click', () => $('#remarkModal .remark').val($('#remarkModal .options :checked').val()));
  $('#remarkModal .modal-confirm').on('click', function () {
    if ($(this).hasClass('disabled')) return;
    let remark = $('#remarkModal .remark').val().trim();
    remark && setStorage('taskRemark', remark);
    let isSample = $('#remarkModal .is_sample :checked').val() || '否';
    let $this = $(this), $txt = $this.text();
    $this.addClass('disabled').text('进行中...');
    postApi('/task/remark', {data: {_id: gTaskId, remark: remark, is_sample: isSample}}, function () {
      showSuccess('成功', '已备注', 2000);
      $this.removeClass('disabled').text($txt);
    });
  });

  // 备注我的任务
  $('#task-my-remark').on('click', function () {
    Swal2.fire({title: '请输入备注', input: 'text', inputValue: myRemark}).then((result) => {
      if (result.dismiss) return;
      postApi('/task/my_remark/' + gTaskId, {data: {my_remark: result.value}}, function () {
        myRemark = result.value;
        showSuccess('备注成功', '', 1000);
      });
    });
  });

  // 任务退回
  $('#returnModal .options :radio').on('click', () => $('#returnModal .return_reason').val($('#returnModal .options :checked').val()));
  $('#returnModal .modal-confirm, #returnModal .modal-next').on('click', function () {
    if ($(this).hasClass('disabled')) return;
    let reason = $('#returnModal .return_reason').val().trim();
    if (!reason.length) return showTips('提示', '尚未填写退回理由', 2000);
    let $this = $(this), $txt = $this.text();
    $this.addClass('disabled').text('进行中...');
    postApi('/task/return/' + gTaskId, {data: {reason: reason}}, function () {
      $this.removeClass('disabled').text($txt);
      showSuccess('成功', '任务已成功退回。', 1000);
      if ($this.hasClass('modal-next')) pick(gTaskType);
      else goto('/task/lobby/' + gTaskType, 500);
    });
  });

  // 前一个任务
  $('#task-prev').on('click', function () {
    let search = setQueryString('to', 'prev', true);
    let cmd = $(this).hasClass('nav') ? 'nav' : 'browse';
    location.href = `/task/${cmd}/${gTaskType}/${gTaskId}` + search;
  });

  // 后一个任务
  $('#task-next').on('click', function () {
    let search = setQueryString('to', 'next', true);
    let cmd = $(this).hasClass('nav') ? 'nav' : 'browse';
    location.href = `/task/${cmd}/${gTaskType}/${gTaskId}` + search;
  });

  $.mapKey('ctrl+r', function () {
    if ($('#task-return').css('display') === 'block') $('#task-return').click();
  });
  $.mapKey('t', function () {
    if ($('#task-submit').css('display') === 'block') $('#task-submit').click();
  });
  $.mapKey('y', function () {
    if ($('#task-submit-back').css('display') === 'block') $('#task-submit-back').click();
  });
  $.mapKey('[', function () {
    if ($('#task-prev').css('display') === 'block') $('#task-prev').click();
  });
  $.mapKey(']', function () {
    if ($('#task-next').css('display') === 'block') $('#task-next').click();
  });

</script>
{% end %}
