<!--本UIModule依赖于char-txt.css和char-txt.js-->
<div class="char-txt">
  <input type="hidden" class="cur-name" value="">
  <div class="items char-meta slim-bar">
    <div id="base-info" class="item hide">
      <label class="head">基本信息<span id="toggle-base-info" class="icon-down toggle-info"></span></label>
      <div class="body hide">
        <div class="meta">
          <label></label><span></span><br/>
        </div>
      </div>
    </div>
    <div id="txt-alternatives" class="item">
      <label class="head">候选文字
        <span class="icon-info proof-help" data-toggle="tooltip" data-placement="bottom" data-html="true" title="红色字体为综合OCR<br/>红色下划线为OCR列引擎<br/>绿色下划线为CBETA文本<br/>蓝色下划线为OCR字引擎<br/>其余来自OCR字引擎推荐"></span>
      </label>
      <div class="body"></div>
    </div>
    <div id="txt-logs" class="item logs hide">
      <label class="head">文字校对历史<span id="toggle-txt-logs" class="icon-up toggle-info"></span></label>
      <div class="body">
        <div class="log meta">
          <label></label><span></span><br/>
        </div>
      </div>
    </div>
    <div id="box-logs" class="item logs hide">
      <label class="head">切分校对历史<span id="toggle-box-logs" class="icon-up toggle-info"></span></label>
      <div class="body">
        <div class="log meta">
          <label></label><span class="pos"></span><br/>
        </div>
      </div>
    </div>
  </div>
  <div class="items user-panel">
    <div class="item proof">
      <label class="head">请您校对</label>
      <div class="body">
        <input id="p-txt" class="form-control input-lg" placeholder="请输入字图中的文字"/>
        <div class="is-deform options">
          <span>异形字</span>
          <label class="radio-item radio-inline"><input type="radio" name="is-deform" value="1">是</label>
          <label class="radio-item radio-inline"><input type="radio" name="is-deform" value="0" checked>否</label>
        </div>
        <div class="is-vague options">
          <span>笔画残损</span>
          <label class="radio-item radio-inline"><input type="radio" name="is-vague" value="1">是</label>
          <label class="radio-item radio-inline"><input type="radio" name="is-vague" value="0" checked>否</label>
        </div>
        <div class="uncertain options">
          <span>不确定</span>
          <label class="radio-item radio-inline"><input type="radio" name="uncertain" value="1">是</label>
          <label class="radio-item radio-inline"><input type="radio" name="uncertain" value="0" checked>否</label>
        </div>
        <input id="p-remark" class="form-control" placeholder="备注，如果有的话"/>
      </div>
      <div class="tail submit" style="margin-top: 5px">
        <span id="s-alert" class="alert hide">
          <a class="close">×</a><strong class="title"></strong><span class="text"></span>
        </span>
        <button class="btn btn-primary btn-submit fr">确认</button>
      </div>
    </div>
  </div>
</div>
