<div id="{{id or 'configModal'}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{id or 'configModal'}}"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-sm">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">{{title or '配置列表'}}</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" class="fields" value="{{modal_fields}}"/>
        <input type="hidden" class="update-url">
        <input type="hidden" class="_id">
        <form role="form">
          <div class="form-group">
            {% for f in modal_fields %}
            {% set input_type, fid, name = f.get('input_type') or '', f.get('id') or '', f.get('name') or '' %}
            <h4 class="item-title">{{name}}</h4>
            {% if input_type == 'radio' %}
            <div class="modal-radio {{fid}}">
              {% for o in f.get('options') %}
              {% set o = [o, o] if isinstance(o, str) else o %}
              <input type="radio" name="{{fid}}" value="{{o[0]}}" {{'checked' if f.get('default') == o[0] else ''}}>{{o[1]}}
              {% end %}
            </div>
            {% elif input_type == 'checkbox' %}
            <div class="modal-checkbox {{fid}}">
              {% for o in f.get('options') %}
              {% set o = [o, o] if isinstance(o, str) else o %}
              <label class="checkbox-inline">
                <input type="checkbox" class="{{fid}}" title="{{o[0]}}" checked>{{o[1]}}
              </label>
              {% end %}
            </div>
            {% elif input_type == 'select' %}
            <select class="modal-select {{fid}}">
              {% for o in f.get('options') %}
              {% set o = [o, o] if isinstance(o, str) else o %}
              <option title="{{o[0]}}">{{o[1]}}</option>
              {% end %}
            </select>
            {% else %}
            <input type="text" class="form-control {{fid}}" placeholder="请输入{{name}}">
            {% end %}
            {% end %}
          </div>
        </form>
      </div>
      {% if len(buttons) %}
      <div class="modal-footer">
        {% for b in buttons %}
        {% set dismiss = 'modal' if 'cancel' in b[0] else '' %}
        {% set type = 'btn-default' if 'cancel' in b[0] else 'btn-primary' %}
        <button type="button" class="btn {{type}} waves-effect {{b[0]}}" data-dismiss="{{dismiss}}">{{b[1]}}</button>
        {% end %}
      </div>
      {% end %}
    </div>
  </div>
</div>
