<div class="pagers{{'' if page_count >= 1 else ' hide'}}">
  <span>
    当前<span class="cur-page">{{cur_page}}</span>/<span class="page-count">{{page_count}}</span>页，
    共<span class="doc-count">{{doc_count}}</span>条
  </span>
  <ul class="{{'' if page_count > 1 else 'hide'}}">
    <li class="p-first"><a href="{{get_page_uri(1)}}">首页</a></li>
    <li class="p-prev{{'' if cur_page > 1 else ' hide'}}">
      <a href="{{get_page_uri(cur_page - 1)}}"><</a>
    </li>
    {% for i in display_range %}
    <li class="p-no {{' active' if i == cur_page else ''}}">
      <a href="{{get_page_uri(i)}}">{{i}}</a>
    </li>
    {% end %}
    <li class="p-next{{'' if cur_page < page_count else ' hide'}}">
      <a href="{{get_page_uri(cur_page + 1)}}">></a>
    </li>
    <li class="p-last"><a href="{{get_page_uri(page_count)}}">末页</a></li>
    <li>跳至<input class="page-no" type="text">页</li>
  </ul>
  <span>每页
  <select name="page-size" class="page-size">
    {% for v in options %}
    <option value="{{v}}" {{'selected' if page_size == v else ''}}>{{v}}</option>
    {% end %}
  </select>
  条</span>
</div>

<script>
  $('.pagers .page-no').on('keydown', function (e) {
    let keyCode = e.keyCode || e.which, page = $(this).val().trim();
    if (keyCode !== 13 || !page.length) return;
    location.href = setQueryString('page', page);
  });
  $('.pagers .page-size').on('change', function () {
    let old_page_size = parseInt('{{page_size}}'), cur_page = parseInt('{{cur_page}}');
    let page_size = this.value, offset = (cur_page - 1) * old_page_size;
    let new_page = Math.max(1, parseInt(offset / page_size + 1));
    let search = setQueryString('page', new_page, true);
    location.href = setQueryString('page_size', this.value, false, search);
  });
</script>
