{% if hasattr(handler, 'task_type') and handler.task_type and 'steps_unfinished' in globals() and steps_unfinished and handler.mode == 'do' %}
<div id="task-step1" class="btn-txt icon-chars1 task-step active" data-value="char" data-toggle="tooltip" data-placement="bottom" title="修改字框"></div>
<div id="task-step2" class="btn-txt icon-columns1 task-step" data-value="column" data-toggle="tooltip" data-placement="bottom" title="修改列框"></div>
<div id="task-step3" class="btn-txt icon-blocks1 task-step" data-value="block" data-toggle="tooltip" data-placement="bottom" title="修改栏框"></div>
<div id="submit-steps" class="btn-txt icon-check-outline2" data-toggle="tooltip" data-placement="bottom" title="提交步骤[t]"></div>
{% end %}
