{% set steps_unfinished2 = 'steps_unfinished' in globals() and steps_unfinished %}

{% if hasattr(handler, 'task_type') and handler.task_type %}
<div id="task-config" class="btn-txt icon-config {{'' if handler.mode == 'do' else 'hide'}}" data-toggle="tooltip" data-placement="bottom" title="任务配置"></div>
<div id="task-return" class="btn-txt icon-return-task {{'' if handler.mode == 'do' else 'hide'}}" data-toggle="tooltip" data-placement="bottom" title="退回任务"></div>
<div id="step-prev" class="btn-txt icon-prev-step {{'' if handler.steps['prev'] else 'hide'}}" data-toggle="tooltip" data-placement="bottom" title="上一步"></div>
<div id="step-next" class="btn-txt icon-next-step {{'' if handler.steps['next'] and (not steps_unfinished2 or handler.mode in ['view', 'browse']) else 'hide'}}" data-toggle="tooltip" data-placement="bottom" title="下一步"></div>
<!--有下一步且（步骤已完成或view、browse模式）-->
{% end %}

{% if hasattr(handler, 'task_type') and handler.task_type and not steps_unfinished2 %}
<div id="page-submit" class="btn-txt icon-done {{'' if handler.submit_by_page and not handler.readonly else 'hide'}}" data-toggle="tooltip" data-placement="bottom" title="提交当前页"></div>
<div id="task-submit" class="btn-txt icon-submit {{'hide' if handler.steps['next'] or handler.readonly else ''}}" data-toggle="tooltip" data-placement="bottom" title="提交任务"></div>
{% end %}

{% if handler.mode == 'browse' %}
<div class="btn-txt btn-line"></div>
{% if '任务管理员' in handler.current_user['roles'] %}
<div id="task-remark" class="btn-txt icon-edit" data-toggle="tooltip" data-placement="bottom" title="备注任务"></div>
{% end %}
{% set picked_by = handler.task.get('picked_by', '') %}
{% set info = '任务状态：%s%s' % (handler.get_status_name(handler.task.get('status')), '<br/>领取人：%s' % picked_by if picked_by else '') %}
<div class="btn-txt icon-info" data-html="true" data-toggle="tooltip" data-placement="bottom" title="{{info}}"></div>
<div id="task-prev" class="btn-txt icon-backward" data-toggle="tooltip" data-placement="bottom" title="前一个任务"></div>
<div id="task-next" class="btn-txt icon-forward" data-toggle="tooltip" data-placement="bottom" title="后一个任务"></div>
{% end %}