@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v1gdxz');
  src:  url('fonts/icomoon.eot?v1gdxz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v1gdxz') format('truetype'),
    url('fonts/icomoon.woff?v1gdxz') format('woff'),
    url('fonts/icomoon.svg?v1gdxz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-article:before {
  content: "\e970";
}
.icon-subitem1:before {
  content: "\e96f";
}
.icon-subitem:before {
  content: "\e96d";
}
.icon-doubt:before {
  content: "\e96e";
}
.icon-char-txt:before {
  content: "\e90b";
}
.icon-char-no:before {
  content: "\e90c";
}
.icon-txt-cmp:before {
  content: "\e90f";
}
.icon-return:before {
  content: "\e911";
}
.icon-cc:before {
  content: "\e959";
}
.icon-dot-1:before {
  content: "\e912";
}
.icon-dots-h3:before {
  content: "\e92f";
}
.icon-dots-v3:before {
  content: "\e951";
}
.icon-dots-v2:before {
  content: "\e952";
}
.icon-dots-h2:before {
  content: "\e953";
}
.icon-select-arrows:before {
  content: "\e954";
}
.icon-triangle-down:before {
  content: "\e955";
}
.icon-triangle-left:before {
  content: "\e956";
}
.icon-triangle-right:before {
  content: "\e957";
}
.icon-triangle-up:before {
  content: "\e958";
}
.icon-data:before {
  content: "\e95f";
}
.icon-log-out:before {
  content: "\e916";
}
.icon-login:before {
  content: "\e91b";
}
.icon-medal:before {
  content: "\e921";
}
.icon-reply-all:before {
  content: "\e924";
}
.icon-reply:before {
  content: "\e925";
}
.icon-add-outline:before {
  content: "\e900";
}
.icon-add-solid:before {
  content: "\e901";
}
.icon-align-center:before {
  content: "\e917";
}
.icon-align-justified:before {
  content: "\e918";
}
.icon-align-left:before {
  content: "\e919";
}
.icon-align-right:before {
  content: "\e91a";
}
.icon-arrow-odown:before {
  content: "\e926";
}
.icon-arrow-oleft:before {
  content: "\e927";
}
.icon-arrow-oright:before {
  content: "\e928";
}
.icon-arrow-oup:before {
  content: "\e929";
}
.icon-arrow-tdown:before {
  content: "\e902";
}
.icon-arrow-tleft:before {
  content: "\e903";
}
.icon-arrow-tright:before {
  content: "\e904";
}
.icon-arrow-tup:before {
  content: "\e905";
}
.icon-brightness-down:before {
  content: "\e906";
}
.icon-check:before {
  content: "\e92a";
}
.icon-check-outline:before {
  content: "\e92c";
}
.icon-vmore:before {
  content: "\e91c";
}
.icon-next:before {
  content: "\e92d";
}
.icon-prev:before {
  content: "\e92e";
}
.icon-show-txt:before {
  content: "\e91d";
}
.icon-list1:before {
  content: "\e960";
}
.icon-more:before {
  content: "\e907";
}
.icon-pin:before {
  content: "\e91e";
}
.icon-reply-all1:before {
  content: "\e961";
}
.icon-text-box:before {
  content: "\e920";
}
.icon-column:before {
  content: "\e908";
}
.icon-mail:before {
  content: "\e930";
}
.icon-mail1:before {
  content: "\e931";
}
.icon-flag:before {
  content: "\e932";
}
.icon-flag1:before {
  content: "\e933";
}
.icon-eye-hidden:before {
  content: "\e934";
}
.icon-eye-hidden1:before {
  content: "\e935";
}
.icon-eye1:before {
  content: "\e936";
}
.icon-teye:before {
  content: "\e937";
}
.icon-key:before {
  content: "\e938";
}
.icon-key1:before {
  content: "\e939";
}
.icon-information:before {
  content: "\e93a";
}
.icon-information1:before {
  content: "\e93b";
}
.icon-lock-open:before {
  content: "\e93c";
}
.icon-lock-open1:before {
  content: "\e93d";
}
.icon-paperclip:before {
  content: "\e93e";
}
.icon-paperclip1:before {
  content: "\e93f";
}
.icon-medal1:before {
  content: "\e940";
}
.icon-tmedal:before {
  content: "\e941";
}
.icon-smiling-face:before {
  content: "\e942";
}
.icon-tsmiling-face:before {
  content: "\e943";
}
.icon-sad-face:before {
  content: "\e944";
}
.icon-sad-face1:before {
  content: "\e945";
}
.icon-laughing-face:before {
  content: "\e947";
}
.icon-laughing-face1:before {
  content: "\e948";
}
.icon-grinning-face:before {
  content: "\e949";
}
.icon-grinning-face1:before {
  content: "\e94a";
}
.icon-thumb-up:before {
  content: "\e94b";
}
.icon-thumb-up1:before {
  content: "\e94c";
}
.icon-file-docx:before {
  content: "\e964";
}
.icon-file-docx1:before {
  content: "\e969";
}
.icon-cut:before {
  content: "\e94d";
}
.icon-reply_all:before {
  content: "\e94e";
}
.icon-cut:before {
  content: "\e94d";
}
.icon-reply_all:before {
  content: "\e94e";
}
.icon-zoom-bak:before {
  content: "\e96a";
}
.icon-attach-file:before {
  content: "\e94f";
}
.icon-list:before {
  content: "\e95a";
}
.icon-notes:before {
  content: "\e95b";
}
.icon-blur:before {
  content: "\e90e";
}
.icon-chars2:before {
  content: "\e96b";
}
.icon-chars:before {
  content: "\e910";
}
.icon-arrow_drop_down:before {
  content: "\e95c";
}
.icon-arrow_drop_up:before {
  content: "\e95d";
}
.icon-blocks:before {
  content: "\e913";
}
.icon-columns:before {
  content: "\e914";
}
.icon-help:before {
  content: "\e915";
}
.icon-done:before {
  content: "\e950";
}
.icon-all_inclusive:before {
  content: "\e95e";
}
.icon-home:before {
  content: "\e909";
}
.icon-pencil:before {
  content: "\e90a";
}
.icon-image:before {
  content: "\e90d";
}
.icon-tripitaka:before {
  content: "\e91f";
}
.icon-task-lobby:before {
  content: "\e922";
}
.icon-my-task:before {
  content: "\e923";
}
.icon-task-admin:before {
  content: "\e92b";
}
.icon-stack:before {
  content: "\e96c";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-undo1:before {
  content: "\e965";
}
.icon-redo1:before {
  content: "\e966";
}
.icon-undo:before {
  content: "\e967";
}
.icon-redo:before {
  content: "\e968";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner1:before {
  content: "\e97c";
}
.icon-spinner2:before {
  content: "\e97f";
}
.icon-spinner3:before {
  content: "\e980";
}
.icon-spinner4:before {
  content: "\e983";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-tool:before {
  content: "\e991";
}
.icon-config:before {
  content: "\e994";
}
.icon-admin:before {
  content: "\e995";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-statistic:before {
  content: "\e99b";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-download:before {
  content: "\e9c5";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-gender:before {
  content: "\e9de";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel:before {
  content: "\ea0d";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-backward:before {
  content: "\ea1f";
}
.icon-forward:before {
  content: "\ea20";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-left:before {
  content: "\ea40";
}
.icon-alpha-asc:before {
  content: "\ea48";
}
.icon-numeric-asc:before {
  content: "\ea4a";
}
.icon-numberic-desc:before {
  content: "\ea4b";
}
.icon-amount-asc:before {
  content: "\ea4c";
}
.icon-amount-desc:before {
  content: "\ea4d";
}
.icon-checked:before {
  content: "\ea52";
}
.icon-text-height:before {
  content: "\ea5f";
}
.icon-text-width:before {
  content: "\ea60";
}
.icon-font-size:before {
  content: "\ea61";
}
.icon-table:before {
  content: "\ea71";
}
.icon-insert-template:before {
  content: "\ea72";
}
.icon-delete-line:before {
  content: "\ea7b";
}
